<ul class="horizontal-navigation" role="tablist">
    {{#each horizontalNavItems }}
    <li class="horizontal-navigation__item {{this.state}}">
      {{#isnt this.state "current" }}<a href="">{{ this.label }}</a>{{else }}{{ this.label }}{{/isnt}}
    </li>
    {{/each}}
</ul>