<ul class="horizontal-navigation" role="tablist">
    {{#each horizontalNavItems }} 
    <li class="horizontal-navigation__item">
      <a href="{{ link }}">{{ label }}</a>
    </li>
    {{/each}}
</ul>