<ul class="horizontal-navigation" role="tablist">
	<li class="horizontal-navigation__item current">Licences</li>
	{{#each horizontalNavItems }}
	  <li class="horizontal-navigation__item"><a href="">{{ . }}</a></li>
	{{/each}}
</ul>