
  <h4>In this section</h4>
  <ol class="vertical-navigation" role="navigation">
    {{#each verticalNavItems }}
    <li class="vertical-navigation__item">
      <a href="#{{ . }}">{{ . }}</a>
    </li>
    {{/each}}
  </ol><!-- end .vertical-navigation -->

