<h4>Processing</h4>
<ol class="vertical-navigation" role="menu">
{{#each verticalNavItems }}
  {{#ifeq label compare=../subSectionTitle }}
  <li class="vertical-navigation__item current">
    {{ label }}
    {{> _filters }}

  </li>
  {{else }}
  <li class="vertical-navigation__item">
    <a href="#{{ link }}">{{ label }}</a>
  </li>
  {{/ifeq }}
{{/each}}
</ol><!-- end .vertical-navigation -->