<div role="banner" class="global-header">
  <div class="global-header__wrapper">
    <a href="/styleguides/dist/selfserve/" title="Go to the OLCS Selfserve styleguide homepage" class="global-header__logo">
      <img src="/public/images/gov.uk_logotype_crown.png" alt="GOV.UK logo">GOV.UK
    </a>
    <h2 class="global-header__title">Operator Licensing<span class="global-header__phase-tag">alpha</span></h2>
  </div><!-- end .global-header__wrapper -->
</div><!-- end .global-header -->