---
layout: sign-in.hbs
asset: '../../../../'
---

<form action="">
  <fieldset>
  	<legend>Change your password</legend>
    <div class="field">
      <label for="new-password">New password</label>
      <input type="password" id="new-password">
    </div>
    <div class="field">
      <label for="reenter-password">Re-enter new password</label>
      <input type="password" id="reenter-password">
    </div>
    <div class="actions-container">
      <a href="" class="action--primary large">Continue</a>
    </div>
  </fieldset>
</form>





