---
layout: sign-in.hbs
asset: '../../../../'
---


<form action="">
  <fieldset>
    <legend>Reset your password</legend>
    <div class="field">
      <label for="">Username</label>
      <p class="hint"><a href="forgot-password.html">Forgot username?</a></p>
      <input type="text">
    </div>
    <a href="tasks.html" class="action--primary large">Submit</a>
  </fieldset>
</form>






