---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="row">
  
  <div class="two-thirds">
      <div class="empty__wrapper" style="margin-bottom: 60px">
        <div class="empty">
          <p>This organisation doesn’t have any Vehcile Operator licences or applications</p>
          <div class="actions-container">
            <a class="action--primary large" href="task-1-complete.html" id="task-1-complete">Apply for a licence</a>
          </div>
        </div><!-- empty -->
      </div><!-- .empty__wrapper -->
  </div><!-- .two-thirds -->
  
  <div class="one-third sidebar">
  
    <div class="links">
      <h3>Useful information for vehcile operators</h3>
      <ul class="links-list">
        <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
        <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
        <li class="links-list__item"><a href="">Financial information</a></li>
        <li class="links-list__item"><a href="">A guide to operator fees</a></li>
        <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
      </ul>
    </div><!-- .links -->
  
    {{> _support}}
  
  </div>

</div>

<script type="text/javascript" src="/js/authentication-prototype.js"></script>
