---
title: Ask your administrator
---

<div class="row">
    
  <div class="two-thirds">
    <div class="article">
      <p>Because more than one user has this email address, you'll need to ask an account administrator for your login details.</p>
      <p><a href="">Back to home</a></p>
    </div><!-- .article -->
    </form>
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    {{> _support}}
  </div>

</div>