---
title: Check your email
header-text: <div class="guidance"><p>We have sent an email to <b>katy.hasley@gmail.com</b> containing your username</p></div>
---

<div class="two-thirds">
  <div class="article">
     <p>Please follow the link in the email to <a href="index.html">sign in to your account</a></p>
     <h3>Problems signing in?</h3>
     <p>If you have issues signing in or you didn’t recieve an email containing your temporary email address please email <a href="MAILTO:help@vehicleoperatorlicencing.dvsa.gov.uk">help@vehicleoperatorlicencing.dvsa.gov.uk</a></p>
  </div><!-- .article -->
  </form>
</div><!-- .two-thirds -->
