/**
 *
 * FORMS
 *
 * Generic form styling for the alphagov govuk frontend toolkit 
 * https://github.com/alphagov/govuk_frontend_toolkit
 *
 * 1. Resets
 * 2. Wrapper
 * 3. Labelling
 * 4. Inputs
 * 5. Buttons
 * 6. Validation
 *
 */

/* 1. Resets ----------------------------------------*/

$warning-background: #fef7f7;

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    vertical-align: top;
}


/* 2. Wrappers ----------------------------------------*/

form {
	margin: 0;
	width: 100%;
}

fieldset {
	margin: 0 0 0 0;
	padding: 0 0 1em 0;
	border: 0;
}

.field { 
	margin: 0 0 .75em 0;
	@media (max-width: 640px) {
		margin-bottom: .5em;
	}
	&--inline {
		margin-right: .25em;
		display: inline;
		label {
			@extend %small-text;
			display: inline;
			margin-right: .25em;
		}	
	}
	&--list { 
		margin: 0 $gutter-one-quarter .5em 0;
		label {
			@extend %small-text;
		}
	}
}

/* 3. Labelling ----------------------------------------*/

legend {
	@extend %h3;
	*margin-left: -7px;
	margin-bottom: .25em;
	padding: 0;
	color: black;
}

.legend--small {
	@extend label;
}

label {
	@extend %paragraph-text;
	display: block;
	margin-bottom: .25em;
}

.field__hint {
	display: block;
	color: $grey-1;
	margin-top: .5em;
}

/* 4. Inputs ----------------------------------------*/

input,
textarea {
	padding: .5em 1.5%;
	background-color: #f9f9f9;
	border: 1px solid #A2A2A2;
	max-width: 400px;
}

.extra-long { width: 97%; }

.long { width: $two-thirds; }

.medium { width: $half; }

.short { 
	width: $one-quarter; 
	width: 140px;
	@media (max-width: 640px){
		width: $half;
	}
}

.extra-long,
.long,
.medium {
	@media (max-width: 640px){
		width: 97%;
	}
}

input[type="radio"],
input[type="checkbox"] {
	display: inline;
	margin-right: $gutter-one-quarter;
	border: none;
}

textarea {
	min-height: 10em;
	padding-top: .5em;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ffbf47; 
}


/* 5. Buttons ----------------------------------------*/

@mixin button-colour ($colour: $button-colour) {
	background: $colour;
	@include box-shadow(0 2px 0 darken($colour, 15%));
    @include ie-lte(8) {
	    border-bottom: 2px solid darken($colour, 15%);
	}
	&:visited{
	    background-color: $colour;
	}
	&:hover,
	&:focus {
		text-decoration: none;
		background-color: darken($colour, 5%);
	}
	&:active {
    	top: 2px;
    	@include box-shadow(0 0 0 $colour);
  	}
	&.disabled,
	&[disabled="disabled"],
	&[disabled] {
		@include opacity(.5);
		&:hover{
			cursor: default;
			background-color: $colour;
		}
		&:active {
			top: 0;
			@include box-shadow(0 2px 0 darken($colour, 15%));
			@include ie-lte(8) {
				border-bottom: 2px solid darken($colour, 15%);
			}
		}
	}
	@if lightness($colour) < 50% {
		color: $white;
		&:link,
		&:hover,
		&:focus,
		&:visited{
			color: $white;
		}
	} @else {
		color: $text-colour;
		&:link,
		&:hover,
		&:focus,
		&:visited{
			color: $text-colour;
		}
	}
}

%button {
	@include inline-block;
	@include border-radius(3px);
	border: none;
	margin: 0 .25em 0 0;
	padding: .35em .5em .15em .5em;
	padding : .3em .5em .4em .5em\9;
	font-family: $NTA-Light;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	vertical-align: top;
	-webkit-appearance: none;
	cursor: pointer;
	&[rel="external"]:after {
		display: none;
		content: none;
		margin-left: 0;
		margin-right: 0;
	}
	@include ie-lte(8) {
		&[type="submit"],
		&[type="reset"],
		&[type="button"] {
			filter:chroma(color=#000000);
		}
		&[type=submit].button {
			filter: none;
		}
	}
}

.button {
	&--primary {
		@extend %paragraph-text;
		@include button-colour();
		@extend %button;
		&--large {
			@extend h3;
			@include button-colour();
			@extend %button;
			font-weight: normal;
		}
	}
	&--secondary {
		@extend %paragraph-text;
		@include button-colour($grey-3);
		@extend %button;
	}
	&--warning {
		@extend %paragraph-text;
		@include button-colour($red);
		@extend %button;
	}
}


/* 6. Validation ----------------------------------------*/

%validation-box {
	padding: 1em 1em 0 1em;
	margin: 0 0 1em -1em;
	overflow: hidden;
	background: $warning-background;
	@media (max-width: 640px){
		margin-left: -$gutter-half;
		margin-right: -$gutter-half;
	}
}

.validation-summary {
	@extend %validation-box;
	border: 3px solid $mellow-red;
	&__list {
		margin-bottom: 1em;
	}
	&__item {
		color: $mellow-red;
		margin: 0 0 .3em 1.5em;
		a {
			color: $mellow-red;
		}
	}
}

.validation-wrapper {
	@extend %validation-box;
	border-left: 3px solid $mellow-red;
		&__message {
		@extend %small-text;
		display: block;
		margin-bottom: .5em;
		color: $mellow-red;
	}
}