/**
 *
 * OPERATOR LICENCE & COMPLIANCE SYSTEM
 *	
 * 
 * 1. Base styles & resets
 * 2. Typography
 * 3. Layout
 * 4. Headers
 * 5. Footers
 * 6. Forms
 * 7. Tables
 * 8. Actions
 * 9. Modals & alerts
 *
  */

/* ==========================================================================
   1. Base styles & resets
   ========================================================================== */

@import 
'../govuk_toolkit/stylesheets/_device-pixels',
'../govuk_toolkit/stylesheets/_measurements', 
'../govuk_toolkit/stylesheets/_css3',
'../govuk_toolkit/stylesheets/_colours',
'../govuk_toolkit/stylesheets/_typography',
'../govuk_toolkit/stylesheets/design-patterns/_buttons';

@import '_fonts';

html {
	background: $grey-3;
	font-size: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	margin: 0;
	background: #FFF;
	font-size: 100%;
	font-family: $NTA-Light;
	font-weight: 400;
	color: $black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.31579;
	text-transform: none;
	vertical-align: baseline;
}

menu, ol, ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style: circle;
	list-style-position:inside;
}

li {
	margin-bottom: .25em;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

/* Generic links styling */
a { 
	color: $link-colour; 
}

a:focus { outline: thin dotted; }

a:active,
a:hover { 
	color: $link-active-colour;
	outline: 0; 
	text-decoration: underline;
}

@mixin navigation-link {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.visually-hidden {
	position: absolute;
	left: -9999em;
}

/* ==========================================================================
   2. Typography
   ========================================================================== */

h1, h2, h3, h4, p {
	font-weight: 700;
	margin: 0 0 0.5em 0;
}

@mixin font-size($font-size, $print-font-size, $font-size-640) {
	@if $is-print == false {
		font-size: $font-size;
	} @else {
		font-size: $print-font-size;
	}
	@media (max-width: 640px) {
		font-size: $font-size-640;
  	}
}

%h2 { @include font-size(36px,18pt,24px); }

%h3 { @include font-size(24px,16pt,20px); }

%h4 { @include font-size(19px,14pt,16px); }

%paragraph-text {
	@include font-size(19px,14pt,16px);
	font-weight: 400;
}

%small-text { @include font-size(16px,12pt,14px); }

h1 { 
	@include font-size(48px,18pt,32px);
	margin: 0 0 0 0;
}

h2 { @extend %h2; }

h3 { 
	@extend %h3;
	&.subtitle {
		color: $grey-1;
		font-weight: 400;
	}
}

h4 { @extend %h4; }

p { 
	@extend %paragraph-text;
}

b, strong { font-weight: 700; }

small { font-size: 80%; }

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

.article {
	h2 { margin-bottom: 0.25em;}
	h3,h4{ margin-bottom: 0.5em; }
	ul { 
		@extend %paragraph-text; 
		margin-bottom: 1em;
	}
	p { margin-bottom: 0.75em; }
}

/* ==========================================================================
   3. Layout
   ========================================================================== */

%full-width-centred {
	max-width: 960px;
	margin: 0 auto;
	overflow: auto;
	padding: 0 $gutter-half;
	@media (min-width: 640px){
		padding: 0 $gutter;
	}
}

.page-wrapper {
	@extend %full-width-centred;
}

.main {
	overflow: visible;
	&:focus {
		outline: 0;
	}
}

.content {
	&--primary {
		width: 70%;
		max-width: 580px;
		float: left;
		@media (max-width: 640px){
			width: 100%;
		}
	}
	&--secondary {
		width: 25%;
		margin: 0 5% 0.5em 0;
		float: left;
		@media (max-width: 640px){
			width: 100%;
		}
	}
}

.right-aligned {
	float: right;
}


/* ==========================================================================
   4. Headers
   ========================================================================== */

.global-header {
	background: $black;
	color: $white;
	&__wrapper {
		@extend %full-width-centred;
		padding: 0.5em $gutter-half;
		@media (min-width: 640px){
			padding: 0.5em $gutter;
		}
	}
	&__logo {
		float: left;
		height: 30px;
		padding: 6px 0 1px 0;
		color: white;
		font-family: $NTA-Light;
		font-weight: bold;
		font-size: 30px;
		line-height: 1;
		text-decoration: none;
		overflow: visible;
		img {
			margin-top: -2px;
			width: 35px;
			height: 31px;
			padding-right: 6px;
			float: left;
		}
		&:hover {
			text-decoration: none;
			border-bottom: 1px solid #FFF;
			margin-bottom: -1px;
			color: #FFF;
		}
	}
	&__title {
		@extend %h4;
		float: right;
		overflow: hidden;
		text-align: right;
		margin: 0.25em 0 0 0;
		display: block;
		@media (max-width: 640px){
			display: none;
		}
	}
	&__phase-tag {
		background: $alpha-colour;
		width: auto;
		margin-left: $gutter-half;
		letter-spacing: 0.2em;
		font-weight: 700;
		font-size: 0.75em;
		text-transform: uppercase;
		padding: 0.5em;
		position: relative;
	}
}

.page-header {
	border-bottom: 1px solid $grey-2;
	margin-bottom: 1.5em;
	padding-bottom: 0.5em;
}

/* Breadcrumbs */
.global-breadcrumbs {
	@extend %small-text;
	border-top: 10px solid $alpha-colour;
	padding: 0.75em 0;
	overflow: auto;
	list-style: none;
	&__item {
		float: left;
		padding-right: 1em;
		margin-right: 0.5em;
		color: $black;
		background: url('../images/breadcrumb-arrow.png') no-repeat 100% 70%;
		@include device-pixel-ratio($ratio: 2) {
			background: url('../images/breadcrumb-arrow-2x.png') no-repeat 100% 40%;
			background-size: 6px 11px;
		}
		a {
			color: $black;
		}
		&.current {
			background: none;
		}
	}
}


/* ==========================================================================
   4. Footers
   ========================================================================== */

.global-footer {
	border-top: 1px solid $grey-2;
	margin-top: 1.5em;
	background: $grey-3;
	color: #454a4c;
	a {
		color: inherit;
	}
	&__wrapper {
		@extend %full-width-centred;
		padding: 2em $gutter;
	}
	&__links {
		float: left;
		padding-top: 7em;
		list-style: none;
	}
	&__link {
		display: inline-block;
		margin-right: $gutter-half;
	}
	&__copyright {
		height: 150px;	
		float: right;
		display: block;
		background: url('../images/footer-crest.png') no-repeat 50% 0 ;
		@include device-pixel-ratio($ratio: 2) {
			background: url('../images/footer-crest-2x.png') no-repeat 50% 0;
			background-size: 125px 102px;
		}
		a {
			text-align: center;
			display: block;
			padding-top: 7em;
		}
	}
	@media (max-width: 700px){
		&__links {
			width: 100%;
			text-align: center;	
			padding: 0 0 1.5em 0;
		}
		&__copyright {
			width: 100%;
		}
	}
}

/* ==========================================================================
   5. Forms
   ========================================================================== */

@import '_forms';


/* ==========================================================================
   6. Navigation
   ========================================================================== */

.vertical-navigation {
	width: 100%;
	margin-bottom: 1em;
	&__title {
		margin-bottom: 0.5em;
	}
	&__item {
		width: 100%;
		padding: 0.25em 0 .5em 0;
		display: block;
		border-bottom: 1px solid $grey-2;
		@include navigation-link;
	}
}

/* ==========================================================================
   7. Tables
   ========================================================================== */

.table__header {
	width: 100%;
	position: relative;
	overflow: auto;
	h2 {
		float: left;
		margin-bottom: 0;
	}
}

.table__wrapper {
	overflow: auto;
	width: 100%;
}

table { 
	width: 100%; 
	border-collapse: collapse; 
	margin-bottom: 1em;
	border: 1px solid $grey-2;
	input[type="checkbox"] {
		margin-right: 0;
	}
}

tr:nth-child(even) { 
	background: $grey-4; 
}

td, th { 
	@extend %small-text;
	padding: 0.5em; 
	border: 1px dotted $grey-2; 
	text-align: left; 
	vertical-align: top;
}

th { 
	font-weight: 600;
	background: $grey-3; 
	border: 1px solid $grey-2; 
}

/* ==========================================================================
   8. Actions
   ========================================================================== */

.actions {
	margin-bottom: 1em;
}

/* ==========================================================================
   9. Modals & alerts
   ========================================================================== */
%fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.overlay {
	@extend %fixed;
	@include opacity(0.8);
	background: $black;
}

%overlay-box {
	display: block;
	border: 3px solid $grey-2;
	background: $white;
	padding: 1em;
	overflow: hidden;
	position: relative;
	@media (max-width:640px) {
		padding: 0.5em 1em 4.25em 1em;
	}
}

.modal {
	@extend %overlay-box;
	margin: 7.5% auto;
	padding: 1em 1.25em 4em 1.25em;
	width: 80%;
	max-width: 640px;
	&__wrapper {
		@extend %fixed;
	}
	&__close {
		@extend %small-text;
		position: absolute;
		right: 1.25em;
		top: 1em;
	}
	h1 {
		@extend %h2;
	}
	.subtitle {
		@extend %paragraph-text;
	}
	form {
		max-height: 300px;
		overflow: auto;
	}
	.actions {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 1em 0 1.25em 0;
		margin: 0 1.25em;
		width: 94%;
		background: $white;
		@media (max-width:640px) {
			margin: 0 1em;
		}
	}
}

.alert, .alert--warning  {
	@extend %overlay-box;
	margin: 20% auto;
	width: 40%;
	max-width: 360px;
	min-width: 260px;
	padding: 1em 1em 0.5em 1em;
	&__wrapper {
		@extend %fixed;
	}
	.actions {
		text-align: center;
	}
	p {
		@extend %small-text;
		margin-bottom: 1em;	
	}
}

.alert--warning {
	background: $warning-background;
	border: 3px solid $mellow-red;
}
