---
layout: bus-registrations.hbs
sectionTitle: Short notice
subSectionTitle: Service no. & type
form: 
  - title: Short notice
    fieldsets:
    - legend:
      fields:
        - label: Bank holiday change
          type: radios inline
          values: 
            - No
            - Yes
        - label: Unforeseen circumstances
          type: radios inline
          values: 
            - No
            - Yes        
        - label:
          type: textarea 
          values: 
            - Please provide details here       
        - label: Timetable change (<10minutes +/- originally registered service)
          type: radios inline
          values: 
            - No
            - Yes
        - label: Service to replace substantially similar service run by another operator
          type: radios inline
          values: 
            - No
            - Yes
        - label: Service not available to/used by general public
          type: radios inline
          values: 
            - No
            - Yes
        - label: Timetable change (<10minutes +/- originally registered service)
          type: radios inline
          values: 
            - No
            - Yes
        - label: Cater for additional demands for special occasions / events
          type: radios inline
          values: 
            - No
            - Yes
        - label: Change to match changed connecting rail/ferry/air service
          type: radios inline
          values: 
            - No
            - Yes
        - label: Change <= 14 days to match local public holiday or widely observed local holiday
          type: radios inline
          values: 
            - No
            - Yes
        - label: To comply with TRC
          type: radios inline
          values: 
            - No
            - Yes
        - label: Police / Traffic Authority requires change for road safety reasons
          type: radios inline
          values: 
            - No
            - Yes
    actions:
      - label: Save
        class: primary large
      - label: Cancel
        class: secondary large
          
      
    actions:
      - label: Save
        class: primary large
      - label: Cancel
        class: secondary large

---

<div class="four-fifths">
  <h3>Short notice</h3>
  {{> _forms }}
</div>