# Logs and databases
#============================================================

*.log
.sass-cache/
test/js/coverage
test/js/coverage-xml
test/js/reports

# Generated and compiled files
#============================================================

#public/images/
public/js/
public/styles/
public/styleguides/
public/unit-testing
styleguides/screenshots
.grunt

# Third party/config
#============================================================

node_modules/
*.cfg
.idea/
.vscode/
.DS_Store
composer.lock
editorconfig.org