# Generated and compiled files
#============================================================

.sass-cache
*.log
test/results
public/index.html
#public/images
public/js
public/styles
public/styleguides
styleguides/screenshots

# Third party/config
#============================================================

node_modules
*.cfg
.idea/
.vscode/
.grunt/
.DS_Store
composer.lock
editorconfig.org