---
layout: organisation.hbs
sectionTitle: Licence details
subSectionTitle: Business details
verticalNavItems:
  - label: Business details
    link:  index.html
  - label: People
    link:  index.html
  - label: Licence & applications
    link:  index.html
form: 
  - title: Business details
    fieldsets:
    - legend:
      fields:
        - label: Business type
          type: select
          values:      
            - Limited company
          class:
        - label: Registered company number
          type: text
          class: medium
        - label: Operator name
          type: text
          class: medium
        - label: Nature of business
          type: text
          class: medium
    - legend: Registed address
      fields:
        - type: address
    actions:
      - label: Save
        class: primary large
      - label: Cancel
        class: secondary large

---


<div class="one-fifth--left">
  <h4>Operator profile</h4>
  {{> _vertical-navigation }}
</div>

<div class="three-fifths">
  <h3>Business details</h3>
  {{#each form }}{{> _forms }}{{/each }}
</div>