---
breadcrumbs:
  - link: index.html
    label: Back to sign in
title: Forgotten your password
---

<div class="two-thirds">
  <form action="">
    <fieldset>
      <div class="field">
        <label for="">Username</label>
        <input type="text" class="long">
      </div>
      <div class="field">
        <label for="">Email address</label>
        <input type="password" class="long">
      </div>
      <div class="actions-container">
        <a href="password-sent.html" class="action--primary large">Send temporary password</a>
      </div>
    </fieldset>

  </form>
</div><!-- .two-thirds -->

<div class="one-third">
  {{> _support}}
</div>
