/**
 * Sign In
 */

.sign-in {
  background: $grey-4;
  legend {
    font-size: 24px;
    margin-bottom: 20px;
  }
  form {
    box-shadow: 0 1px 5px $grey-3;
    background: #FFF;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px 32px 0 30px;
    float: none;
    overflow: auto;
  }
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: .5em 3%;
  }
  label {
    float: left;
    width: 50%;
    margin-right: 0;
  }
  .hint {
    float: left;
    width: 50%;
    clear: none;
    text-align: right;
    margin: 0;
  }
}
