/**
 * Submission
 */

.js-enabled .submission .attach-action__label {
  font-size: 15px;
  padding: 4px 10px 5px;
}


.attach-comment {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0 0 20px;

  form,
  fieldset,
  .attach-action__list {
    margin-bottom: 0;
  }
  .attach-action__label {
    margin-left: 135px;
  }
  .attach-action__hint {
    display: none;
  }
  .js-upload-list {
    clear: both;
    margin-bottom: 15px;
  }
  form + & {
    margin-top: -30px;
  }

}

.attach-comment__button {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  white-space: nowrap;
}