/**
 * Submission
 */

.js-enabled .submission .attach-action__label {
  font-size: 15px;
  padding: 4px 10px 5px;
}

.attach-comment {
  position: relative;
  float: left;
  width: 100%;
  margin: -10px 0 20px;
  form,
  fieldset,
  .attach-action__list {
    margin-bottom: 0;
  }
  .js-upload-list {
    margin-bottom: 15px;
  }
  .attach-action__hint {
    display: none;
  }
  form + & {
    margin-top: -20px;
  }
}

.attach-comment__button {
  display: inline-block;
  position: absolute;
  left: 140px;
  top: 0;
  text-align: center;
  white-space: nowrap;
}