---
title: Awaiting operator approval
user: tm
page-actions:
  - View details
---


<div class="two-thirds">
  <div class="article">
    <p>You have successfully submitted your details for the operator to approve. We'll notify you once they have been approved.</p>
    <p>You can still <a href="">make changes to your details.</a></p>
  </div>
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  {{> _support }}
</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


