---
title: Print, co-sign and return
user: tm
page-actions:
  - View details
breadcrumbs:
  - link: #
    label: Back to home
---


<div class="two-thirds">
  <div class="article">
    <p>Your details have been approved by the operator and can’t be changed.</p>
    <p>If your operator hasn't already, you'll need to:</p>
    <ul>
      <li><a href=""><b>print out your details</b></a></li>
      <li>co-sign them with an owner or business director</li>
      <li>return them to the Central Licensing Office</li>
    </ul>
    <p>We'll notify you when we've recieved your details.</p>
    <h3 class="important">Important</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum suscipit dolorem facere, id quae est! Possimus ipsa tempore libero!</p>
    <p><a href="">Back to home</a></p>
  </div>
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  {{> _support }}
</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


