---
title: Review and submit
subtitle: Step 2
user: tm
breadcrumbs:
  - link: details.html
    label: Edit details
---


<div class="two-thirds">
  <div class="article">
    <p style="margin-bottom: 0;">Before you submit your details for the operator to approve make sure your details are correct.</a></p>
    <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">Review</a></p>
    <p><a href="">Make changes to these details</a></p>
    <hr />
    <hr />
    <div class="actions-container">
      <a href="awaiting-approval.html" class="action--primary large">Submit for operator approval</a>
    </div>
  </div>
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  {{> _support }}
</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


