---
title: Transport Manager details
subtitle: Dave Willis
user: tm
page-actions:
  - View details
---


<div class="two-thirds">
  <div class="article">
    <div class="confirmation">
      <h3>Submited and signed with Verify</h3>
      <p>You have successfully provided your details for the Vehicle Operator Licence application <b>OB12374/133</b> on <b>13 May 2015</b></p>
    </div>
    <h3>What happens next</h3>
    <p>The operator applying for the licence <b>OB12374/133</b> will now need to check and approve your details before the application can be considered by the Central Licensing Office.</p>
    <p><a href="">Back to home</a></p>
  </div>

</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Submitted</dt>
    <dd>13 May 3015</dd>
    <dt>Licence application No.</dt>
    <dd>OB12374/133</dd>
    <dt>Confirmation ID</dt>
    <dd>78757655</dd>
  </dl><!-- .meta -->

  {{> _support}}

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


