---
title: Transport Manager details
asset: '../../../../'
user: tm
page-actions:
  - View details
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <h3>What happens next</h3>
      <p>The operator applying for the licence <b>OB12374/133</b> will need to check, and co-sign your details and return it to the <a href="">Central Licensing Office</a>.</p>
      <p style="margin-bottom: 0;">If you haven't already:</p>
      <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">Print details</a></p>
      <p><a href="">Back to home</a></p>
    </div>
  
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    <div class="sidebar">
      {{> _support }}
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


