---
title: Transport Manager details
subtitle: Dave Willis
user: tm
page-actions:
  - View details
---


<div class="two-thirds">
  <div class="article">
    <div class="confirmation">
      <h3>Submited and signed with Verify</h3>
      <p>You have successfully provided your details for the Vehicle Operator Licence application <b>OB12374/133</b> on <b>13 May 2015</b></p>
    </div>
    <h3>What happens next</h3>
    <p>The operator applying for the licence <b>OB12374/133</b> will now need to check and approve your details before the application can be considered by the Central Licensing Office.</p>
    <p><a href="">Back to home</a></p>
  </div>

</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Submitted</dt>
    <dd>13 May 3015</dd>
    <dt>Licence application No.</dt>
    <dd>OB12374/133</dd>
    <dt>Confirmation ID</dt>
    <dd>78757655</dd>
  </dl><!-- .meta -->

  <div class="support" style="border-top: none;">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

<script type="text/javascript" src="/js/submit-app-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


