---
layout: base.hbs
user: operator
title: Interim licence requested
subtitle: Application No.9
breadcrumbs:
  - link: licences.html
    label: Home
  - link: index.html
    label: Application overview
---

<div class="row">
  
  <div class="notice-container">
    <div class="notice--success">
      <p role="alert">You payment was successful</p>
    </div>
  </div><!-- end .notice-container -->
  
  <div class="two-thirds">
    <div class="article">
      <p>You've requested an interim licence for the application <b>OB152425/9</b>.</p>
      <div class="confirmation">
        <p>Your reference number is</p>
        <h2>OB6153563/9</h2><p style="display: inline-block; margin-left: 10px;"><a href="">View receipt</a></p>
      </div>
      <h3>What happens next</h3>
      <p>We'll let you know if your application has been successful within the next 5 working days.</p>
        <hr />
      <p><a href="licences.html">Back to home</a></p>
    </div>
  </div><!-- .two-thirds -->

</div>

<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


