%svg-common {
	background: url("svg/sprite.css.svg") no-repeat;
}

.attachment {
	@extend %svg-common;
	background-position: 34.32835820895522% 45.45454545454545%;
	width: 20px;
	height: 20px;
}

.dropdown-down {
	@extend %svg-common;
	background-position: 0 99.48979591836734%;
	width: 11.9px;
	height: 7.6px;
}

.dropdown-up {
	@extend %svg-common;
	background-position: 15.845539280958723% 99.48979591836734%;
	width: 11.9px;
	height: 7.6px;
}

.external-link-dark {
	@extend %svg-common;
	background-position: 0 89.1891891891892%;
	width: 12px;
	height: 12px;
}

.external-link-white {
	@extend %svg-common;
	background-position: 16% 89.1891891891892%;
	width: 12px;
	height: 12px;
}

.internal-admin-menu-arrow {
	@extend %svg-common;
	background-position: 79.90837173374531% 84.17830495504113%;
	width: 11.914px;
	height: 7.595px;
}

.internal-application-complete {
	@extend %svg-common;
	background-position: 74.28571428571429% 41.0958904109589%;
	width: 17px;
	height: 13px;
}

.internal-application-edited {
	@extend %svg-common;
	background-position: 100% 0;
	width: 15px;
	height: 15px;
}

.internal-application-warning {
	@extend %svg-common;
	background-position: 75.3623188405797% 21.12676056338028%;
	width: 18px;
	height: 15px;
}

.internal-modal-close {
	@extend %svg-common;
	background-position: 0 72.22222222222223%;
	width: 16px;
	height: 14px;
}

.internal-search {
	@extend %svg-common;
	background-position: 100% 21.12676056338028%;
	width: 15px;
	height: 15px;
}

.internal-split-screen-close {
	@extend %svg-common;
	background-position: 36.8421052631579% 70.27027027027027%;
	width: 11px;
	height: 12px;
}

.internal-split-screen-down {
	@extend %svg-common;
	background-position: 70.27027027027027% 55.84415584415584%;
	width: 13px;
	height: 9px;
}

.internal-split-screen-left {
	@extend %svg-common;
	background-position: 54.43037974683544% 41.0958904109589%;
	width: 8px;
	height: 13px;
}

.internal-split-screen-pin-bottom {
	@extend %svg-common;
	background-position: 21.333333333333332% 70.27027027027027%;
	width: 12px;
	height: 12px;
}

.internal-split-screen-pin-left {
	@extend %svg-common;
	background-position: 65.33333333333333% 70.27027027027027%;
	width: 12px;
	height: 12px;
}

.lock {
	@extend %svg-common;
	background-position: 50.64935064935065% 70.27027027027027%;
	width: 10px;
	height: 12px;
}

.selfserve-breadcrumb {
	@extend %svg-common;
	background-position: 92.3076923076923% 62.5%;
	width: 9px;
	height: 14px;
}

.selfserve-cross {
	@extend %svg-common;
	background-position: 100% 42.25352112676056%;
	width: 15px;
	height: 15px;
}

.selfserve-document {
	@extend %svg-common;
	background-position: 0 0;
	width: 27px;
	height: 30px;
}

.selfserve-external-footer {
	@extend %svg-common;
	background-position: 32% 89.1891891891892%;
	width: 12px;
	height: 12px;
}

.selfserve-external-link {
	@extend %svg-common;
	background-position: 48% 89.1891891891892%;
	width: 12px;
	height: 12px;
}

.selfserve-external-link-hover {
	@extend %svg-common;
	background-position: 64% 89.1891891891892%;
	width: 12px;
	height: 12px;
}

.selfserve-important {
	@extend %svg-common;
	background-position: 43.54838709677419% 0;
	width: 25px;
	height: 25px;
}

.selfserve-modal-close {
	@extend %svg-common;
	background-position: 0 46.875%;
	width: 23px;
	height: 22px;
}

.selfserve-tick {
	@extend %svg-common;
	background-position: 77.61194029850746% 0;
	width: 20px;
	height: 15px;
}

