/// OLCS - Print application SCSS
///
/// Styles for printable documents, including the applications,
/// declaration form and payment receipts
///
/// @author sam.quayle@valtech.co.uk, Valtech Ltd
/// @author edmund.reed@valtech.co.uk, Valtech Ltd

@import '../../vendor/govuk_frontend_toolkit/stylesheets/colours';

/**
 * General Styles/Reset
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: $white;
  margin: 0 auto;
  max-width: 860px;
  padding: 0 20px;
  font-size: 16px;
  line-height: 1.4;
  padding-bottom: 50px;
}

h3 {
  margin: 0;
}

p {
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  &.bullet {
    list-style: disc;
    margin: 10px;
    padding: 10px;
  }
}

dt,
dd {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 0 2.5% 10px 0;
  width: 47.5%;
}

dd {
  font-weight: 600;
}

hr {
  float: left;
  margin: 15px 0;
  border: 0;
  height: 1px;
  width: 100%;
  background: $grey-3;
}

/**
 * App Review
 */

.review-header {
  padding: 100px 0 50px;
  h1 {
    font-size: 44px;
  }
}

.review-section {
  border-top: 3px solid $black;
  padding-top: 20px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
  h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}

.read-only__header {
  border-bottom: 1px solid $grey-3;
  margin-bottom: 1em;
  float: left;
  width: 100%;
  padding-bottom: 8px;
}

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-3;
  margin: 0;
  margin-bottom: 12px;
  padding-bottom: 3px;
  width: 100%;
  &:last-child {
    border-bottom: 0;
  }
  &__item {
    overflow: hidden;
  }
}

.read-only dd {
  word-wrap: break-word;
}

[type="text"] {
  display: block;
  padding: 10px;
  width: 100%;
}

@media print {
  .hide-print {
    display: none;
  }
}

/**
 * Signature Box
 */

.signature-box {

  margin: 30px 0;
  padding: 30px;
  background: $grey-3;
  overflow: auto;
  -webkit-print-color-adjust: exact;

  &__column {
    float: left;
    width: 45%;
    margin: 0 5% 0 0;
  }

  &__label {
    font-weight: 600;
  }

  &__input {
    width: 100%;
    border: 2px solid $black;
    margin-bottom: 20px;
    &.signature {
      height: 100px;
    }
    &.date {
      width: 200px;
    }
  }

}

/**
 * Printable Styles
 */

.printable {

  padding-top: 100px;

  @media print {
    padding-top: 20px;
  }

  &__header {
    padding: 60px 0;
    clear: both;
    @media print {
      padding: 40px 0;
    }
  }

  &__address {
    float: left;
  }

  &__section {
    clear: both;
  }

  &__meta {
    float: right;
    width: 40%;
    dl {
      border-top: 0;
      margin-top: 0;
    }
    dt,
    dd {
      display: block;
      width: 100%;
      padding: 0;
    }
    dd {
      margin-bottom: 10px;
      font-weight: 600;
    }
  }

  h4 {
    margin: 20px 0 5px;
  }

}