---
title: Verify prototype
---

<div class="two-thirds">
  <h3>Tasks</h3>
  <div class="article">
    <ul class="search-navigation">
      <li>
      	<a class="search-navigation__item" href="sign-declarations/" target="_BLANK">Sign the declarations using GOV.UK Verify</a>
      </li>
    </ul>
  </div><!-- .article -->
</div><!-- .two-thirds -->
