---
title: Verify prototype
---

<div class="two-thirds">
  <h3>Journeys</h3>
  <div class="article">
    <ul class="search-navigation">
      <li>
      	<a class="search-navigation__item" href="sign-declarations-successful/" target="_BLANK">Sign the declarations us GOV.UK Verify</a>
      </li>
    </ul>
  </div><!-- .article -->
</div><!-- .two-thirds -->
