/* 9.1 Actions
   ========================================================================== */

/* Use these to wrap multiple actions */
.actions-container {
  padding-bottom: 2px;
  margin: 0 0 0 0;
  float: left;
  a,
  input,
  button {
    margin-right: 5px;
  }
}


@mixin action-colour ($colour: $button-colour) {
  @include box-shadow(0 2px 0 darken($colour, 15%));
  @include ie-lte(8) {
    border-bottom: 2px solid darken($colour, 15%);
  }
  background: $colour;
  &:visited{
    background-color: $colour;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: darken($colour, 5%);
  }
  &:active {
    top: 2px;
    @include box-shadow(0 0 0 $colour);
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    @include opacity(.5);
    &:hover{
      cursor: default;
      background-color: $colour;
    }
    &:active {
      top: 0;
      @include box-shadow(0 2px 0 darken($colour, 15%));
      @include ie-lte(8) {
        border-bottom: 2px solid darken($colour, 15%);
      }
    }
  }
  @if lightness($colour) < 50% {
    color: $white;
    &:link,
    &:hover,
    &:focus,
    &:visited{
      color: $white;
    }
  } @else {
    color: $text-colour;
    &:link,
    &:hover,
    &:focus,
    &:visited{
      color: $text-colour;
    }
  }
}

%action-box {
  @extend %paragraph--small;
  border: none;
  margin: 0 .3em 0 0;
  padding: 5px 10px 3px 10px;
  padding: .3em .5em .4em .5em\9;
  font-family: $NTA-Light;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  vertical-align: top;
  -webkit-appearance: none;
  cursor: pointer;
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter:chroma(color=#000000);
    }
    &[type=submit].button {
      filter: none;
    }
  }
}

input[type="submit"].action,
.action,
.button.action {
  &--primary {
    @include action-colour();
    @extend %action-box;
  }
  &--secondary {
    @include action-colour($grey-3);
    @extend %action-box;
  }
  &--tertiary {
    @extend a;
    background: none;
    border: 0;
    font-family: $NTA-Light;
    text-decoration: underline;
    padding: 10px 15px 5px 5px;
    &:hover {
      text-decoration: none;
    }
  }
}

.action--primary.large,
.action--secondary.large,
button.action--primary.large,
button.action--secondary.large,
input[type=submit].action--primary.large,
input[type=submit].action--secondary.large {
  @extend %paragraph--large;
  padding: 7px 15px 5px 15px;
  .lookup & {
    padding: 4px 12px 3px 12px;
  }
}

.action--tertiary.large,
input[type=submit].action--tertiary.large,
button.action--tertiary.large {
  @extend %paragraph--large;
  padding: 7px 15px 5px 5px;
  line-height: 2.3;
}


