.global-breadcrumbs {
    @if $app == 'selfserve' {
        @extend .full-width;
        @extend %paragraph--small;
    } @else {
        @extend %paragraph--tiny;
    }
    margin-bottom: 0;
    border-top: 8px solid $primaryColour;
    padding: .75em 0;
    overflow: auto;
    list-style: none;
    &__item {
        float: left;
        padding-right: 1em;
        margin-right: .5em;
        color: $black;
        background: url('{$assetPath}/breadcrumb-arrow.png') no-repeat 100% 70%;
        @include device-pixel-ratio($ratio: 2) {
            background: url('{$assetPath}/breadcrumb-arrow-2x.png') no-repeat 100% 40%;
            background-size: 6px 11px;
        }
    }
    a {
        color: $grey-1;
    }
    .current {
        background: none;
    }
}
