.empty {
  background: $grey-4;
  overflow: auto;
  padding: 1.25em 1em 1.5em 1em;
  display: block;
  border-left: 4px solid $grey-2;
  clear: left;
  margin-bottom: 1em;
  &__wrapper {
    max-width: 800px;
  }
  &__title {
    padding: 0;
  }
  .actions-container {
    margin-bottom: 0;
  }
  p {
    @extend %paragraph--large;
    margin-bottom: .75em;
  }
}