.filters {
  padding-top: .5em;
  background: white;
  font-weight: 400;
 .vertical-navigation &,
 .app-navigation & {
    border-top: 3px solid $primaryColour;
    padding-top: .75em;
    form { margin: 0; }
  }
  .field {
    background: none !important;
    margin-bottom: 20px;
  }
  label {
    margin-bottom: 5px;
  }
  select { width: 100%; } 
  input[type="search"] {
    width: 95%;
    padding: .5em 2.5%;
  }
}