.filters {
  margin-top: .5em;
}

.filter-group {
  list-style: none;
  border-bottom: 1px solid $grey-2;
  padding: 0 0 .8em 0;
  margin-bottom: .7em;
  &__title {
    font-weight: 700;
    margin-bottom: .35em;
    @extend %paragraph--tiny;
  }
  &__item {
    margin-bottom: .25em;
  }
  label {
    @extend %paragraph--small;
    @if ($app == 'internal') {
      @extend %paragraph--tiny;
    }
  }
}

.filters {
  border-top: 3px solid $primaryColour;
  margin-bottom: -1.5em;
  padding-top: .5em;
}


.vertical-navigation,
.app-navigation {
  form {
    border-top: 3px solid $primaryColour;
    padding: 1em 0 0 1px;
    float: none;
    overflow: visible;
    margin: .5em 0 -24px 0;
    background: white;
    font-weight: 400;
  }
  .field {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 1em;
    background: none !important;
  }
  select {
    width: 100%;
  } 
}