.filters {
  margin: .5em 0 -1.5em 0;
  padding-top: .5em;
  background: white;
  float: none;
  overflow: auto;
  font-weight: 400;
 .vertical-navigation &,
 .app-navigation & {
    border-top: 3px solid $primaryColour;
    padding-top: .75em;
    form { margin: 0; }
  }
  .field {
    border-bottom: 1px solid $grey-2;
    padding-bottom: 1em;
    background: none !important;
    &:last-child { border-bottom: 4px solid red; }
  }
  select { width: 100%; } 
}


.filter-group {
  list-style: none;
  border-bottom: 1px solid $grey-2;
  padding: 0 0 .8em 0;
  margin-bottom: .7em;
  &__title {
    font-weight: 700;
    margin-bottom: .35em;
    @extend %paragraph--tiny;
  }
  &__item {
    margin-bottom: .25em;
  }
  label {
    @extend %paragraph--small;
    @if ($app == 'internal') {
      @extend %paragraph--tiny;
    }
  }
}
