.filters {
  margin-top: .5em;
  .vertical-navigation & {
    border-top: 3px solid $primaryColour;
    margin-bottom: -.75em;
  }
}

.filter-group {
  list-style: none;
  border-top: 1px solid $grey-2;
  padding: .5em 0 .8em 0;
  &__title {
    font-weight: 700;
    margin-bottom: .35em;
    @extend %paragraph--tiny;
  }
  &__item {
    margin-bottom: .25em;
  }
  label {
    @extend %paragraph--small;
    @if ($app == 'internal') {
      @extend %paragraph--tiny;
    }
  }
}