/* 6.1 Resets
   ========================================================================== */

$warning-background: #fef7f7;

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="hidden"] {
  display: none;
  height: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 6.2 Wrapper elements
   ========================================================================== */

form {
  margin: 0 0 2em 0;
  width: 100%;
  float: left;
}

fieldset {
  margin: 0 0 40px 0;
  padding: 0;
  border: 0;
  clear: both;
  width: 100%;
  &.inline {
    margin-bottom: 20px;
  }
  &.multiple {
    a {
      margin: -.75em 0 0 0;
      display: block;
        @extend %paragraph--tiny;
    }
  }
  &.question {
    margin: 20px 0 40px 0 !important;
  }
  &.subquestion {
    margin: 0 0 30px 1em;
  }
  &.add-another .hint {
    margin-top: -20px;
  }
  fieldset {
    margin-bottom: 20px;
  }
}


.fieldset--primary {
  legend { @extend legend; }
  label { @extend label;}
}

.fieldset--secondary {
  margin-bottom: 0;
  fieldset {
    margin-left: 20px;
  }
  .empty__wrapper {
    margin: -10px 0 60px 0;
    float: left;
  }
}

form fieldset:last-child,
fieldset .field:last-child,
fieldset fieldset .field:last-child {
  margin-bottom: 10px;
}

.field { 
  margin: 0 0 30px 0;
  overflow: visible;
  @media (max-width: 640px) {
    margin-bottom: .5em;
  }
  &.inline {
    margin: 0 .5em 10px 0;
  }
  &.inline-text {
    float: left;
    label {
      margin-top: .5em;
    }
    input {
      width: 2em;
      margin-right: 1em;
    }
  }
  &--two-col {
    width: 47.5%;
    float: left;
    margin-right: 2.5%;
  }
  &.two-col {
    width: 50%;
    float: left;
  }
  &.three-col {
    width: 33.3%;
    float: left;
  }
}

.pre-selected {
  background: $grey-3;
}

/* 6.3 Labelling
   ========================================================================== */

legend {
  @extend %h3;
  *margin-left: -7px;
  margin-bottom: 7px;
  padding: 0;
  color: black;
  font-weight: 700;
  display: inline-block;
  .highlight-box & {
    float: left;
    width: 100%;
  }
  @if ($app == internal) {
    @extend %h4;
    margin: .5em 0;
  }
}

label {
  @if ($app == selfserve) {
    @extend %paragraph--large;
  } @else {
    @extend %paragraph--small;
  }
  display: block;
  margin: 0 .5em 7px 0;
  .inline & {
    @if ($app == selfserve) {
      @extend %paragraph--small;
    } @else {
      @extend %paragraph--tiny;
    }
    display: inline;
    margin: 0 .25em 0 0;
  }
}

/* Styling for nested fieldsets */

fieldset fieldset legend {
  @if ($app == internal) {
    @extend %paragraph--small;
    font-weight: 400;
    margin-bottom: 7px;
  } @else {
    @extend %paragraph--large;
  }
  clear: both;
  width: 100%;
}

fieldset fieldset label { 
  @if ($app == internal) {
    @extend %paragraph--tiny;
    font-weight: 400;
  } @else {
    @extend %paragraph--small;
  }
}

/* 6.4 Inputs
   ========================================================================== */

input,
textarea {
  padding: .5em .75em;
  background-color: #f9f9f9;
  border: 1px solid #A2A2A2;
  max-width: 560px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  margin-right: .5em;
  border: none;
}

input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: $link-colour;
  font-family: $NTA-Light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    text-decoration: none;
    color: $link-active-colour;
  }
}

textarea {
  min-height: 10em;
  padding-top: .5em;
  overflow: auto;
  vertical-align: top;
}

select {
  margin: 0 .25em 0 1px;
  .filters & {
    width: 99%;
    margin-right: 0;
  }
}

select[multiple] {
  @extend %paragraph--tiny;
  min-width: 200px;
  width: $one-quarter;
  padding: .25em;
  display: block;
  background-color: #f9f9f9;
  &.tall {
    height: 10em;
  }
  &.extra-long {
    @extend .extra-long;
  }
  &.long { 
    @extend .long;
  }
  &.medium {
    @extend .medium;
  }
  &.short {
    @extend .short;
  }
}

/* Chosen */
@import 'vendor/chosen';

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ffbf47; 
}

.extra-long { width: 100%; }

.long { width: $two-thirds; }

.medium { 
  width: $half; 
  @if ($app == internal) {
    min-width: 300px;
    max-width: 450px;
  }
}

.short { 
  width: $one-quarter; 
  width: 140px;
  @media (max-width: 640px){
    width: $half;
  }
}

@media (max-width: 640px){
  .extra-long,
  .long,
  .medium {
    width: 100%;
  }
}

/* 6.5 File uplaod
   ========================================================================== */

.file-upload {
  width: 95%;
  max-width: 560px;
  background: $grey-4;
  border-left: 4px solid $grey-3;
  padding: 1em 0;
  overflow: auto;
  margin-bottom: .25em;
  padding: 1em 2.5% .8em 2.5%;
  input[type="submit"] {
    float: right;
  }
  span {
    color: $grey-1;
    font-weight: 400;
  }
  p {
    @extend %paragraph--small;
    float: left;
  }
}

input[type="file"] {
  border: 0;
  background: none;
  padding: 0;
  margin-top: .25em;
}

/* 6.6 Lookup
   ========================================================================== */

.lookup {
  .field {
    margin-bottom: 10px;
  }
  .hint {
    margin-bottom: 20px; 
  }
}


/* 6.7 Address
   ========================================================================== */

.address {
  &__select {
    float: left;
    clear: both;
    padding: 10px;
    background: $grey-3;
    border-left: 3px solid $grey-2;
    margin-bottom: 5px;
  }
  fieldset {
    margin-bottom: 15px;
  }
  .field .visually-hidden + input {
    margin-top: -10px;
  }

}



/* 6.8 Traffic area
   ========================================================================== */

.traffic-area {
  .field {
    @extend %paragraph--large;
    margin-bottom: 5px;
  }
}


/* 6.9 Trading names
   ========================================================================== */

.trading-names .visually-hidden + input {
  margin-top: -10px;
}


/* 6.10 Validation
   ========================================================================== */

%validation-box {
  padding: 1em 1em .5em 1em;
  margin-bottom: 20px;
  overflow: visible;
  background: $warning-background;
  @media (max-width: 640px){
    margin-left: -1em;
    margin-right: -1em;
  }
}

.validation-summary {
  @extend %validation-box;
  overflow: auto;
  margin-bottom: 30px;
  border: 3px solid $mellow-red;
  &__list {
    margin: 0 0 1em 1.5em;
  }
  &__item {
    color: $mellow-red;
    margin: 0 0 0.25em 0;
    a {
      color: $mellow-red;
    }
  }
}

.validation-wrapper {
  @extend %validation-box;
  border-left: 3px solid $mellow-red;
  fieldset { margin-bottom: 0; }
  ul { list-style: none; }
  li {
    @extend %paragraph--small;
    display: block;
    margin-bottom: .5em;
    color: $mellow-red;
  }
  .active-result { color: $black; }
}


/* 6.11 Locked
 ========================================================================== */

 /* This is used to indidcate that a field or fieldset cannot be updated
    without creating a variation or new application */

.locked-icon { 
  margin-left: 5px;
  height: 24px;
  width: 12px;
  display: inline-block;
  background: url('#{$assetPath}/lock.png') no-repeat 0 11px;
  @include device-pixel-ratio($ratio: 2) {
    background: url('#{$assetPath}/lock-2x.png') no-repeat 0 11px;
    background-size: 10px 13px;
  }
}

/* 6.12 Confirmation
   ========================================================================== */

.confirm {
  padding: 15px 15px 7px 15px;
  border: 1px solid $light-blue-50;
  background: $light-blue-25;
}
