/* 6.1 Resets
   ========================================================================== */

$warning-background: #fef7f7;

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; 
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 6.2 Wrapper elements
   ========================================================================== */

form {
  margin: 0 0 2em 0;
  width: 100%;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 0;
  border: 0;
  clear: both;
  width: 100%;
  &.multiple {
    a {
      margin: -.75em 0 0 0;
      display: block;
        @extend %paragraph--tiny;
    }
  }
}

.field { 
  margin: 0 0 1em 0;
  @media (max-width: 640px) {
    margin-bottom: .5em;
  }
  &.inline {
    margin: 0 .5em 0 0;
  }
  &--two-col {
    width: 50%;
    float: left;
  }

}

/* 6.2 Labelling
   ========================================================================== */

legend {
  @extend %h3;
  *margin-left: -7px;
  margin: .20em 0;
  padding: 0;
  color: black;
  font-weight: 700;
  display: block;
  .highlight-box & {
    float: left;
    width: 100%;
  }
}

label {
  @if ($app == selfserve) {
    @extend %paragraph--large;
  } @else {
    @extend %paragraph--small;
  }
  display: block;
  margin: 0 .5em .25em 0;
  .inline & {
    @extend %paragraph--small;
    display: inline;
    margin: 0 .25em 0 0;
  }
}

/* Styling for nested fieldsets */

fieldset fieldset legend {
  @if ($app == internal) {
    @extend %paragraph--small;
    font-weight: 400;
  } @else {
    @extend %paragraph--large;
  }
}

fieldset fieldset label { 
  @if ($app == internal) {
    @extend %paragraph--tiny;
    font-weight: 400;
  } @else {
    @extend %paragraph--small;
  }
}

/* 6.3 Inputs
   ========================================================================== */

input,
textarea {
  padding: .5em;
  background-color: #f9f9f9;
  border: 1px solid #A2A2A2;
  max-width: 500px;
}

input[type="radio"],
input[type="checkbox"] {
  display: inline;
  margin-right: .5em;
  border: none;
}

input[type="submit"] {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  color: $link-colour;
  font-family: $NTA-Light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &:hover {
    text-decoration: none;
    color: $link-active-colour;
  }
}

textarea {
  min-height: 10em;
  padding-top: .5em;
  overflow: auto;
  vertical-align: top;
}

select {
  margin-right: .25em;
  .filters & {
    width: 99%;
    margin: 0 0 0 1px;

  }
}

select[multiple] {
  @extend %paragraph--tiny;
  min-width: 200px;
  width: $one-quarter;
  padding: .25em;
  display: block;
  background-color: #f9f9f9;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ffbf47; 
}

.extra-long { width: 97%; }

.long { width: $two-thirds; }

.medium { 
  width: $half; 
  @if ($app == internal) {
    min-width: 300px;
    max-width: 450px;
  }
}

.short { 
  width: $one-quarter; 
  width: 140px;
  @media (max-width: 640px){
    width: $half;
  }
}

@media (max-width: 640px){
  .extra-long,
  .long,
  .medium {
    width: 97%;
  }
}

/* 6.3 File uplaod
   ========================================================================== */

.file-upload {
  width: 100%;
  input[type="submit"] {
    float: right;
  }
  .field {
    width: 95%;
    background: $grey-4;
    padding: 1em;
    overflow: auto;
    margin-bottom: .25em;
  }
  p {
    font-weight: 700;
    margin: 0;
    width: 75%;
    float: left;
  }
  span {
    color: $grey-1;
    font-weight: 400;
  }
}

input[type="file"] {
  width: 75%;
  border: 0;
  background: none;
  padding: 0;
  margin-top: .25em;
}

/* 6.5 Validation
   ========================================================================== */

%validation-box {
  padding: 1em 1em 0 1em;
  margin: 0 0 1em -1em;
  overflow: hidden;
  background: $warning-background;
  @media (max-width: 640px){
    margin-left: -1em;
    margin-right: -1em;
  }
}

.validation-summary {
  @extend %validation-box;
  border: 3px solid $mellow-red;
  &__list {
    margin: 0 0 1em 1.5em;
  }
  &__item {
    color: $mellow-red;
    margin: 0 0 0.25em 0;
    a {
      color: $mellow-red;
    }
  }
}

.validation-wrapper {
  @extend %validation-box;
  border-left: 3px solid $mellow-red;
  ul {
    list-style: none;
  }
  li {
    @extend %paragraph--small;
    display: block;
    margin-bottom: .5em;
    color: $mellow-red;
  }
}

/* 6.6 Read only
   ========================================================================== */

  // R-E-F-A-C-T-O-R

  $ro-margin-bottom: .5em;

  form.read-only {
    height: 400px;
    width: 100%;
    background: $grey-4;
    border: 1px solid $grey-3;
    display: block;
    overflow: auto;
    padding: .25em 1.5em;
    margin-bottom: 1.5em;
    clear: both;
    * {
      color: $grey-1;
      font-family: arial, sans-serif;
      margin-bottom: 0;
    }
    h2 {
      border-bottom: 3px solid $grey-2;
      font-size: 26px;
      line-height: 2;
      margin-bottom: $ro-margin-bottom;
    }
    h3 {
      border-bottom: 1px solid $grey-2;
      font-size: 21px;
      line-height: 2;
      margin-bottom: $grey-2;
    }
    .field {
      margin-bottom: $grey-2;
    }
    input {
      border: none;
      padding: 0;
      margin-left: 2px;
      &[type="text"] {
        width: 100%;
      }
    }
    select {
      -webkit-appearance: none;
      border: none;
      border-radius: 0;
      background: none;
    }
    label {
      @extend %paragraph--small;
      font-weight: 700;
    }
    legend {
      @extend %paragraph--large;
      font-weight: 700;
      line-height: 1.5;       
    }
    fieldset {
      margin-bottom: $ro-margin-bottom;
    }
    fieldset fieldset label {
      font-weight: 400;
      font-size: 16px;
    }
    fieldset fieldset legend {
      font-weight: 600;
      font-size: 16px;
    }
    .hint {
      display: none;
    }
  }

  // R-E-F-A-C-T-O-R