.guidance {
  background: $grey-4;
  border-left: 4px solid $grey-2;
  padding: 15px;
  margin-bottom: 40px;
  float: left;
}

.help__summary {
  @extend %paragraph--large;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  margin-bottom: 3px;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    border: 3px solid $yellow;
    margin: -3px 0 0 -3px;
  }
}

.help__text {
  padding: 15px;
  border-left: 4px solid $grey-2;
}