$breakpoint: 880px;

.horizontal-navigation {
  @extend %navigation;
  margin-bottom: 10px;
  border-bottom: 1px solid $grey-2;
  &__item {
    @extend %navigation__item;
  }
  a {
    @extend %navigation__link;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    &:hover {
      background: none;
    }
  }
  .current {
    @extend %navigation__link;  
    color: $black;
    border-bottom: 3px solid $primaryColour;
    padding: 2px .75em .55em .75em;
    @media(max-width: $breakpoint) {
      border: none;
      border-bottom: 3px solid $primaryColour;
    }   
    &:hover {
      background: none;
    }
  }
  @media(max-width: $breakpoint) {
    border-bottom: none;
    &__item {
      width: 100%;
      border-bottom: 1px solid $grey-3;
    }
    a, .current {
      padding: .5em 0;
    }
  }
}