.page-wrapper {
  @if $app == 'selfserve' { max-width: 1020px; }
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
  clear: both;
  overflow: hidden;
  padding: 0 1.25%;
  @media (max-width: 640px){
    padding: 0;
    width: 100%;
  }
}

.visually-hidden {
    position: absolute;
    left: -9999em;
}

.hidden {
  display: none !important;
}

.right-aligned {
    float: right;
}

.inline {
    float: left;
    margin-right: .5em;
}

hr {
    width: 100%;
    height: 0.25em;
    display: block;
    border: 0;
    clear: both;
}

%header-with-actions {
  float: left;
  width: 100%;
  padding-bottom: 8px;
  h3,
  h4 {
    float: left;
    display: block;
    margin: 0 0 0 0;
  }
  .actions-container {
    margin: -5px 0 0 0;
    display: block;
    float: right;
    select { margin: 3px 3px 0 0; }
  }
  .action--primary,
  .action--secondary {
    float: left;
    display: inline-block;
    margin: 0 0 0 5px;
  }
}

.js-visible {
  display: none !important;
}

.js-enabled {
  .js-visually-hidden {
    @extend .visually-hidden;
  }

  .js-hidden {
    display: none !important;
  }
  .js-visible {
    display: block;
  }
}
