.page-wrapper {
  @if $app == 'selfserve' { max-width: 1080px; }
  margin: 0 auto;
  overflow: hidden;
  width: 100% - ($gutter*2);
  padding: 0 $gutter;
  clear: both;
  overflow: hidden;
}

#main {
  width: 100%;
  &:focus { outline: 0; }
}

.one-third {
  @extend %container;
  width: 28.3333333333%;
  width : 27.4%\9; /* lt IE9  */
  p { @extend %paragraph--small; }
}

.one-quarter { 
  @extend %container;
  width: 20%;
}

.one-half {
  @extend %container;
  width: 45%;
}

.two-thirds {
  @extend %container;
  width: 61.6666666667%;
}

.three-quarters { 
  @extend %container;
  width: 70%; 
}

.one-fifth {
  @extend %container;
  width: (100% / 5) - ($gutter*2);
  .four-fifths & {
    margin: 1em $gutter 0 0;
  }
}

.three-fifths { 
  @extend %container;
  width: (100% / 5)*3 - ($gutter*2); 
  .four-fifths & {
    margin: 1em 0 0 $gutter;
  }
}

.four-fifths {
  @extend %container;
  width: (100% / 5)*4 - ($gutter*2);
}

.full-width {
  @extend %container;
  width: 100% - ($gutter*2);
}

%container {
  float:left; 
  margin: 0 $gutter 1em $gutter;
  @media (max-width: 640px){
    width: 92%;
    margin: 0 4% 1.5em 4%;
  }
}

/* Helpers */

.visually-hidden {
    position: absolute;
    left: -9999em;
}

.hidden {
    display:none;
}

.right-aligned {
    float: right;
}

.inline {
    float: left;
    margin-right: .5em;
}

hr {
    width: 100%;
    height: 0.25em;
    display: block;
    border: 0;
    clear: both;
}

.js-enabled {
  .js-hidden {
    display: none;
  }
}
