%wrapper {
    @if $app == 'selfserve' {
        max-width: 1080px;
    } @else {
        max-width: none;
    }
    margin: 0 auto;
    overflow: hidden;
}

.page-wrapper {
    @extend %wrapper;
    width: 100%;
    position:relative;
    clear:both;
    overflow: hidden;
}

#main {
    width: 100%;
    min-height: 400px;
    &:focus {
        outline: 0;
    }
}

.one-fifth {
    @extend %container;
    width: 15%;
}

.one-third {
    @extend %container;
    width: 28.3333333333%;
    width : 27.4%\9; /* lt IE9  */
    p {
        @extend %paragraph--small;
    }
}

.one-quarter { 
    @extend %container;
    width: 20%;
}

.one-half {
    @extend %container;
    width: 45%;
}

.three-fifths { 
    width: 60%; 
    float: left;
}

.two-thirds {
    @extend %container;
    width: 61.6666666667%;
}

.three-quarters { 
    @extend %container;
    width: 70%; 
}

.four-fifths {
    width: 77.5%;
    float: left;
}

.full-width {
    @extend %container;
    width: 95%;
}

%container {
    float:left;
    margin: 0 2.5% 1em 2.5%;
    @media (max-width: 640px){
        width: 92%;
        margin: 0 4% 1.5em 4%;
    }
}

/* Helpers */

.visually-hidden {
    position: absolute;
    left: -9999em;
}

.hidden {
    display:none;
}

.right-aligned {
    float: right;
}

.inline {
    float: left;
    margin-right: .5em;
}

hr {
    width: 100%;
    height: 0.25em;
    display: block;
    border: 0;
    clear: both;
}

.js-enabled {
  .js-hidden {
    display: none;
  }
}
