.page-wrapper {
  @if $app == 'selfserve' { max-width: 1080px; }
  margin: 0 auto;
  overflow: hidden;
  width: 100% - ($gutter*2);
  padding: 0 $gutter;
  clear: both;
  overflow: hidden;
}

.visually-hidden {
    position: absolute;
    left: -9999em;
}

.hidden {
    display:none;
}

.right-aligned {
    float: right;
}

.inline {
    float: left;
    margin-right: .5em;
}

hr {
    width: 100%;
    height: 0.25em;
    display: block;
    border: 0;
    clear: both;
}

// This may seem counter-intuitive, but it is correct
.js-visible {
  display: none;
}

.js-enabled {
  .js-hidden {
    display: none;
  }
  .js-visible {
    display: block;
  }
}
