a { 
	color: $link-colour; 
  &:visited {
    background: none;
  }
  &:active,
  &:hover { 
    color: $link-active-colour;
    outline: 0;
    text-decoration: none;
  }
}

.disabled,
.disabled a {
  text-decoration: none;
  color: $grey-1;
}
