%fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* 10.3 Notices
   ========================================================================== */

.notice-container {
  overflow: auto;
  position: fixed;
  top: 14px;
  left: 0;
  width: 95%;
  margin: 0 2.5%;
  .modal & {
    position: relative;
    max-width: none;
    left: 0;
    width: 100%;
    margin: -10px 0 30px 0;
  }
  .one-fifth--right & {
    margin: 0 0 1em 0;
    position: relative;
    float: left;
    left: 0;
    top: 0;
  }
  @media (min-width:640px) {
    left: 50%;
    width: 100%;
    margin-left: -250px;
    margin-right: 0;
    max-width: 500px;
  }
}

@mixin notice($background,$border,$color) {
  background: $background;
  border: 1px solid $border;
  color: $color;
}

.notice {
  &--success {
    @include notice(#dff0d8,#98BF73,#3c763d);
  }
  &--warning {
    @include notice(#fcf8e3,#E5BE71,#8a6d3b);
  }
  &--info {
    @include notice(#d9edf7, #bce8f1,#31708f);
  }
  &--danger {
    @include notice(#f2dede,#ebccd1,#a94442);
  }
}

.notice--success,
.notice--warning,
.notice--info,
.notice--danger {
  @include border-radius(2px);
  overflow: auto;
  padding: 6px 15px;
  margin-bottom: .25em;
  p {
    @extend %paragraph--small;
    margin: 0;
    padding: 0;
  }
  a {
    float: right;
    .one-fifth--right & {
      float: left;
    }
  }
}


/* 10.4 Tooltips
   ========================================================================== */

.tooltip-grandparent {
  cursor: pointer;
  &:hover {
     .tooltip {
        display: block;
     }
  }
}

.tooltip-parent {
  cursor: pointer;
  position: relative;
  overflow: visible;
  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 20px;
  left: -38px;
  opacity: 0.9; /* IE :after bug prevents using opacity mixin */
  @include border-radius(2px);
  padding: .75em;
  font-size: 0.8em;
  line-height: 1.2;
  width: 200px;
  color: white;
  background: $black;
  &:hover {
    cursor: default;
  }
  &:after {
    content:'';
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-top: 10px solid black;
    border-right: 9px solid transparent;
    left:35px;
    bottom:-9px;
  }
}


/* 10.5 Tooltips
   ========================================================================== */

.preloader {
  @include opacity(.6);
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: -144px;
  z-index: 20;
  &__icon {
    height: 32px;
    width: 32px;
    position: fixed;
    left: 49%;
    top: 52%;
    z-index: 30;
    background: url('../images/preloader.gif') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/preloader-2x.gif');
      background-size: 30px 30px;
    }
  }
}
