%fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    @extend %fixed;
    @include opacity(.8);
    background: $black;
    z-index: 1;
}

%overlay-box {
    @include border-radius(3px);
    display: block;
    border: 3px solid $grey-2;
    background: $white;
    padding: 1em;
    overflow: hidden;
    position: relative;
    z-index: 2;
    @media (max-width:640px) {
        padding: .5em 1em 4.25em 1em;
    }
}

/* 10.1 Modals
   ========================================================================== */
.modal__wrapper {
    @extend %fixed;
    overflow: auto;
    z-index: 1;
}
.modal {
    @extend %overlay-box;
    position: absolute;
    left: 50%;
    margin: 5% 0 5% -320px;
    padding: 0 0 0 0;
    width: 640px;
    @media(max-width: 640px) {
        margin: 46px 0 5% 0;
        width: 100%;
        left: 0;
    }
    &__header {
        background: $grey-3;
        margin: 0 0 1em 0; 
        padding: .5em 1em;
        border-bottom: 1px solid $grey-2;
    }
    &__close {
        @extend .close;
        position: absolute;
        right: .75em;
        top: .6em;
    }
    /* Ajaxed content overides*/

    h2 {
        @extend %h4;
    }
    .subtitle {
        @extend %paragraph--small;
    }
    form {
        overflow: auto;
        margin: 0 1em 2em 1em;
        padding: 0 2.5% 1.5em 1px;
        width: 97.5%;
    }
    table {
        margin-bottom: 3.5em;
    }
    .actions-container {    
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2em;
        padding: 1em 2.5%;
        margin: 0;
        overflow: visible;
        width: 95%;
        border-top: 1px solid $grey-3;
        background: $grey-4;
    }
}

/* 10.2 Alerts
   ========================================================================== */
.alert__wrapper {
    z-index: 1;
    display: none;
}

.alert, .alert--warning  {
    @extend %overlay-box;
    margin: 20% auto;
    width: 40%;
    max-width: 360px;
    min-width: 260px;
    padding: 1em 1em 1.25em 1em;
    &__wrapper {
        @extend %fixed;
    }
    .actions-container {
        text-align: center;
        display: block;
        margin-bottom: 0;
        float: none;
    }
    p {
        @extend %paragraph--small;
        margin-bottom: 1em; 
    }
}

.alert--warning {
    background: $warning-background;
    border: 3px solid $mellow-red;
}


/* 10.3 Notices
   ========================================================================== */

.notice-container {
    margin-bottom: 1.5em;
    overflow: auto;
}

@mixin notice($background,$border,$color) {
    background: $background;
    border-left: 3px solid $border; 
    color: $color;
    a {
        color: $color;
    }
}

.notice {
    &--success {
        @include notice(#dff0d8,#d6e9c6,#3c763d);
    }
    &--info {
        @include notice(#d9edf7,#bce8f1,#31708f);
    }
    &--warning {
        @include notice(#fcf8e3,#faebcc,#8a6d3b);
    }
    &--danger {
        @include notice(#f2dede,#ebccd1,#a94442);
    }
}

.notice--success, .notice--info, .notice--warning, .notice--danger {
    padding: .5em;
    margin-bottom: .25em;
    p {
        @extend %paragraph--small;
        margin: 0;
        padding: 0;
    }
}

/* 10.4 Tooltips
   ========================================================================== */

.tooltip__parent {
    cursor: pointer;
    background: url('../images/tooltip-icon.png') no-repeat 97.5% 7px;
    @include device-pixel-ratio($ratio: 2) {
        background: url('../images/tooltip-icon-2x.png') no-repeat 97.5% 7px;
        background-size: 19px 170px;
    }
    .internal & {
        background-position: 50% 7px;
    }
    &:hover {
        color: $grey-1;
        background-position-y: -142px;
    }
}

.tooltip {
  display: none;
  position: fixed;
  opacity: 0.9; /* IE :after bug prevents using opacity mixin */
  @include border-radius(2px);
  max-width: 200px;
  padding: .75em;
  font-size: 0.9em;
  line-height: 1.2;
  color: white;
  background: $black;
  &.visible {
    display: block;
  }
  &:after {
    content:'';
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-top: 10px solid black;
    border-right: 9px solid transparent;
    left:35px;
    bottom:-9px;
  }
}