%navigation {
  list-style: none;
  width: 100%;
  overflow: auto;
  .current {
    color: $black;
  }
}

%navigation__item {
  float: left;
  margin-bottom: 0;
  @media(max-width: 640px) {
    width: 100%;
  }
}

%navigation__link {
  display: block;
  position: relative;
  padding: .75em;
  @media(max-width: 640px) {
    border-bottom: 1px solid $grey-2;
    padding: .5em 0;
  }
}