
.read-only {
  margin-bottom: 2em;
  display: block;
  float: left;
  width: 100%;
  &__title {
    margin-top: 1em;
    display: block;
  }
  &__header {
    width: 100%;
    border-bottom: 1px solid $grey-2;;
    float: left;
    margin-bottom: .5em;
    h4 {
      border: 0;
      float: left;
      padding: 0;
      display: block;
    }
    .action--secondary {
      float: right;
      margin-top: -5px !important;
    }
  }

  table {
    border: 0;
    border-bottom: 1px solid $grey-2;
  }
  th {
    background: none;
    border: 0;
    padding: 0 0 .5em 0;
  }
  td, 
  th { 
    @extend %paragraph--small;
    vertical-align: middle;
  }
  td {
    border: 0;
    border-top: 1px solid $grey-2; 
    padding: .5em 0;
  }

  dl {
    border-bottom: 1px solid $grey-2;
    width: 100%;
    float: left;
    margin: 0 0 .6em 0;
    a {
      @extend %paragraph--tiny;
      font-weight: 400;
    }
  }
  dt, dd {
    float: left;
    width: 25%;
    padding: 0 0 .6em 0;
    margin: 0;
  }
  dt {
    font-weight: 400;
  }
  dd {
    font-weight: 600;
  }
}
