
.read-only {
  display: block;
  width: 100%;
  overflow: visible;
  float: left;
  margin-bottom: 1em;
  &__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 1em;
  }
  h4 {
    border: 0;
    float: left;
    padding: 0;
    display: block;
  }
  table {
    border: 0;
    border-bottom: 1px solid $grey-2;
  }
  th {
    background: none;
    border: 0;
    padding: 0 0 .5em 0;
  }
  td, 
  th { 
    @extend %paragraph--small;
    vertical-align: middle;
  }
  td {
    border: 0;
    border-top: 1px solid $grey-2; 
    padding: .5em 0;
  }
  .modal & {
   width: 95%;
   margin: -.75em 2.5% -1em 2.5%;
  }
}

.text-area {
  width: 100%;
  max-width: 800px;
  p {
    @extend %paragraph--small;
  }
}

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-2;
  margin: 0 0 12px 0;
  padding: 0 0 3px 0;
  width: 100%;  
  &__item {
    float: left;
    width: 50%;
    list-style: none;
  }
  a {
    @extend %paragraph--tiny;
    font-weight: 400;
  }
  dt, dd {
    float: left;
    margin: 0;
    padding: 0 2.5% .6em 0;
    width: 47.5%;
  }
  .full-width {
    width: 100%;
    padding-top: 0;
    dt { width: 22.5%; }
    dd { width: 72.5%; } 
  }
}
