
.read-only {
  margin-bottom: .5em;
  display: block;
  float: left;
  width: 100%;
  &__title {
    margin: 0;
    display: block;
  }
  &__header {
    width: 100%;
    border-bottom: 1px solid $grey-2;;
    float: left;
    margin-bottom: .55em;
    h4 {
      border: 0;
      float: left;
      padding: 0;
      display: block;
    }
    .action--secondary {
      float: right;
      margin: -5px 0 0 0 !important;
    }
  }
  table {
    border: 0;
    border-bottom: 1px solid $grey-2;
  }
  th {
    background: none;
    border: 0;
    padding: 0 0 .5em 0;
  }
  td, 
  th { 
    @extend %paragraph--small;
    vertical-align: middle;
  }
  td {
    border: 0;
    border-top: 1px solid $grey-2; 
    padding: .5em 0;
  }
}

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-2;
  margin: 0 0 .6em 0;
  width: 100%;  
  &__item {
    float: left;
    width: 50%;
    list-style: none;
  }
  a {
    @extend %paragraph--tiny;
    font-weight: 400;
  }
  dt, dd {
    float: left;
    margin: 0;
    padding: 0 2.5% .6em 0;
    width: 47.5%;
  }
  dt { font-weight: 400; }
  dd { font-weight: 600; }
  .full-width {
    width: 100%;
    dt { width: 22.5%; }
    dd { width: 72.5%; } 
  }
}


