$summary-border: #cdd7dc;
$summary-background: #e6eff5;

.table__empty {
  width: 100%;
  max-width: 600px;
  background: $grey-4;
  overflow: auto;
  padding: .75em 1em 1.25em 1em;
  display: block;
  border-left: 4px solid $grey-2;
}

.table {
  &__header {
    display: block;
    width: 100%;
    overflow: hidden;
    h3 {
      float: left;
      margin: 0 0 .5em 0;
    }
    span {
      @extend %paragraph--large;
      font-weight: 400;
      color: $grey-1;
    }
    .actions-container {
      float: right;
      margin-right: -.25em;
      select { margin: 3px 3px 0 0; }
    }
  }
  &__wrapper {
    display: block;
    width: 100%;
    overflow: auto;
  }
  &__footer {
    width: 100%;
    clear:right;
    overflow: auto;
  }
}

table { 
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: .75em;
  border-bottom: 1px solid $grey-2;
  .summary & { margin-bottom: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0;
    text-align: right;
  }
}

td, 
th { 
  @extend %paragraph--small;
  padding: .5em 0;
  text-align: left; 
}

th {
  font-weight: 600;
  border-top: 1px solid $grey-2; 
  height: 1.4em;
  vertical-align: top;
  &[scope="row"] {
    border-top: 1px solid $grey-2; 
    font-weight: 400;
    padding-right: 2em;
  }
  &.selectable {
    text-align: centre;
  }
}

td {
  overflow: visible;
  border-top: 1px solid $grey-2; 
  vertical-align: top;
}

tfoot {
  background: $summary-background;
  tr { border: 1px solid $summary-border; }
  th, 
  td {    
    border: none;
    overflow: hidden;
  }
  th { text-align: right; }
}

.sortable {
  padding: .5em 0;
  a {
    padding-right: 1em;
    color: $black;
    text-decoration: none;
    background: url('../images/down-arrow.png') no-repeat 100% 7px;
      @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 10px 130px;
    }
    &:active { color: $grey-1; }
  }
  &:hover,
  &.ascending,
  &.descending {
  }
  &.ascending a {
    background: url('../images/down-arrow.png') no-repeat 100% -117px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 10px 130px;
    }
  }

}