$summary-border: #cdd7dc;
$summary-background: #e6eff5;

.table {
  &__header {
    display: block;
    width: 100%;
    overflow: hidden;
    @if ($app == 'internal') {
      @extend %paragraph--large;
    }
    h3 {
      float: left;
      margin: 0 0 .5em 0;
    }
    span {
      @extend %paragraph--large;
      font-weight: 400;
      color: $grey-1;
      padding-left: .4em;
    }
    .actions-container {
      float: right;
      margin-right: -.25em;
      @if ($app == 'internal') {
        margin-bottom: 0;
      }
      select {
        margin: 3px 3px 0 0;
      }
    }
  }
  &__wrapper {
    display: block;
    width: 100%;
    overflow: auto;
  }
  &__footer {
    width: 100%;
    clear:right;
    overflow: auto;
  }
}

table { 
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: .75em;
  border-bottom: 1px solid $grey-2;
  .summary & {
    margin-bottom: 2.5em;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 .25em 0 auto;
    display: block;
  }
}

td, th { 
  @extend %paragraph--small;
  padding: .5em 0;
  text-align: left; 
  vertical-align: middle;
}

th {
  font-weight: 600;
  border-top: 1px solid $grey-2; 
  height: 1.4em;
  &[scope="row"] {
    border-top: 1px solid $grey-2; 
    font-weight: 400;
    padding-right: 2em;
  }
}

td {
  overflow: visible;
  border-top: 1px solid $grey-2; 
  b { 
    display: block;
  }
}

tfoot {
  tr { 
    border: 1px solid $summary-border;
    background: $summary-background;
  }
  th, 
  td {    
    border: none;
    overflow: hidden;
    background: $summary-background;
  }
  th {
    text-align: right;
    background: $summary-background;
  }
}

.sortable {
  padding: 0;
  a {
    padding-right: 1em;
    color: $black;
    text-decoration: none;
    background: url('../images/down-arrow.png') no-repeat 100% 7px;
      @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 10px 130px;
    }
    &:active {
        color: $grey-1;
    }
  }
  &:hover {

  }
  &.ascending {

  }
  &.ascending a {
    background: url('../images/down-arrow.png') no-repeat 100% -117px;
    @include device-pixel-ratio($ratio: 2) {
        background-image: url('../images/down-arrow-2x.png');
        background-size: 10px 130px;
    }
  }
  &.descending {
  }
}