$summary-border: #cdd7dc;
$summary-background: #e6eff5;

.empty {
  max-width: 800px;
  background: $grey-4;
  overflow: auto;
  padding: .75em 1em 1.5em 1em;
  display: block;
  border-left: 4px solid $grey-2;
  margin-bottom: 2.5em;
  clear: left;
  p {
    margin-bottom: .75em;
  }
}

.table {
  &__header {
    display: block;
    width: 100%;
    overflow: hidden;
    h3 {
      float: left;
      margin: 0 0 .5em 0;
      font-weight: 600;
    }
    span {
      @extend %paragraph--large;
      font-weight: 400;
      color: $grey-1;
    }
    .actions-container {
      float: right;
      margin-right: -.25em;
      select { margin: 3px 3px 0 0; }
    }
  }
  &__wrapper {
    display: block;
    width: 100%;
    overflow: auto;
    & + .table__header {
      margin-top: 2em;
    }
  }
  &__footer {
    width: 100%;
    clear:right;
    overflow: auto;
  }
}

table { 
  width: 100%;
  border-collapse: collapse; 
  margin-bottom: .75em;
  border-bottom: 1px solid $grey-2;
  .summary & { margin-bottom: 0; }
  input[type="checkbox"],
  input[type="radio"] {
    margin: .25em auto 0 auto;
    text-align: center;
    display: block;
  }
}

td, 
th { 
  @extend %paragraph--small;
  padding: .5em 0;
  text-align: left; 
}

th {
  font-weight: 600;
  border-top: 1px solid $grey-2; 
  height: 1.4em;
  vertical-align: top;
  &[scope="row"] {
    border-top: 1px solid $grey-2; 
    font-weight: 400;
    padding-right: 2em;
  }
  &.selectable {
    text-align: centre;
  }
}

td {
  overflow: visible;
  border-top: 1px solid $grey-2; 
  vertical-align: top;
}

tfoot {
  tr { 
    border-top: 1px solid $grey-2; 
    border-bottom: 0;
  }
  th, 
  td {    
    border: none;
    overflow: hidden;
    font-weight: 600;
  }
}

.sortable {
  padding: .5em 0;
  a {
    padding-right: 1em;
    color: $black;
    text-decoration: none;
    background: url('../images/down-arrow.png') no-repeat 100% 5px;
      @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 11px 136px;
    }
    &:active { color: $grey-1; }
  }

}