
/*
  Component name
  ==============
  Component decription
*/

.component {
  display: block;
}

/*
  Some comment
*/


/*
  Selfserve theme
  ---------------
*/

@if $app == 'selfserve' {
  .component {
    background: red;
  }
}


/*
  Internal theme
  --------------
*/

@if $app == 'internal' {
  .component {
    background: blue;
  }
}