.user-header {
  width: 100% - ($gutter*2);
  overflow: auto;
  border-top: 8px solid $primaryColour;
  padding: .75em 0 .4em 0;
  margin-bottom: .5em;
  position: relative;
  @if $app == 'selfserve' {
      @extend .full-width;   
      @extend %paragraph--small;
      border-bottom: 1px solid $grey-2;
  } @else {
      @extend %paragraph--tiny;
  }
  @media (max-width: 640px){
    width: 92%;
    margin: 0 4% .4em 4%;
  }
}

.user-menu {
  position: absolute;
  right: 0;
  &__item {
    display: inline;
    margin-left: .5em;
  }
}

