.vertical-navigation {
  @extend %navigation;
  &__title {
    margin-bottom: 0;
  }
  a {
    @extend %navigation__link;
    padding: .5em 0 .6em 0;
    border-bottom: 1px solid $grey-2;   
  }
  .current, .disabled {
    padding: .5em 0 .25em 0;
    a {
      border-bottom: none;
      padding-top: 0;
      &:hover {
        background: none;
      }
    }
  }
  .current {
    border-bottom: 3px solid $primaryColour;
    padding-bottom: .5em;
    margin-bottom: -1px;
  }
  .disabled {
    color: $grey-1;
    border-bottom: 1px solid $grey-2;
  }
}