/**
 *
 *  OLCS - Internal application SCSS
 *  @version: 1.0
 *  @author: sam.quayle@valtech.co.uk, Valtech Ltd
 *
 *  1. Base styles
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions & buttons
 * 10. Modals & messaging
 *
 **/

$app: internal;
$assetPath : "../images";

/* ==========================================================================
   1. Base styles
   ========================================================================== */

 @import 
'vendor/govuk_toolkit/_device-pixels',
'vendor/govuk_toolkit/_measurements', 
'vendor/govuk_toolkit/_css3',
'vendor/govuk_toolkit/_colours',
'vendor/govuk_toolkit/_typography',
'vendor/govuk_toolkit/design-patterns/_buttons',
'_fonts',
'_base-styles';

$primaryColour: $department-for-transport;
$gutter: 1.25%;

/* 1.1 Links
   ========================================================================== */

@import '_links';

/* ==========================================================================
   2. Typography
   ========================================================================== */

@import '_typography';


/* ==========================================================================
   3. Layout
   ========================================================================== */

@import '_layout';

.ui-box {
  width: 100%;
  margin-top: .525em;
  h4 {
    border-bottom: 1px solid $grey-2;
    padding-bottom: .4em;
    margin-bottom: .5em;
   
  }
}


/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
  background: $black;
  color: $white;
  overflow: hidden;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em;
    padding: .5em $gutter 0;
    overflow: visible;
    height: 32px;
    @media(max-width: 640px) {
      height: 72px;  
      padding-bottom: 1em;
      width: 92%;
      margin: 0 4% 0 4%;
    } 
  }
  &__title {
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin-right: $gutter;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* 4.2 Search
   ========================================================================== */

.search {
    float: left;
    width: 400px;
    @media(max-width: 640px) {
        width: 100%;
    }  
    &__wrapper {
        float: left;
        position: relative;
        height: 32px;
        width: 65%;
        @media(max-width: 640px) {
            width: 100%;
        }  
    }
    &__input {
        @extend %paragraph--small;
        @include border-radius(2px); 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 97%;
        padding: 0 0 0 3%;
        border: 0;
        color: $grey-1 !important;
    }
    input[type="submit"] {
        @include border-radius(0 2px 2px 0);
        position: absolute;
        right: 0;
        border: 0;
        height: 32px;
        width: 38px;
        text-indent: -9999px;
        background: $primaryColour url('#{$assetPath}/search.png') no-repeat 50% 45%;
        @include device-pixel-ratio($ratio: 2) {
            background: $primaryColour url('#{$assetPath}/search-2x.png') no-repeat 50% 45%;
            background-size: 17px 17px;
        }
    }
    &__advanced {
        font-size: 14px;
        color: $white;
        margin: .5em 1em;
        float: left;
        @media(max-width: 640px) {
            display: none;
        }  
    }
}

/* 4.3 Admin menu
   ========================================================================== */

.admin {
  position: absolute;
  top: .5em;
  right: 0;
  list-style: none;
  margin-right: 2.5%;
  &:hover {
    .admin__menu {
      display: block;
    }
  }
  &__title {
    @include border-radius(3px);
    position: relative;
    overflow: visible;
    padding: .3em 1.5em .3em .75em;
    background: url('../images/down-arrow.png') no-repeat 85% 13px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 10px 130px;
    }
    &:hover {
      background-color: #222;
      cursor: pointer;
    }
  }
  &__menu {
    display: none;
    top: 32px;
    right: 0;
    background: $grey-4;
    border: 1px solid $grey-3;
    z-index: 3;
    width: 360px;
    position: absolute;
    padding: .5em 1em;
    cursor: normal;
  }
  &__submenu {
    float: left;
    width: 50%;
  }
  &__item {
    width: 100%;
    font-weight: 600;
    color: $black;
    list-style: none;
    padding: .25em 0;
    a {
      font-weight: 400;
      color: $link-colour;
    }
  }
}

/* 4.4 User header
   ========================================================================== */

@import '_user-header';

/* 4.5 Page header
   ========================================================================== */

.page-header {
  width: 100%;
  margin-bottom: .3em;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  overflow: hidden;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em $gutter;
    width: 97.5%;
    @media(max-width: 640px) {
      width: 92%;
      margin: 0 4% 1em 4%;
    }
  }
  &__subtitle {
    color: $grey-1;
    font-weight: 400;
    @include font-size(16px,12pt,16px);
    display: inline;
    @media(max-width: 640px) {
      display: block;
      margin: 5px 0 0 0;
    }
  }
}



/* ==========================================================================
   5. Global footer
   ========================================================================== */

.global-footer {
    border-top: 1px solid $grey-2;
    background: $grey-3;
    color: #454a4c;
    clear: both;
    a {
        color: #454a4c;
    }
    &__wrapper {
        @extend .page-wrapper;
        padding: 2em 0 0 0;
    }
    &__links {
        @extend .two-thirds;
        padding-top: 7em;
        list-style: none;
        @media (max-width: 640px){
            padding: 0 5% 1.5em 5%;
        }

    }
    &__link {
        float: left;
        margin-right: $gutter-half;
        @media (max-width: 640px){
            display: block;
            text-align: center; 
            width: 90%;
        }

    }
    &__copyright {
        @extend .one-third;
        height: 150px;  
        float: right;
        display: block;
        background: url('#{$assetPath}/footer-crest.png') no-repeat 50% 0 ;
        @include device-pixel-ratio($ratio: 2) {
            background: url('#{$assetPath}/footer-crest-2x.png') no-repeat 50% 0;
            background-size: 125px 102px;
        }
        a {
            text-align: center;
            display: block;
            padding-top: 7em;
        }
    }

}


/* ==========================================================================
   6. Forms
   ========================================================================== */

@import '_forms';


/* ==========================================================================
   7. Navigation
   ========================================================================== */

@import '_navigation';

/* 7.1 Breadcrumb
   ========================================================================== */

@import '_breadcrumb';

/* 7.2 Application nav
   ========================================================================== */

$breakpoint: 840px;
$statuses: (complete 10px 6px, incomplete -588px -596px, current -188px -194px);

.items-5 .app-navigation__item {
    width: (100% - (5 * 2))/5;
}

.items-7 .app-navigation__item {
    width: (100% - (7 * 2))/7;
}

.items-8 .app-navigation__item {
    width: (100% - (8 * 2))/8;
}

.app-navigation {
    @extend %navigation;
    border-top: 1px dotted $grey-2;
    overflow: visible;
    margin-top: 2em;
    &__item {
        @extend %navigation__item;
        text-align: center;
        margin: -2em 1% 1.5em 1%;   
        background: url('#{$assetPath}/application-navigation.png') no-repeat 50% -383px;
        @include device-pixel-ratio($ratio: 2) {
            background: url('#{$assetPath}/application-navigation-2x.png') no-repeat 50% -390px;
            background-size: 50px 657px;
        }

    }
    a, .current, .disabled {
        line-height: 1.2;
        display: block;
        padding-top: 3.75em;
    }
    .current {
        font-weight: 700;
    }
    @each $status in $statuses {
        .#{nth($status, 1)} {
            background-position: 50% nth($status, 2);
            @include device-pixel-ratio($ratio: 2) {
                background-position: 50% nth($status, 3);
            }
        }
    }
    @media (max-width: $breakpoint) {
        border-top: none;
        margin: 0;
        &__item {
            background: none;
            padding: 0;
            margin: 0;
            width: 100% !important;
            text-align: left;
        }
        a, .current, .disabled {
            padding: .5em 0;
            border-bottom: 1px solid $grey-2;
        }
        .current {
            border-bottom: 3px solid $black;
        }
    }
}

/* 7.3 Horizontal navigation
   ========================================================================== */

@import '_horizontal-nav';

/* 7.4 Vertical navigation
   ========================================================================== */

@import '_vertical-nav';

/* 7.5 Pagination
   ========================================================================== */

@import '_pagination';

/* 7.6 Results settings
   ========================================================================== */

@import '_results-settings';

/* 7.7 Filters
   ========================================================================== */

@import '_filters';


/* ==========================================================================
   8. Tables
   ========================================================================== */

@import '_tables';


/* ==========================================================================
   9. Actions & buttons
   ========================================================================== */

@import '_actions-buttons';


/* ==========================================================================
   10. Modals & messaging
   ========================================================================== */

@import '_modals-messaging';
