/**
 *
 *  OLCS - Internal application SCSS
 *  @version: 1.0
 *  @author: sam.quayle@valtech.co.uk, Valtech Ltd
 *
 *  1. Base styles
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions & buttons
 * 10. Modals & messaging
 *
 **/

$app: internal;

/* ==========================================================================
   1. Base styles
   ========================================================================== */

 @import 
'vendor/govuk_toolkit/_device-pixels',
'vendor/govuk_toolkit/_measurements', 
'vendor/govuk_toolkit/_css3',
'vendor/govuk_toolkit/_colours',
'vendor/govuk_toolkit/_typography',
'vendor/govuk_toolkit/design-patterns/_buttons',
'_base-styles';

$assetPath: "../images";
$primaryColour: $department-for-transport;
$gutter: 1.25%;

/* 1.1 Links
   ========================================================================== */

@import '_links';

/* ==========================================================================
   2. Typography
   ========================================================================== */

@import '_typography';


/* ==========================================================================
   3. Layout
   ========================================================================== */

@import '_layout';

#main {
  display: table;
  width: 97.5%;
  margin: 0 1.25% 4em 1.25%;
}

.content {
  display: table;
  width: 100%;
}

%table-cell {
  display: table-cell;
  vertical-align: top;
}

.one-fifth {
  &--left {
    @extend %table-cell;
    width: 200px;
    padding: 7px 20px 0 0;

  }
  &--right {
    @extend %table-cell;
    width: 220px;
    padding-left: 30px;
  }
}

//Needs refactoring
.three-fifths { 
  @extend %table-cell; 
  padding: 7px 0 0 10px;
}

.four-fifths {
  &--left { @extend %table-cell; }
  &--right { @extend %table-cell; }
}

.full-width { @extend .content; }

.ui-box {
  width: 100%;
  margin-top: .525em;
  h4 {
    border-bottom: 1px solid $grey-2;
    padding-bottom: .4em;
    margin-bottom: .5em;
   
  }
}

//Needs refactoring
.section-header {
  border-bottom: 1px solid $grey-2;
  padding-bottom: 0;
  font-weight: 600;
  margin-bottom: 0;
  width: 100%;
  float: left;
  h3 {
    @extend %paragraph--large;
    font-weight: 600;
    float: left;
  }
  .action--secondary {
    float: right;
    margin-top: -5px;
  }
}


/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
  background: $black;
  color: $white;
  overflow: hidden;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em;
    padding: .5em $gutter 0;
    overflow: visible;
    height: 32px;
    @media(max-width: 640px) {
      height: 72px;  
      padding-bottom: 1em;
      width: 92%;
      margin: 0 4% 0 4%;
    } 
  }
  &__title {
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin-right: $gutter;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* 4.2 Search
   ========================================================================== */

.search {
    float: left;
    width: 400px;
    @media(max-width: 640px) {
        width: 100%;
    }  
    &__wrapper {
        float: left;
        position: relative;
        height: 32px;
        width: 65%;
        @media(max-width: 640px) {
            width: 100%;
        }  
    }
    &__input {
        @extend %paragraph--small;
        @include border-radius(2px); 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 97%;
        padding: 0 0 0 3%;
        border: 0;
        color: $grey-1 !important;
    }
    input[type="submit"] {
        @include border-radius(0 2px 2px 0);
        position: absolute;
        right: 0;
        border: 0;
        height: 32px;
        width: 38px;
        text-indent: -9999px;
        background: $primaryColour url('#{$assetPath}/search.png') no-repeat 50% 45%;
        @include device-pixel-ratio($ratio: 2) {
            background: $primaryColour url('#{$assetPath}/search-2x.png') no-repeat 50% 45%;
            background-size: 17px 17px;
        }
    }
    &__advanced {
        font-size: 14px;
        color: $white;
        margin: .5em 1em;
        float: left;
        @media(max-width: 640px) {
            display: none;
        }  
    }
}

/* 4.3 Admin menu
   ========================================================================== */

.admin {
  position: absolute;
  top: .5em;
  right: 0;
  list-style: none;
  margin-right: 2.5%;
  &:hover {
    .admin__menu {
      display: block;
    }
  }
  &__title {
    @include border-radius(3px);
    position: relative;
    overflow: visible;
    padding: .3em 1.5em .3em .75em;
    background: url('../images/down-arrow.png') no-repeat 85% 13px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 10px 130px;
    }
    &:hover {
      background-color: #222;
      cursor: pointer;
    }
  }
  &__menu {
    display: none;
    top: 32px;
    right: 0;
    background: $grey-4;
    border: 1px solid $grey-3;
    z-index: 3;
    width: 360px;
    position: absolute;
    padding: .5em 1em;
    cursor: normal;
  }
  &__submenu {
    float: left;
    width: 50%;
  }
  &__item {
    width: 100%;
    font-weight: 600;
    color: $black;
    list-style: none;
    padding: .25em 0;
    a {
      font-weight: 400;
      color: $link-colour;
    }
  }
}

/* 4.4 User header
   ========================================================================== */

@import '_user-header';

/* 4.5 Page header
   ========================================================================== */

.page-header {
  width: 100%;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  overflow: hidden;
  margin-bottom: 10px;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em $gutter;
    width: 97.5%;
    @media(max-width: 640px) {
      width: 92%;
      margin: 0 4% 1em 4%;
    }
  }
  &__subtitle {
    @include font-size(16px,12pt,16px);
    color: $grey-1;
    font-weight: 400; 
    display: inline;
    @media(max-width: 640px) {
      display: block;
      margin: 5px 0 0 0;
    }
  }
  &__status {
    @extend %paragraph--tiny;
    @include border-radius(2px);
    margin-left: 5px;
    padding: 3px 6px;
    color: $white;
    font-weight: 600;
    &.revoked,
    &.cns,
    &.surrendered,
    &.withdrawn,
    &.refused,
    &.ntu,
    &.terminated {
      background: $red;
    }
    &.unlicenced,
    &.not-submitted,
    &.curtailed,
    &.suspended {
      background: $orange;
    }
    &.new,
    &.granted,
    &.valid {
      background: $green;
    }
  }
}




/* ==========================================================================
   6. Forms
   ========================================================================== */

@import '_forms';


/* ==========================================================================
   7. Navigation
   ========================================================================== */

@import '_navigation';

/* 7.1 Breadcrumb
   ========================================================================== */

@import '_breadcrumb';

/* 7.2 Application nav
   ========================================================================== */

@import '_app-nav';

/* 7.3 Horizontal navigation
   ========================================================================== */

@import '_horizontal-nav';

.horizontal-navigation__item a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* 7.4 Vertical navigation
   ========================================================================== */

@import '_vertical-nav';

.vertical-navigation__item a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


/* 7.5 Pagination
   ========================================================================== */

@import '_pagination';

/* 7.6 Results settings
   ========================================================================== */

@import '_results-settings';

/* 7.7 Filters
   ========================================================================== */

@import '_filters';


/* ==========================================================================
   8. Tables
   ========================================================================== */

@import '_tables';

.table__header {
  // overflow: visible;
  h3 { 
    @extend %paragraph--large;
    margin-top: 5px; 
}
  .actions-container { margin: 0 -3px 10px 0;}
}

table { border: 1px solid $grey-2; }

tr.urgent { border-left: 5px solid $mellow-red; }

th, 
td {
  @extend %paragraph--tiny; 
  padding: .6em .5em .6em .5em;
}

th {
  background: $grey-3; 
  border: 1px solid $grey-2;
  padding: .5em;
  a { display: block; }
}  

td {
  border-top: 1px solid $grey-2; 
  border-right: 1px dotted $grey-2;
}

.sortable {
  padding: 0 .75em;
  background: $grey-3;
  &:hover, 
  &.ascending, 
  &.descening {
    background-color: #cccccc;
  }
}


/* ==========================================================================
   9. Actions & buttons
   ========================================================================== */

.action--primary,
input.action--primary,
.action--secondary,
input.action--secondary {
  @include border-radius(2px);
  width: auto;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  margin-right: .25em;
  padding: .4em .75em;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  behavior: url(../../js/PIE/PIE.htc);
  &.large {
    font-weight: 600; 
    font-size: 17px;
  }
}

@mixin actionColour (
  $color,
  $border-colour,
  $grad-light,
  $grad-dark, 
  $hover-bg,
  $disabled-text-color,
  $disabled-bg,
  $disabled-border ) {
  color: $color;
  border: 1px solid $border-colour;
  background: $grad-light;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from($grad-light), to($grad-dark));
  background: -webkit-linear-gradient($grad-light, $grad-dark);
  background: -moz-linear-gradient($grad-light, $grad-dark);
  background: -ms-linear-gradient($grad-light, $grad-dark);
  background: -o-linear-gradient($grad-light, $grad-dark);
  background: linear-gradient($grad-light, $grad-dark); 
  &:hover {
    cursor: pointer;
    color: $color;
    background: $hover-bg;
  }
  &.disabled,
  &[disabled],
  &[disabled="disabled"] {
    cursor: default;
    border: 1px solid $disabled-border;
    background: $disabled-bg;
    color: $disabled-text-color;
    &:hover {
      background: $disabled-bg;
    }
  }
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
}


.action--primary,
input.action--primary {
  @include actionColour(#FFF, #10654E, #178B6C, $primaryColour, #146C55, #FFF, #8BB5AA, #8BB5AA);
}

.action--secondary,
input.action--secondary {
  @include actionColour(#222, $grey-2, #FCFCFC, #EEE, $grey-3, $grey-2, #FCFCFC, $grey-3);
}

.record-actions {
  margin-top: .75em;
  display: block;
  &__group {
    list-style: none;
    margin: .5em 0 1em 0;
  }
  &__item { margin-bottom: .5em; }
  a {
    color: $black;
    text-decoration: none;
    display: block;
  }
}


/* ==========================================================================
   10. Modals & messaging
   ========================================================================== */

@import '_modals-messaging';

.preloader {
  @include opacity(.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: -144px;
  background: #FFF;
  z-index: 2;
  &__icon {
    height: 30px;
    width: 30px;
    position: fixed;
    left: 49%;
    top: 52%;
    z-index: 3;
    background: url('../images/preloader.gif') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/preloader-2x.gif');
      background-size: 30px 30px;
    }
  }
  
}


/* ==========================================================================
   11. Read only
   ========================================================================== */

@import '_read-only';


/* ==========================================================================
   12. Right hand column
   ========================================================================== */

.small-module {
  margin-bottom: 1.5em;
  &__title {
    @extend %paragraph--small;
    border-bottom: 1px solid $grey-2;
    padding-bottom: .5em;
    margin: .25em 0 .5em 0;
  }
}

.latest-note {
  &__details {
    @include border-radius(3px);
    padding: .6em 1em .75em 1em;
    background: $yellow-25;
    border: 1px solid $yellow-50;
  }
  &__link {
    @extend %paragraph--tiny;
    text-align: right;
    display: block;
  }
}