/**
 *
 *  OLCS - Internal application SCSS
 *  @version: 1.0
 *  @author: sam.quayle@valtech.co.uk, Valtech Ltd
 *
 *  1. Base styles
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions & buttons
 * 10. Modals & messaging
 * 11. Read only
 * 12. Right hand column
 * 13. Statuses
 * 14. Comments
 * 15. Empty
 *
 **/


/* ==========================================================================
   1. Base styles
   ========================================================================== */

@import
  'vendor/govuk_toolkit/_device-pixels',
  'vendor/govuk_toolkit/_measurements',
  'vendor/govuk_toolkit/_css3',
  'vendor/govuk_toolkit/_colours',
  'vendor/govuk_toolkit/_typography',
  '_base-styles';

$app: internal;
$assetPath: "../images";
$primaryColour: $department-for-transport;
$gutter: 1.25%;
$grey-2: #CCC;
$grey-3: #E5E5E5;

html {
  background: $grey-4;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* 1.1 Links
   ========================================================================== */

@import '_links';

/* ==========================================================================
   2. Typography
   ========================================================================== */

@import '_typography';

/* ==========================================================================
   3. Layout
   ========================================================================== */

@import '_layout';

#main {
  display: table;
  position: relative;
  width: 100%;
  margin: 0 0 4em 0;
}

.content {
  display: table;
  width: 100%;
  padding-top: 5px;
  &__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-2;
    margin-bottom: 1em;
  }
}

%table-cell {
  display: table-cell;
  vertical-align: top;
}

.one-fifth {
  &--left {
    @extend %table-cell;
    width: 200px;
    padding: 0 30px 0 0;
    h4 {
      border-bottom: 1px solid $grey-2;
      padding-bottom: 10px;
      margin-bottom: 5px;
    }
  }
  &--right {
    @extend %table-cell;
    width: 220px;
    padding-left: 30px;
  }
}

//Needs refactoring
.three-fifths {
  @extend %table-cell;
}

.four-fifths {
  &--left { @extend %table-cell; }
  &--right { @extend %table-cell; }
}

.full-width { @extend .content; }

.ui-box {
  width: 100%;
  margin-top: .525em;
  h4 {
    border-bottom: 1px solid $grey-2;
    padding-bottom: .4em;
    margin-bottom: .5em;

  }
}



/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
  background: $black;
  color: $white;
  overflow: hidden;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em;
    padding: .5em $gutter 0;
    overflow: visible;
    height: 32px;
    @media(max-width: 640px) {
      height: 72px;
      padding-bottom: 1em;
      width: 92%;
      margin: 0 4% 0 4%;
    }
  }
  &__title {
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin-right: $gutter;
  }
  a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


/* 4.2 Search
   ========================================================================== */

.search {
  float: left;
  width: 450px;
  margin-top: 2px;
  @media (max-width: 640px) {
    width: 100%;
  }
  &__wrapper {
    float: left;
    position: relative;
    height: 32px;
    width: 75%;
    background: $grey-4;
    @include border-radius(2px);
    @media (max-width: 640px) {
      width: 100%;
    }
  }
  &__input {
    @extend %paragraph--small;
    @include border-radius(2px);
    position: absolute;
    display: table-cell;
    left: 0;
    top: 0;
    width: 165px;
    padding: 9px 0 7px 3%;
    border: 0;
    color: $black;
    vertical-align: middle;
    behavior: url(/htc/PIE.htc);
    &:focus {
      outline: none;
    }
  }
  input[type="submit"] {
    @include border-radius(0 2px 2px 0);
    position: absolute;
    right: -3px;
    border: 0;
    height: 32px;
    width: 38px;
    text-indent: -9999px;
    behavior: url(/htc/PIE.htc);
    background: $primaryColour url('#{$assetPath}/search.png') no-repeat 50% 45%;
    @include device-pixel-ratio($ratio: 2) {
      background: $primaryColour url('#{$assetPath}/search-2x.png') no-repeat 50% 45%;
      background-size: 17px 17px;
    }
  }
  &__advanced {
    font-size: 14px;
    color: $white;
    margin: .5em 1em;
    float: left;
    @media(max-width: 640px) {
      display: none;
    }
  }
}

.search__select {
  width: 105px;
  overflow: hidden;
  position: absolute;
  right: 34px;
  background: url('../images/down-arrow.png') no-repeat 88% 11px;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/down-arrow-2x.png');
    background-size: 12px 112px;
  }
  select {
    background: transparent;
    width: 120px;
    font-size: 14px;
    border: 0;
    border-radius: 0;
    padding: 5px 0 0 0;
    -webkit-appearance: none;
    line-height: 1.6;
    color: $grey-1;
    text-align: right;
    &:focus {
      outline: none;
    }
  }
}

/* 4.3 Admin menu
   ========================================================================== */

.admin:hover .admin__menu {
  display: block;
  .js-enabled & {
    display: none;
  }
}

.admin {
  position: absolute;
  top: .5em;
  right: 0;
  list-style: none;
  margin-right: 2.5%;
  &__title {
    @include border-radius(3px);
    position: relative;
    overflow: visible;
    padding: 7px 30px .3em .75em;
    background: url('../images/down-arrow.png') no-repeat 85% 13px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 12px 112px;
    }
    &:hover {
      background-color: #111;
      cursor: pointer;
    }
    &.active {
      background-color: #151515;
    }
  }
  &__arrow {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -9px;
    right: 30px;
    background: url('../images/menu-arrow.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/menu-arrow-2x.png');
      background-size: 16px 12px;
    }
  }
  &__menu {
    display: none;
    @include border-radius(3px);
    @include box-shadow(0 1px 5px $grey-3);
    top: 35px;
    right: 0;
    background: #fff;
    border: 1px solid $grey-3;
    z-index: 3;
    width: 420px;
    position: absolute;
    padding: 10px 0;
    cursor: normal;
  }
  &__submenu {
    float: left;
    width: 50%;
  }
  &__item {
    width: 100%;
    list-style: none;
    a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      color: $link-colour;
      padding: 8px 20px;
      &:hover {
        text-decoration: none;
        background: $grey-4;
      }
    }
  }
}

/* 4.4 User header
   ========================================================================== */

@import '_user-header';

/* 4.5 Page header
   ========================================================================== */

.page-header {
  width: 100%;
  border-bottom: 1px solid $grey-2;
  background: $grey-4;
  overflow: hidden;
  margin-bottom: 10px;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 $gutter .75em $gutter;
    width: 97.5%;
    @media(max-width: 640px) {
      width: 92%;
      margin: 0 4% 1em 4%;
    }
  }
  &__subtitle {
    @include font-size(16px,12pt,16px);
    color: $grey-1;
    font-weight: 400;
    display: inline;
    @media(max-width: 640px) {
      display: block;
      margin: 5px 0 0 0;
    }
  }
}


/* ==========================================================================
   6. Forms
   ========================================================================== */

@import '_forms';

fieldset {
  margin-bottom: 30px;
  fieldset {
    margin-bottom: 20px;
  }
}

.field {
  margin-bottom: 25px;
  &.inline-text {
    margin-bottom: 10px;
  }
}

.tracking {
  .field {
    width: 100%;
    float: left;
    margin-bottom: 15px;
  }
  label {
    float: left;
    width: 150px;
    margin-right: 10px;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #ffbf47;
}

/* ==========================================================================
   7. Navigation
   ========================================================================== */

@import '_navigation';

/* 7.1 Breadcrumb
   ========================================================================== */

@import '_breadcrumb';

.breadcrumbs a {
  color: $grey-1;
}

/* 7.2 Application nav
   ========================================================================== */

// status class, 1x Y value, 2x Y value
$mobile-statuses: (
  complete 5px 4px,
  incomplete -295px -297px,
  current -95px -95px,
  edited -398px -400px
);

.app-navigation {
  @extend %navigation;
  overflow: hidden;
  border-top: none;
  margin: 0;
  a,
  .current,
  .disabled {
    display: block;
    width: 90%;
    padding: .5em 10% .5em 0;
    border-bottom: 1px solid $grey-2;
  }
  .current {
    border-bottom: 3px solid $black;
    font-weight: 700;
    &.no-background {
      background: none;
    }
  }
  &__item {
    @extend %navigation__item;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    background-size: 13px 165px;
    background: url('#{$assetPath}/application-navigation-small.png') no-repeat 100% -192px;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/application-navigation-2x.png') no-repeat 100% -192px;
      background-size: 25px 467px;
    }
  }
  @each $status in $mobile-statuses {
    .#{nth($status, 1)} {
      background-position: 100% nth($status, 2);
      @include device-pixel-ratio($ratio: 2) {
          background-position: 100% nth($status, 3);
      }
    }
  }
}

/* 7.3 Horizontal navigation
   ========================================================================== */

@import '_horizontal-nav';

.horizontal-navigation__item a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* 7.4 Vertical navigation
   ========================================================================== */

@import '_vertical-nav';

.vertical-navigation__item a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


/* 7.5 Pagination
   ========================================================================== */

@import '_pagination';

/* 7.6 Results settings
   ========================================================================== */

@import '_results-settings';

/* 7.7 Filters
   ========================================================================== */

@import '_filters';

.filters {
  margin: .5em 0 -7px 0;
  label {
    @extend %paragraph--tiny;
  }
}


/* ==========================================================================
   8. Tables
   ========================================================================== */

@import '_tables';

.table__header {
  @extend %header-with-actions;
  margin-bottom: 0;
  h3 + form & {
    margin-top: .2em !important;
  }
}

table {
  border: 1px solid $grey-2;
}

tfoot {
  background: $grey-4;
}

tr.urgent { border-left: 5px solid $mellow-red; }

th,
td {
  @extend %paragraph--tiny;
  padding: .5em .75em .5em .75em;
}

th {
  background: $grey-3;
  border: 1px solid $grey-2;
  padding: .5em .75em .5em .75em;
  a { display: block; }
}

td {
  border-top: 1px solid $grey-2;
  border-right: 1px dotted $grey-2;
}

.sortable {
  padding: .5em .75em .5em .75em;
  background: $grey-3;
  a {
    padding: 0;
  }
  &:hover,
  &.ascending,
  &.descening {
    background-color: #cccccc;
  }
}

.not-sortable {
  padding: .5em .75em .5em .75em;
}

/* ==========================================================================
   9. Actions & buttons
   ========================================================================== */


.actions-container {
  select { float: left; }
}

.action--primary,
input.action--primary,
.action--secondary,
input.action--secondary,
.action--delete,
input.action--delete {
  @include border-radius(2px);
  display: inline-block;
  width: auto;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  margin-right: .25em;
  padding: .4em .75em;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  behavior: url(/htc/PIE.htc);
  &.large {
    font-weight: 600;
    font-size: 17px;
    padding: .5em .75em;
    .inline & {
      font-size: 15px;
      padding: 8px 12px;
    }
  }
}

.action--tertiary {
  @extend a;
  background: none;
  border: 0;
  font-family: $NTA-Light;
  font-size: 16px;
  text-decoration: underline;
}

@mixin actionColour (
  $color,
  $border-colour,
  $grad-light,
  $grad-dark,
  $hover-bg,
  $disabled-text-color,
  $disabled-bg,
  $disabled-border ) {
  color: $color;
  border: 1px solid $border-colour;
  background: $grad-dark;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from($grad-light), to($grad-dark));
  background: -webkit-linear-gradient($grad-light, $grad-dark);
  background: -moz-linear-gradient($grad-light, $grad-dark);
  background: -ms-linear-gradient($grad-light, $grad-dark);
  background: -o-linear-gradient($grad-light, $grad-dark);
  background: linear-gradient($grad-light, $grad-dark);
  &:hover {
    cursor: pointer;
    color: $color;
    background: $hover-bg;
  }
  &.disabled,
  &[disabled],
  &[disabled="disabled"] {
    cursor: default;
    border: 1px solid $disabled-border;
    background: $disabled-bg;
    color: $disabled-text-color;
    &:hover {
      background: $disabled-bg;
    }
  }
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
input[type="submit"]:focus {
  outline: none;
}

.action--primary,
input.action--primary {
  @include actionColour(#FFF, #10654E, #178B6C, $primaryColour, #146C55, #FFF, #8BB5AA, #8BB5AA);
}

.action--secondary,
input.action--secondary {
  @include actionColour(#222, $grey-2, #FCFCFC, #EEE, $grey-3, $grey-2, #FCFCFC, $grey-3);
}

.action--delete,
input.action--delete {
  @include actionColour($white, #990917, $red, #990917, #87000D, $red, #FCFCFC, $red);
}

.record-actions {
  margin-top: .75em;
  display: block;
  &__group {
    list-style: none;
    margin: .5em 0 1.1em 0;
  }
  &__item { margin-bottom: .5em; }
  a {
    color: $black;
    text-decoration: none;
    display: block;
  }
}


/* ==========================================================================
   10. Modals & messaging
   ========================================================================== */

@import '_modals-messaging';


/* ==========================================================================
   11. Read only
   ========================================================================== */

@import '_read-only';

.read-only dt {
  color: #555;
}


/* ==========================================================================
   12. Right hand column
   ========================================================================== */

.small-module {
  margin-bottom: 1.5em;
  &__title {
    @extend %paragraph--small;
    border-bottom: 1px solid $grey-2;
    padding-bottom: .5em;
    margin: .4em 0 .5em 0;
  }
}

.latest-note {
  &__details {
    @include border-radius(3px);
    padding: .6em 1em .75em 1em;
    background: $yellow-25;
    border: 1px solid $yellow-50;
  }
  &__link {
    @extend %paragraph--tiny;
    text-align: right;
    display: block;
  }
}

/* ==========================================================================
   13. Statuses
   ========================================================================== */

@import '_statuses';

/* ==========================================================================
   14. Comments
   ========================================================================== */

%comment {
  float: left;
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 1em 0 .25em 0;
  margin-bottom: 1em;
  > * {
    margin: 0 45px 0 15px;
  }
  > p {
    @extend %paragraph--small;
    margin-bottom: 1em;
  }
  ul, ol {
    list-style-position: inside;
    margin: 0 0 1em 1em;
  }
  ul {
    list-style-type: disc;
  }
}

%edit-link {
  position: absolute;
  right: 1em;
  margin-right: 0;
  top: .5em;
}

.comment {
  @extend %comment;
  background: $grey-4;
  border-left: 3px solid $grey-3;
  &__edit {
    @extend %edit-link;
  }
}

.submission-actions {
  float: left;
  list-style: none;
}

.submission-item {
  @extend %comment;
  background: $light-blue-25;
  border-left: 3px solid $light-blue-50;
  margin-bottom: .5em;
  h4 {
    border-bottom: 0;
    padding-bottom: 10px;
    display: block;
  }
  &__edit {
    @extend %edit-link;
  }
  &__meta {
    width: 100%;
    float: left;
    margin: 0 0 .5em 1em;
    p {
      float: left;
      width: 20%;
      margin-right: 5%;
      clear: none;
    }
    b {
      display: block;
    }
  }
}

/* ==========================================================================
   15. Empty state
   ========================================================================== */

@import '_empty-state';


.empty p {
  @extend %paragraph--small;
}


/* ==========================================================================
   16. Guidance & help
   ========================================================================== */

@import '_guidance';

.guidance {
  max-width: 700px;
  border: 1px solid $grey-3;
  background: $grey-4;
  p {
    @extend %paragraph--small;
    color: $grey-1;
    margin-bottom: 10px;
  }
}


/* ==========================================================================
   17. Sign in
   ========================================================================== */

.sign-in {
  background: $grey-4;
  #main {
    border-top: 6px solid $primaryColour;
  }
  legend {
    font-size: 24px;
    margin-bottom: 20px;
  }
  form {
    @include box-shadow(0 1px 5px $grey-3);
    background: #FFF;
    max-width: 440px;
    margin: 40px auto;
    padding: 20px 32px 0 30px;
    float: none;
    overflow: auto;
  }
  input[type=text],
  input[type=password] {
    width: 94%;
    padding: .5em 3%;
  }
  label {
    float: left;
    width: 50%;
    margin-right: 0;
  }
  .hint {
    float: left;
    width: 50%;
    clear: none;
    text-align: right;
    margin: 0;
  }
}


