/**
 *
 *  OLCS - Selfserve application SCSS
 *  @version: 1.0
 *  @author: sam.quayle@valtech.co.uk, Valtech Ltd
 *
 *  1. Base styles
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions & buttons
 * 10. Modals & messaging
 * 11. Read only lists
 * 12. Statuses
 * 13. Right hand column
 * 14. Empty state
 * 15. Confirmation
 * 16. Guidance & help
 *
 **/

/* ==========================================================================
   1. Base styles
   ========================================================================== */

$app: selfserve;
$assetPath : "../images/";

@import
  'vendor/govuk_toolkit/_device-pixels',
  'vendor/govuk_toolkit/_measurements',
  'vendor/govuk_toolkit/_css3',
  'vendor/govuk_toolkit/_colours',
  'vendor/govuk_toolkit/_typography',
  'vendor/govuk_toolkit/design-patterns/_buttons',
  '_fonts',
  '_base-styles';

$primaryColour: $department-for-transport;
$gutter: 2.5%;

/* 1.1 Links
   ========================================================================== */

@import '_links';


/* ==========================================================================
   2. Typography
   ========================================================================== */

@import '_typography';

.important {
  padding-left: 30px;
  background: url('#{$assetPath}/important.png') no-repeat 0 0 ;
  @include device-pixel-ratio($ratio: 2) {
    background: url('#{$assetPath}/important-2x.png') no-repeat 0 0;
    background-size: 25px 25px;
  }
}


/* ==========================================================================
   3. Layout
   ========================================================================== */

@import '_layout';

#main {
  width: 100%;
  &:focus { outline: 0; }
}

.one-third {
  @extend %container;
  width: 28.3333333333%;
  width : 27.4%\9; /* lt IE9  */
}

.one-quarter {
  @extend %container;
  width: 20%;
}

.one-half {
  @extend %container;
  width: 45%;
}

.two-thirds {
  @extend %container;
  width: 61.6666666667%;
  &.border {
    border-top: 1px solid $grey-2;
    padding-top: 2em;
  }
}

.three-quarters {
  @extend %container;
  width: 70%;
}

.full-width {
  @extend %container;
  width: 100% - ($gutter*2);
}

.three-eigths {
  @extend %container;
  width: 24%;
}


.five-eigths {
  @extend %container;
  width: 66%;
}


%container {
  float:left;
  margin: 0 $gutter 1em $gutter;
  @media (max-width: 640px){
    width: 92%;
    margin: 0 4% 1.5em 4%;
  }
}



/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
  background: $black;
  color: $white;
  &__wrapper {
    @extend .page-wrapper;
    margin: 0 auto;
    padding: .5em;
    overflow: auto;
  }
  &__logo {
    float: left;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
    margin-left: $gutter;
    img {
      margin-top: -3px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
    }
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #FFF;
      margin-bottom: -1px;
      color: #FFF;
    }
  }
  &__title {
    @extend %h4;
    clear: none;
    overflow: hidden;
    text-align: right;
    margin: .25em $gutter 0 0;
    display: block;
    @media (max-width: 640px){
      display: none;
    }
  }
  a:focus {
    background: none;
  }
}

.proposition {
  float: left;
  overflow: auto;
  margin-left: 180px;
  &__title {
    float: left;
    font-size: 24px;
    display: block;
    margin: 4px 0 2px 0;
  }
}
.proposition-nav {
  list-style: none;
  clear: left;
  &__item {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0 1em 4px 0;
  }
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 640px){
  .proposition {
    width: 100%;
    margin: .5em 0 .25em 5%;
  }
  .proposition__title {
    display: none;
  }
  .proposition-nav {
    float: left;
    width: 100%;
    display: block;
    &__item {
      float: none;
      display: inline;
    }
  }
}

/* 4.2 User header
   ========================================================================== */

@import '_user-header';

.phase {
  @extend %paragraph--small;
  float: left;
  &__tag {
    background: $alpha-colour;
    color: $white;
    letter-spacing: .2em;
    font-weight: 700;
    font-size: .75em;
    text-transform: uppercase;
    padding: .4em .6em;
    margin-right: 1em;
    position: relative;
  }
  &__message {
    @media (max-width: 780px){
      display: none;
    }
  }
}

/* 4.3 Page header
   ========================================================================== */

.page-header {
  @extend .full-width;
  position: relative;
  margin-top: 3em;
  margin-bottom: 2.5em;
  @media (max-width: 640px){
    margin-top: 1em;
    margin-bottom: .5em;
  }
  &.two-thirds {
    @extend .two-thirds;
    border-bottom: 1px solid $grey-2;
    margin-top: 3em;
    padding-bottom: 2em;
  }
  h1 {
    max-width: 540px;
  }
  &__subtitle {
    color: $grey-1;
    font-weight: 400;
  }
  &__text  {
    margin: 30px 0 0 0;
    max-width: 600px;
    width: 100%;
  }

  &__actions {
    position: absolute;
    right: 0;
    bottom:9px;
    list-style: none;
    width: 30%;
    @media (max-width: 640px){
      position: relative;
      float: left;
      top: 0;
      margin: 1em 0;
      width: 100%;
    }
  }
  &__action {
    @extend %h4;
    text-decoration: none;
    font-weight: 600;
  }
}

/* ==========================================================================
   5. Global footer
   ========================================================================== */

.global-footer {
  border-top: 1px solid $grey-2;
  background: $grey-3;
  color: #454a4c;
  clear: both;
  margin-top: 1.5em;
  a {
    color: #454a4c;
  }
  &__wrapper {
    @extend .page-wrapper;
    padding: 2em 0 0 0;
  }
  &__links {
    @extend .two-thirds;
    padding-top: 7em;
    list-style: none;
    @media (max-width: 640px){
      padding: 0 5% 1.5em 5%;
    }
  }
  &__link {
    float: left;
    margin-right: $gutter-half;
    @media (max-width: 640px){
      display: block;
      text-align: center;
      width: 90%;
    }
  }
  &__copyright {
    @extend .one-third;
    height: 150px;
    float: right;
    display: block;
    background: url('#{$assetPath}/footer-crest.png') no-repeat 50% 0 ;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/footer-crest-2x.png') no-repeat 50% 0;
      background-size: 125px 102px;
    }
    a {
      text-align: center;
      display: block;
      padding-top: 7em;
    }
  }
}


/* ==========================================================================
   6. Forms
   ========================================================================== */

@import '_forms';


/* 6.1 GDS checkboxes
   ========================================================================== */

.checkbox {
  &.inline label {
    clear: none;
  }
  label {
    background: $grey-3;
    padding: 14px 17px 14px 17px;
    float: left;
    clear: both;
    &:hover {
      background: $grey-2;
      cursor: pointer;
    }
    &.selected {
      background: #FFF;
      border: 1px solid $black;
      padding: 13px 16px 13px 16px;
    }
    &.disabled {
      cursor: default;
    }
    &.disabled:hover {
      background: $grey-3;
    }
    &.selected.disabled:hover {
      background: $white;
    }

  }
  input:focus {
    border: none;
    outline: none;
  }
  .hint {
    float: left;
  }
}


/* ==========================================================================
   7. Navigation
   ========================================================================== */

@import '_navigation';

.list-navigation {
  list-style: none;
  margin-bottom: 40px;
  &__item {
    @extend %paragraph--large;
    margin-bottom: 5px;
  }
}

/* 7.1 Breadcrumb
   ========================================================================== */

@import '_breadcrumb';

/* 7.2 Overview nav
   ========================================================================== */

.overview-navigation {
  list-style: none;
  margin: -32px 0 2em 0;
}


.disabled .overflow-item:hover {
  background: none;
}

.overview-item {
  border-bottom: 1px solid $grey-2;
  overflow: auto;
  &__link {
    width: 96%;
    padding: .8em 2% 0 2%;
    color: $black;
    text-decoration: none;
    float: left;
    display: block;
    .disabled &  {
      color: $grey-1;
    }
    &:hover {
      background: $grey-3;
      color: $black;
      .disabled &  {
        background: none;
        color: $grey-1;
      }
    }

  }
  h4 {
    float: left;
    width: 40%;
  }
  p {
    @extend %paragraph--small;
    float: right;
    clear: none;
    text-decoration: underline;
    color: $link-colour;
    @media (max-width: 640px){
      font-size: 14px;
    }
  }
  .status {
    float: left;
    margin-top: 2px;
  }
  @media (max-width: 640px){
    .status { display: none; }
  }
}



/* 7.3 Horizontal navigation
   ========================================================================== */

@import '_horizontal-nav';

/* 7.4 Vertical navigation
   ========================================================================== */

@import '_vertical-nav';

/* 7.5 Pagination
   ========================================================================== */

@import '_pagination';

/* 7.6 Results settings
   ========================================================================== */

@import '_results-settings';

/* 7.7 Filters
   ========================================================================== */

@import '_filters';


/* ==========================================================================
   8. Tables
   ========================================================================== */

@import '_tables';

td {
  vertical-align: middle;
}

/* ==========================================================================
   9. Actions & buttons
   ========================================================================== */

@import '_actions-buttons';

.action--tertiary.list {
  display: block;
  font-size: 19px;
  margin: 40px 0 -30px 0;
  padding: 0;
}


/* ==========================================================================
   10. Modals & messaging
   ========================================================================== */

@import '_modals-messaging';

.modal .hint {
  @extend %paragraph--small;
}


/* ==========================================================================
   11. Read only lists
   ========================================================================== */

@import '_read-only';

.review {
  background: #FFF;
  body {
    background: #FFF;
    margin: 0 auto;
    max-width: 860px;
  }
}

.review-section {
  border-top: 5px solid $black;
  padding-top: 20px;
  margin-top: 20px;
  float: left;
  width: 100%;
  h2 {
    margin-bottom: 40px;
  }
  p {
    @extend %paragraph--small;
    max-width: 700px;
    margin-bottom: .6em;
  }
}

.definition-list__item {
  width: 100%;
  li {
    max-width: 700px;
    margin-bottom: .6em;
  }
}

dl {
  border-top: 1px solid $grey-2;
  overflow: auto;
}

dt, dd {
  float: left;
  margin: 0;
  padding: .5em 0;
}

dt {
  width: 47.5%;
  font-weight: 400;
}

dd {
  width: 47.5%;
  font-weight: 700;
}



/* ==========================================================================
   12. Status
   ========================================================================== */

@import '_statuses';


/* ==========================================================================
   13. Right hand column
   ========================================================================== */

.sidebar {
  border-top: 6px solid $primaryColour;
}

.meta {
  border: none;
  margin: 1em 0;
  padding-bottom: 1em;
  border-bottom: 1px solid $grey-2;
  dt, dd {
    border: none;
    display: block;
    width: 100%;
    padding: 0;
  }
  dd {
    @extend %h4;
    padding: 0 0 .5em 0;
  }
}

.links {
  padding: 1em 0 2em 0;
}

.support {
  border-top: 1px solid $grey-2;
  padding-top: 1em;
  float: left;
  p {
    @extend %paragraph--small;
  }
}

.links-list {
  margin-top: 1.25em;
  list-style: none;
  &__item {
    margin-bottom: .5em;
  }
}


/* ==========================================================================
   14. Empty state
   ========================================================================== */

@import '_empty-state';


/* ==========================================================================
   15. Confirmation
   ========================================================================== */

.confirmation {
  color: #FFF;
  background: $turquoise;
  text-align: center;
  padding: 3em 1em;
  margin-bottom: 3em;
  p {
    @extend %paragraph--large;
  }
}


/* ==========================================================================
   16. Guidance & help
   ========================================================================== */

@import '_guidance';


/* ==========================================================================
   17. Modals
   ========================================================================== */


@import '_modals';

.modal {
  &__close {
    background: url('../images/selfserve-close.png') no-repeat 10px 5px;
    @include device-pixel-ratio($ratio: 2) {
      background: url('../images/selfserve-close-2x.png') no-repeat 10px 0;
      background-size: 38px 38px;
    }
    height: 38px;
    width: 38px;
  }
}
