/**
 *
 *  OLCS - Selfserve application SCSS
 *  @version: 1.0
 *  @author: sam.quayle@valtech.co.uk, Valtech Ltd
 *
 *  1. Base styles
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions & buttons
 * 10. Modals & messaging
 *
 **/

$app: selfserve;
$assetPath : "../images/";

/* ==========================================================================
   1. Base styles
   ========================================================================== */

 @import 
'vendor/govuk_toolkit/_device-pixels',
'vendor/govuk_toolkit/_measurements', 
'vendor/govuk_toolkit/_css3',
'vendor/govuk_toolkit/_colours',
'vendor/govuk_toolkit/_typography',
'vendor/govuk_toolkit/design-patterns/_buttons',
'_fonts',
'_base-styles';

$primaryColour: $alpha-colour;

/* 1.1 Links
   ========================================================================== */

@import '_links';

/* ==========================================================================
   2. Typography
   ========================================================================== */

@import '_typography';


/* ==========================================================================
   3. Layout
   ========================================================================== */

@import '_layout';


/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
    background: $black;
    color: $white;
    &__wrapper {
        @extend %wrapper;
        padding: .5em 0;
        overflow: auto;
    }
    &__logo {
        float: left;
        margin-left: 2.5%;
        padding: 6px 0 1px 0;
        overflow: visible;
        color: white;
        font-weight: 700;
        font-size: 30px;
        line-height: 1;
        text-decoration: none;  
        img {
            margin-top: -2px;
            width: 35px;
            height: 31px;
            padding-right: 6px;
            float: left;
        }
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #FFF;
            margin-bottom: -1px;
            color: #FFF;
        }
    }
    &__title {
        @extend %h4;
        clear: none;
        margin-right: 2.5%;
        overflow: hidden;
        text-align: right;
        margin-top: .25em;
        display: block;
        @media (max-width: 640px){
            display: none;
        }
    }
    &__phase-tag {
        background: $alpha-colour;
        width: auto;
        margin-left: $gutter-half;
        letter-spacing: .2em;
        font-weight: 700;
        font-size: .75em;
        text-transform: uppercase;
        padding: .5em;
        position: relative;
    }
}

/* 4.2 Page header
   ========================================================================== */

.page-header {
    @extend .full-width;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $grey-2;
    padding-bottom: .5em;
}

.page-header__subtitle {
    color: $grey-1;
    font-weight: 400;
}


/* ==========================================================================
   5. Global footer
   ========================================================================== */

.global-footer {
    border-top: 1px solid $grey-2;
    background: $grey-3;
    color: #454a4c;
    clear: both;
    a {
        color: #454a4c;
    }
    &__wrapper {
        @extend %wrapper;
        padding: 2em 0 0 0;
    }
    &__links {
        @extend .two-thirds;
        padding-top: 7em;
        list-style: none;
        @media (max-width: 640px){
            padding: 0 5% 1.5em 5%;
        }

    }
    &__link {
        float: left;
        margin-right: $gutter-half;
        @media (max-width: 640px){
            display: block;
            text-align: center; 
            width: 90%;
        }

    }
    &__copyright {
        @extend .one-third;
        height: 150px;  
        float: right;
        display: block;
        background: url('#{$assetPath}/footer-crest.png') no-repeat 50% 0 ;
        @include device-pixel-ratio($ratio: 2) {
            background: url('#{$assetPath}/footer-crest-2x.png') no-repeat 50% 0;
            background-size: 125px 102px;
        }
        a {
            text-align: center;
            display: block;
            padding-top: 7em;
        }
    }

}


/* ==========================================================================
   6. Forms
   ========================================================================== */

@import '_forms';


/* ==========================================================================
   7. Navigation
   ========================================================================== */

@import '_navigation';

/* 7.1 Breadcrumb
   ========================================================================== */

@import '_breadcrumb';

/* 7.2 Application nav
   ========================================================================== */

$breakpoint: 840px;
$statuses: (complete 10px 6px, incomplete -588px -596px, current -188px -194px);

.items-5 .app-navigation__item {
    width: (100% - (5 * 2))/5;
}

.items-7 .app-navigation__item {
    width: (100% - (7 * 2))/7;
}

.items-8 .app-navigation__item {
    width: (100% - (8 * 2))/8;
}

.app-navigation {
    @extend %navigation;
    border-top: 1px dotted $grey-2;
    overflow: visible;
    margin-top: 2em;
    &__item {
        @extend %navigation__item;
        text-align: center;
        margin: -2em 1% 1.5em 1%;   
        background: url('#{$assetPath}/application-navigation.png') no-repeat 50% -383px;
        @include device-pixel-ratio($ratio: 2) {
            background: url('#{$assetPath}/application-navigation-2x.png') no-repeat 50% -390px;
            background-size: 50px 657px;
        }

    }
    a, .current, .disabled {
        line-height: 1.2;
        display: block;
        padding-top: 3.75em;
    }
    .current {
        font-weight: 700;
    }
    @each $status in $statuses {
        .#{nth($status, 1)} {
            background-position: 50% nth($status, 2);
            @include device-pixel-ratio($ratio: 2) {
                background-position: 50% nth($status, 3);
            }
        }
    }
    @media (max-width: $breakpoint) {
        border-top: none;
        margin: 0;
        &__item {
            background: none;
            padding: 0;
            margin: 0;
            width: 100% !important;
            text-align: left;
        }
        a, .current, .disabled {
            padding: .5em 0;
            border-bottom: 1px solid $grey-2;
        }
        .current {
            border-bottom: 3px solid $black;
        }
    }
}

/* 7.3 Horizontal navigation
   ========================================================================== */

@import '_horizontal-nav';

/* 7.4 Vertical navigation
   ========================================================================== */

@import '_vertical-nav';

/* 7.5 Pagination
   ========================================================================== */

@import '_pagination';

/* 7.6 Results settings
   ========================================================================== */

@import '_results-settings';

/* 7.7 Filters
   ========================================================================== */

@import '_filters';


/* ==========================================================================
   8. Tables
   ========================================================================== */

@import '_tables';


/* ==========================================================================
   9. Actions & buttons
   ========================================================================== */

@import '_actions-buttons';


/* ==========================================================================
   10. Modals & messaging
   ========================================================================== */

@import '_modals-messaging';
