/* 11.1 Summary lists
   ========================================================================== */

.summary {
	margin-bottom: 1.5em;
	&__list {
		list-style: none;
		overflow: auto;
	}

	&__item {
		float: left;
		width: 23.125%;
		margin: 0 1.5% .75em 0;
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		b { 
			display: block; 
		}
	}
}

/* Case summary */

.case-summary {
	@include border-radius(3px);
	@extend %paragraph--small;
	border: 3px solid $grey-2;
	overflow: hidden;
	margin: -1.8em 0 1.5em 0;
	@media (max-width: 640px) {
		display: none;
	}
	&__header {
		width: 97%;
		background: $grey-3;
		padding: .5em 1.5%;
		border-bottom: 1px solid $grey-2;
		overflow: auto;
		h5 { 
			float: left; 
		}
	}
	&__list {
		list-style: none;
		padding: .75em 0 0 1.5%;
		overflow: auto;
	}
}

