// These styles currently not being used by the 
// application, but they may be needed in the future. 


/*  Accordion
   ========================================================================== */

// <h3>Accordion</h3>
// <ul class="accordion">
// 	<li class="accordion__item">
// 		<h4><a href="">This is a section title</a></h4>
// 		<p>This is a helpful description about the sections</p>
// 		<a class="accordion__item__action" href="">Edit</a>
// 	</li>
// 	<li class="accordion__item">
// 		<h4><a href="">This is another section title</a></h4>
// 		<p>This is a helpful description about the sections</p>
// 		<a class="accordion__item__action" href="">Edit</a>
// 	</li>                    	
// 	<li class="accordion__item">
// 		<h4><a href="">This is another section title</a></h4>
// 		<p>This is a helpful description about the sections</p>
// 		<a class="accordion__item__action" href="">Edit</a>
// 	</li>
// </ul>

.accordion {
	@extend %navigation;
	margin-bottom: 1.5em;
	p {
		@extend %paragraph--small;
		margin-bottom: 0;
	}
	&__item {
		position: relative;
		overflow: auto;
		padding: .75em 1em;
		margin-bottom: 0;
		border-bottom: 1px solid $summary-border;
		background: $summary-background;
	}
	&__item__action {
		@extend %paragraph--small;
		position: absolute;
		right: 1em;
		top: .75em;	
	}
}


/* Tabs
   ========================================================================== */

// <h3>Tabbed navigation</h3>
// <ul class="tabs" role="navigation" >
// 	<li class="tabs__item"><a href="">Item one</a></li>
// 	<li class="tabs__item current">Item two</li>
// 	<li class="tabs__item"><a href="">Item three</a></li>
// 	<li class="tabs__item"><a href="">Item four</a></li>
// 	<li class="tabs__item"><a href="">Item five</a></li>
// 	<li class="tabs__item"><a href="">Item six</a></li>
// 	<li class="tabs__item"><a href="">Item seven</a></li>
// </ul>
// <div class="tabs__content">
// 	<p>This is the content, switchable by the tabs</p>
// </div>

.tabs {
	@extend %navigation;
	&__item {
		@extend %navigation__item;
	}
	&__content {
		border-top: 1px solid $grey-2;
		padding: 1em 0;
		margin-top: -1px;
	}
	a {
		@extend %navigation__link;
	}
	.current {
		@extend %navigation__link;	
		border: 1px solid $grey-2;
		border-bottom-color: $white;
		font-weight: 600;
		@media(max-width: 640px) {
			border: none;
			border-bottom: 3px solid $black;
		}	
		&:hover {
			background: none;
			color: $black;
		}
	}
}