/**
 *
 *  OPERATOR LICENCE & COMPLIANCE SYSTEM
 *  @version: 1.0
 *  @author: Valtech Ltd
 *  
 *  1. Base styles & resets
 *  2. Typography
 *  3. Layout
 *  4. Headers
 *  5. Global footer
 *  6. Forms
 *  7. Navigation
 *  8. Tables
 *  9. Actions
 * 10. Modals & alerts
 * 11. Compliance 
 *
 **/


@import 
'../govuk_toolkit/stylesheets/_device-pixels',
'../govuk_toolkit/stylesheets/_measurements', 
'../govuk_toolkit/stylesheets/_css3',
'../govuk_toolkit/stylesheets/_colours',
'../govuk_toolkit/stylesheets/_typography',
'../govuk_toolkit/stylesheets/design-patterns/_buttons';

@import '_fonts';

$summary-border: #cdd7dc;
$summary-background: #e6eff5;

/* ==========================================================================
   1. Base styles & resets
   ========================================================================== */

html {
    background: $grey-3;
    font-size: 100%; 
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    margin: 0;
    background: #FFF;
    font-size: 100%;
    font-family: $NTA-Light;
    font-weight: 400;
    color: $black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.31579;
    text-transform: none;
    vertical-align: baseline;
}

pre {
    overflow: auto;
}

menu, ol, ul {
    padding: 0;
    margin: 0;
}

ul {
    list-style: circle;
    list-style-position: inside;
    h1, h2, h3, h4, h5 {
        display: inline;
    }
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}

dt {
    font-weight: 700;
}

dd {
    margin: 0 0 1em 0;
    float: left;
    width: 30%;
}

/* 1.1 Links
   ========================================================================== */

a { color: $link-colour; }

a:focus { outline: thin dotted; }

a:active,
a:hover { 
    color: $link-active-colour;
    outline: 0; 
    text-decoration: none;
}

.disabled,
.disabled a {
    text-decoration: none;
    color: $grey-1;
}


/* ==========================================================================
   2. Typography
   ========================================================================== */

@mixin font-size($font-size, $print-font-size, $font-size-640) {
    @if $is-print == false {
        font-size: $font-size;
    } @else {
        font-size: $print-font-size;
    }
    @media (max-width: 640px) {
        font-size: $font-size-640;
    }
}

%h2 { 
    @include font-size(36px,18pt,24px); 

}

%h3 { @include font-size(24px,16pt,20px); }

%h4 { 
    @include font-size(19px,14pt,16px); 
    margin: 0;
}

%paragraph--large {
    @include font-size(19px,14pt,16px);
    font-weight: 400;
}

%paragraph--small { 
    @include font-size(16px,12pt,14px);
}

h1, h2, h3, h4, h5, p {
    clear: both;
    margin: 0 0 $gutter-one-quarter 0;
    font-weight: 700;
}

h1 { 
    @include font-size(42px,18pt,32px);
    margin: 0;
}

h2 { @extend %h2; }

h3 { @extend %h3; }

h4 { 
    @extend %h4; 
    margin-bottom: 0;
}

h5 { 
    @extend %paragraph--small;
    margin-bottom: 0;
}

p { 
    @extend %paragraph--small;
    font-weight: 400;
}

b, strong { font-weight: 700; }

small { font-size: 80%; }

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
}

.hint {
    display: block;
    color: $grey-1;
    margin: .5em 0 .75em 0;
    width: 90%;
}

.highlight-box {
    background: $grey-4;
    margin: 0 0 1.5em -1em;
    padding: 1em 0 .5em 1em;
    border-left: 3px solid $grey-3;
    .field.inline {
        margin-bottom: 1em;
    }
}

.close {
    background: url('../images/close.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
        background: url('../images/close-2x.png') no-repeat 0 0;
        background-size: 60px 22px;
    }
    text-indent: -9999px;
    height: 22px;
    width: 22px;
    &:hover {
        background-position: -39px 0;
    }
}

input[type="submit"].remove {
    @extend .close;
}

/* 2.1 Article styles
   ========================================================================== */

.article {
    h2 { margin-bottom: .25em;}
    h3,h4 { margin-bottom: .5em; }
    ul { 
        @extend %paragraph--large; 
        margin-bottom: 1em;
    }
    li {
        margin-bottom: 0.25em;
    }
    p { 
        @extend %paragraph--large;
        margin-bottom: .75em; 
    }
}

/* ==========================================================================
   3. Layout
   ========================================================================== */

%external-wrapper {
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

%internal-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.one-third {
    @extend %container;
    width: 28.3333333333%;
    width : 27.4%\9; /* lt IE9  */
    p {
        @extend %paragraph--small;
    }
}

.one-quarter { 
    @extend %container;
    width: 20%;
}

.one-half {
    @extend %container;
    width: 45%;
}

.two-thirds {
    @extend %container;
    width: 61.6666666667%;
}

.three-quarters { 
    @extend %container;
    width: 70%; 
}

.full-width {
    @extend %container;
    width: 95%;
}

/* Internal widescreen layout */

.one-fifth {
    @extend %container;
    width: 15.5%;
    margin-right: .5em !important;
}

.four-fifths {
    @extend %container;
    width: 78%;
    margin-left: .5em !important;
}

%container {
    float:left;
    margin: 0 2.5% 1.5em 2.5%;
    @media (max-width: 640px){
        width: 92%;
        margin: 0 4% 1.5em 4%;
    }
}

.page-wrapper {
    @extend %external-wrapper;
    width: 100%;
    position:relative;
    clear:both;
    overflow: hidden;
    .internal & {
        @extend %internal-wrapper;
    }
}

#main {
    width: 100%;
    min-height: 400px;
    &:focus {
        outline: 0;
    }
}

hr {
    width: 100%;
    height: 0.25em;
    display: block;
    border: 0;
}

/* Helpers */

.visually-hidden {
    position: absolute;
    left: -9999em;
}

.right-aligned {
    float: right;
}

.inline {
    float: left;
    margin-right: .5em;
}

/* ==========================================================================
   4. Headers
   ========================================================================== */

/* 4.1 Global header
   ========================================================================== */

.global-header {
    background: $black;
    color: $white;
    &__wrapper {
        @extend %external-wrapper;
        padding: .5em 0;
        overflow: auto;
        .internal & {
            @extend %internal-wrapper;
        }
    }
    &__logo {
        clear: none;
        float: left;
        margin-left: 2.5%;
        padding: 6px 0 1px 0;
        overflow: visible;
        color: white;
        font-family: $NTA-Light;
        font-weight: bold;
        font-size: 30px;
        line-height: 1;
        text-decoration: none;  
        img {
            margin-top: -2px;
            width: 35px;
            height: 31px;
            padding-right: 6px;
            float: left;
        }
        &:hover {
            text-decoration: none;
            border-bottom: 1px solid #FFF;
            margin-bottom: -1px;
            color: #FFF;
        }
    }
    &__title {
        @extend %h4;
        clear: none;
        margin-right: 2.5%;
        overflow: hidden;
        text-align: right;
        margin-top: .25em;
        display: block;
        @media (max-width: 640px){
            display: none;
        }
    }
    &__phase-tag {
        background: $alpha-colour;
        width: auto;
        margin-left: $gutter-half;
        letter-spacing: .2em;
        font-weight: 700;
        font-size: .75em;
        text-transform: uppercase;
        padding: .5em;
        position: relative;
    }
}

/* 4.2 Page header
   ========================================================================== */

.page-header {
    @extend .full-width;
    margin-bottom: 1.5em;
    border-bottom: 1px solid $grey-2;
    padding-bottom: .5em;
}

.page-header__subtitle {
    color: $grey-1;
    font-weight: 400;
}


/* ==========================================================================
   5. Global footer
   ========================================================================== */

.global-footer {
    border-top: 1px solid $grey-2;
    background: $grey-3;
    color: #454a4c;
    clear: both;
    a {
        color: #454a4c;
    }
    &__wrapper {
        @extend %external-wrapper;
        padding: 2em 0 0 0;
        .internal & {
            @extend %internal-wrapper;
        }
    }
    &__links {
        @extend .two-thirds;
        padding-top: 7em;
        list-style: none;
    }
    &__link {
        float: left;
        margin-right: $gutter-half;
    }
    &__copyright {
        @extend .one-third;
        height: 150px;  
        float: right;
        display: block;
        background: url('../images/footer-crest.png') no-repeat 50% 0 ;
        @include device-pixel-ratio($ratio: 2) {
            background: url('../images/footer-crest-2x.png') no-repeat 50% 0;
            background-size: 125px 102px;
        }
        a {
            text-align: center;
            display: block;
            padding-top: 7em;
        }
    }
    @media (max-width: 640px){
        &__links {
            text-align: center; 
            padding: 0 0 1.5em 0;
        }
    }
}

/* ==========================================================================
   6. Forms
   ========================================================================== */

/* 6.1 Resets
   ========================================================================== */

$warning-background: #fef7f7;

button,
select {
    text-transform: none;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* 6.2 Wrapper elements
   ========================================================================== */

form {
    margin: 0 0 2em 0;
    width: 100%;
}

fieldset {
    margin: 0 0 1em 0;
    padding: 0;
    border: 0;
    clear: both;
    width: 100%;
    fieldset .field & {
        margin-bottom: 0;
    }
}

.field { 
    margin: 0 0 1em 0;
    @media (max-width: 640px) {
        margin-bottom: .5em;
    }
    &.inline {
        margin: 0 .5em 0 0;
    }

}

/* 6.2 Labelling
   ========================================================================== */

legend {
    @extend %h3;
    *margin-left: -7px;
    margin: .20em 0;
    padding: 0;
    color: black;
    font-weight: 700;
    display: block;
    .highlight-box & {
        float: left;
        width: 100%;
    }
}

label {
    @extend %paragraph--large;
    display: block;
    margin: 0 .5em .25em 0;
    .inline & {
        @extend %paragraph--small;
        display: inline;
        margin: 0 .25em 0 0;
    }
}

/* Styling for nested fieldsets */

fieldset fieldset legend {
    @extend %paragraph--large;
}

fieldset fieldset label {
    @extend %paragraph--small;
}

/* 6.3 Inputs
   ========================================================================== */

input,
textarea {
    padding: .5em 1.5%;
    background-color: #f9f9f9;
    border: 1px solid #A2A2A2;
    max-width: 500px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
    margin-right: 0.25em;
    border: none;
}

input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
    color: $link-colour;
}

textarea {
    min-height: 10em;
    padding-top: .5em;
    overflow: auto;
    vertical-align: top;
}

select {
    margin-right: .25em;
}

select[multiple] {
    min-width: $one-third;
}

input:focus,
textarea:focus,
select:focus {
  outline: 3px solid #ffbf47; 
}

.extra-long { width: 97%; }

.long { width: $two-thirds; }

.medium { width: $half; }

.short { 
    width: $one-quarter; 
    width: 140px;
    @media (max-width: 640px){
        width: $half;
    }
}

@media (max-width: 640px){
    .extra-long,
    .long,
    .medium {
        width: 97%;
    }
}

/* 6.3 File uplaod
   ========================================================================== */

.file-upload {
    width: 100%;
    input[type="submit"] {
        float: right;
    }
    .field {
        width: 95%;
        background: $grey-4;
        padding: 1em;
        overflow: auto;
        margin-bottom: .25em;
    }
    p {
        font-weight: 700;
        margin: 0;
        width: 75%;
        float: left;
    }
    span {
        color: $grey-1;
        font-weight: 400;
    }
}

input[type="file"] {
    width: 75%;
    border: 0;
    background: none;
    padding: 0;
    margin-top: .25em;
}

/* 6.5 Validation
   ========================================================================== */

%validation-box {
    padding: 1em 1em 0 1em;
    margin: 0 0 1em -1em;
    overflow: hidden;
    background: $warning-background;
    @media (max-width: 640px){
        margin-left: -1em;
        margin-right: -1em;
    }
}

.validation-summary {
    @extend %validation-box;
    border: 3px solid $mellow-red;
    &__list {
        margin: 0 0 1em 1.5em;
    }
    &__item {
        color: $mellow-red;
        margin: 0 0 0.25em 0;
        a {
            color: $mellow-red;
        }
    }
}

.validation-wrapper {
    @extend %validation-box;
    border-left: 3px solid $mellow-red;
    ul {
        list-style: none;
    }
    li {
        @extend %paragraph--small;
        display: block;
        margin-bottom: .5em;
        color: $mellow-red;
    }
}


/* ==========================================================================
   7. Navigation
   ========================================================================== */

%navigation {
    list-style: none;
    width: 100%;
    overflow: auto;
}

%navigation__item {
    float: left;
    margin-bottom: 0;
    @media(max-width: 640px) {
        width: 100%;
    }
}

%navigation__link {
    display: block;
    position: relative;
    padding: .5em 1em .4em 1em;
    @media(max-width: 640px) {
        border-bottom: 1px solid $grey-2;
        padding: .5em 0;
    }   
    &:hover {
        background: $grey-4;
    }
}

/* 7.1 Global breadcrumbs
   ========================================================================== */

.global-breadcrumbs {
    @extend .full-width;
    @extend %paragraph--small;
    margin-bottom: 0;
    border-top: 10px solid $alpha-colour;
    padding: .75em 0;
    overflow: auto;
    list-style: none;
    &__item {
        float: left;
        padding-right: 1em;
        margin-right: .5em;
        color: $black;
        background: url('../images/breadcrumb-arrow.png') no-repeat 100% 70%;
        @include device-pixel-ratio($ratio: 2) {
            background: url('../images/breadcrumb-arrow-2x.png') no-repeat 100% 40%;
            background-size: 6px 11px;
        }
    }
    a {
        color: $black;
    }
    .current {
        background: none;
    }
}

/* 7.2 Application
   ========================================================================== */

$breakpoint: 840px;
$statuses: (complete 10px 6px, incomplete -588px -596px, current -188px -194px);

    // R-E-F-A-C-T-O-R

    .items-8 .app-navigation__item {
        $navigation-items: 8;
        width: (100% - ($navigation-items * 2))/$navigation-items;
    }

    .items-7 .app-navigation__item {
        $navigation-items: 7;
        width: (100% - ($navigation-items * 2))/$navigation-items;
    }

    .items-5 .app-navigation__item {
        $navigation-items: 5;
        width: (100% - ($navigation-items * 2))/$navigation-items;
    }

    // R-E-F-A-C-T-O-R

.app-navigation {
    @extend %navigation;
    border-top: 1px dotted $grey-2;
    overflow: visible;
    margin-top: 2em;
    &__item {
        @extend %navigation__item;
        text-align: center;
        margin: -2em 1% 1.5em 1%;   
        background: url('../images/application-navigation.png') no-repeat 50% -383px;
        @include device-pixel-ratio($ratio: 2) {
            background: url('../images/application-navigation-2x.png') no-repeat 50% -390px;
            background-size: 50px 657px;
        }

    }
    a, .current, .disabled {
        line-height: 1.2;
        display: block;
        padding-top: 3.75em;
    }
    .current {
        font-weight: 700;
    }
    @each $status in $statuses {
        .#{nth($status, 1)} {
            background-position: 50% nth($status, 2);
            @include device-pixel-ratio($ratio: 2) {
                background-position: 50% nth($status, 3);
            }
        }
    }
    @media (max-width: $breakpoint) {
        border-top: none;
        margin: 0;
        &__item {
            background: none;
            padding: 0;
            margin: 0;
            width: 100% !important;
            text-align: left;
        }
        a, .current, .disabled {
            padding: .5em 0;
            border-bottom: 1px solid $grey-2;
        }
        .current {
            border-bottom: 3px solid $black;
        }
    }
}



/* 7.3 Horizontal navigation
   ========================================================================== */

$breakpoint: 880px;

.horizontal-navigation {
    @extend %navigation;
    border-bottom: 1px solid $grey-3;
    &__item {
        @extend %navigation__item;
    }
    a {
        @extend %navigation__link;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background: none;
        }
    }
    .current {
        @extend %navigation__link;  
        border-bottom: 3px solid $alpha-colour;
        font-weight: 700;
        @media(max-width: $breakpoint) {
            border: none;
            border-bottom: 3px solid $alpha-colour;
        }   
        &:hover {
            background: none;
            color: $black;
        }
    }
    @media(max-width: $breakpoint) {
        border-bottom: none;
        &__item {
            width: 100%;
            border-bottom: 1px solid $grey-3;
        }
        a, .current {
            padding: .5em 0;
        }
    }
}

/* 7.4 Mega menu
   ========================================================================== */

$breakpoint: 640px;

.mega-menu {
    @extend %navigation;
    padding: 0 0 .5em 0;
    &__item {
        @extend %navigation__item;
        width: 23.5%;
        margin-right: 1.5%;
    }
    a {
        @extend %navigation__link;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-left: 0;
        border-bottom: 1px solid $grey-2;
        &:hover {
            background: none;
        }
    }
    .current {
        border-bottom: 3px solid $alpha-colour;
        font-weight: 700;
        padding: .5em 0 0.25em 0;
    }
    @media(max-width: $breakpoint) {
        &__item {
            width: 100%;
        }
    }
}

/* 7.5 Vertical navigation
   ========================================================================== */

.vertical-navigation {
    @extend %navigation;
    &__title {
        margin-bottom: 0;
    }
    a {
        @extend %navigation__link;
        padding: .5em 0;
        border-bottom: 1px solid $grey-2;   
    }
    .current, .disabled {

        padding: .5em 0 0.25em 0;
        a {
            border-bottom: none;
            padding-top: 0;
            &:hover {
                background: none;
            }
        }
    }
    .current {
        border-bottom: 3px solid $black;
        font-weight: 700;
    }
    .disabled {
        color: $grey-1;
        border-bottom: 1px solid $grey-2;
    }
}

/* 7.6 Pagination
   ========================================================================== */

.pagination {   
    &__item {
        @extend %paragraph--small;
        display: inline;
        margin: 0 5px;
    }
}

@media(max-width: 640px) {
    a[rel="Previous"],
    a[rel="Next"] {
        display: none;
    }
}

/* 7.7 Results settings
   ========================================================================== */

.results-settings {
    float: left;
    margin-bottom: 2em;
    &__list {
        list-style: none;
        float: left;
    }
    p, &__item {
        float: left;
        margin-right: .5em;
        clear: none;
    }
}

/* 7.8 Filters
   ========================================================================== */

.filters {
    &__list {
        list-style: none;
        margin: .25em 0 .5em 0;
    }
    &__title {
        font-weight: 700;
    }
    &__item {
        margin-bottom: .25em;
    }
    label {
        @extend %paragraph--small;
    }
}


/* ==========================================================================
   8. Tables
   ========================================================================== */

.table__header {
    display: block;
    width: 100%;
    overflow: hidden;
    h3 {
        float: left;
    }
    span {
        @extend %paragraph--large;
        font-weight: 400;
        color: $grey-1;
        padding-left: .4em;
    }
    .actions-container {
        float: right;
        margin: 0 -0.25em 0 0;
        select {
            margin: 3px 3px 0 0;
        }
    }
}

.table__wrapper {
    display: block;
    width: 100%;
    overflow: auto;
}

.table__footer {
    width: 100%;
    clear:right;
    overflow: auto;
}

table { 
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: .75em;
    input[type="checkbox"],
    input[type="radio"] {
        margin-right: 0;
    }
}

tr:nth-child(even) { 
    background: $grey-4; 
}

td, th { 
    @extend %paragraph--small;
    padding: .5em .5em .4em .5em;
    border: 1px dotted $grey-2; 
    text-align: left; 
    vertical-align: top;
}

th { 
    font-weight: 600;
    background: $grey-3; 
    border: 1px solid $grey-2; 
}

td {
    overflow: visible;
    b { 
        display: block;
    }
}

tfoot {
    tr { 
        border: 1px solid $summary-border;
        background: $summary-background;
    }
    th, 
    td {    
        border: none;
        overflow: hidden;
        background: $summary-background;
    }
    th {
        text-align: right;
        background: $summary-background;
    }
}

.sortable {
    padding: 0;
    background: $grey-3 url('../images/down-arrow.png') no-repeat 95% 14px;
    @include device-pixel-ratio($ratio: 2) {
        background-image: url('../images/down-arrow-2x.png');
        background-size: 10px 130px;
    }
    a {
        display: block;
        padding: .5em .5em .4em .5em;
        color: $black;
        text-decoration: none;
        &:active {
            color: $grey-1;
        }
    }
    &:hover {
        background-color: #cccccc;
    }
    &.ascending {
        background: #cccccc url('../images/down-arrow.png') no-repeat 95% -108px;
        @include device-pixel-ratio($ratio: 2) {
            background-image: url('../images/down-arrow-2x.png');
            background-size: 10px 130px;
        }
    }
    &.descending {
        background-color: #cccccc;
    }
}

/* ==========================================================================
   9. Actions
   ========================================================================== */

/* Use these to wrap multiple actions */
.actions-container {
    padding-bottom: 2px;
    margin-bottom: 1em;
    float: left;
    a, input, button {
        margin-right: .25em !important;
    }
}

@mixin action-colour ($colour: $button-colour) {
    background: $colour;
    @include box-shadow(0 2px 0 darken($colour, 15%));
    @include ie-lte(8) {
        border-bottom: 2px solid darken($colour, 15%);
    }
    &:visited{
        background-color: $colour;
    }
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: darken($colour, 5%);
    }
    &:active {
        top: 2px;
        @include box-shadow(0 0 0 $colour);
    }
    &.disabled,
    &[disabled="disabled"],
    &[disabled] {
        @include opacity(.5);
        &:hover{
            cursor: default;
            background-color: $colour;
        }
        &:active {
            top: 0;
            @include box-shadow(0 2px 0 darken($colour, 15%));
            @include ie-lte(8) {
                border-bottom: 2px solid darken($colour, 15%);
            }
        }
    }
    @if lightness($colour) < 50% {
        color: $white;
        &:link,
        &:hover,
        &:focus,
        &:visited{
            color: $white;
        }
    } @else {
        color: $text-colour;
        &:link,
        &:hover,
        &:focus,
        &:visited{
            color: $text-colour;
        }
    }
}

%action-box {
    @include inline-block;
    @include border-radius(3px);
    @extend %paragraph--small;
    border: none;
    margin: 0;
    padding: .3em .5em .1em .5em;
    padding : .3em .5em .4em .5em\9;
    font-family: $NTA-Light;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    vertical-align: top;
    -webkit-appearance: none;
    cursor: pointer;
    &[rel="external"]:after {
        display: none;
        content: none;
        margin-left: 0;
        margin-right: 0;
    }
    @include ie-lte(8) {
        &[type="submit"],
        &[type="reset"],
        &[type="button"] {
            filter:chroma(color=#000000);
        }
        &[type=submit].button {
            filter: none;
        }
    }
}

input[type="submit"].action,
.action {
    &--primary {
        @include action-colour();
        @extend %action-box;
        &.large {
            @extend %paragraph--large;
        }
    }
    &--secondary, &--warning {
        @include action-colour($grey-3);
        @extend %action-box;
        &.large {
            @extend %paragraph--large;
        }
    }
    &--tertiary {
        padding: .25em;
        line-height: 2.3;
    }
    &--delete {
        @include action-colour($red);
        @extend %action-box;
        color: $white;
        &.large {
            @extend %paragraph--large;
        }
    }
}

.action--primary.large,
.action--secondary.large, 
.action--warning.large {
    @extend %paragraph--large;
    .article & {
        margin-top: 0.5em;
    }
}



/* ==========================================================================
   10. Modals, alerts & notices
   ========================================================================== */

%fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    @extend %fixed;
    @include opacity(.8);
    background: $black;
    z-index: 1;
}

%overlay-box {
    @include border-radius(3px);
    display: block;
    border: 3px solid $grey-2;
    background: $white;
    padding: 1em;
    overflow: hidden;
    position: relative;
    z-index: 2;
    @media (max-width:640px) {
        padding: .5em 1em 4.25em 1em;
    }
}

/* 10.1 Modals
   ========================================================================== */
.modal__wrapper {
    @extend %fixed;
    overflow: auto;
    z-index: 1;
}
.modal {
    @extend %overlay-box;
    position: absolute;
    left: 50%;
    margin: 5% 0 5% -320px;
    padding: 0 0 0 0;
    width: 640px;
    @media(max-width: 640px) {
        margin: 46px 0 5% 0;
        width: 100%;
        left: 0;
    }
    &__close {
        @extend .close;
        position: absolute;
        right: .75em;
        top: .6em;
    }
    /* Ajaxed content overides*/
    .page-header {
        background: $grey-3;
        margin: 0 0 1em 0; 
        padding: 0.6em 1em 0.4em;
    }
    h1 {
        @extend %h4;
    }
    .subtitle {
        @extend %paragraph--small;
    }
    form {
        overflow: auto;
        margin-bottom: 0;
        padding: 0 2.5% 1.5em 1px;
        width: 97.5%;
    }
    table {
        margin-bottom: 3.5em;
    }
    .actions-container {    
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2em;
        padding: 1em 2.5% 1.25em 2.5%;
        margin: 0;
        text-align: right;
        overflow: visible;
        width: 95%;
        border-top: 1px solid $grey-3;
        background: $grey-4;
    }
}

/* 10.2 Alerts
   ========================================================================== */
.alert__wrapper {
    z-index: 1;
    display: none;
}

.alert, .alert--warning  {
    @extend %overlay-box;
    margin: 20% auto;
    width: 40%;
    max-width: 360px;
    min-width: 260px;
    padding: 1em 1em 1.25em 1em;
    &__wrapper {
        @extend %fixed;
    }
    .actions-container {
        text-align: center;
        display: block;
        margin-bottom: 0;
        float: none;
    }
    p {
        @extend %paragraph--small;
        margin-bottom: 1em; 
    }
}

.alert--warning {
    background: $warning-background;
    border: 3px solid $mellow-red;
}


/* 10.3 Notices
   ========================================================================== */

.notice-container {
    margin-bottom: 1.5em;
    overflow: auto;
}

@mixin notice($background,$border,$color) {
    background: $background;
    border-left: 3px solid $border; 
    color: $color;
    a {
        color: $color;
    }
}

.notice {
    &--success {
        @include notice(#dff0d8,#d6e9c6,#3c763d);
    }
    &--info {
        @include notice(#d9edf7,#bce8f1,#31708f);
    }
    &--warning {
        @include notice(#fcf8e3,#faebcc,#8a6d3b);
    }
    &--danger {
        @include notice(#f2dede,#ebccd1,#a94442);
    }
}

.notice--success, .notice--info, .notice--warning, .notice--danger {
    padding: .5em;
    margin-bottom: .25em;
    p {
        @extend %paragraph--small;
        margin: 0;
        padding: 0;
    }
}

/* 10.4 Tooltips
   ========================================================================== */

.tooltip__parent {
    cursor: pointer;
    background: url('../images/tooltip-icon.png') no-repeat 97.5% 7px;
    @include device-pixel-ratio($ratio: 2) {
        background: url('../images/tooltip-icon-2x.png') no-repeat 97.5% 7px;
        background-size: 19px 170px;
    }
    .internal & {
        background-position: 50% 7px;
    }
    &:hover {
        color: $grey-1;
        background-position-y: -142px;
    }
}

.tooltip {
  display: none;
  position: fixed;
  opacity: 0.9; /* IE :after bug prevents using opacity mixin */
  @include border-radius(2px);
  max-width: 200px;
  padding: .75em;
  font-size: 0.9em;
  line-height: 1.2;
  color: white;
  background: $black;
  &.visible {
    display: block;
  }
  &:after {
    content:'';
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-top: 10px solid black;
    border-right: 9px solid transparent;
    left:35px;
    bottom:-9px;
  }
}


/* ==========================================================================
   11. Compliance
   ========================================================================== */

@import '_compliance';


/* ==========================================================================
   12. Read only
   ========================================================================== */


    // R-E-F-A-C-T-O-R

    $ro-margin-bottom: .5em;

    .read-only {
        height: 400px;
        width: 100%;
        background: $grey-4;
        border: 1px solid $grey-3;
        display: block;
        overflow: auto;
        padding: .25em 1.5em;
        margin-bottom: 1.5em;
        clear: both;
        * {
            color: $grey-1;
            font-family: arial, sans-serif;
            margin-bottom: 0;
        }
        h2 {
            border-bottom: 3px solid $grey-2;
            font-size: 26px;
            line-height: 2;
            margin-bottom: $ro-margin-bottom;
        }
        h3 {
            border-bottom: 1px solid $grey-2;
            font-size: 21px;
            line-height: 2;
            margin-bottom: $grey-2;
        }
        .field {
            margin-bottom: $grey-2;
        }
        input {
            border: none;
            padding: 0;
            margin-left: 2px;
            &[type="text"] {
                width: 100%;
            }
        }
        select {
            -webkit-appearance: none;
            border: none;
            border-radius: 0;
            background: none;
        }
        label {
            @extend %paragraph--small;
            font-weight: 700;
        }
        legend {
            @extend %paragraph--large;
            font-weight: 700;
            line-height: 1.5;       
        }
        fieldset {
            margin-bottom: $ro-margin-bottom;
        }
        fieldset fieldset label {
            font-weight: 400;
            font-size: 16px;
        }
        fieldset fieldset legend {
            font-weight: 600;
            font-size: 16px;
        }
        .hint {
            display: none;
        }
    }

    // R-E-F-A-C-T-O-R


/* ==========================================================================
   Error messages — REMOVE
   ========================================================================== */

dl, dt, dd {
    width: 100%;
}
