---
layout: base.hbs
asset: '../../../../'
user: operator
title: Licence overview
subtitle: Licence No. OB1352622
breadcrumbs:
  - link: licences.html
    label: Home
page-actions:
  - Create variation
  - Print licence
  - Surrender licence
overview-items:
  - name: Type of licence
    edit-link: Update licence type
  - name: Business details
    edit-link: Update business details
    open: true
  - name: Addresses
    edit-link: Update addresses
  - name: People
    edit-link: Update directors
  - name: Operating centres
    edit-link: Update operating centres
  - name: Financial evidence
    edit-link: Update financial evidence
  - name: Transport Managers
    edit-link: Update transport managers
  - name: Vehicles
    edit-link: Update vehicles
  - name: Safety information
    edit-link: Update safety information
  - name: Financial history
    edit-link: Update financial history
  - name: Licence history
    edit-link: Update licence history
  - name: Convictions & penalties
    edit-link: Update convictions & penalties
  - name: Review & declarations
    edit-link: Update declarations
---

<div class="row">

  <div class="two-thirds border">
    <ul class="overview-navigation">

    {{#each overview-items }}
      <li class="overview-item">
        <a href="transport-managers.html" class="overview-item__link">
          <h4>{{ name }}</h4>
          <p>{{ edit-link }}</p>
        </a>
      </li>
    {{/each }}

    </ul><!-- .overview-navigation -->

    <p>Application fee</p>
    <h2>£257.00</h2>
    <a href="" class="action--primary large disabled">Submit &amp; pay</a>
  </div><!-- .two-thirds -->


  <div class="one-third">
    
    <div class="sidebar">
  
      <dl class="meta">
        <dt>Start date</dt>
        <dd>12 January 2010</dd>
        <dt>Renewal date</dt>
        <dd>01 January 2015</dd>
        <dt>Status</dt>
        <dd>Valid</dd>
      </dl><!-- .meta -->
  
      <div class="links">
        <h3>Applying for a new licence</h3>
        <ul class="links-list">
          <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
          <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
          <li class="links-list__item"><a href="">Financial information</a></li>
          <li class="links-list__item"><a href="">A guide to operator fees</a></li>
          <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
        </ul>
      </div><!-- .links -->
      
    </div>

  </div>

</div>