---
title: Transport Manager prototype
---

<div class="row">
  
  <div class="two-thirds">
    <h3>Tasks</h3>
    <ul class="search-navigation">
      <li>
        <a class="search-navigation__item" href="change-tm/" target="_BLANK">Change Transport Managers</a>
        <p>As a licence holder you need to sign in, navigate to licence OB1352622, remove the current Transport Manager and add a new one.</p>
      </li>
      <li>
        <a class="search-navigation__item" href="provide-details/" target="_BLANK">Provide Transport Manager details</a>
        <p>As a Transport Manager you need to sign in, provide your details and submit your application using GOV.UK VERIFY.</p>
      </li>
      <li>
        <a class="search-navigation__item" href="approve/" target="_BLANK">Approve Transport Manager</a>
        <p>As a licence holder you need to sign in and check and approve the Transport Manager's details.</p>
      </li>
    </ul>
  </div><!-- .two-thirds -->

</div>