<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-GB" class="no-js not-ie8">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles/internal.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body class="internal">
    {{> internal_global-header }}
    <div class="page-header">
      <div class="page-header__wrapper">
          <ol class="global-breadcrumbs">
            <li class="global-breadcrumbs__item current"><a href="/styleguides/dist/internal/">Home</a></li>
          </ol>
          <h1>{{ title }}</h1>
          <h3 class="page-header__subtitle">{{ subtitle }}</h3>
      </div><!-- end .page-header__wrapper-->
    </div><!-- end .page-header-->
    <div class="page-wrapper">
      <div id="main" role="main">
        {{> body }}
      </div><!-- end .main -->
    </div><!-- end .page-wrapper-->
  </body>
</html>
