#tinymce {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.mce-tinymce.mce-container.mce-panel {
  border: 4px solid red !important;
}

.mce-panel {
  border: 1px solid red !important;
  background: #EEE;
  background: linear-gradient(#FCFCFC, #EEE);
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImN1c3RvbS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSw0REFBNEQ7RUFDNUQsZ0JBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsaUNBQWlDO0NBQ2xDOztBQUVEO0VBQ0UsaUNBQWlDO0VBQ2pDLGlCQUFpQjtFQU1qQiwyQ0FBMkM7Q0FDNUMiLCJmaWxlIjoiY3VzdG9tLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiN0aW55bWNlIHtcbiAgZm9udC1mYW1pbHk6ICdIZWx2ZXRpY2EgTmV1ZScsIEhlbHZldGljYSwgQXJpYWwsIHNhbnMtc2VyaWY7XG4gIGZvbnQtc2l6ZTogMTRweDtcbn1cblxuLm1jZS10aW55bWNlLm1jZS1jb250YWluZXIubWNlLXBhbmVsIHtcbiAgYm9yZGVyOiA0cHggc29saWQgcmVkICFpbXBvcnRhbnQ7XG59XG5cbi5tY2UtcGFuZWwge1xuICBib3JkZXI6IDFweCBzb2xpZCByZWQgIWltcG9ydGFudDtcbiAgYmFja2dyb3VuZDogI0VFRTtcbiAgYmFja2dyb3VuZDogLXdlYmtpdC1ncmFkaWVudChsaW5lYXIsIDAgMCwgMCBib3R0b20sIGZyb20oI0ZDRkNGQyksIHRvKCNFRUUpKTtcbiAgYmFja2dyb3VuZDogLXdlYmtpdC1saW5lYXItZ3JhZGllbnQoI0ZDRkNGQywgI0VFRSk7XG4gIGJhY2tncm91bmQ6IC1tb3otbGluZWFyLWdyYWRpZW50KCNGQ0ZDRkMsICNFRUUpO1xuICBiYWNrZ3JvdW5kOiAtbXMtbGluZWFyLWdyYWRpZW50KCNGQ0ZDRkMsICNFRUUpO1xuICBiYWNrZ3JvdW5kOiAtby1saW5lYXItZ3JhZGllbnQoI0ZDRkNGQywgI0VFRSk7XG4gIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgjRkNGQ0ZDLCAjRUVFKTtcbn1cbiJdfQ== */