---
title: Sign declarations
asset: '../../../../'
subtitle: Step 2
user: tm
page-actions:
  - Edit details
breadcrumbs:
  - link: transport-manager.html
    label: Edit details
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>You must now agree to and sign your declarations. You can either:</p>
      <ul>
        <li>do this online through GOV.UK Verify</li>
        <li>print out the declaration form, co-sign it with an owner or Director and return it to the <a href="">Central Licensing Office</a></li>
      </ul>
      <p>GOV.UK Verify can speed up the application process. To use it they must be a UK resident with a valid passport.</p>
      <hr />
    </div>

    <form action="">
      <fieldset>
        <legend>How would you like to sign the declaration?</legend>
      <fieldset>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="verify">use GOV.UK Verify</label>
          </div>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="post">Print, co-sign and return</label>
          </div>
        </fieldset>
      </fieldset>

      <div class="article js-verify">
        <h4>I confirm that:</h4>
        <ul>
          <li>I shall effectively and continuously manage the transport activities of the licence holder/applicant;</li>
          <li>I have a genuine link to the licence holder/applicant; and</li>
          <li>I am resident in the European Community.</li>
        </ul>
        <h4>I understand that my responsibilities include:</h4>
        <ul>
          <li>The making of arrangements to ensure that drivers comply with drivers’ hours and tachograph rules and with speed limits;</li>
          <li>The making of arrangements to ensure that the vehicles are maintained properly, including the inspection of vehicles at the appropriate time and the action taken to remedy defects found;</li>
          <li>The reporting and recording of vehicle defects by drivers;</li>
          <li>The method of compilation and the accuracy of all records, which must be kept for a period of not less than 15 months;</li>
          <li>The making of arrangements to ensure that the vehicle/s are not overloaded;</li>
          <li>Ensuring that authorised vehicles will be kept at the authorised o perating centre(s) when not in use;</li>
          <li>Where appropriate, notifying the relevant traffic commissioner (in writing) of all prosecutions and convictions concerning the operator, the drivers and me within 28 days of the court hearing;</li>
          <li>Notifying the relevant traffic commissioner of my resignation.</li>
        </ul>
        <hr />
        <div class="field confirm">
          <label>
            <input type="checkbox">
           I declare that the statements in this application are true and the supporting evidence is correct and understand that it’s an offence to make a false declaration. I agree to Vehicle Operator Licensing using my name, address and date of birth provided by GOV.UK Verify.
          </label>
        </div>
        <hr />
        <div class="actions-container">
          <a href="http://govuk-verify.herokuapp.com/intro?requestId=vehicle-operator-licensing" class="action--primary large" rel="external">Continue to GOV.UK Verify</a>
          <a href="index.html" class="action--tertiary large list">Edit details</a>
        </div>
      </div><!-- js-verify -->


      <div class="article js-print-sign">
        <ul class="steps">
          <li>
            <h4>1. Print</h4>
            <p>Print out <a href="">your details</a><br />
            Need to change something? <a href="">Edit your details</a>
            </p>
          </li>
          <li>
            <h4>2. Sign</h4>
            <p>Your details must be checked and co-signed by youself and an owner or Director of the organising applying for the licence. If you are an owner or Director, you may co-sign the application yourself.</a>
            </p>
          </li>
          <li>
            <h4>3. Post</h4>
            <p>Post the co-signed application, including any supporting documents to:</p>
            <p>Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li></p>
          </li>
        </ul>
        <div class="actions-container">
          <a href="submitted.html" class="action--primary large">Finish</a>
          <a href="details.html" class="action--secondary large">Back</a>
        </div>
      </div><!-- js-verify -->

    </form>


  </div><!-- .two-thirds -->

  <div class="one-third">
    <div class="sidebar">
      {{> _support}}
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


