---
title: Your details
asset: '../../../../'
subtitle: Step 1
user: tm
page-actions:
  - Save and return later
---

<div class="row">
  
  <div class="overlay js-add-licence-modal" style="display:none;"></div>
  <div class="modal__wrapper js-add-licence-modal" style="display:none;">
    <div class="modal">
      <div class="modal__header">
        <h2 class="modal__title">Add licence</h2>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <form action="">
          <div class="field">
            <label for="">Licence No.</label>
            <input type="text" class="long">
          </div>
          <div class="field">
            <label for="">Licence holder name</label>
            <input type="text" class="long">
          </div>
        </form>
        <div class="actions-container">
          <a href="" class="action--primary large js-add-licence">Save</a>
          <a href="" class="action--primary large">Save and add another</a>
          <a href="" class="action--secondary large">Cancel</a>
        </div>
      </div>
      <!-- .modal__content -->
    </div>
    <!-- .modal -->
  </div>
  
  
  <div class="two-thirds">
    <form action="">
      <fieldset data-group="details">
        <div class="field read-only ">
          <p>Name<br><b>David Willis</b></p>
        </div>
        <div class="field read-only ">
          <p>Date of birth<br><b>15 April 2015</b></p></div>
        <div class="field ">
          <label for="details[emailAddress]">Email address</label>
          <input type="text" name="details[emailAddress]" class="extra-long" id="details[emailAddress]" value="dave.willis@gmail.com">
        </div>
        <div class="field ">
          <label for="details[birthPlace]">Place of birth</label>
          <input type="text" name="details[birthPlace]" id="details[birthPlace]" class="medium" value="Barrow-in-Furness">
        </div>
      </fieldset>
      <fieldset>
        <legend class="legend">Certificate of professional competence (CPC)</legend>
        <fieldset>
          <legend class="legend">How would you like to provide your certificate of professional competence?</legend>
          <div class="field checkbox inline">
            <label><input type="radio" name="cpc" value="upload" checked>Upload a copy</label>
          </div>
          <div class="field checkbox inline">
            <label><input type="radio" name="cpc" value="post">Send by post</label>
          </div>
        </fieldset>
        <fieldset class="file-uploader" data-group="advertisements[file]" style="display: block;">
          <div class="field ">
            <ul class="attach-action__list">
              <li class="attach-action">
                <label class="attach-action__label">Attach file(s) <input type="file" name="advertisements[file][file]" class="js-visually-hidden attach-action__input" id="advertisements[file][file]" multiple="multiple"></label>
                <p class="attach-action__hint">PDF, DOC, JPG, PNG or GIF</p>
              </li>
            </ul>
          </div>
          <ul class="js-upload-list" data-group="advertisements[file][list]"></ul>
          <input type="hidden" name="advertisements[file][__messages__]" id="advertisements[file][__messages__]" value="">
          <button type="submit" name="advertisements[file][upload]" class="inline-upload js-upload" id="advertisements[file][upload]" value="Upload" style="display: none;">Upload</button>
        </fieldset>
        <fieldset class="post-info">
          <p>Please send a copy of your certificate of professional competence, along with a reference of the licence application (OB12423/2625) to:</p>
          <p><br />Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</p>
        </fieldset>
      </fieldset>
      <fieldset class="address" data-group="homeAddress">
        <legend>Home address</legend>
        <fieldset data-group="homeAddress[searchPostcode]">
          <legend>Postcode search</legend>
          <div class="field inline">
            <input type="text" name="homeAddress[searchPostcode][postcode]" class="short js-input" data-container-class="inline" id="homeAddress[searchPostcode][postcode]" value="">
          </div>
          <div class="field inline">
            <button type="submit" name="homeAddress[searchPostcode][search]" class="action--primary large js-find" data-container-class="inline" id="homeAddress[searchPostcode][search]" value="search">Find address</button>
          </div>
          <p class="hint js-select">
            <select>
              <option value="please-select">Please select</option>
              <option>1 Pasture Grove</option>
              <option>10 Pasture Grove</option>
              <option>11 Pasture Grove</option>
              <option>12 Pasture Grove</option>
              <option>13 Pasture Grove</option>
              <option>14 Pasture Grove</option>
              <option>15 Pasture Grove</option>
              <option>16 Pasture Grove</option>
              <option>17 Pasture Grove</option>
              <option>18 Pasture Grove</option>
            </select>
          </p>
          <div class="field js-visible">
            <p class="hint--small"><a href="#">Enter the address yourself</a></p>
          </div>
        </fieldset>
        <div class="js-address-lines">
          <div class="field">
            <label for="homeAddress[addressLine1]">Address lines</label>
            <input type="text" name="homeAddress[addressLine1]" class="long js-address-1">
          </div>
          <div class="field ">
            <label class="visually-hidden" for="homeAddress[addressLine2]">Address line 2</label>
            <input type="text" name="homeAddress[addressLine2]" class="long">
          </div>
          <div class="field ">
            <label class="visually-hidden" for="homeAddress[addressLine3]">Address line 3</label>
            <input type="text" name="homeAddress[addressLine3]" class="long">
          </div>
          <div class="field ">
            <label for="homeAddress[town]">Town/City</label>
            <input type="text" name="homeAddress[town]" class="long js-address-city">
          </div>
          <div class="field ">
            <label for="homeAddress[postcode]">Postcode</label>
            <input type="text" name="homeAddress[postcode]" id="homeAddress[postcode]" class="js-address-postcode">
          </div>
          <div class="field ">
            <label for="homeAddress[countryCode]">Country</label>
            <select name="homeAddress[countryCode]" class="js-address-country">
              <option value="">Please select</option>
              <option value="uk">United Kingdom</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset class="address" data-group="homeAddress">
        <legend>Work address</legend>
        <fieldset data-group="homeAddress[searchPostcode]">
          <legend>Postcode search</legend>
          <div class="field inline">
            <input type="text" name="homeAddress[searchPostcode][postcode]" class="short js-input" data-container-class="inline" id="homeAddress[searchPostcode][postcode]" value="">
          </div>
          <div class="field inline">
            <button type="submit" name="homeAddress[searchPostcode][search]" class="action--primary large js-find" data-container-class="inline" id="homeAddress[searchPostcode][search]" value="search">Find address</button>
          </div>
          <p class="hint js-select">
            <select>
              <option value="please-select">Please select</option>
              <option>1 Pasture Grove</option>
              <option>10 Pasture Grove</option>
              <option>11 Pasture Grove</option>
              <option>12 Pasture Grove</option>
              <option>13 Pasture Grove</option>
              <option>14 Pasture Grove</option>
              <option>15 Pasture Grove</option>
              <option>16 Pasture Grove</option>
              <option>17 Pasture Grove</option>
              <option>18 Pasture Grove</option>
            </select>
          </p>
          <div class="field js-visible">
            <p class="hint--small"><a href="#">Enter address manually</a></p>
          </div>
        </fieldset>
        <div class="js-address-lines">
          <div class="field">
            <label for="homeAddress[addressLine1]">Address lines</label>
            <input type="text" name="homeAddress[addressLine1]" class="long js-address-1">
          </div>
          <div class="field ">
            <label class="visually-hidden" for="homeAddress[addressLine2]">Address line 2</label>
            <input type="text" name="homeAddress[addressLine2]" class="long">
          </div>
          <div class="field ">
            <label class="visually-hidden" for="homeAddress[addressLine3]">Address line 3</label>
            <input type="text" name="homeAddress[addressLine3]" class="long">
          </div>
          <div class="field ">
            <label for="homeAddress[town]">Town/City</label>
            <input type="text" name="homeAddress[town]" class="long js-address-city">
          </div>
          <div class="field ">
            <label for="homeAddress[postcode]">Postcode</label>
            <input type="text" name="homeAddress[postcode]" id="homeAddress[postcode]" class="js-address-postcode">
          </div>
          <div class="field ">
            <label for="homeAddress[countryCode]">Country</label>
            <select name="homeAddress[countryCode]" class="js-address-country">
              <option value="">Please select</option>
              <option value="uk">United Kingdom</option>
            </select>
          </div>
        </div>
      </fieldset>
      <fieldset class="table__form" data-group="responsibilities">
        <h2 class="divider">Responsibilities</h2>
        <div class="field ">
          <label for="responsibilities[operatingCentres]">Which operating centre(s) will you be responsible for?</label>
          <select class="chosen-select-medium" multiple="multiple">
            <option value="73">109 Eleanor Harris Road, Leeds</option>
            <option value="73">20 Hortonwood, Castleford</option>
          </select>
        </div>
        <fieldset class="checkbox inline">
          <legend>What type of manager will you be for this licence?</legend>
          <label><input type="radio" name="responsibilities[tmType]" id="responsibilities[tmType]" value="tm_t_e">External</label>
          <label><input type="radio" name="responsibilities[tmType]" value="tm_t_i">Internal</label>
        </fieldset>
        <fieldset class="checkbox inline">
          <legend>Are you the owner/operator of the organisation that’s applying for the licence?</legend>
          <label><input type="radio" name="responsibilities[isOwner]" id="responsibilities[isOwner]" value="Y">Yes</label>
          <label><input type="radio" name="responsibilities[isOwner]" value="N">No</label>
        </fieldset>
      </fieldset>
      <fieldset data-group="responsibilities[hoursOfWeek]">
        <legend>Hours per day</legend>
        <fieldset data-group="responsibilities[hoursOfWeek][hoursPerWeekContent]">
          <legend>How many hours per day will you spend on your Transport Manager duties?</legend>
          <div class="field inline-text">
            <label>Mon</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Tue</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Wed</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Thu</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Fri</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
          <div class="field inline-text">
            <label>Sat</label>
            <input type="text" class="short" data-container-class="inline-text" id="" value="">
          </div>
          <div class="field inline-text">
            <label>Sun</label>
            <input class="short" data-container-class="inline-text" type="text" value="">
          </div>
        </fieldset>
      </fieldset>
      <fieldset class="js-other-licences">
        <legend>Other licences</legend>
        <div class="empty">
          <p>If you hold, are applying for or are the Transport Manager on any other licences, add their details here</p>
          <div class="actions-container">
            <a href="" class="action--primary large">Add other licence</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-other-employment">
        <legend>Other employment</legend>
        <div class="empty">
          <p>If you have other permanent or regular jobs, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary large">Add another job</a>
          </div>
        </div>
      </fieldset>
      <h2 class="divider">Compliance history</h2>
      <fieldset class="js-convictions">
        <legend>Convictions and penalties</legend>
        <div class="empty">
          <p>If you’ve ever been convicted of any offences that must be reported to the Traffic Commissioner, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary large">Add offences</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-revoked">
        <legend>Revoked, curtailed or suspended licences</legend>
        <div class="empty">
          <p>If you’ve ever been associated with licences that have been revoked, curtailed or suspended, add details of them here</p>
          <div class="actions-container">
            <a href="" class="action--primary large js-show-modal">Add licences</a>
          </div>
        </div>
      </fieldset>
      <fieldset class="js-revoked-table">
        <div class="table__header">
          <h3> Revoked, curtailed or suspended licences</h3>
        </div>
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th class="" width="">Licence no.</th>
                <th class="" width="">Licence holder name</th>
                <th class="" width="20px"></th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td><input type="submit" class="" name="previousLicences[action][edit-previous-licence][18]" value="ob1287373"></td>
                <td>James Wells</td>
                <td><a href="" class="remove">Remove</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
    </form>
  
    <div class="actions-container">
      <a href="review-submit.html" class="action--primary large">Continue</a>
      <a href="" class="action--secondary large">Save and return later</a>
    </div>
  </div><!-- .three-quarters -->
  
  <div class="one-third">
    <div class="sidebar">
      {{> _support }}
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


