---
title: Details received
user: tm
page-actions:
  - View details
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>We've received your Transport Manager's details.</p>
      <h3 class="important">Important</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum suscipit dolorem facere, id quae est! Possimus ipsa tempore libero!</p>
      <p><a href="">Back to home</a></p>
    </div>
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    <div class="sidebar">
      {{> _support }}
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


