---
title: Bus registrations
layout: base.hbs
user: bus operator
---

<div class="row">

  <div class="one-quarter">
    <form class="filters">
      <fieldset>
        <legend>Search</legend>
        <div class="field">
          <label for="search">Enter keywords</label>
          <input id="search" name="search" type="search" class="extra-long">
        </div>
      </fieldset>
    </form>
    {{> _support }}
  </div><!-- three-eights -->

  <div class="three-quarters">
    <!-- Registered bus services -->

    <div class="table__header">
      <h3>6 Bus services</h3>
      <div class="actions-container">
        <a href="register-update-cancel-service.html" class="action--primary">Register, change or cancel services</a>
      </div>
    </div><!-- .table__header -->
     <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Registration number</th>
            <th>Variation</th>
            <th>Service number(s)</th>
            <th>Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/6</a></strong><span class="status orange">Processing</span></td>
            <td>1</td>
            <td>576,570</td>
            <td>13 May 2013</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/5</a></strong><span class="status orange">Processing</span></td>
            <td>1</td>
            <td>8,11,55</td>
            <td>13 May 2013</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/4</a></strong><span class="status green">Registered</span></td>
            <td>3</td>
            <td>128,925</td>
            <td>13 May 2013</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/3</a></strong><span class="status green">Registered</span></td>
            <td>5</td>
            <td>44,50</td>
            <td>13 May 2013</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/2</a></strong><span class="status green">Registered</span></td>
            <td>2</td>
            <td>91,104</td>
            <td>13 May 2013</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/1</a></strong><span class="status green">Registered</span></td>
            <td>5</td>
            <td>576,570</td>
            <td>13 May 2013</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
  </div><!-- .five-eights -->

</div>

