---
title: Bus registrations
layout: base.hbs
user: bus operator
table:
  - headers:
      - label: Registration number
        class: sortable descending
      - label: Variation
        class: sortable
      - label: Service numbers
        class: sortable
      - label: Submitted
        class: sortable
      - label: Type
        class: sortable
    columns:
      - <strong><a href="bus-registration.html">PC1057277/232</a></strong><span class="status green">Registered</span>
      - 3
      - 576,570
      - 12:02 13 May 2013
      - EBSR live
    rows: 20
---

<div class="row">

  <div class="three-quarters">
    <!-- Registered bus services -->
  
    <div class="article" style="margin: -20px 0 20px">
      <p>You can register, update or cancel a bus service by either:<br />
      <ul>
        <li>printing off and filling in the <a href="">application forms</a></li>
        <li><a href="register-update-cancel-service.html">uploading an EBSR pack</a></li>
      </ul>
    </div>
  
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Registration number</th>
            <th>Variation</th>
            <th>Service number(s)</th>
            <th>Submitted</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/6</a></strong><span class="status green">Registered</span></td>
            <td>1</td>
            <td>576,570</td>
            <td>13 May 2013</td>
            <td>Electronic</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/5</a></strong><span class="status green">Registered</span></td>
            <td>1</td>
            <td>8,11,55</td>
            <td>13 May 2013</td>
            <td>Paper</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/4</a></strong><span class="status green">Registered</span></td>
            <td>3</td>
            <td>128,925</td>
            <td>13 May 2013</td>
            <td>Paper</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/3</a></strong><span class="status green">Registered</span></td>
            <td>5</td>
            <td>44,50</td>
            <td>13 May 2013</td>
            <td>Electronic</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/2</a></strong><span class="status green">Registered</span></td>
            <td>2</td>
            <td>91,104</td>
            <td>13 May 2013</td>
            <td>Paper</td>
          </tr>
          <tr>
            <td><strong><a href="bus-registration.html">PC1057277/1</a></strong><span class="status green">Registered</span></td>
            <td>5</td>
            <td>576,570</td>
            <td>13 May 2013</td>
            <td>Electronic</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
  
  </div><!-- .five-eights -->
  
  <div class="one-quarter">
    {{>_support}}
  </div>

</div>