---
title: Register, update or cancel a service
layout: base.hbs
user: bus operator
breadcrumbs:
  - link: home.html
    label: Back
---

<div class="row">

  <div class="two-thirds">

    <form>

      <div class="article">
        <h3>Register a new service</h3>
        <ul>
          <li><a href="">PSV350 - application to register a bus service</a> (England, Wales and Scotland)</li>
          <li><a href="">Application to register a local bus service with a flexible route</a></li>
          <li><a href="">PSV350A - supplementary form: application to start, change or cancel a registered bus service with less than 56 days’ notice</a> (England, Wales and Scotland)</li>
        </ul>
        <h3>Change or cancel a service</h3>
        <ul>
          <li><a href="">change or cancel a registered bus servic</a>e (England, Scotland or Wales)</li>
          <li><a href="">change or cancel a registered bus service with less than 56 days notice</a> (England, Scotland or Wales)</li>
        </ul>
        <hr />
        <h3>Apply online</h3>
        <p>You can register, change or cancel bus services online through the electronic bus service registration (EBSR) service. Email <a href="">ebsr@vosa.gov.uk</a> or call 0113 254 3200 for more information.</p>
      </div>

      <div class="actions-container" style="margin-top: -20px;">
        <a href="" class="action--tertiary list large">Back to bus registrations</a>
      </div>

    </form>

  </div><!-- .three-quarters -->

  <div class="one-third">
    <div class="sidebar">
      <div class="support">
        <h3>Support</h3>
        <p>0113 254 3200</p>
        <p><a href="operatorlicensing@otc.gov.uk">ebsr@vosa.gov.uk</a></p>
      </div>
    </div>
  </div><!-- .one-quarter -->

</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: "#EBSRUploader",
    isMultiple: true
  });
</script>

