---
title: Transport Manager details
subtitle: Dave Willis
user: tm
page-actions:
  - View details
breadcrumbs:
  - link: transport-manager.html
    label: Edit details
---


<div class="two-thirds">
  <div class="article">
    <h3>What happens next</h3>
    <p>If you haven't already, you need to:</p>
    <p><b>1. <a href="">Print the declarations form</b></a></p>
    <p><b>2. Get an owner or Director to co-sign the declarations</b></p>
    <p><b>3. Return the form and return it to:</b></p>
    <p><a href="">Back to home</a></p>
  </div>

</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Licence application No.</dt>
    <dd>OB12374/133</dd>
  </dl><!-- .meta -->

  <div class="support" style="border-top: none;">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


