---
title: Review and declarations
subtitle: Step 13
user: operator
breadcrumbs:
  - link: transport-manager.html
    label: Back to to application overview
---


<div class="two-thirds">
  <div class="article">
    <p>The declarations must be signed by either an owner or Director of the business. You can do this online using GOV.UKs Verify or you can print out the declaration form, get an owner or Director to sign it and then return it to the Central Licensing Office.</p><br />
  </div>
  <h3>Check your details</h3>
  <p style="margin-bottom: 0;">Make sure all the details in your application are correct.</p>
  <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">View full application</a></p>
  <hr /><hr />
  <form action="">
    <fieldset>
      <legend>How do you want to provide a signature?</legend>
     <fieldset>
        <legend class="legend">In order to use GOV.UK Verify you will need to be a resident of the UK and have a valid passport or driving licence. Northern Ireland residents will not be able to use the service.</legend>
        <div class="field checkbox inline">
          <label><input type="radio" name="declarations" value="verify" checked>Sign online using GOV.UK Verify</label>
        </div>
        <div class="field checkbox inline">
          <label><input type="radio" name="declarations" value="post">Print, sign and return</label>
        </div>
      </fieldset>
    </fieldset>

    <div class="article js-verify">
      <p>I understand that by submitting this application online I am accepting the undertakings below; that they will be recorded on the licence; that failure to comply with the conditions or undertakings recorded on the licence may result in the licence being revoked, suspended or curtailed; and that failure to comply with these conditions is also a criminal offence.</p>
      <ul>
        <li>The laws relating to the driving and operation of vehicles used under this licence are observed;</li>
        <li>The rules on drivers’ hours and tachographs are observed, proper records are kept and that these are made available on request;</li>
        <li>Vehicles and trailers are not overloaded;</li>
        <li>Vehicles operate within speed limits;</li>
        <li>Vehicles and trailers, including hired vehicles and trailers, are kept in a fit and serviceable condition;</li>
        <li>Drivers report promptly any defects or symptoms of defects that could prevent the safe operation of vehicles and/or trailers, and that any defects are recorded in writing;</li>
        <li>Records are kept (for 15 months) of all driver reports which record defects, all safety inspections, routine maintenance and repairs to vehicles, and that these are made available on request;</li>
        <li>In respect of each operating centre specified, that the number of vehicles and the number of trailers kept there will not exceed the maximum numbers authorised at each operating centre (which will be noted on the licence);</li>
        <li>An unauthorised operating centre is not used in any traffic area;</li>
        <li>Furthermore, I will notify the traffic commissioner of any convictions against myself, or the company, business partner(s), the company directors, nominated transport manager(s) named in this application, or employees or agents of the applicant for this licence and, if the licence is issued, convictions against the licence holder or employees or agents of the licence holder;</li>
        <li>I will ensure that the traffic commissioner is notified within 28 days of any other changes, for example a change to the proposed maintenance arrangements; a change in the financial status of the licence holder (e.g. if placed in liquidation or receivership), or a change to Limited Company status or partnership, that might affect the licence, if issued.</li>
      </ul>

      <div class="field confirm">
        <label>
          <input type="checkbox">
          I declare that the statements made in this application are true and that all supporting evidence supplied with regard to my application is correct. I understand that it is an offence to make a false declaration.
        </label>
      </div>
      <hr />
      <div class="actions-container">
        <a href="http://govuk-verify.herokuapp.com/intro?requestId=vehicle-operator-licensing" class="action--primary large">Continue to GOV.UK Verify</a>
        <a href="licence-overview.html" class="action--tertiary large">Cancel</a>
      </div>
    </div><!-- js-verify -->


    <div class="article js-print-sign">
      <p style="margin-bottom: 0;">An owner or Director of the business must sign the declaration form and return it to the address on the <a href="">Central Licesing Office</a>.</p>
      <p><a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/394936/GV79-application-for-a-goods-vehicle-operators-licence.pdf" download="declarations.pdf" class="download">Print declaration form</a></p>
      <hr />
      <div class="field confirm">
        <label>
          <input type="checkbox">
          I understand that my application cannot be considered until I have returned my signed declaration form.
        </label>
      </div>
      <hr />
      <div class="actions-container">
        <a href="transport-manager-submitted-2.html" class="action--primary large">Continue</a>
        <a href="transport-manager-details.html" class="action--tertiary large">Cancel</a>
      </div>
    </div><!-- js-verify -->

  </form>


</div><!-- .two-thirds -->

<div class="one-third sidebar">
  <dl class="meta">
    <dt>Application reference</dt>
    <dd>OB6153563/9</dd>
    <dt>Created</dt>
    <dd>14 September 2015</dd>
    <dt>Progress</dt>
    <dd>12 of 13 sections complete</dd>
    <dt>Status</dt>
    <dd>Incomplete</dd>
  </dl><!-- .meta -->
</div>

<script type="text/javascript" src="/js/submit-app-prototype.js"></script>



