---
layout: base.hbs
user: operator
title: Application overview
subtitle: Application OB6153563
breadcrumbs:
  - link: licences.html
    label: Home
page-actions:
  - Print your application
  - Withdraw your application
  - Request an interim
---


<div class="notice-container">
  <div class="notice--success">
    <p role="alert">You payment was successful</p>
  </div>
</div><!-- end .notice-container -->

<div class="two-thirds">

  <div class="article">
    <p>Thanks, you've submitted and paid for your application.</p>
    <div class="confirmation">
      <p>Your payment reference is</p>
      <h2>16178167</h2><p><a href="">Print your receipt</a></p>
    </div>


    <h2>What do you need to do next?</h2>
    <p>Before we can consider your application you need to:</p>

    <div class="incomplete-section">
      <h3>Approve Transport Managers</h3>
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>DOB</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Morgan Patel <span class="status green">Approved</span></td>
              <td>7 May 1962</td>
              <td class="right"><a class="remove" href="">View details</a></td>
            </tr>
            <tr>
              <td>Dave Willis <span class="status red">Awaiting approval</span></td>
              <td>13 May 1978</td>
              <td class="right"><a class="remove" href="">View details</a></td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->
    </div>

    <h3 class="important">Important</h3>
    <p>You can’t lawfully operate goods vehicles until your application's been granted, you’ve paid any grant fees and we’ve issued your licence documents, or until we’ve issued an interim licence. If you do we could refuse your application.</p>

    <hr />
    <h3>Request an interim licence</h3>
    <p>If you need to start operating urgently you can <a href="request-interim.html">request an interim licence</a>.
    <hr />
    <hr />
    <div class="actions-container">
      <a class="action--primary large" href="" >Print your applcation</a>
      <p><a class="action--tertiary list large" href="">Back to home</a></p>
    </div>



  </div><!-- .article -->

</div><!-- .two-thirds -->


<div class="one-third sidebar">

  <dl class="meta">
    <dt>Application reference</dt>
    <dd>OB6153563</dd>
    <dt>Payment reference</dt>
    <dd style="display:inline-block; width: auto;">16178167</dd> <a href="" style="display:inline-block; margin-left: 5px;">Print recipt</a>
    <dt>Created</dt>
    <dd>14 September 2015</dd>
    <dt>Submitted</dt>
    <dd>2 November 2015</dd>
    <dt>Status</dt>
    <dd>Awaiting Transport Managers</dd>
  </dl><!-- .meta -->

</div>

<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


