---
layout: base.hbs
user: operator
---

  <div class="centered">
    <h1>Vehcile Operator Licensing is processing your details</h1>
    <p>This may take a few seconds, please bear with us.</p>
    <div class="processing__icon"></div>
  </div>

