---
title: Post Office was unable to verify your identity
user: operator
---

<div class="notice-container">
  <div class="notice--danger">
    <p role="alert">Unable to verify user</p>
  </div>
</div><!-- end .notice-container -->


<div class="two-thirds">
  <div class="article">
    <p>There are a few reason why this might happen, including:</p>
    <ul>
      <li>you've recently had a change in your circumstances and they aren't yet updated online</li>
      <li>you live outside the UK</li>
      <li>this is a new service and we are still improving how people can be verified</li>
    </ul>
    <h3>What to do next</h3>
    <p>You can try the following:</p>
    <p>1. <a href="">Try to verify again using another certified company</a><br />
    2. <a href="print-declarations.html">Print, sign and post your declarations</a></p>
  </div>


</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

<script type="text/javascript" src="/js/verify-prototype.js"></script>

<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


