.svg-internal-application-complete {
	width: 17px;
	height: 13px;
	background-position: 0 0;
}

.svg-internal-application-updated {
	width: 15px;
	height: 15px;
	background-position: -25px 0;
}

.svg-internal-application-warning {
	width: 18px;
	height: 15px;
	background-position: -45px 0;
}

.svg-internal-application-complete, .svg-internal-application-updated, .svg-internal-application-warning {
	background-size: 70px 20px;
	background-repeat: no-repeat;
	background-image: url("application-navigation.png");
}

.svg .svg-internal-application-complete, .svg .svg-internal-application-updated, .svg .svg-internal-application-warning {
	background-image: url("application-navigation.svg");
}
