---
layout: transport-manager.hbs
sectionTitle: TM details
subSectionTitle: Responsibilities
verticalNavItems:
  - label: Details
    link:  index.html
  - label: Responsibilities
    link: responsibilities.html  
  - label: Convictions & penalties
    link: convictions-penalties.html
  - label: Qualifications
    link: qualifications.html
table:
  - title: <strong>Licences</strong>
    headers:
      - label: Licence No.
        class: sortable
      - label: No. of operating centres
        class: sortable
      - label: Manager type
        class: sortable
      - label: Hours per week
        class: sortable
      - label: <input type="checkbox">
        class: non-sortable
    columns:
      - <a href="">OB1242325</a>
      - 2
      - Internal
      - 12
      - <input type="checkbox">
    rows: 10
    actions:
      - label: Add
        class: primary
        link: add-licence.html
      - label: Edit
        class: secondary
      - label: Remove
        class: secondary
  - title: <strong>Other employment</strong>
    headers:
      - label: Name
        class: sortable
      - label: Address
        class: sortable
      - label: Position held
        class: sortable
      - label: Hours per week
        class: sortable
      - label: <input type="checkbox">
        class: non-sortable
    columns:
      - <a href="">Sainsbury's</a>
      - 104 Meole Brace Retail Park, Shrewsbsury
      - Retail manager
      - 10
      - <input type="checkbox">
    rows: 2
    actions:
      - label: Add
        class: primary
        link: add-licence.html
      - label: Edit
        class: secondary
      - label: Remove
        class: secondary

---

<div class="one-fifth--left">
  <h4>TM details</h4>
  {{> _vertical-navigation }}
</div>

<div class="three-fifths">
  <h3>Responsibilities</h3>
  {{#each table}}
    {{#is @index 0 }} 
      {{> _table }}
    {{/is }}
    {{#is @index 1 }} 
      {{> _table }}
    {{/is }} 
  {{/each}}
  {{#each form }}{{> _forms }}{{/each }}

</div>