---
sectionTitle:
subSectionTitle: Notes
layout: licence.hbs
table:
  title: <strong>15</strong> Notes
  headers:
    - label: Type
      class: sortable
    - label: Note
      class: sortable
    - label: Author
      class: sortable
    - label: Created
      class: sortable descending
    - label: <input name="row" type="checkbox">
      class: not-sortable
  columns:
    - Licence
    - Lorem ipsum sit dolor amet peso dosa limi
    - Gillian Fox
    - 12/3/13
    - <input name="row" type="checkbox">
  rows: 15
form:
  - title: Overview
    fieldsets:
    - legend:
      fields:
        - label: Interim requested
          type: radios inline
          values:
            - Yes
            - No
        - label: Interim reason
          type: textarea
        - label: Interim start date
          type: date
        - label: Interim end date
          type: date
        - label: Vehicle authority
          type: text
          class: small
        - label: Trailer authority
          type: text
          class: small
    actions:
      - label: Save
        class: primary large
      - label: Cancel
        class: secondary large



---

<div class="content__header"><h3>Interim application</h3></div>

<div class="four-fifths">
  {{#each form }}{{> _forms }}{{/each }}
  <form>
    <div class="table__header">
      <h4>Operating centres</h4>
      <div class="actions-container">
        <input class="action--secondary" type="submit" value="Remove">
      </div><!-- actions-container -->
    </div><!-- table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Operating centre address</th>
            <th>Vehicles</th>
            <th>Trailers</th>
            <th>Permission</th>
            <th>Advertised</th>
            <th><input type="checkbox"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unit 5, 12 Albert Street, Westpoint, Leeds</td>
            <td>34</td>
            <td>23</td>
            <td>Y</td>
            <td>N</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>Unit 4, 12 Albert Street, Westpoint, Leeds</td>
            <td>34</td>
            <td>23</td>
            <td>Y</td>
            <td>N</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>Unit 3, 12 Albert Street, Westpoint, Leeds</td>
            <td>34</td>
            <td>23</td>
            <td>Y</td>
            <td>N</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>Unit 2, 12 Albert Street, Westpoint, Leeds</td>
            <td>34</td>
            <td>23</td>
            <td>Y</td>
            <td>N</td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
    <div class="table__header">
      <h4>Vehicles</h4>
      <div class="actions-container">
        <input class="action--secondary" type="submit" value="Remove">
      </div><!-- actions-container -->
    </div><!-- table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>VRM</th>
            <th>Gross plated weight (Kg)</th>
            <th>Disc No.</th>
            <th><input type="checkbox"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>VRM1</td>
            <td>7200kg</td>
            <td>Pending</td>
            <td><input type="checkbox"></td>
          </tr>
          <tr>
            <td>VRM2</td>
            <td>7200kg</td>
            <td>Pending</td>
            <td><input type="checkbox"></td>
          </tr>
           <tr>
            <td>VRM3</td>
            <td>7200kg</td>
            <td>Pending</td>
            <td><input type="checkbox"></td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
  </form>
</div><!-- .four-fifths -->