---
title: Notices
asset: '../../'
breadcrumbs:
  - link: index.html
    label: Back to index
---

<div class="row">
  
  <div class="two-thirds">
  
    <!-- Notices -->
    <div class="article">
      <p>Notices (or Flash messages) are you to provide feedback to the user when an action has made some kind of interaction</p>
    </div>
    <div class="notice-container">
      <div class="notice--success">
        <p role="alert">You successfully did something</p>
      </div>
      <div class="notice--warning">
        <p role="alert">This alert needs your attention</p>
      </div>
      <div class="notice--danger">
        <p role="alert">You have done something wrong, try submitting again</p>
      </div>
    </div><!-- end .notice-container -->
  
  </div><!-- end .full-width -->

</div>