---
title: Account created
---




<div class="two-thirds">
  <div class="article">
	<p>We’ll post your account details to the address below. They should arrive in 3-5 working days.</p>
	<p><b>Hager Ltd.<br />123 Holly House<br />Leeds<br />LS1 3PS</b></p>
    <p><a href="sign-in.html">Sign in to your account</a></p>
  </div><!-- .article -->
  </form>
</div><!-- .two-thirds -->


<script type="text/javascript" src="/js/authentication-prototype.js"></script>
