---
title: Your account details are in the post
---

<div class="two-thirds">
  <div class="article">
  	<p>We have sent a letter with your online account details to the address below. Your account details should arrive within 3 - 5 working days.</p>
  	<p><b>Hager Ltd.<br />123 Holly House<br />Leeds<br />LS1 3PS</b></p>
    <p>If this address has changed or is incorrect please contact the Central Licensing Office:</p>
    <h3>Support</h3>
    <p><b>Call: 0113 254 3200</b><br />
    Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
    <div class="actions-container">
    	<a href="sign-in.html" class="action--primary large">Finish</a>
    </div>
  </div><!-- .article -->
  </form>
</div><!-- .two-thirds -->


<script type="text/javascript" src="/js/authentication-prototype.js"></script>
