---
title: Check your details
---

<div class="two-thirds">
  <div class="article">
  	<h3>Registered address</h3>
    <p>We’ll post your account details to the address below. They should arrive in 3-5 working days.</p>
    <p><b>Hager Ltd.<br />123 Holly House<br />Leeds<br />LS1 3PS</b></p>

    <form action="">
      <fieldset>
        <fieldset class="checkbox">
          <legend class="legend">Is this the right address?</legend>
          <div class="field inline">
            <label><input type="radio" name="correct-address" value="true">Yes</label>
          </div>
          <div class="field inline">
            <label><input type="radio"  name="correct-address" value="false">No</label>
          </div>
        </fieldset>
      </fieldset>
    </form>

    <div class="js-correct-address">
      <div class="actions-container">
        <a href="sign-in.html" class="action--primary large">Post my account details</a>
      </div>
    </div>

    <div class="js-incorrect-address">
      <p>To change it you’ll need to contact the Central Licensing Office:</p>
      <p><b>Telephone: 0113 254 3200</b><br />
      Monday to Thursday: 8:30am to 5pm<br />
      Friday: 8:30am to 4pm
      </p>
      <p>The helpline is closed at weekends and on public holidays</p>
      <p><a href="">Email the support team</a></p>
      <p><a href="sign-in.html">Sign in</a></p>
    </div>

  </div><!-- .article -->
</div><!-- .two-thirds -->


<script type="text/javascript" src="/js/authentication-prototype.js"></script>
