---
layout: base.hbs
asset: '../../../'
user: operator
title: Request an interim licence
subtitle: Application No.9
breadcrumbs:
  - link: home.html
    label: Home
  - link: index.html
    label: Application overview
---

<div class="row">

  <div class="two-thirds">
    <p>If you need to start operating urgently you can request an interim licence which will allow you to operate whilst you're waiting for a decision on your application.</p>
    <hr />
    <form>
      <fieldset>
        <div class="field">
          <label>Provide details about why you need an interim licence</label>
          <textarea id="additional-info" class="extra-long" placeholder="Enter text here"></textarea>
        </div>
      </fieldset>
    </form>
    <p>Interim application fee</p>
    <h2>£120.00</h2>
    <hr />
    <a href="interim-requested.html" class="action--primary large">Submit &amp; pay</a>
    <hr />
  </div><!-- .two-thirds -->


  <div class="one-third">
    <div class="sidebar">
      <dl class="meta">
        <dt>Application reference number</dt>
        <dd>OB6153563/9</dd>
        <dt>Submitted</dt>
        <dd>14 September 2015</dd>
        <dt>Status</dt>
        <dd>Under consideration</dd>
      </dl><!-- .meta -->
    </div>
  </div>

</div>

<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


