---
layout: base.hbs
title: <a href="">OB1262526</a> / 2983837
breadcrumb: Application
subtitle: Don Tarmacadam Ltd.  <span class="page-header__status suspended">Under consideration</span>
status: Suspended
horizontalNavItems:
  - label: Application details
    link:  index.html
  - label: Cases
    link:  cases.html
  - label: Environmental
    link:  environmental.html
  - label: Docs & attachments
    link:  docs&attachments.html
  - label: Processing
    link:  tasks.html
  - label: Fees
    link:  fees.html
recordActions:
  - title: Quick actions
    actions:
      - View full application
      - Generate publication
      - Add recommendation
      - Create a case
---

<div class="table-col">
  <div class="content">
  {{> body }}
  </div>
</div>

<div class="sidebar--right">

  <div class="small-module">
    <h4 class="title">Operator details</h4>
    <p class="small-module__details">
      <a href="">Don Tarmacadam Ltd</a><br />
      Limited Company<br />
      North East England</p>
  </div>

  {{> _record-actions }}

  <div class="latest-note">
    <p class="latest-note__details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...</p>
    <a class="latest-note__link">View all 13 notes</a>
  </div>
  
</div>