---
layout: base.hbs
title: <a href="">OB1625270</a> / Case 24
breadcrumb: Case
subtitle: <span class="page-header__status valid">Open</span>
status: Open
horizontalNavItems:
  - label: Case details
    link:  index.html
  - label: Submissions
    link:  
  - label: Hearings & appeals
    link:  
  - label: Docs & attachments
    link:  
  - label: Processing
    link: 
recordActions:
  - title: Quick actions
    actions:
      - Create case
      - Create variation
      - Print licence
  - title: Decisions
    actions:
      - Surrender
      - Curtail
      - Terminate
      - Revoke
---

<div class="four-fifths--left">
  {{> _horizontal-navigation}}
  <div class="content">
  {{> body }}  
  </div>
</div>

<div class="one-fifth--right">
  <div class="record-actions">
    {{#each recordActions }}
    <h5>{{ this.title }}</h5> 
    <ul class="record-actions__group">
      {{#each this.actions }} 
      <li class="record-actions__item actions--secondary"><a href="">{{ this }}</a></li>
      {{/each }}
    </ul>
    {{/each }}
  </div>
</div>

