---
layout: base.hbs
title: OB1625270
subtitle: Goods vehcile, resticted
status: Suspended
horizontalNavItems:
  - label: Overview
    link:  index.html
  - label: Licence
    link:  licence.html
  - label: Bus registration
    link:  bus-registration.html
  - label: Cases
    link:  cases.html
  - label: Environmental
    link:  environmental.html
  - label: Docs & attachments
    link:  docs&attachments.html
  - label: Processing
    link:  tasks.html
  - label: Fees
    link:  fees.html
recordActions:
  - title: Quick actions
    actions:
      - Create case
      - Create variation
      - Print licence
  - title: Decisions
    actions:
      - Surrender
      - Curtail
      - Terminate
      - Revoke
---

  <div class="four-fifths">
    {{> _horizontal-navigation }}
    {{> body }}  
  </div>

  <div class="one-fifth">
    <div class="record-actions">
      {{#each recordActions }}
      <h5>{{ this.title }}</h5> 
      <ul class="record-actions__group">
        {{#each this.actions }} 
        <li class="record-actions__item actions--secondary"><a href="">{{ this }}</a></li>
        {{/each }}
      </ul>
      {{/each }}
    </div>
  </div><!-- end .one-fifth -->


