---
layout: base.hbs
title: Dave Watson
breadcrumb: Transport manager
subtitle:
status:
horizontalNavItems:
  - label: TM details
    link:  index.html
  - label: Applications & licences
    link:  cases.html
  - label: Docs & attachments
    link:  bus-registrations.html
  - label: Processing
    link:  opposition.html
recordActions:
  - title: Quick actions
    actions:
      - Create case
      - Create variation
      - Print licence
  - title: Decisions
    actions:
      - Surrender
      - Curtail
      - Revoke
---

<div class="four-fifths--left">
  {{> _horizontal-navigation}}
  <div class="content">
  {{> body }}  
  </div>
</div>

<div class="one-fifth--right">

  <div class="small-module">
    <h4 class="small-module__title">Operator details</h4>
    <p class="small-module__details">
      <a href="">Don Tarmacadam Ltd</a><br />
      Limited Company<br />
      North East England</p>
  </div><!-- end .small-details -->

  <div class="small-module">
    <h4 class="small-module__title">Licence details</h4>
    <p class="small-module__details">
      <a href="">OB1625270</a><br />
      Standard National<br />
      Valid</p>
  </div><!-- end .small-details -->

  {{> _record-actions }}

  <div class="latest-note">
    <p class="latest-note__details">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid...</p>
    <a class="latest-note__link">View all 13 notes</a>
  </div><!-- end .small-details -->
  
</div>

