---
title: Search results
layout: base.hbs
---

<div class="three-eigths">
  <form class="filters">
    <fieldset>
      <legend>Edit search</legend>
      <div class="field">
        <label for="search">Keywords</label>
        <input id="search" name="search" type="search" class="extra-long js-focus" value="foo">
        <p class="hint--small">Can include company name, location, person's name or licence number.</p>
      </div>
      <div class="field">
        <label>Licence type</label>
        <select name="">
          <option value="">All</option>
        </select>
      </div>
      <div class="field">
        <label>Licence status</label>
        <select name="">
          <option value="">All</option>
        </select>
      </div>
      <div class="field">
        <label>Traffic area</label>
        <select name="">
          <option value="">All</option>
        </select>
      </div>
      <input type="submit" class="action--primary large" value="Update results">
      <a href="index.html" style="display:block; margin-top: 15px;">Start again</a>
    </fieldset>
  </form>
</div><!-- three-eights -->

<div class="five-eigths">
  <div class="article" style="margin-top: 13px;">
    <p>There are no vehicle operators that match your search.</p>
    <p>Try editing your search:</p>
    <ul>
      <li>using different keywords</li>
      <li>using a different licence type, or change to all types</li>
      <li>using a different licence status, or change to all statuses</li>
      <li>using a different traffic area, or changing to all traffic areas</li>
    </ul>
  </div>
</div><!-- .five-eights -->

<script type="text/javascript" src="/js/search-prototype.js"></script>
