---
title: Home
subtitle:
filterList:
  - header: Team
    type: dropdown
    filters:
      - Licensing team 1
  - header: Owner
    type: dropdown
    filters:
      - Terry Fox
  - header: Category
    type: dropdown
    filters:
      - Application
  - header: Sub category
    type: dropdown
    filters:
      - Goods app
  - header: Date
    type: dropdown
    filters:
      - Today
      - This week
      - This month
      - All dates
  - header: Status
    type: dropdown
    filters:
      - All
      - Open
      - Closed
  - header:
    type: checkboxes
    filters:
      - Urgent only
actions:
  - label: Edit
    class: secondary disabled
  - label: Close
    class: secondary disabled
  - label: Reassign
    class: secondary disabled
table:
  title: <strong>89</strong> Tasks
  headers:
    - label: Link
      class: sortable
    - label: Category
      class: sortable descending
    - label: Sub category
      class: sortable
    - label: Description
      class: sortable
    - label: Date
      class: sortable
    - label: Owner
      class: sortable
    - label: Name
      class: sortable
    - label: <input name="row" type="checkbox">
      class: non-sortable
  columns:
    - <strong><a href="licence/">OB0016152</a></strong> (MLH)
    - Application
    - Address change assisted digital
    - <a href="">Address change</a>
    - 12/3/13
    - Gillian Fox
    - Don Tarmacadam
    - <input name="row" type="checkbox">
  rows: 4
---


<div class="content">

  <div class="one-fifth--left">
    <h4>Filter by:</h4>
    {{> _filters }}
  </div>

  <div class="four-fifths--right">

      <h3>Buttons</h3>
      <div class="actions-container">
        <button class="action--primary" value="Edit" type="submit">Generate</button>
        <input class="action--primary" value="Close" type="submit">
        <a href="" class="action--primary">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--primary disabled" value="Edit" type="submit" disabled="disabled">Generate</button>
        <input class="action--primary disabled" value="Close" type="submit" disabled="disabled">
        <a href="" class="action--primary disabled">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--secondary" value="Edit" type="submit">Generate</button>
        <input class="action--secondary" value="Close" type="submit">
        <a href="" class="action--secondary">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--tertiary" value="Edit" type="submit">Generate</button>
        <input class="action--tertiary" value="Close" type="submit">
        <a href="" class="action--tertiary">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--secondary" value="Edit" type="submit" disabled="disabled">Generate</button>
        <input class="action--secondary" value="Close" type="submit" disabled="disabled">
        <a href="" class="action--secondary disabled">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--secondary large" value="Edit" type="submit">Generate</button>
        <input class="action--secondary large" value="Close" type="submit">
        <a href="" class="action--secondary large">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--primary large" value="Edit" type="submit">Generate</button>
        <input class="action--primary large" value="Close" type="submit">
        <a href="" class="action--primary large">Reassign</a>
      </div><!-- end .actions-container -->

      <hr />

      <div class="actions-container">
        <button class="action--tertiary large" value="Edit" type="submit">Generate</button>
        <input class="action--tertiary large" value="Close" type="submit">
        <a href="" class="action--tertiary large">Reassign</a>
      </div><!-- end .actions-container -->

  </div>

</div>






