---
layout: sign-in.hbs
---

<div class="row">
  <div class="two-thirds">
    <form action="">
      <fieldset>
        <legend>Forgot password</legend>
        <!--
        <div class="validation-summary">
          <h3>We couldn't find those details</h3>
          <p>Please check your username and email address</p>
        </div>
        -->
        <div class="field">
          <label for="">Enter your username or email address</label>
          <input type="text">
        </div>
        <a href="tasks.html" class="action--primary large">Send temporary password</a>
      </fieldset>
    </form>

    <div class="one-third">
      {{> _support}}
    </div>
  </div>

</div>




