---
layout: sign-in.hbs
---


<form action="">
  <fieldset>
    <legend>Forgotten your password</legend>
    <div class="field">
      <label for="">Email address</label>
      <input type="text">
    </div>
    <a href="tasks.html" class="action--primary large">Reset password</a>
    <p class="forgot-link">Already got an account? <a href="index.html">Sign in</a></p>
  </fieldset>
</form>






