---
layout: sign-in.hbs
---


<form action="">
  <fieldset>
    <legend>Forgotten your password</legend>
    <div class="field">
      <label for="">Username or email address</label>
      <input type="text">
    </div>
    <a href="tasks.html" class="action--primary large">Reset password</a>
  </fieldset>
</form>






