---
layout: sign-in.hbs
---


<form action="">
  <fieldset>
    <legend>Forgot password</legend>
    <div class="validation-summary">
      <h3>We couldn't find those details</h3>
      <p>Please check your username and email address</p>
    </div>
    <div class="field">
      <label for="">Username</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Email address</label>
      <input type="password">
    </div>
    <a href="tasks.html" class="action--primary large">Send temporary password</a>
  </fieldset>
</form>






