---
layout: sign-in.hbs
---


<form action="">
  <fieldset>
    <legend>Sign in</legend>
    <div class="field">
      <label for="">Username</label>
      <p class="hint"><a href="">Forgotten your username?</a></p>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Password</label>
      <p class="hint"><a href="">Forgotten your password?</a></p>
      <input type="password">
    </div>
    <a href="tasks.html" class="action--primary large">Sign in</a>
  </fieldset>
</form>






