---
layout: sign-in.hbs
---


<form action="">
  <fieldset>
    <legend>Sign in</legend>
    <div class="field">
      <label for="">Username</label>
      <input type="text">
    </div>
    <div class="field">
      <label for="">Password</label>
      <input type="password">
    </div>
    <a href="tasks.html" class="action--primary large">Sign in</a>
    <a class="forgot-link" href="forgotten-password.html">Forgotten your password?</a>
  </fieldset>
</form>






