---
title: OB1625270
subtitle: Goods vehcile, resticted
horizontalNavItems:
  - label: Overview
    state: current
  - label: Licence
    state:
  - label: Bus registration
    state:
  - label: Cases
    state:
  - label: Environmental
    state:
  - label: Docs & attachements
    state:
  - label: Processing
    state:
  - label: Fees
    state:
verticalNavItems:
  - History
  - Decisions
  - Tasks
  - Notes


---

  <div class="four-fifths">
    {{> _horizontal-navigation }}

    <div class="one-fifth">
      {{> _vertical-navigation}}
    </div><!-- end .one-fifth -->
    
  </div>


  <div class="one-fifth">
    <div class="ui-box">
      <h4>UI Box</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
    </div>
  </div><!-- end .one-fifth -->


