---
layout: my-details.hbs
subSectionTitle: Users
form:
  - fieldsets:
    - legend:
      fields:
        - label: Type
          type: select
          values:
            - Internal
            - Partner
            - Transport Manager
            - Local authority
            - Self service
            - Self service (No licence)
        - label: Role
          type: radios
          values:
            - Admin
            - Standard
        - label: Team
          type: select
          values:
            - Licensing
            - Team 2
    - legend: Personal
      fields:
        - label: First name
          type: text
          class: medium
        - label: Last name
          type: text
          class: medium
        - label: Date of birth
          type: date
    - legend: Login
      fields:
        - label: Username
          type: text
          class: medium
        - label: New password
          type: text
          class: medium
        - label: Confirm new password
          type: text
          class: medium
    - legend: Contact
      fields:
        - label: Email address
          type: text
          class: long
        - label: Phone
          type: text
          class: medium
        - label: Fax
          type: text
          class: medium
    - legend: Office address
      fields:
        - label: Email
          type: full-address
    actions:
      - label: Save
        class: primary
      - label: Cancel
        class: secondary
---


<div class="one-fifth--left">
  {{#each form }}{{> _forms }}{{/each }}
</div><!-- one-fifth-left -->

