---
title: "&#8220Don Tarmacadam&#8221;"
subtitle: 218 Results
horizontalNavItems:
  - label: Licences
    state: current
  - label: Applications
    state:
  - label: Cases
    state:
  - label: Bus registrations
    state:
  - label: Addresses
    state:
  - label: People
    state:
  - label: Historical TMs
    state:
  - label: Vehciles
    state:
filterList:
  - header: App status
    type: checkboxes
    filters:
      - New
      - Valid
      - Invalid
  - header: Traffic area
    type: dropdown
    filters:
      - West of England
      - North east of England
      - North west of England
      - West Midlands and Wales
      - East of England
      - London and the south east
      - Scotland

table:
  title: <strong>89</strong> Application results
  headers:
    - Licence
    - Operator name
    - Application
    - Received
    - Vehicle auth.
    - Trailer auth.
  columns:
    - <strong><a href="">OM1111040</a></strong> R Valid
    - Don Tarmacadam
    - <a href="">1234562</a> New
    - 12/03/12
    - 13
    - 0
---

<div class="full-width">
  {{> _horizontal-navigation }}
</div>

<div class="one-fifth">
  {{> _filters }}
</div><!-- end .one-quarter -->

<div class="four-fifths">
  {{> _table }}
</div>





