---
layout: sign-in.hbs
---

<form action="">
  <fieldset>
    <legend>Sign in</legend>
    <p>There was a problem signing in.</p>
    <p>Please try again and check your username and password.</p>
    <div class="actions-container">
      <a href="index.html" class="action--primary large">Try again</a>
    </div>
  </fieldset>
</form>






