.add-multiple {
  fieldset[data-group]:only-of-type .remove-link {
    display: none;
  }

  .field.remove-link {
    width: auto;
    float: right;
  }

  .field:not(.inline) {
    clear: left;
  }
}
