
/*
  Admin menu
  ==========
*/

.admin:hover .admin__menu {
  display: block;
  .js-enabled & {
    display: none;
  }
}

.admin__menu {
  right: 0;
}

.admin {
  position: absolute;
  right: $gutter;
  list-style: none;
  &__arrow {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -9px;
    right: 30px;
    background: url('../images/menu-arrow.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/menu-arrow-2x.png');
      background-size: 16px 12px;
    }
  }
  &__menu {
    border-radius: 3px;
    box-shadow: 0 1px 5px $grey-3;
    display: none;
    top: 35px;
    background: $white;
    border: 1px solid $grey-3;
    z-index: 3;
    width: 420px;
    position: absolute;
    padding: 10px 0;
    cursor: default;
  }
  &__submenu {
    float: left;
    width: 50%;
  }
}

.admin__title {
  border-radius: 3px;
  position: relative;
  overflow: visible;
  padding: 6px 25px 4px .75em;
  background: url('../images/down-arrow.png') no-repeat 90% 12px;
  border: 1px solid darken($grey-1, 20%);
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/down-arrow-2x.png');
    background-size: 12px 112px;
  }
  &:hover {
    border: 1px solid darken($grey-1, 10%);
    cursor: pointer;
  }
  &.active {
    border: 1px solid #080808;
    background-color: #080808;
  }
}

.admin__item {
  width: 100%;
  list-style: none;
  font-size: font-size(4);
}

.admin__item a {
  display: block;
  font-weight: 500;
  color: $link-colour;
  padding: 8px 20px;
  &:hover {
    text-decoration: none;
    background: $grey-4;
  }
}
