
/*
  Admin menu
  ==========
*/

.admin:hover .admin__menu {
  display: block;
  .js-enabled & {
    display: none;
  }
}

.admin {
  position: absolute;
  top: .5em;
  right: 0;
  list-style: none;
  margin-right: 2.5%;
  &__arrow {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    top: -9px;
    right: 30px;
    background: url('../images/menu-arrow.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/menu-arrow-2x.png');
      background-size: 16px 12px;
    }
  }
  &__menu {
    @include border-radius(3px);
    @include box-shadow(0 1px 5px $grey-3);
    display: none;
    top: 35px;
    right: 0;
    background: $white;
    border: 1px solid $grey-3;
    z-index: 3;
    width: 420px;
    position: absolute;
    padding: 10px 0;
    cursor: normal;
  }
  &__submenu {
    float: left;
    width: 50%;
  }
}

.admin__title {
  @include border-radius(3px);
  position: relative;
  overflow: visible;
  padding: 7px 30px .3em .75em;
  background: url('../images/down-arrow.png') no-repeat 85% 13px;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/down-arrow-2x.png');
    background-size: 12px 112px;
  }
  &:hover {
    background-color: #111;
    cursor: pointer;
  }
  &.active {
    background-color: #151515;
  }
}

.admin__item {
  width: 100%;
  list-style: none;
}

.admin__item a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  color: $link-colour;
  padding: 8px 20px;
  &:hover {
    text-decoration: none;
    background: $grey-4;
  }
}
