
/*
  Application navigation
  ======================
*/

// status class, 1x Y value, 2x Y value
$mobile-statuses: (
  complete 11px 11px,
  incomplete -990px -990px,
  edited -489px -489px
);

.app-navigation {
  @extend %navigation;
  overflow: hidden;
  border-top: 0;
  margin: 0;
  a,
  .current,
  .disabled {
    display: block;
    width: 90%;
    padding: 12px 20px 12px 0;
    border-bottom: 1px solid $grey-3;
    text-decoration: none;
  }
  .current {
    border-bottom: 3px solid $primaryColour;
  }
  .current.no-background {
    background: none;
  }
  &__item {
    @extend %navigation__item;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    background: url('#{$assetPath}/application-navigation.png') no-repeat 100% -192px;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/application-navigation-2x.png') no-repeat 100% -192px;
      background-size: 15px 1015px;
    }
  }
  @each $status in $mobile-statuses {
    .#{nth($status, 1)} {
      background-position: 98% nth($status, 2);
      @include device-pixel-ratio($ratio: 2) {
        background-position: 98% nth($status, 3);
      }
    }
  }
}