// Application Navigation
// -----------------------------------------------------------------

// Config
// -----------------------------------------------------------------

// status class background position
$mobile-statuses: (
  'complete'   : 1px 3px,
  'incomplete' : 26px 3px,
  'edited'     : 48px 3px
);

// Component
// -----------------------------------------------------------------

.app-navigation {
  
  @extend %navigation;
  overflow: hidden;
  border-top: 0;
  margin: 0;
  
  a,
  .current,
  .disabled {
    display: block;
    width: 90%;
    padding: 11px 20px 10px 0;
    border-bottom: 1px solid $grey-3;
    text-decoration: none;
  }
  
  .current {
    border-bottom: 3px solid $primaryColour;
  }
  
  .current.no-background {
    background: none;
  }
  
  &__item {
    @extend %navigation__item;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    position: relative;
    &:before {
      @include svg(
        'sprites/navigation/application-navigation', 1px 3px, 20px 20px
      );
      position: absolute;
      right: 0;
      top: 11px;
    }
  }
  
  @each $status in $mobile-statuses {
    .#{nth($status, 1)} {
      &:before {
        content: "";
        background-position: nth($status, 2);
      }
    }
  }
  
}