/**
 * Article
 *
 * Used for long form text based sections, e.g.
 * guides
 */

.article {

  color: $black;

  p + h2,
  p + h3,
  p + h4,
  details + h2,
  details + h3,
  details + h4,
  ul + h2,
  ul + h3,
  ul + h4 {
    margin-top: $gutter-two-thirds;
  }

  h2,
  h3,
  h4 {
    margin-bottom: .5em;
  }

  &__subtitle{
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 24px;

      @media(max-width: $mobile-column-stack) {
        font-size: 19px;
      }

  }

  &__price{
    margin-bottom: .5em;
    font-weight: bold;
    font-size: 36px;

      @media(max-width: $mobile-column-stack) {
        font-size: 24px;
      }

  }

  ul {
    @extend %paragraph;
    padding-left: 1em;
    &:not(:lastchild) {
      margin-bottom: $gutter-half;
    }
  }

  li {
    margin-bottom: 0.125em;
    @if $app == 'internal' {
      font-size: font-size(3);
    }
  }

  p + ul {
    margin: -6px 0 .5em 0;
  }

  & + & {
    margin-top: 1.5em;
  }

}// .article
