/**
 * Article
 *
 * Used for long form text based sections, e.g.
 * guides
 */

.article {

  color: $black;

  p + h2,
  p + h3,
  p + h4,
  details + h2,
  details + h3,
  details + h4,
  ul + h2,
  ul + h3,
  ul + h4 {
    margin-top: $gutter;
  }

  h2,
  h3,
  h4 {
    margin-bottom: 0.75em;
  }

  ul {
    @extend %paragraph;
    padding-left: 1em;
    margin-bottom: $gutter-half;
  }

  li {
    margin-bottom: 0.125em;
    @if $app == 'internal' {
      font-size: font-size(3);
    }
  }

  & + & {
    margin-top: 1.5em;
  }

}// .article