// Article
// -----------------------------------------------------------------

.article {

  ul {
    @extend %paragraph;
    margin-left: 20px;
    margin-bottom: .5em;
  }

  li {
    margin-bottom: .125em;
  }

  p:not(:last-child) {
    margin-bottom: 0.5em;
  }

  & + & {
    margin-top: 1.5em;
  }

}

@if $app == 'internal' {
  .article {

    li {
      font-size: font-size(3);
    }

    & + & {
      margin-top: 1.5em;
    }

  }

}