
/*
  Breadcrumb
  ==========
*/

.breadcrumbs {
  overflow: visible;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
  color: $black;
  &:last-child a {
    background: none;
  }
}

.breadcrumbs a {
  &:focus {
    outline: none;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  // TODO: Uncomment the lines below once selfserve breadcrumbs have b
  // been marged

  .breadcrumbs a {
    color: $black;
    line-height: .75;
    // text-decoration: none;
    // border-bottom: 1px solid $black;
    // &:hover {
    //   margin-bottom: 1px;
    // }
  }

  // .breadcrumbs a:before {
  //   @extend %fontello;
  //   content: '\e801';
  //   padding-right: .25em;
  // }
  
  .breadcrumbs a {
    // color: $grey-1;
    background: url('#{$assetPath}/breadcrumb-arrow.png') no-repeat 100% 70%;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/breadcrumb-arrow-2x.png') no-repeat 95% 50%;
      background-size: 6px 11px;
    }
  }
  
  .breadcrumbs .current {
    background: none;
    color: $grey-1;
  }

}


// Internal theme
// ---------------

@if $app == 'internal' {
  
  .breadcrumbs {
    float: left;
    color: $grey-1;
    &__item {
      &:after {
        content: "/";
        margin-right: 0.5em;
        margin-left: 0.65em;
      }
      &.current {
        &:after {
          display: none;
        }
      }
    }
  }
  
}
