
/*
  Breadcrumb
  ==========
*/

.breadcrumbs {
  overflow: visible;
  list-style: none;
}

.breadcrumbs__item {
  display: inline-block;
  color: $black;
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  // TODO: Uncomment the lines below once selfserve breadcrumbs have b
  // been marged

  .breadcrumbs a {
    color: $black;
    line-height: .75;
    // text-decoration: none;
    // border-bottom: 1px solid $black;
    // &:hover {
    //   margin-bottom: 1px;
    // }
  }

  // .breadcrumbs a:before {
  //   content: '\e801';
  //   padding-right: .25em;
  // }

  .breadcrumbs a {
    // color: $grey-1;
    margin-right: 0.25em;
    position: relative;
    &:after {
      @include svg('selfserve-breadcrumb');
      content: "";
      display: inline-block;
      margin-left: 0.5em;
      position: relative;
      top: 2px;
      opacity: 0.8;
    }
  }

  .breadcrumbs .current {
    background: none;
    color: $grey-1;
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .breadcrumbs {
    float: left;
    color: $grey-1;
    a {
      text-decoration: none;
    }
    &__item {
      &:after {
        content: "/";
        margin-right: 0.25em;
        margin-left: 0.5em;
        color: $grey-2;
      }
      &:hover {
        a {
          text-decoration: underline;
        }
      }
      &.current {
        color: $grey-1;
        &:after {
          display: none;
        }
      }
    }
  }

}
