
/*
  Breadcrumb
  ==========
*/

.breadcrumbs {
  list-style: none;
  margin-bottom: 0;
  overflow: visible;
  width: 70%;
  .current {
    background: none;
    color: $grey-1;
  }
}

.breadcrumbs__item {
  display: inline-block;
  margin-right: .5em;
  color: $black;
  &:last-child a {
    background: none;
  }
}

.breadcrumbs a {
  color: $black;
  padding-right: 1em;
  background: url('#{$assetPath}/breadcrumb-arrow.png') no-repeat 100% 70%;
  @include device-pixel-ratio($ratio: 2) {
    background: url('#{$assetPath}/breadcrumb-arrow-2x.png') no-repeat 95% 45%;
    background-size: 6px 11px;
  }
  &:focus {
    outline: none;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  .breadcrumbs {
    @media(max-width: breakpoint('break-3')) {
      margin: -1em 0 2em 0;
      font-size: 14px;
    }
  }
}


// Internal theme
// ---------------

@if $app == 'internal' {

  .breadcrumbs a {
    color: $grey-1;
  }

}
