
/*
  Breadcrumb
  ==========
*/

.breadcrumbs {
  overflow: visible;
  list-style: none;
}

.breadcrumbs__item {
  float: left;
  margin-right: .5em;
  &:last-child a {
    background: none;
  }
}

.breadcrumbs a {
  display: inline-block;
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
    border-bottom: 0;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  .breadcrumbs {
    margin: -2.25em 0 4em;
    @media(max-width: 640px) {
      margin: -1em 0 3.5em;
    }
  }

  .breadcrumbs a {
    color: $black;
    line-height: .75;
    // text-decoration: none;
    // border-bottom: 1px solid $black;
    // &:hover {
    //   margin-bottom: 1px;
    // }
  }

  // .breadcrumbs a:before {
  //   @extend %fontello;
  //   content: '\e801';
  //   padding-right: .25em;
  // }
}


// Internal theme
// ---------------

@if $app == 'internal' {
  .breadcrumbs a {
    color: $grey-1;
  }
}

// TODO: Move the styles below into the internal them for this componenet
// once selfserve breadcrumbs have been

.breadcrumbs a {
  // color: $grey-1;
  padding-right: 1em;
  background: url('#{$assetPath}/breadcrumb-arrow.png') no-repeat 100% 70%;
  @include device-pixel-ratio($ratio: 2) {
    background: url('#{$assetPath}/breadcrumb-arrow-2x.png') no-repeat 95% 45%;
    background-size: 100%;
  }
}

.breadcrumbs .current {
  background: none;
  color: $grey-1;
}
