.app-check-your-answers {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 40px;

}

@media print {
  .app-check-your-answers {
    font-family: Arial, sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media print {
  .app-check-your-answers {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-check-your-answers {
    margin-bottom: 60px;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers {
    display: table;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--short {
    width: 100%;
  }
  .app-check-your-answers--short .app-check-your-answers__question {
    width: 30%;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers--long {
    width: 100%;
    border-bottom: 1px solid #bfc1c3;
  }
  .app-check-your-answers--long .app-check-your-answers__question {
    width: 50%;
  }
}

.app-check-your-answers__contents {
  position: relative;

}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents {
    display: table-row;
    border-bottom: 1px solid #bfc1c3 !important;
  }
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__contents:first-child .app-check-your-answers__question,
  .app-check-your-answers__contents:first-child .app-check-your-answers__answer,
  .app-check-your-answers__contents:first-child .app-check-your-answers__change {
    padding-top: 0;
  }
}

.app-check-your-answers__question,
.app-check-your-answers__answer
{
  display: table-cell;
  margin: 0;
  width: 40%;
  text-align: left;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__question,
  .app-check-your-answers__answer
  {
    display: table-cell;
    padding: 0.63158em 1.05263em 0.47368em 0;
  }
}

.app-check-your-answers__question {
  font-weight: bold;
  margin: 0.63158em 4em 0.21053em 0;
}

.app-check-your-answers__answer {
  font-weight: normal;
  padding-bottom: 0.47368em;
}

.app-check-your-answers__change {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 95%;
  font-weight: normal !important;
}

@media (min-width: 48.0625em) {
  .app-check-your-answers__change {
    position: static;
    padding-right: 0;
  }
}
