
/*
  Comment
  =======
*/

%comment {
  float: left;
  width: 100%;
  max-width: 800px;
  position: relative;
  padding: 1em 0 .25em;
  margin-bottom: 1em;
  > * {
    margin: 0 45px 0 15px;
  }
  > p {
    @extend %paragraph--small;
    margin-bottom: 1em;
  }
  ul,
  ol {
    list-style-position: inside;
    margin: 0 0 1em 1em;
  }
  ul {
    list-style-type: disc;
  }
}

%edit-link {
  position: absolute;
  right: 1em;
  margin-right: 0;
  top: .5em;
}

.comment {
  @extend %comment;
  background: $grey-4;
  border-left: 3px solid $grey-3;
  &__edit {
    @extend %edit-link;
  }
}

.submission-actions {
  float: left;
  list-style: none;
}

.submission-item {
  @extend %comment;
  background: $light-blue-25;
  border-left: 3px solid $light-blue-50;
  margin-bottom: .5em;
  h4 {
    border-bottom: 0;
    padding-bottom: 10px;
    display: block;
  }
  &__edit {
    @extend %edit-link;
  }

}

.submission-item__meta {
  width: 100%;
  float: left;
  margin: 0 0 .5em 1em;
  p {
    float: left;
    width: 20%;
    margin-right: 5%;
    clear: none;
  }
  b {
    display: block;
  }
}
