
/*
  Confirmation
  ============
*/

.confirmation {
  color: #FFF;
  background: $turquoise;
  padding: 30px 30px 15px;
  margin-bottom: 40px;
  h2 {
  	margin-top: -20px;
  }
  p {
    @extend %paragraph--large;
  }
  a {
  	color: #FFF;
  }
}
