/**
 * Confirmation
 */

.confirmation {
  color: $white;
  background: $turquoise;
  padding: 30px 30px 15px;
  margin-bottom: 40px;
  h2 {
    margin-top: -0.25em;
    display: inline-block;
  }
  p {
    @extend %paragraph;
  }
  a {
    color: $white;
  }
}