/**
 * Cookie Banner
 */

.cookie-banner {
  width: 100%;
  background: $light-blue-25;
  overflow: auto;
  padding: 10px 0;
  &__wrapper {
    @extend .page-wrapper;
  }
  p {
    @extend %paragraph--small;
  }
}