/**
 * Empty
 *
 * Styling for empty tables
 */

.empty {
  @extend %guidance;
  overflow: auto;
  display: block;
  clear: left;
  max-width: 600px;
  fieldset & {
    margin-bottom: 0;
  }
  &__wrapper {
    overflow: auto;
    clear: both;
    width: 100%;
    max-width: 600px;
    &:not(:last-child) {
      margin-bottom: $gutter;
    }
  }
  &__title {
    padding: 0;
  }
  .actions-container {
    margin-bottom: 0;
  }
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {
  .empty {
    .action--tertiary {
      clear: both;
      display: block;
      margin: 22px 0 -5px;
      padding: 0;
    }
  }
}

/**
 * Internal only styles
 */

@if $app == 'internal' {
  .empty {
    padding: 15px 15px 19px;
    .actions-container {
      margin-top: 5px;
    }
  }
}