
/*
  Empty
  =====
  Styling for empty tables
*/

.empty {
  background: $grey-4;
  overflow: auto;
  padding: 1.25em 1em 1.5em 1em;
  display: block;
  border-left: 4px solid $grey-2;
  clear: left;
  margin: 11px 0 1em 0;
  fieldset & {
    margin-bottom: 0;
  }
  &__wrapper {
    max-width: 800px;
    overflow: auto;
    margin: 3px 0 20px 0;
    clear: both;
  }
  &__title {
    padding: 0;
  }
  .actions-container {
    margin-bottom: 0;
  }
  p {
    @extend %paragraph--large;
    margin-bottom: .75em;
  }
}


/*
  Internal theme
  --------------
*/

@if $app == 'internal' {

  .empty p {
    @extend %paragraph--small;
  }

}