
/*
  Empty
  =====
  Styling for empty tables
*/

.empty {
  background: $grey-4;
  overflow: auto;
  padding: 1.25em 1em 1.75em;
  display: block;
  border-left: 4px solid $grey-2;
  clear: left;
  margin: 11px 0 1em;
  max-width: 600px;
  fieldset & {
    margin-bottom: 0;
  }
  &__wrapper {

    overflow: auto;
    margin: 3px 0 20px 0;
    clear: both;
  }
  &__title {
    padding: 0;
  }
  .actions-container {
    margin-bottom: 0;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {


}


// Internal theme
// ---------------

@if $app == 'internal' {
  .empty {
    padding: 15px 15px 19px 15px;
  }

}