
/*
  Empty
  =====
  Styling for empty tables
*/

.empty {
  background: $grey-4;
  overflow: auto;
  padding: 1.25em 1em 1.75em;
  display: block;
  border-left: 4px solid $grey-2;
  clear: left;
  max-width: 600px;
  fieldset & {
    margin-bottom: 0;
  }
  &__wrapper {
    overflow: auto;
    margin: 0 0 30px 0;
    clear: both;
    width: 100%;
    max-width: 600px;
  }
  &__title {
    padding: 0;
  }
  .actions-container {
    margin-bottom: 0;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  .empty {
    p {
      margin-bottom: 10px;
    }
    .action--tertiary {
      clear: both;
      display: block;
      margin: 22px 0 -5px;
      padding: 0;
    }
  }

}


// Internal theme
// ---------------

@if $app == 'internal' {
  .empty {
    padding: 15px 15px 19px 15px;
  }

}