/**
 * Filters
 */

.filters {
  padding-top: .5em;
  background: #FFF;
  font-weight: 400;
  @if $app == 'internal' {
    margin: 0.5em 0 -7px;
  }
  .field {
    background: none !important;
    &:not(:last-child) {
      margin-bottom: $gutter-half;
    }
  }
  label {
    margin-bottom: 5px;
  }
  select {
    font-size: font-size(4);
    // offset outline
    width: calc(100% - 2px);
    margin-left: 1px;
    @if $app == 'internal'  {
      font-size: font-size(3);
    }
  }
  input[type="search"] {
    width: 95%;
    padding: .5em 2%;
    display: block;
    margin-right: -20px;
  }
  .hint {
    @extend .hint--small;
    width: 100%;
  }
  .vertical-navigation &,
  .app-navigation & {
    border-top: 3px solid $primaryColour;
    padding-top: .75em;
    form {
      margin: 0;
    }
  }
}

.search-filter {
  @media (max-width: breakpoint('break-4')) {
    h3 {
      cursor: pointer;
      &:before {
        content: "►";
        font-size: 0.9em;
        margin-right: 0.25em;
      }
    }
    &.toggled h3:before {
      content: "▼";
    }
  }
  &:not(.toggled) {
    margin-bottom: $gutter;
  }
}