
/*
  Global header
  =============
*/

.global-header {
  background: $black;
  color: $white;
  overflow: hidden;
  &__wrapper {
    @extend .page-wrapper;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .global-header__wrapper {
    margin: 0 auto;
    padding: 4px 0 7px 0;
    overflow: auto;
    @media (max-width: 640px) {
      width: 92%;
      padding: 4px 4% 7px;
    }
  }

  .global-header__title {
    font-size: 24px;
    float: left;
    clear: none;
    margin: 5px 0 0 180px;
    @media (max-width: 640px) {
      font-size: 18px;
      margin: 5px 0 0 0;
      clear: both;
    }
  }

  .global-header__logo {
    float: left;
    padding-top: 6px;
    color: white;
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-decoration: none;
    margin-left: $gutter;
    @media (max-width: 640px) {
      padding-top: 10px;
      margin-left: 0;
    }
    img {
      margin-top: -3px;
      width: 35px;
      height: 31px;
      padding-right: 6px;
      float: left;
    }
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #FFF;
      margin-bottom: -1px;
      color: #FFF;
    }
  }

}


// Internal theme
// ---------------

@if $app == 'internal' {

  .global-header {
    background: #111;
    &__wrapper {
      margin: 0 $gutter .75em;
      padding: .5em $gutter 0;
      overflow: visible;
      height: 32px;
      @media(max-width: 640px) {
        height: 72px;
        padding-bottom: 1em;
        width: 92%;
        margin: 0 4%;
      }
    }
    &__title {
      float: left;
      font-size: 26px;
      font-weight: bold;
      margin-right: $gutter;
    }
  }

  .global-header a {
    color: $white;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

}
