// Global Footer
// -----------------------------------------------------------------
//
// The global GOV.UK standard footer for all pages to contain the
// GOV.UK crest logo as well as relevant navigation links
//

.global-footer {
  
  border-top: 1px solid $grey-2;
  background: $grey-3;
  color: $dark-text;
  clear: both;
  margin-top: 1.5em;
  
  a {
    color: $dark-text;
    &:hover {
      color: $text-colour;
    }
  }
  
  &__wrapper {
    @extend .page-wrapper;
    overflow: visible;
    padding: $gutter-2x 0;
    display: table;
  }
  
  &__links,
  &__copyright {
    @media (min-width: 640px){
      display: table-cell;
      vertical-align: bottom;
      width: 95%;
    }
  }
  
  &__links {
    @extend %list--reset;
  }
  
  &__link {
    @media (min-width: 640px){
      display: inline-block;
      margin-right: $gutter-half;
    }
    @media (max-width: 640px){
      text-align: center;
      margin-bottom: $gutter;
    }
    // 'Built by...' link
    &:last-child {
      display: block;
    }
  }
  
  &__copyright {
    height: 150px;
    text-align: right;
    background: url('#{$assetPath}/footer-crest.png') no-repeat 50% 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/footer-crest-2x.png') no-repeat 50% 0;
      background-size: 125px 102px;
    }
    a {
      padding-top: 130px;
      white-space: nowrap;
      text-align: center;
      display: block;
      &:focus {
        background-color: transparent;
      }
    }
  }
  
}