
/*
  Guidance
  ==============
*/


.guidance {
  background: $grey-4;
  border-left: 4px solid $grey-2;
  padding: 15px;
  margin-bottom: 40px;
  .page-header & {
    margin-bottom: 0;
  }
  .modal__wrapper & {
    word-wrap: break-word;
    float: none;
    overflow: auto;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

fieldset + .field .help,
.field + .field .help {
  margin-top: -20px;
}

.help__summary {
  @extend %paragraph;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  margin-bottom: 3px;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    border: 3px solid $yellow;
    margin: -3px 0 0 -3px;
  }
}

.help__text {
  @extend %paragraph;
  padding: 15px 15px 5px;
  border-left: 4px solid $grey-2;
  margin-bottom: 10px;
  .no-details & {
    display: none;
  }
}


// Internal theme
// ---------------

@if $app == 'internal' {
  .guidance {
    max-width: 600px;
    p {
      margin-bottom: 5px;
    }
  }
}
