/**
 * Guidance
 */

%guidance {
  background: $grey-4;
  border-left: 4px solid $grey-2;
  padding: 15px;
 }

.guidance {
  @extend %guidance;
  &:not(:last-child) {
    margin-bottom: $gutter;
  }
  .page-header & {
    margin-bottom: 0;
  }
  .modal__wrapper & {
    word-wrap: break-word;
    float: none;
    overflow: auto;
  }
}

.help__summary {
  @extend %paragraph;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  border: 3px solid transparent;
  @if $app == 'internal'  {
    font-size: font-size(3);
  }
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: 0;
    border-color: $yellow;
  }
}

.help__text {
  @extend %paragraph;
  padding: 15px 15px 5px;
  border-left: 4px solid $grey-2;
  margin-bottom: 10px;
  .no-details & {
    display: none;
  }
}

/**
 * Internal only styles
 */

@if $app == 'internal' {
  .guidance {
    max-width: 600px;
  }
}