
/*
  Guidance
  ==============
*/

.guidance {
  background: $grey-4;
  border-left: 4px solid $grey-2;
  padding: 15px;
  float: left;
  margin-bottom: 40px;
  .page-header & {
    margin-bottom: 0;
  }
}

.help__summary {
  @extend %paragraph--large;
  display: inline-block;
  color: $link-colour;
  text-decoration: underline;
  margin-bottom: 3px;
  &:hover {
    color: $link-hover-colour;
    cursor: pointer;
  }
  &:active,
  &:focus {
    outline: none;
    border: 3px solid $yellow;
    margin: -3px 0 0 -3px;
  }
}

.help__text {
  padding: 15px;
  border-left: 4px solid $grey-2;
}


/*
  Internal theme
  --------------
*/

@if $app == 'internal' {

  .guidance {
    max-width: 700px;
    border: 1px solid $grey-3;
    background: $grey-4;
    p {
      @extend %paragraph--small;
      color: $grey-1;
      margin-bottom: 10px;
    }
  }

}
