
/*
  Horizontal nav
  ==============
*/

.horizontal-navigation {
  @extend %navigation;
  margin-top: 0.5em;
  border-bottom: 1px solid $grey-3;
  font-size: font-size(2);
  &__item {
    @extend %navigation__item;
  }
  a {
    @extend %navigation__link;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .current {
    @extend %navigation__link;
    color: $black;
    border-bottom: 3px solid $primaryColour;
    margin:  0 0.75em;
    padding: 0.75em 0.2em;
    &:first-child {
      margin-left: 0;
    }
  }
}