
/*
  Horizontal nav
  ==============
*/

.horizontal-navigation {
  @extend %navigation;
  margin-top: .5em;
  border-bottom: 1px solid $grey-3;
  &__item {
    @extend %navigation__item;
  }
  a {
    @extend %navigation__link;
    padding: 6px .75em 12px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      z-index: 20;
    }
  }
  .current {
    @extend %navigation__link;
    color: $black;
    border-bottom: 2px solid $primaryColour;
    margin: 0 .75em;
    padding: 6px .2em 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}