/**
 * Inline Search
 */

.inline-search {
  .field {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  &__submit {
    @extend .action--primary;
    vertical-align: bottom;
    margin-left: 5px;
  }
  &__clear {
    @extend %paragraph--small;
    display: block;
    color: $link-colour;
    margin-bottom: -30px;
  }
}