/**
 * Inline Search
 */

.inline-search {
  margin-bottom: 0;
  .field {
    display: inline-block;
    margin-bottom: 0;
  }
  &__submit {
    @extend .action--primary;
    @extend %h4;
    vertical-align: bottom;
    margin: 0 0 -3px 5px;
  }
  &__clear {
    @extend %paragraph--small;
    display: block;
    color: $link-colour;
    margin-bottom: -30px;
  }
}