
/*
  List navigation
  ===============
*/

.list-navigation {
  list-style: none;
  margin-bottom: 40px;
  &__item {
    @extend %paragraph--large;
    margin-bottom: 5px;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}