
/*
  Modal
  =====
*/

.overlay {
  @extend %fixed;
  @include opacity(.7);
  background: $black;
  z-index: 1;
}

.modal__wrapper {
  @extend %fixed;
  overflow: auto;
  z-index: 6;
}

.modal,
.modal--alert {
  position: relative;
  background: $white;
  z-index: 2;
  padding: 30px;
  overflow: hidden;
  @media (max-width: breakpoint('break-3')) {
    padding: 20px;
  }
  &:focus {
    outline: none;
  }
  &__close {
    position: absolute;
    text-indent: -9999px;
    top: 10px;
    right: 10px;
  }
  &__title {
    margin-bottom: 20px;
  }
  form {
    overflow: visible;
    width: 100%;
    margin-bottom: 0;
  }
  form + form {
    margin-top: -4.5em;
  }
  table {
    margin-bottom: 1.5em;
  }
  .actions-container {
    display: block;
    margin: 3px 0;
  }
}

.modal {
  left: 50%;
  margin: 5% 0 5% -350px;
  width: 600px;
  overflow: visible;
  float: left;
  @media(max-width: breakpoint('break-3')) {
    margin: 46px 0 5%;
    width: auto;
    left: 0;
  }
}

.modal--alert {
  margin: 20% auto;
  width: 40%;
  max-width: 460px;
  min-width: 260px;
  .modal__title {
    @extend %h3;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .modal {
    &__title {
      @extend %h2;
    }
    &__close {
      height: 38px;
      width: 38px;
      background: url('../images/selfserve-close.png') no-repeat 10px 5px;
      @include device-pixel-ratio($ratio: 2) {
        background: url('../images/selfserve-close-2x.png') no-repeat 10px 5px;
        background-size: 19px 19px;
      }
    }
  }

  .modal .hint {
    @extend %paragraph--small;
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .modal {
    border-radius: 3px;
    padding: 65px 20px 60px;
    &__title {
      @extend %h4;
    }
    .actions-container {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 15px;
      width: auto;
      background: $grey-4;
      border-top: 1px solid $grey-3;
    }
  }

  .modal__header {
    border-radius: 3px 3px 0 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 12px 15px;
    background: $grey-4;
    border-bottom: 1px solid $grey-3;
  }

  .modal--alert {
    border-radius: 3px;
    padding: 75px 20px 20px;
    .modal__title {
      @extend %h4;
      margin-bottom: 0;
    }
    p {
      @extend %paragraph--small;
    }
  }

  .modal__close {
    top: 11px;
    text-indent: -9999px;
    height: 22px;
    width: 22px;
    background: url('../images/close.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('../images/close-2x.png') no-repeat 0 0;
      background-size: 60px 22px;
    }

    &:hover {
      background-position: -39px 0;
    }
  }

}
