/**
 * Notices
 */

%notice {
  border-radius: 2px;
  overflow: auto;
  padding: 7px 15px 6px;
  margin-bottom: 0.25em;
  p {
    @extend %paragraph--small;
    margin: 0;
    padding: 0;
  }
  a {
    float: right;
  }
}

@mixin notice($color) {
  $background : desaturate(lighten($color, 50%), 10%);
  $border     : desaturate(lighten($color, 30%), 10%);

  @extend %notice;

  background: $background;
  border: 1px solid $border;
  color: $color;
}

.notice-container {
  overflow: auto;
  position: fixed;
  top: 14px;
  left: 0;
  width: 95%;
  margin: 0 2.5%;
  z-index: 2;
  @media (min-width:640px) {
    left: 50%;
    width: 100%;
    margin-left: -250px;
    margin-right: 0;
    max-width: 500px;
  }
  .modal & {
    position: relative;
    max-width: none;
    left: 0;
    width: 100%;
    margin: -10px 0 30px;
  }
  .sidebar--right & {
    margin: 0 0 1em;
    position: relative;
    left: 0;
    top: 0;
    z-index: 0;
    a {
      float: left;
    }
  }
}

.notice {
  &--success {
    @include notice(#3C763D);
  }
  &--warning {
    @include notice(#8A6D3B);
  }
  &--info {
    @include notice(#31708F);
  }
  &--danger {
    @include notice(#A94442);
  }
}