/**
 * Page Header
 */

.page-header {

  /**
  * Selfserve only styles
  */

  @if $app == 'selfserve' {

    position: relative;
    margin-bottom: 45px;

    @media (max-width: $mobile-column-stack){
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    &__wrapper {
      margin-top: 3em;
    }

    &.two-thirds {
      border-bottom: 1px solid $grey-2;
      margin-top: 3em;
      padding-bottom: 2em;
    }

    h1 {
      max-width: 540px;
    }

    &__subtitle {
      color: $grey-1;
      font-weight: 400;
      margin-bottom: 0;
    }

    &__actions {
      position: absolute;
      right: -5px;
      bottom: 9px;
      list-style: none;
      @media (max-width: $mobile-column-stack){
        position: relative;
        float: left;
        top: 0;
        margin: 1em 0;
        width: 100%;
      }
    }

    &__action {
      @extend %h4;
      text-decoration: none;
      font-weight: 600;
    }

    &__text {
      margin: 30px 0 0;
      max-width: 600px;
      width: 100%;
      @media (max-width: $mobile-column-stack){
        margin-top: 15px;
      }
    }

  }// selfserve

  /**
  * Internal only styles
  */

  @if $app == 'internal' {
    width: 100%;
    border-bottom: 1px solid $grey-3;
    background: $grey-4;
    overflow: hidden;
    padding-bottom: 10px;
    &__wrapper {
      @extend %page-wrapper;
    }
    &__subtitle {
      @include font-size(15px, 15px, 11pt);
      color: $grey-1;
      font-weight: 400;
      display: inline;
      @media(max-width: $mobile-column-stack) {
        display: block;
        margin: 5px 0 0;
      }
    }
  }// internal

}// .page-header