
/*
  Page header
  ============
*/


// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  .page-header {

    position: relative;
    margin-bottom: 2.5em;

    @media (max-width: breakpoint('break-3')){
      margin-top: 1.5em;
      margin-bottom: 1.5em;
    }

    &__wrapper {
      margin-top: 3em;
    }

    &.two-thirds {
      @extend .two-thirds;
      border-bottom: 1px solid $grey-2;
      margin-top: 3em;
      padding-bottom: 2em;
    }

    h1 {
      max-width: 540px;
    }

    &__subtitle {
      color: $grey-1;
      font-weight: 400;
    }

    &__actions {
      position: absolute;
      right: 0;
      bottom: 9px;
      list-style: none;
      @media (max-width: breakpoint('break-3')){
        position: relative;
        float: left;
        top: 0;
        margin: 1em 0;
        width: 100%;
      }
    }

    &__action {
      @extend %h4;
      text-decoration: none;
      font-weight: 600;
    }

    &__text {
      margin: 30px 0 0;
      max-width: 600px;
      width: 100%;
      @media (max-width: breakpoint('break-3')){
        margin-top: 15px;
      }
    }

  }

}


// Internal theme
// ---------------

@if $app == 'internal' {

  .page-header {
    width: 100%;
    border-bottom: 1px solid $grey-3;
    background: $grey-4;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &__wrapper {
      @extend .page-wrapper;
      margin-bottom: 0.75em;
      @media(max-width: breakpoint('break-3')) {
        width: 92%;
        margin: 0 4% 1em;
      }
    }
    &__subtitle {
      @include font-size(15px,11pt,15px);
      color: $grey-1;
      font-weight: 400;
      display: inline;
      @media(max-width: breakpoint('break-3')) {
        display: block;
        margin: 5px 0 0;
      }
    }
  }

}
