
/*
  Pagination
  ==========
*/

.pagination {
  &__item {
    @extend %paragraph--small;
    display: inline;
    margin: 0 5px;
  }
}

@media(max-width: breakpoint('break-3')) {
  a[rel="Previous"],
  a[rel="Next"] {
    display: none;
  }
}

// Internal theme
// ---------------

@if $app == 'internal' {

  .pagination__item {
    font-size: 15px;
  }

}