/**
 * Phase Tag
 */

.phase {
  @extend %paragraph--small;
  float: left;
  margin-bottom: 0;
  &__tag {
    background: $alpha-colour;
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1px 5px 0;
    margin-right: 8px;
    letter-spacing: 1px;
    position: relative;
  }
  &__message {
    @media (max-width: breakpoint('break-4')){
      display: none;
    }
  }
}