
/*
  Preloader
  =========
*/

%preloader-icon {
  height: 28px;
  width: 28px;
  z-index: 30;
  @include device-pixel-ratio($ratio: 2) {
    background-size: 100%;
  }
}

.preloader-icon--modal {
  @extend %preloader-icon;
  position: fixed;
  left: 49%;
  top: 52%;
  background: url('../images/preloader.gif') no-repeat 0 0;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/preloader-2x.gif');
  }
}

.preloader-overlay--modal {
  @include opacity(.7);
  position: fixed;
  width: 100%;
  height: 100%;
  background: $black;
  z-index: 20;
}

.preloader-icon--table {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 39px;
  left: 50%;
  background-image: url('../images/address-preloader-2x.gif');
  background-size: 100%;
}

.preloader-overlay--table {
  @include opacity(.6);
  position: absolute;
  width: 100%;
  height: 100%;
  background: $white;
}

.preloader-icon--inline {
  float: right;
  margin-top: 8px;
  height: 20px;
  width: 20px;
  background: url('../images/address-preloader.gif') no-repeat 0 0;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/address-preloader-2x.gif');
    background-size: 20px 20px;
  }
}
