/**
 * Preloader
 */

%preloader-overlay {
  @include opacity(.7);
  width: 100%;
  height: 100%;
  z-index: 20;
}

%preloader {

  &__icon {
    z-index: 30;
    background-size: 100%;
    background-repeat: none;
    background-position: 0 0;
  }

  &--dark {
    @extend %preloader__icon;
    height: 28px;
    width: 28px;
    background-image: url('#{$assetPath}/bitmap/preloader.gif');
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('#{$assetPath}/bitmap/preloader-2x.gif');
    }
  }

  &--light {
    @extend %preloader__icon;
    height: 20px;
    width: 20px;
    background-image: url('#{$assetPath}/bitmap/preloader--dark.gif');
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('#{$assetPath}/bitmap/preloader--dark-2x.gif');
    }
  }

}// %preloader

.preloader {

  &-overlay {
    &--modal {
      @extend %preloader-overlay;
      position: fixed;
      background: $black;
    }
    &--table {
      @extend %preloader__overlay;
      position: absolute;
      background: $white;
    }
  }

  &-icon {
    &--modal {
      @extend %preloader--dark;
      position: fixed;
      left: 49%;
      top: 52%;
    }
    &--table {
      @extend %preloader--light;
      position: absolute;
      top: 42px;
      left: 50%;
    }
    &--inline {
      @extend %preloader--light;
      float: right;
      margin-top: 8px;
    }
    &--large {
      @extend %preloader--light;
      margin: 20px auto;
      display: block;
      height: 34px;
      width: 34px;
    }
  }

}// .preloader