
/*
  Preloader
  =========
*/

.preloader {
  @include opacity(.6);
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: -144px;
  z-index: 20;
}

%preloader-icon {
  height: 32px;
  width: 32px;

  z-index: 30;
  @include device-pixel-ratio($ratio: 2) {
    background-size: 30px 30px;
  }
}

.preloader__icon {
  @extend %preloader-icon;
  position: fixed;
  left: 49%;
  top: 52%;
  background: url('../images/preloader.gif') no-repeat 0 0;
  background-size: 100%;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/preloader-2x.gif');
  }
}

.processing__icon {
  @extend %preloader-icon;
  margin: 40px auto 100px;
  background: url('../images/preloader--dark.gif') no-repeat 0 0;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/preloader--dark-2x.gif');
  }
}