
/*
  Preloader
  =========
*/

%preloader-icon {
  height: 32px;
  width: 32px;
  z-index: 30;
  @include device-pixel-ratio($ratio: 2) {
    background-size: 30px 30px;
  }
}

.preloader-icon--modal {
  @extend %preloader-icon;
  position: fixed;
  left: 49%;
  top: 52%;
  background: url('../images/preloader.gif') no-repeat 0 0;
  background-size: 100%;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/preloader-2x.gif');
  }
}

.preloader-overlay--modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $black;
  opacity: .7;
  z-index: 20;
}


.preloader-icon--table {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 39px;
  left: 50%;
  background-image: url('../images/address-preloader-2x.gif');
  background-size: 20px 20px;
}

.preloader-overlay--table {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $white;
  opacity: .75;
}


.preloader-icon--inline {
  float: right;
  margin-top: 8px;
  height: 20px;
  width: 20px;
  background: url('../images/address-preloader.gif') no-repeat 0 0;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/address-preloader-2x.gif');
    background-size: 20px 20px;
  }
}




