
/*
  Proposition navigation
  ======================
*/

.proposition {
  float: left;
  overflow: auto;
  margin-left: 180px;
  @media (max-width: breakpoint('break-4')) {
    margin-left: 45px;
  }
  &__title {
    float: left;
    font-size: 24px;
    display: block;
    margin: 4px 0 2px;
  }
}

.proposition__toggle {
  display: none;
  float: right;
  color: #FFF;
  text-decoration: none;
  margin-top: 5px;
  @media (max-width: breakpoint('break-3')) {
    display: block;
  }
  &:hover {
    color: #FFF;
    text-decoration: underline;
  }
  &:focus {
    color: #FFF;
  }
  &::after {
    display: inline-block;
    font-size: 8px;
    height: 8px;
    padding-left: 5px;
    vertical-align: middle;
    content: " \25BC";
  }
}

.proposition-nav {
  list-style: none;
  clear: left;
  @media (max-width: breakpoint('break-3')) {
    display: block;
  }
  &__item {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin: 0 1em 4px 0;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}




@media (max-width: breakpoint('break-3')) {
  .proposition {
    width: 100%;
    margin: .5em 0 .25em 0;
  }
  .proposition__title {
    font-size: 18px;
  }
  .proposition-nav {
    display: none;
    padding-top: 10px
  }
  .proposition-nav__item {
    width: 100%;
    margin: 0;
  }
  .proposition-nav__item a {
    display: block;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #222;
  }
  .proposition-nav__item a:focus {
    outline: none;
  }
}
