/**
 * Read Only
 */

.read-only {

  @extend %clearfix;
  display: block;
  width: 100%;
  margin-bottom: 1em;

  dd {
    word-wrap: break-word;
  }

  .modal & {
    width: 95%;
    margin: 0;
  }

  @if $app == 'internal' {
    &__header {
      margin-bottom: $gutter-half;
    }
    &__title {
      margin-top: 8px;
    }
    dt {
      color: $grey-1;
    }
  }

}

.read-only__header,
.table__header > h3 {
  border-bottom: 1px solid $grey-3;
  margin-bottom: $gutter-half;
  float: left;
  width: 100%;
  padding-bottom: 8px;
}

.text-area {
  width: 100%;
  max-width: 800px;
  p {
    @extend %paragraph--small;
  }
}

/*
 * Fake definition list
 */

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-3;
  margin: 0;
  margin-bottom: 12px;
  padding-bottom: 3px;
  width: 100%;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  &__item {
    overflow: hidden;
    list-style: none;
  }
}

dt,
dd {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 0 2.5% 10px 0;
  width: 47.5%;
}

dd {
  font-weight: 600;
}