/**
 * Read Only
 */

.read-only {
  display: block;
  width: 100%;
  overflow: visible;
  float: left;
  margin-bottom: 1em;
  .modal & {
    width: 95%;
    margin: 0;
  }
  .actions-container {
    margin-bottom: 20px;
  }
  h4 {
    border: 0;
    float: left;
    padding: 0;
    display: block;
    margin-top: 2px;
  }
  table {
    border: 0;
    border-bottom: 1px solid $grey-3;
  }
  th,
  td {
    @if $app == 'selfserve' {
      @extend %paragraph--small;
    }
    vertical-align: middle;
  }
  th {
    background: none;
    border: 0;
    padding: 0 0 .5em;
  }
  td {
    border: 0;
    border-top: 1px solid $grey-3;
    padding: .5em 0;
  }
}

.read-only__header {
  @extend %header-with-actions;
  border-bottom: 1px solid $grey-3;
  margin-bottom: 1em;
  .actions-container {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.text-area {
  width: 100%;
  max-width: 800px;
  p {
    @extend %paragraph--small;
  }
}


/*
  Fake definition list
*/

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-3;
  margin: 0 0 7px;
  padding: 0 0 5px;
  width: 100%;
}


.definition-list__item {
  width: 50%;
  float: left;
  list-style: none;
  li {
    max-width: 700px;
    margin-bottom: .5em;
  }
  a {
    font-weight: 400;
  }
}


dt,
dd {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 5px 0;
  width: 47.5%;
}

dd {
  word-break: break-word;
}

.definition-list__item.full-width {
  width: 100%;
  display: block;
  padding: 0;
  dt {
    width: 23.75%;
  }
  dd {
    width: 75%;
  }
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {
  .read-only h4 {
    @extend %h3;
  }
  dd {
    font-weight: 700;
  }
}

/**
 * Internal only styles
 */

@if $app == 'internal' {

  dt {
    color: #555;
  }

  .read-only__header {
    margin-top: -8px;
  }

  h3.read-only__title,
  h4.read-only__title {
    margin-top: 8px;
  }

}