/**
 * Read Only
 */

.read-only {
  display: block;
  width: 100%;
  overflow: visible;
  float: left;
  margin-bottom: 1em;
  .modal & {
    width: 95%;
    margin: 0;
  }
  h4 {
    border: 0;
    float: left;
    padding: 0;
    display: block;
    margin-top: 2px;
  }
  table {
    border: 0;
    border-bottom: 1px solid $grey-3;
  }
  th,
  td {
    @if $app == 'selfserve' {
      @extend %paragraph--small;
    }
    vertical-align: middle;
  }
  th {
    background: none;
    border: 0;
    padding-bottom: 0.5em;
  }
  td {
    border: 0;
    border-top: 1px solid $grey-3;
    padding: 0.5em 0;
  }
  &__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-3;
  }
  dd {
    word-wrap: break-word;
  }
}

.text-area {
  width: 100%;
  max-width: 800px;
  p {
    @extend %paragraph--small;
  }
}

/*
 * Fake definition list
 */

.definition-list {
  float: left;
  border-bottom: 1px solid $grey-3;
  margin: 0 0 10px;
  padding: 0 0 5px;
  width: 100%;
  &__item {
    width: 50%;
    float: left;
    list-style: none;
    li {
      max-width: 700px;
    }
    a {
      font-weight: 400;
    }
    &.full-width {
      width: 100%;
      display: block;
      padding: 0;
      dt {
        width: 23.75%;
      }
      dd {
        width: 75%;
      }
    }
  }
}

dt,
dd {
  float: left;
  overflow: auto;
  margin: 0;
  padding: 0 0 5px;
  width: 47.5%;
}

dd {
  word-break: break-word;
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {
  .read-only h4 {
    @extend %h3;
  }
  dd {
    font-weight: 700;
  }
}

/**
 * Internal only styles
 */

@if $app == 'internal' {

  dt {
    color: $grey-1;
  }

  .read-only__header {
    margin-bottom: $gutter-half;
  }

  .read-only__title,
  .read-only__title {
    margin-top: 8px;
  }

}