
/*
  Results-settings
  ================
*/

.results-settings {
  float: left;
  margin-bottom: 2em;
  &__list {
    list-style: none;
    float: left;
  }
  p,
  &__item {
    @extend %paragraph--small;
    float: left;
    margin-right: .5em;
    clear: none;
  }
}
