/**
 * Review
 */

.review {
  background: #FFF;
  body {
    background: #FFF;
    margin: 0 auto;
    max-width: 860px;
  }
}

.review-header {
  padding: 100px 0 50px 0;
  width: 70%;
}

.review-section {
  border-top: 3px solid $black;
  padding-top: 20px;
  margin-top: 20px;
  float: left;
  width: 100%;
  h2 {
    margin-bottom: 40px;
  }
  p {
    @extend %paragraph--small;
    max-width: 700px;
    margin-bottom: .6em;
  }
}