
/*
  Search
  ======
*/

.search {
  float: left;
  margin-top: 1px;
  width: 460px;
  @media (max-width: breakpoint('break-3')) {
    width: 100%;
  }
  &__wrapper {
    border-radius: 2px;
    float: left;
    position: relative;
    height: 32px;
    width: 75%;
    background: $white;
    @media (max-width: breakpoint('break-3')) {
      width: 100%;
    }
  }
  &__input {
    @extend %paragraph--small;
    border-radius: 2px;
    background: $white;
    position: absolute;
    display: table-cell;
    left: 0;
    top: 0;
    width: 165px;
    padding: 8px 0 0 3%;
    line-height: 1.2;
    border: 0;
    color: $black;
    font-size: 14px;
    vertical-align: middle;
    &::placeholder {
      color: #767676;
      opacity:  1;
    }
  }
  &__input:focus {
    outline: none;
  }
  input[type="submit"] {
    border-radius: 0 3px 3px 0;
    position: absolute;
    right: -3px;
    border: 0;
    height: 32px;
    width: 38px;
    text-indent: -9999px;
    background: $primaryColour url('#{$assetPath}/search.png') no-repeat 50% 45%;
    @include device-pixel-ratio($ratio: 2) {
      background: $primaryColour url('#{$assetPath}/search-2x.png') no-repeat 50% 45%;
      background-size: 17px 17px;
    }
  }
  &__advanced {
    font-size: 14px;
    color: $white;
    margin: .5em 1em;
    float: left;
    @media(max-width: breakpoint('break-3')) {
      display: none;
    }
  }
}

.search__select {
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  right: 34px;
  border: 1px solid $grey-2;
  height: 21px;
  margin: 4px 5px 0;
  padding: 0 20px 0 7px;
  background: #EEE;
  background: linear-gradient(#FCFCFC, #EEE);
  &::after {
    content: ' ';
    display: block;
    background: red;
    float: left;
    height: 20px;
    width: 30px;
    position: absolute;
    top: 2px;
    right: 5px;
    pointer-events: none;
    background: url('../images/down-arrow.png') no-repeat 100% 5px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 12px 112px;
    }
  }
  select {
    width: 150%;
    background: transparent;
    font-size: 14px;
    padding: 0;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    line-height: 1.5;
    color: #767676;
  }
  select:focus {
    outline: none;
  }
}
