
/*
  Search
  ======
*/

.search {
  @media (max-width: breakpoint('break-3')) {
    width: 100%;
  }
  &__wrapper {
    float: left;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    @media (max-width: breakpoint('break-3')) {
      width: 100%;
    }
  }
  &__select {
    border: none;
    border-radius: 0;
    margin: 0;
    float: left;
    border-right: 1px solid rgba(black, 0.1);
    background-color: $grey-4;
    position: relative;
    &::after {
      content: ' ';
      display: block;
      background: red;
      float: left;
      height: 20px;
      width: 10px;
      position: absolute;
      top: 0.6em;
      right: 0.75em;
      pointer-events: none;
      background: url('../images/down-arrow.png') no-repeat 100% 4px;
      @include device-pixel-ratio($ratio: 2) {
        background-image: url('../images/down-arrow-2x.png');
        background-size: 12px 112px;
      }
    }
    &:focus {
      outline: none;
    }
    select {
      -moz-appearance:none;
      -webkit-appearance: none;
      border: none;
      margin: 0;
      cursor: pointer;
      padding: 0 12px;
      color: #767676;
      display: inline-block;
      height: 32px;
      min-width: 150px;
    }
  }
  &__input {
    float: left;
    background: $white;
    padding: 0 12px;
    background: $white;
    color: $black;
    width: 220px;
    border: 0;
    height: 32px;
    &::placeholder {
      color: #767676;
      opacity:  1;
    }
  }
  &__input:focus {
    outline: none;
  }
  &__button,
  [type="submit"] {
    float: left;
    width: 2.5rem;
    height: 32px;
    border-radius: 0 3px 3px 0;
    border: 0;
    text-indent: -9999px;
    background: $primaryColour url('#{$assetPath}/search.png') no-repeat 50% 45%;
    @include device-pixel-ratio($ratio: 2) {
      background: $primaryColour url('#{$assetPath}/search-2x.png') no-repeat 50% 45%;
      background-size: 17px 17px;
    }
    &:focus {
      outline: 0;
    }
  }
  &__advanced {
    color: $white;
    float: left;
    margin-left: 1em;
    margin-top: 0.75em;
    @media(max-width: breakpoint('break-3')) {
      display: none;
    }
  }
  form {
    margin: 0;
  }
}