/**
 * Split Screen
 */

%iframe {
  background: $grey-2;
  position: fixed;
  margin: 0;
  border: 0;
}

.iframe {
  &--full {
    @extend %iframe;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &--vertical {
    @extend %iframe;
    height: 100%;
  }
  &--horizontal {
    @extend %iframe;
    width: 100%;
  }
}

#iframe-one {
  top: 0;
  &.iframe--vertical {
    width: 100%;
    bottom: 0;
    left: 0;
  }
  &.iframe--horizontal {
    right: 0;
    left: 0;
    height: 50.5%;
  }
  &.iframe--horizontal.full {
    height: 100%;
  }
}

#iframe-two {
  bottom: 0;
  right: 0;
  &.iframe--vertical {
    width: 40%;
    top: 0;
    z-index: 11;
  }
  &.iframe--vertical.collapsed {
    width: 0;
  }
  &.iframe--horizontal {
    left: 0;
    height: 45%;
  }
  &.iframe--horizontal.collapsed {
    height: 0;
  }
}

.iframe-controls {
  position: fixed;
  z-index: 12;
  background-color: $grey-4;
}

.iframe-controls a {
  @extend .action--secondary;
  text-indent: -9999px;
  height: 24px;
  width: 24px;
  padding: 0;
  background-image: url('../images/iframe-controls.png');
  background-repeat: no-repeat;
  @include device-pixel-ratio($ratio: 2) {
    background-image: url('../images/iframe-controls-2x.png');
    background-size: 54px 171px;
  }
  &:hover {
    background-image: url('../images/iframe-controls.png');
    background-repeat: no-repeat;
  }
}

.iframe-controls.horizontal {
  box-shadow: 0 0 6px 0 rgba(black, 0.2);
  border-top: 1px solid $grey-2;
  border-bottom: 1px solid $grey-2;
  right: 0;
  bottom: 45%;
  left: 0;
  width: 100%;
  height: 38px;
  padding-left: 3px;
  a {
    margin: 6px 0 0 3px;
  }
  &.collapsed {
    bottom: 0;
  }
}

.iframe-controls.vertical {
  box-shadow: 0 0 6px 0 rgba(black, 0.2);
  border-left: 1px solid $grey-2;
  border-right: 1px solid #AEAEAE;
  top: 0;
  right: 40%;
  width: 38px;
  height: 100%;
  a {
    margin: 6px 0 0 6px;
  }
  &.collapsed {
    right: 0;
  }
}

a.iframe-controls--close {
  background-position: 6px 7px;
  &:hover {
    background-position: -36px 7px;
  }
}

a.iframe-controls--orientation {
  background-position: 6px -75px;
  &:hover {
    background-position: -36px -75px;
  }
}

.vertical a.iframe-controls--orientation {
  background-position: 6px -33px;
  &:hover {
    background-position: -36px -33px;
  }
}

a.iframe-controls--toggle {
  background-position: 6px -155px;
  &:hover {
    background-position: -36px -155px;
  }
}

.vertical a.iframe-controls--toggle {
  background-position: 4px -116px;
  &:hover {
    background-position: -38px -116px;
  }
}