.surrender-govuk-summary-list {
  .govuk-summary-list {
    &__value {
      @extend .govuk-body;
    }
  }
}

.list-grey {
  border-left: solid grey;
  margin: 10px 0;
  padding: 10px;
  background: $grey-3;
  -webkit-print-color-adjust: exact;
}

.vehicle-discs-section, .operator-licence-section, .community-licence-section {
  display: contents;

  & div:not(:last-child) dt {
    border-bottom: none;
  }

  & div:not(:last-child) dd {
    border-bottom: none;
  }
}