
/*
  Tooltip
  =======
*/

.tooltip-grandparent {
  cursor: pointer;
  &:hover .tooltip {
    display: block;
  }
}

.tooltip-parent {
  cursor: pointer;
  position: relative;
  overflow: visible;
  &:hover .tooltip {
    display: inline-block;
  }
}

.tooltip {
  border-radius: 2px;
  display: none;
  position: absolute;
  padding: .75em;
  width: 200px;
  top: -14px;
  transform: translateY(-100%);
  left: -38px;
  opacity: .9; /* IE :after bug prevents using opacity mixin */
  line-height: 1.2;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: white;
  background: $black;
  white-space: normal;
  &:hover {
    cursor: default;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-top: 10px solid $black;
    border-right: 9px solid transparent;
    left: 35px;
    bottom: -9px;
  }
}
