
/*
  User header
  ==============
  Component decription
*/

.user-header {
  border-top: 10px solid $govuk-blue;
  padding: .6em 0;
  margin-bottom: .5em;
  @media (max-width: 640px){
    width: 92%;
    margin: 0 4% .4em;
  }
}

.user-menu {
  float: right;
  &__item {
    display: inline;
  }
}


// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  .user-header {
    @extend .full-width;
    @extend %paragraph--small;
    border-bottom: 1px solid $grey-2;
  }
}

// Internal theme
// ---------------

@if $app == 'internal' {
  .user-header {
    @extend %paragraph--tiny;
    border-top: 6px solid $primaryColour;
  }
}
