/**
 * User Header
 */

.user-menu {
  float: right;
  &__item {
    display: inline;
    & + & {
      margin-left: .5em;
    }
  }
}

.user-header {
  
  display: inline-block;
  width: 100%;
  padding: .8em 0;
  margin-bottom: .5em;

  /**
   * Selfserve only styles
   */

  @if $app == 'selfserve' {
    @extend %paragraph--small;
    border-bottom: 1px solid $grey-2;
    border-top: 10px solid $govuk-blue;
  }

  /**
   * Internal only styles
   */

  @if $app == 'internal' {
    padding: 10px 0;
  }
  
}// .user-header