
/*
  Verify
  ======
*/

$verify-colour: #255AAA;

.verify {
  background: $verify-colour;
  padding: 25px;
  overflow: auto;
  margin-bottom: 40px;
  color: #FFF;
  p,
  a {
    color: #FFF;
  }
  p {
    width: 100%;
  }
}

a.action--verify {
  @extend %h4;
  background: #FFF;
  color: $verify-colour;
  padding:  10px 20px;
  margin-right: 20px;
  font-weight: 700;
  border-bottom: 2px solid darken($verify-colour,20%);
}
