/*
  Vertical navigation
  ===================
*/

.vertical-navigation {
  @extend %navigation;
  overflow: hidden;
  padding-bottom: 2px;
  margin-bottom: 2em;
  &__title {
    margin-bottom: 0;
  }
  &__item {
    width: 100%;
    float: left;
  }
  a {
    @extend %navigation__link;
    padding: 10px 0;
    border-bottom: 1px solid $grey-3;
  }
  .current,
  .disabled {
    padding: .5em 0 .25em;
    a {
      border-bottom: none;
      padding-top: 0;
      &:hover {
        background: none;
      }
    }
  }
  .current {
    border-bottom: 3px solid $primaryColour;
    padding-bottom: .5em;
    margin-bottom: -1px;
    overflow: visible;
  }
  .disabled {
    color: $grey-1;
    border-bottom: 1px solid $grey-3;
  }
}
