.dropdown-down {
	width: 11px;
	height: 6px;
	background-position: 0 0;
}

.dropdown-up {
	width: 11px;
	height: 6px;
	background-position: -20px 0;
}

.internal-application-complete {
	width: 17px;
	height: 13px;
	background-position: -40px 0;
}

.internal-application-updated {
	width: 15px;
	height: 15px;
	background-position: -65px 0;
}

.internal-application-warning {
	width: 18px;
	height: 15px;
	background-position: -85px 0;
}

.internal-modal-close {
	width: 16px;
	height: 14px;
	background-position: -110px 0;
}

.internal-search {
	width: 16px;
	height: 17px;
	background-position: -135px 0;
}

.internal-split-screen-close {
	width: 11px;
	height: 12px;
	background-position: -160px 0;
}

.internal-split-screen-down {
	width: 13px;
	height: 9px;
	background-position: -180px 0;
}

.internal-split-screen-left {
	width: 8px;
	height: 13px;
	background-position: -200px 0;
}

.internal-split-screen-pin-bottom {
	width: 12px;
	height: 12px;
	background-position: -215px 0;
}

.internal-split-screen-pin-left {
	width: 12px;
	height: 12px;
	background-position: -235px 0;
}

.lock {
	width: 10px;
	height: 12px;
	background-position: -255px 0;
}

.selfserve-breadcrumb {
	width: 9px;
	height: 14px;
	background-position: -270px 0;
}

.selfserve-document {
	width: 27px;
	height: 30px;
	background-position: -285px 0;
}

.selfserve-important {
	width: 25px;
	height: 25px;
	background-position: -320px 0;
}

.selfserve-modal-close {
	width: 23px;
	height: 22px;
	background-position: -350px 0;
}

.dropdown-down, .dropdown-up, .internal-application-complete, .internal-application-updated, .internal-application-warning, .internal-modal-close, .internal-search, .internal-split-screen-close, .internal-split-screen-down, .internal-split-screen-left, .internal-split-screen-pin-bottom, .internal-split-screen-pin-left, .lock, .selfserve-breadcrumb, .selfserve-document, .selfserve-important, .selfserve-modal-close {
	background-size: 380px 35px;
	background-repeat: no-repeat;
	background-image: url("../../../public/images/application-sprite.png");
}

.svg .dropdown-down, .svg .dropdown-up, .svg .internal-application-complete, .svg .internal-application-updated, .svg .internal-application-warning, .svg .internal-modal-close, .svg .internal-search, .svg .internal-split-screen-close, .svg .internal-split-screen-down, .svg .internal-split-screen-left, .svg .internal-split-screen-pin-bottom, .svg .internal-split-screen-pin-left, .svg .lock, .svg .selfserve-breadcrumb, .svg .selfserve-document, .svg .selfserve-important, .svg .selfserve-modal-close {
	background-image: url("../../../public/images/application-sprite.svg");
}
