// Blue variation of govuk design inset component
.guidance-blue {
  @extend .govuk-inset-text;

  background: #EBF5F9;
  border-color: govuk-colour("blue");
}

.heading-box-grey {
  @extend .govuk-inset-text;

  background: govuk-colour("grey-4");
  border-color: govuk-colour("grey-3");
}

// GDS Orange is not accessible for text on a white background, this is a short term fix to increase the contrast until we redesign statuses across VOL.
#pg\:permits\:index,
#pg\:permits\/ecmt-under-consideration\:underConsideration {
  .status.orange {
    color: #c5490a;
  }
}
