// Base
// -----------------------------------------------------------------
//
// The utmost core styles required for building a modern webapp that 
// may not necessarily be specific to OLCS.
//
// [1] - Document Wrapper
// [2] - CSS Reset/Normalize
//
// -----------------------------------------------------------------

// [1] - Document Wrapper
// The document/application wrapper which contains the entire app
// -----------------------------------------------------------------

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black,0);
  background: theme(
    $selfserve: $grey-3,
    $internal: $grey-4
  );
}

body {
  margin: 0;
  background: #FFF;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.31579;
  text-transform: none;
  vertical-align: baseline;
  font-family: $NTA-Light;
  font-size: theme(
    $selfserve: 100%,
    $internal: font-size(3)
  );
}

// [2] - CSS Reset/Standardise
// Reset any default styles applied by the browser and render any 
// inconsistencies as consistent
// -----------------------------------------------------------------

pre {
  overflow: auto;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: disc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    display: inline;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

dl,
dt,
dd {
  width: 100%;
}

dd {
  margin: 0 0 1em;
  float: left;
  // for some reason Firefox seems to automatically add a :before 
  // pseudo element to dd items, which causes alignment issues
  &:before {
    display: none;
  }
}

hr {
  width: 100%;
  height: .25em;
  display: block;
  border: 0;
  clear: both;
}