// Base
// -----------------------------------------------------------------
//
// The utmost core styles required for building a modern webapp that 
// may not necessarily be specific to OLCS.
//
// [1] - Document Wrapper
// [2] - CSS Reset/Normalize
// [3] - Selfserve only styles
// [4] - Internal only styles
//
// -----------------------------------------------------------------

// [1] - Document Wrapper
//
// The document/application wrapper which contains the entire app

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  margin: 0;
  background: #FFF;
  font-size: 100%;
  font-weight: 400;
  color: $black;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.31579;
  text-transform: none;
  vertical-align: baseline;
}

// [2] - CSS Reset/Normalize
//
// Reset any default styles applied by the browser and render any 
// inconsistencies as consistent

pre {
  overflow: auto;
}

menu,
ol,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: disc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    display: inline;
  }
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

dl,
dt,
dd {
  width: 100%;
}

dd {
  margin: 0 0 1em;
  float: left;
}


// [3] - Selfserve only styles
// Selfserve theme
// ---------------

@if $app == 'selfserve' {
  html {
    background: $grey-3;
  }

  body {
    font-family: $NTA-Light;
  }
}


// [4] - Internal only styles
// Internal theme
// ---------------

@if $app == 'internal' {

  html {
    background: $grey-4;
  }

  body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
  }

  .hint,
  .hint--small {
    @extend %paragraph--tiny;
  }

}
