/**
 * Buttons
 */

 %action--core {
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  line-height: 1.4;
  padding: 0.5em 0.75em;
  margin-right: 0.3em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  @if $app == 'selfserve' {
    border-bottom: 2px solid;
    padding-bottom: 0.4em; // compensate for above border
    &:focus {
      outline: 3px solid $outline;
    }
  }
  &.small {
    @extend %h6;
  }
  &.large {
    @extend %h4;
  }
 }

 @mixin action--core($background: $button-colour, $text-color: $white) {
   @extend %action--core;
   background-color: $background;
   color: $text-color;
   border-color: darken($background, 10%);
   &:hover {
     background-color: darken($background, 5%);
     color: $text-color;
   }
 }

 .action {

  &--primary {
    @if $app == 'selfserve' {
      @include action--core($button-colour);
    }
    @if $app == 'internal' {
      @include action--core($green);
    }
  }

  &--secondary {
    @if $app == 'selfserve' {
      @include action--core(
        $background: $grey-3, 
        $text-color: $text-colour
      );
    }
    @if $app == 'internal' {
      @include action--core(
        $background: $grey-4, 
        $text-color: $text-colour
      );
    }
  }

  &--tertiary {
    @include action--core(
      $background: transparent, 
      $text-color: $link-colour
    );
  }

  &--delete {
    @include action--core($red);
  }

  &--external {
    &:after {
      @include svg('external-link-white');
      content: '';
      margin-left: 0.5em;
    }
  }

 }
 
/*
 * disabled styling
 */
.disabled,
[disabled],
[disabled="disabled"] {
  opacity: 0.5;
  pointer-events: none;
  &:hover {
    cursor: default;
    background-color: inherit;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

/*
 * More actions
 * styles a select element to look like a button
 */

 .more-actions {

  position: relative;
  display: inline-block;
  z-index: 1;

  &__button {
    @extend .action--secondary;
    &:after {
      @include svg('dropdown-down');
      content: '';
      margin-left: 0.4em;
    }
  }

  &__list {
    display: none;
    position: absolute;
    top: 30px;
    left: 5px;
    background: $white;
    padding: 5px 0;
    box-shadow: 0 1px 5px $grey-2;
    z-index: 3;
  }

  &__item {
    color: $black;
    margin: 0;
    padding: 6px 10px;
    border: 0;
    width: 100%;
    font-size: 1em;
    cursor: pointer;
    background: none;
    text-align: left;
    text-decoration: none;
    box-shadow: none;
    &:hover {
      color: $link-colour;
    }
    &:focus {
      outline: none;
    }
  }

  &:hover {
    .more-actions__list {
      display: block;
      .js-enabled & {
        display: none;
      }
    }
  }

 }

 .actions-container {

 }