
/*
  Buttons
  =======
*/

.actions-container {
  float: left;
  margin: 10px 0;
  padding-bottom: 2px;
  a,
  input,
  button {
    margin-right: 5px;
  }
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin action-colour ($colour: $button-colour) {
  box-shadow: 0 2px 0 darken($colour, 15%);
  @include ie-lte(8) {
    border-bottom: 2px solid darken($colour, 15%);
  }
  background: $colour;
  &:visited {
    background-color: $colour;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: darken($colour, 5%);
  }
  &:active {
    box-shadow: 0 0 0 $colour;
    top: 2px;
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    @include opacity(.5);
    &:hover {
      cursor: default;
      background-color: $colour;
    }
    &:active {
      box-shadow: 0 2px 0 darken($colour, 15%);
      @include ie-lte(8) {
        border-bottom: 2px solid darken($colour, 15%);
      }
      top: 0;
    }
  }
  @if lightness($colour) < 50% {
    color: $white;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
  } @else {
    color: $text-colour;
    &:link,
    &:hover,
    &:focus,
    &:visited{
      color: $text-colour;
    }
  }
}

%action-box {
  @extend %paragraph--small;
  border: 0;
  margin: 0 .3em 0 0;
  padding: 5px 10px 3px;
  padding: .3em .5em .4em .5em\9;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4;
  @include ie-lte(8) {
    &[type="submit"],
    &[type="reset"],
    &[type="button"] {
      filter: chroma(color=#000000);
    }
    &[type=submit].button {
      filter: none;
    }
  }
}

.action {
  &--primary {
    @extend %action-box;
    @include action-colour();
  }
  &--secondary {
    @extend %action-box;
    @include action-colour($grey-3);
  }
  &--tertiary {
    display: inline-block;
    vertical-align: top;
    background: none;
    border: 0;
    text-decoration: underline;
    line-height: 2;
    padding: 0 0.25em;
    &:focus {
      outline: 0;
    }
  }
}

.action--primary.large,
.action--secondary.large {
  @extend %paragraph--large;
  padding: 7px 15px 5px;
}

.action--tertiary.large {
  @extend %paragraph--large;
}


/*
  More actions styles a select element
  to look like a button
 */

.more-actions:hover .more-actions__list {
  display: block;
  .js-enabled & {
    display: none;
  }
}


.more-actions {
  position: relative;
  float: left;
  &__button {
    @extend .action--secondary;
    padding-right: 25px;
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: 92.5% 11px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 12px 112px;
    }
  }
  &__list {
    box-shadow: 0 1px 5px $grey-2;
    display: none;
    position: absolute;
    top: 30px;
    left: 5px;
    background: #FFF;
    padding: 5px 0;
  }
}

.more-actions__list .action--secondary,
button.more-actions__item,
input[type=submit].more-actions__item {
  margin: 0;
  padding: 6px 10px;
  border: 0;
  background: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: $black;
  box-shadow: none;
  &[disabled] {
    cursor: default;
    color: $grey-1;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background: $grey-3;
  }
  &[disabled]:hover {
    background: none;
  }
  &:focus {
    outline: none;
    background: $yellow;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  a:focus,
  button:focus,
  input[type="submit"]:focus {
    outline: 3px solid $outline;
  }
  
  a:focus {
    background-color: $outline;
  }

  .action--tertiary {
    &.list {
      @extend %paragraph--large;
      display: block;
      margin: 30px 0 -20px;
      padding: 0;
    }
  }

  .more-actions button,
  .more-actions input[type=submit] {
    font-family: $NTA-Light;
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .actions-container select {
    float: left;
  }

  a:focus,
  button:focus,
  input[type="submit"]:focus {
    outline: none;
    background-color: none;
  }

  %action-box {
    border-radius: 2px;
    display: inline-block;
    width: auto;
    overflow: visible;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    padding: 4px 10px 5px 10px;
    line-height: 1.2;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    box-shadow: none;
    &.large {
      font-weight: 600;
      font-size: 17px;
      padding: 7px 13px 7px 13px;
      .inline & {
        font-size: 15px;
        padding: 8px 12px;
      }
    }
  }

  @mixin actionColour (
    $color,
    $border-colour,
    $grad-light,
    $grad-dark,
    $hover-bg,
    $disabled-text-color,
    $disabled-bg,
    $disabled-border ) {
    color: $color;
    border: 1px solid $border-colour;
    background: $grad-dark;
    background: linear-gradient($grad-light, $grad-dark);
    &:hover {
      cursor: pointer;
      color: $color;
      background: $hover-bg;
    }
    &.disabled,
    &[disabled],
    &[disabled="disabled"] {
      cursor: default;
      border: 1px solid $disabled-border;
      background: $disabled-bg;
      color: $disabled-text-color;
      &:hover {
        background: $disabled-bg;
      }
    }
  }

  input.action--primary,
  .action--primary {
    @extend %action-box;
    @include actionColour(#FFF, #10654E, #178B6C, $primaryColour, #146C55, #FFF, #8BB5AA, #8BB5AA);
  }

  input.action--secondary,
  .action--secondary {
    @extend %action-box;
    @include actionColour(#222, $grey-2, #FCFCFC, #EEE, $grey-3, $grey-2, #FCFCFC, $grey-3);
  }

  input.action--delete,
  .action--delete {
    @extend %action-box;
    @include actionColour($white, #990917, $red, #990917, #87000D, $red, #FCFCFC, $red);
  }

  input.action--tertiary,
  .action--tertiary {
    @extend %action-box;
    @extend a;
    background: none;
    border: 0;
    font-size: 15px;
    text-decoration: underline;
    &.large {
       padding-left: 7px;
    }
  }


  .record-actions {
    margin-top: .75em;
    display: block;
    &__group {
      list-style: none;
      margin: .5em 0 1.1em 0;
    }
    &__item {
      margin-bottom: .5em;
    }
    a {
      color: $black;
      text-decoration: none;
      display: block;
    }
  }

}
