
/*
  Buttons
  =======
*/

.actions-container {
  float: left;
  margin: 1em 0;
  a,
  input,
  button {
    margin-right: 5px;
  }
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $NTA-Light;
}

@mixin action-colour($colour: $button-colour) {

  background: $colour;

  &:hover,
  &:focus {
    text-decoration: none;
    background-color: darken($colour, 5%);
  }
  &:active {
    box-shadow: none;
  }

  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    opacity: 0.5;
    &:hover {
      cursor: default;
      background-color: $colour;
    }
    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 2px 0 darken($colour, 15%);
    }
  }

  @if lightness($colour) < 50% {
    color: $white;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
  } @else {
    color: $text-colour;
    &:link,
    &:hover,
    &:focus,
    &:visited{
      color: $text-colour;
    }
  }

  @if $app == 'selfserve' {
    box-shadow: 0 2px 0 darken($colour, 15%);
  }
  @if $app == 'internal' {
    border-radius: 3px;
  }

}

%action-box {
  @extend %paragraph--small;
  border: 0;
  margin-right: .3em;
  padding: .4em .75em .3em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4;
  &.large {
    font-size: 17px;
  }
}

.action {
  &--primary {
    @extend %action-box;
    @include action-colour();
  }
  &--secondary {
    @extend %action-box;
    @include action-colour($grey-3);
  }
  &--tertiary {
    color: $link-colour;
    display: inline-block;
    vertical-align: top;
    background: none;
    border: 0;
    text-decoration: underline;
    line-height: 2;
    padding: 0 0.25em;
    &:focus {
      outline: 0;
    }
  }
  &--delete {
    @extend %action-box;
    @include action-colour($red);
  }
}

// More actions
// styles a select element to look like a button

.more-actions:hover .more-actions__list {
  display: block;
  .js-enabled & {
    display: none;
  }
}

.more-actions {
  position: relative;
  float: left;
  &__button {
    @extend .action--secondary;
    padding-right: 25px;
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-position: 92.5% 11px;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/down-arrow-2x.png');
      background-size: 12px 112px;
    }
  }
  &__list {
    box-shadow: 0 1px 5px $grey-2;
    display: none;
    position: absolute;
    top: 30px;
    left: 5px;
    background: #FFF;
    padding: 5px 0;
  }
}

.more-actions__list .action--secondary,
.more-actions__item {
  margin: 0;
  padding: 6px 10px;
  border: 0;
  background: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: $black;
  box-shadow: none;
  &[disabled] {
    cursor: default;
    color: $grey-1;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background: $grey-3;
  }
  &[disabled]:hover {
    background: none;
  }
  &:focus {
    outline: none;
    background: $yellow;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  a:focus,
  button:focus {
    outline: 3px solid $outline;
  }

  a:focus {
    background-color: $outline;
  }

  .action--tertiary {
    &:active,
    &:hover {
      color: $link-active-colour;
    }
    &:focus {
      background-color: $outline;
    }
    &.list {
      @extend %paragraph--large;
      display: block;
      margin: 30px 0 -20px;
      padding: 0;
    }
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  %action-box {
    padding: 4px 10px 3px;
    &.large {
      padding: 5px 12px 4px;
    }
  }

  .actions-container select {
    float: left;
  }

  a:focus,
  button:focus {
    outline: none;
    background-color: none;
  }

  .action--primary {
    @include action-colour(#10654E);
    border: 1px solid transparent;
  }

  .action--secondary {
    @include action-colour(#f9f9f9);
    border: 1px solid #e5e5e5;
    color: $govuk-blue;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $govuk-blue;
    }
  }

  .action--tertiary {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &.large {
      padding: 2px 10px 6px;
      font-size: 17px;
    }
  }

  .action--delete {
    @include action-colour($red);
  }

  .record-actions {
    margin-top: .75em;
    display: block;
    font-size: 15px;
    &__group {
      list-style: none;
      margin: .5em 0 1.1em 0;
    }
    &__item {
      margin-bottom: .5em;
      text-align: center;
    }
    a {
      display: block;
      font-size: 15px;
    }
    h5 {
      font-size: font-size(3);
    }
  }

}
