/**
 * Buttons
 */

.actions-container {
  float: left;
  margin-bottom: $gutter-half;
  a,
  input,
  button {
    margin-right: 5px;
  }
}

button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font--primary;
}

@mixin action-colour($colour: $button-colour) {
  background: $colour;
  &:hover,
  &:focus {
    text-decoration: none;
    background-color: darken($colour, 5%);
  }
  &:active {
    box-shadow: none;
  }
  &.disabled,
  &[disabled="disabled"],
  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
    &:hover {
      cursor: default;
      background-color: $colour;
    }
    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 2px 0 darken($colour, 15%);
    }
  }
  @if lightness($colour) < 50% {
    color: $white;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $white;
    }
  } @else {
    color: $text-colour;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $text-colour;
    }
  }

  @if $app == 'selfserve' {
    box-shadow: 0 2px 0 darken($colour, 15%);
  }
  @if $app == 'internal' {
    border-radius: 3px;
  }

}

%action-box {
  @extend %paragraph--small;
  border: 0;
  margin-right: 0.3em;
  padding: theme(
    $selfserve: 0.5em 0.75em 0.4em,
    $internal: 4px 10px 3px
  );
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  line-height: 1.4;
  &.large {
    @extend %h4;
  }
}

%action,
.action {
  &--primary {
    @extend %action-box;
    @include action-colour();
  }
  &--secondary {
    @extend %action-box;
    @include action-colour($grey-3);
  }
  &--tertiary {
    color: $link-colour;
    display: inline-block;
    vertical-align: top;
    background: none;
    border: 0;
    text-decoration: underline;
    padding: 0.4em 0.75em 0.3em;
    &:first-child {
      padding-left: 0;
    }
    &:focus {
      outline: 0;
    }
    &.large {
      @extend %h4;
    }
    &.disabled,
    &[disabled="disabled"],
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
      &:hover {
        cursor: default;
      }
    }
  }
  &--delete {
    @extend %action-box;
    @include action-colour($red);
  }
  &--external {
    &:after {
      @include svg('external-link-white');
      content: '';
      margin-left: 0.5em;
    }
  }
}

// Anchors which are also buttons and external links
[class*="action--"][rel="external"] {
  @extend %action--external;
}

// More actions
// styles a select element to look like a button

.more-actions:hover .more-actions__list {
  display: block;
  .js-enabled & {
    display: none;
  }
}

.more-actions {
  position: relative;
  display: inline-block;
  z-index: 1;
  &__button {
    @extend %action--secondary;
    padding-right: 25px;
    position: relative;
    &:after {
      @include svg('dropdown-down');
      content: '';
      position: absolute;
      right: 0.5em;
      top: 0.8em;
    }
  }
  &__list {
    box-shadow: 0 1px 5px $grey-2;
    display: none;
    position: absolute;
    top: 30px;
    left: 5px;
    background: #FFF;
    padding: 5px 0;
    z-index: 3;
  }
}

.more-actions__list .action--secondary,
.more-actions__item {
  margin: 0;
  padding: 6px 10px;
  border: 0;
  background: none;
  width: 100%;
  text-align: left;
  text-decoration: none;
  color: $black;
  box-shadow: none;
  &[disabled] {
    cursor: default;
    color: $grey-1;
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background: $grey-3;
  }
  &[disabled]:hover {
    background: none;
  }
  &:focus {
    outline: none;
    background: $yellow;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  a:focus,
  button:focus {
    outline: 3px solid $outline;
  }

  a:focus {
    background-color: $outline;
  }

  .action--tertiary {
    &:active,
    &:hover {
      color: $link-active-colour;
    }
    &:focus {
      background-color: $outline;
    }
    &.list {
      @extend %paragraph;
      display: block;
      margin-top: 30px;
      padding: 0;
    }
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  %action-box {
    &.small {
      @extend %h6;
      padding: 5px 10px;
    }
  }

  .actions-container select {
    float: left;
  }

  a:focus,
  button:focus {
    outline: none;
    background-color: none;
  }

  .action--primary {
    @include action-colour(#10654E);
    border: 1px solid transparent;
  }

  .action--secondary {
    @include action-colour(#f9f9f9);
    border: 1px solid #e5e5e5;
    color: $govuk-blue;
    &:link,
    &:hover,
    &:focus,
    &:visited {
      color: $govuk-blue;
    }
  }

  .action--tertiary {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .action--delete {
    @include action-colour($red);
  }

  .record-actions {
    display: block;
    margin-bottom: $gutter-two-thirds;
    &__group {
      list-style: none;
      margin: 0.5em 0 1.1em;
    }
    &__item {
      margin-bottom: 0.5em;
      text-align: center;
    }
    a {
      display: block;
      padding: 6px 12px 5px;
    }
  }

}