/**
 * Buttons
 */

%action--core {
  display: inline-block;
  vertical-align: top;
  font-size: 1em;
  padding: 0.5em 0.75em;
  margin-right: 0.3em;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  font-family: $font--primary;
  @if $app == 'selfserve' {
    border-bottom: 2px solid;
    padding-bottom: 0.4em; // compensate for above border
    line-height: 1.4;
    &:focus {
      outline: 3px solid $outline;
    }
  }
  @if $app == 'internal' {
    line-height: 1.1;
    border-radius: 3px;
    &:focus {
      outline: none;
    }
  }
  &.small {
    @extend %h6;
  }
  &.large {
    @extend %h4;
  }
}

@mixin action--core($background: $button-colour, $text-color: $white) {
  @extend %action--core;
  background-color: $background;
  color: $text-color;
  border-color: darken($background, 10%);
  &:hover {
    background-color: darken($background, 5%);
    color: $text-color;
  }
  &:active {
    color: $text-color;
  }
}

.action {

  &--primary {
    @if $app == 'selfserve' {
      @include action--core($button-colour);
    }
    @if $app == 'internal' {
      @include action--core($green);
    }
  }

  &--secondary {
    @if $app == 'selfserve' {
      @include action--core(
        $background: $grey-3, 
        $text-color: $text-colour
      );
    }
    @if $app == 'internal' {
      @include action--core(
        $background: $grey-4, 
        $text-color: $link-colour
      );
      border: 1px solid $grey-3;
    }
  }

  &--tertiary {
    @include action--core(
      $background: transparent, 
      $text-color: $link-colour
    );
    border: none;
    &:hover {
      text-decoration: underline;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &.list {
      @extend %paragraph;
      display: block;
      margin-top: $gutter-half;
      padding: 0;
    }
  }

  &--delete {
    @include action--core($red);
  }

  &--external {
    &:after {
      @include svg('external-link-white');
      content: '';
      margin-left: 0.5em;
    }
  }

}
 
/*
 * disabled styling
 */
[class*="action"] {
  &.disabled,
  &[disabled],
  &[disabled="disabled"] {
    opacity: 0.5;
    pointer-events: none;
    &:hover {
      cursor: default;
      background-color: inherit;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}