/**
 * Forms
 */

// overrides default rounding of form elements (culprit: webkit)
input,
textarea {
  border-radius: 0;
}

/**
 * Wrapping Elements
 */

form {
  margin-bottom: $gutter;
  width: 100%;
  float: left;
  &:last-child {
    margin-bottom: 0;
  }
}

fieldset {
  margin-bottom: $gutter;
  padding: 0;
  border: 0;
  width: 100%;
  clear: both;
  &:last-child,
  &.last {
    margin-bottom: 0;
  }
  &.multiple a {
    @extend %paragraph--tiny;
    margin-top: -0.75em;
    display: block;
  }
  // nested fieldsets
  fieldset {
    legend {
      @extend %paragraph;
      width: 100%;
      margin-bottom: 10px;
      max-width: 600px;
      font-weight: 400;
      clear: both;
      @if $app == 'internal'  {
        font-size: font-size(3);
        margin-bottom: 5px;
      }
    }
  }
} // fieldset

.field {
  @if $app == 'internal'  {
    margin-bottom: $gutter-two-thirds;
  } @else {
    margin-bottom: $gutter;
  }
  overflow: visible;
  @media (max-width: breakpoint('break-3')) {
    margin-bottom: 0.5em;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.inline {
    margin-bottom: 0;
  }
  &:not(.inline) {
    clear: both;
  }
  &.compound {
    margin-bottom: 10px;
    .inline + & {
      padding-top: $gutter-half;
    }
  }
  &.inline-text {
    display: inline-block;
    margin-bottom: 0;
    input {
      margin-right: 10px;
      width: 4.2em;
    }
  }
  &--two-col {
    float: left;
    width: 47.5%;
    margin-right: 2.5%;
  }
  h3 {
    margin-bottom: 0.5em;
  }
}

.pre-selected {
  background: $grey-3;
}

/**
 * Legends & Labels
 */

legend,
label {
  margin-top: 10px;
  &:first-child {
    margin-top: 0;
  }
}

legend,
.legend {
  @if $app == 'selfserve' { @extend %h3; }
  @if $app == 'internal'  { @extend %h4; }
  padding: 0;
  font-weight: 700;
  margin-bottom: $gutter-one-third;
  .highlight-box & {
    float: left;
    width: 100%;
  }
}

label,
.label {
  @extend %h4;
  margin-bottom: 10px;
  @if $app == 'selfserve' { @extend %h4; }
  @if $app == 'internal'  {
    font-size: font-size(3);
    margin-bottom: 5px;
  }
  display: block;
  max-width: 600px;
  &:last-child {
    margin-bottom: 0;
  }
  & + & {
    margin-top: 0;
  }
  .inline & {
    display: inline;
    margin-right: 0.5em;
  }
  .checkbox & {
    @if $app == 'selfserve' { @extend %h5; }
    @if $app == 'internal'  { @extend %h6; }
    margin-top: 0;
  }
}

/**
 * Inputs
 */

.extra-long {
  width: 100%;
  @if $app == 'internal' {
    max-width: 500px;
  }
}

.long {
  width: $two-thirds;
  @if $app == 'internal' {
    max-width: 350px;
  }
}

.medium {
  width: $half;
  @if $app == 'internal' {
    max-width: 300px;
  }
}

.short {
  width: 140px;
}

@media (max-width: breakpoint('break-3')) {
  .extra-long,
  .long,
  .medium {
    width: 100%;
  }
  .short {
    width: $half;
  }
}

input,
textarea,
.terms--box {
  background-color: $grey-4;
  max-width: 600px;
  border: 1px solid;
  padding: theme(
    $internal: 0.5em 0.75em,
    $selfserve: 0.32em 0.5em
  );
  font-size: theme(
    $internal: inherit,
    $selfserve: font-size(5)
  );
  border-color: theme(
    $internal: $grey-2,
    $selfserve: darken($grey-4, 15%)
  );
}

textarea,
.terms--box {
  min-height: 10em;
  overflow: auto;
  vertical-align: top;
}

.terms--box {
  height: 200px;
}

select {
  max-width: 500px;
  background-color: $grey-4;
  font-size: theme(
    $internal: font-size(2),
    $selfserve: font-size(4)
  );
  border-color: theme(
    $internal: $grey-2,
    $selfserve: $grey-2
  );
  .filters & {
    width: 99%;
    margin-right: 0;
  }
  [class*="sidebar"] & {
    width: 100%;
  }
  &[multiple] {
    @extend %paragraph--tiny;
    min-width: 200px;
    padding: 0.25em;
    display: block;
    background-color: $grey-4;
    &.tall {
      height: 10em;
    }
  }
}

[type="submit"] {
  background: none;
  border: 0;
  padding: 0;
  text-decoration: underline;
  color: $link-colour;
  font-family: $font--primary;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  b & {
    font-weight: 600;
  }
  &:hover {
    color: $link-active-colour;
  }
}

input,
textarea,
select,
%focused {
  &:focus {
    outline: 3px solid $outline;
  }
}

/**
 * Attach/Upload Files
 */

.file-uploader {
  max-width: 600px;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.attach-action {

  [type="file"] {
    width: 100%;
    border: 0;
    background: $grey-4;
    padding: 15px 15px 10px;
    border-left: 4px solid $grey-3;
    margin-top: 0.25em;
  }

  &__list {
    .js-enabled & {
      margin-bottom: 15px;
    }
  }

  &__label {
    .js-enabled & {
      @extend .action--secondary;
      @extend %h4;
      float: left;
      margin-bottom: 10px;
      &:focus {
        outline: 3px solid $outline;
      }
    }
    @if $app == 'selfserve' {
      &.focused {
        outline: 3px solid $outline;
      }
    }
    &:before {
      @include svg('attachment');
      content: '';
      display: inline-block;
      height: 19px;
      width: 19px;
      margin: 0 2px -5px -2px;
    }
  }

  &__hint {
    @extend %hint;
    @extend %paragraph--small;
    .js-enabled & {
      clear: none;
      width: auto;
      margin-left: 10px;
    }
  }

} // .attach-action

.file {
  @extend %guidance;
  position: relative;
  overflow: auto;
  display: block;
  width: 100%;
  color: $grey-1;
  margin-bottom: $gutter-one-third;
  &.invalid {
    border-left-color: $mellow-red;
    background-color: $warning-background;
  }
  &__preloader {
    @extend %preloader-light;
    float: left;
    margin-right: 10px;
  }
  &__remove {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: font-size(3);
  }
  img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

.inline-upload {
  .selfserve & {
    @extend %h4;
  }
}

/**
 * Validation
 */

%validation-box {
  padding: 1em;
  background: $warning-background;
}

.validation-summary {
  @extend %validation-box;
  overflow: auto;
  margin-bottom: 30px;
  border: 3px solid $mellow-red;
  &__list {
    padding-left: 1em;
  }
  &__item {
    color: $mellow-red;
    margin-bottom: 0.25em;
  }
  a {
    color: $mellow-red;
  }
}

.validation-wrapper {
  @extend %validation-box;
  @extend %clearfix;
  border-left: 3px solid $mellow-red;
  margin-bottom: $gutter-half;
  > ul,
  .field > ul {
    list-style: none;
  }
  li {
    @extend %paragraph--small;
    color: $mellow-red;
    &:not(:last-child) {
      margin-bottom: 0.5em;
    }
  }
  .active-result {
    color: $black;
  }
}

/**
 * Locked
 *
 * This is used to indidcate that a field or fieldset cannot be updated
 * without creating a variation or new application
 */

.locked-icon {
  @include svg('lock');
  margin-left: 5px;
  display: inline-block;
}

/**
 * Confirmation
 */

.confirm {
  padding: 15px;
  border: 1px solid $light-blue-50;
  background: $light-blue-25;
  max-width: 600px;
  label {
    @extend %paragraph;
    @if $app == 'internal'  {
      font-size: font-size(3);
    }
  }
}

/**
 * Hints
 */

%hint,
.hint {
  @extend %paragraph;
  display: block;
  color: $grey-1;
  width: 90%;
  max-width: 600px;
  clear: both;
  margin-bottom: 0;
  padding-top: 10px;
  @if $app == 'internal'  {
    font-size: font-size(3);
  }
  &--small {
    @extend %paragraph--small;
  }
  legend + &,
  .compound &,
  .compound + & {
    padding-top: 0;
  }
  legend + & {
    margin-bottom: $gutter-half;
  }
}

/**
 * Search Filter
 */

.form__filter {
  float: none;
  label {
    @extend %paragraph--small;
  }
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {

  .checkbox {

    label {
      background: $grey-3;
      padding: 14px 17px;
      float: left;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      &:not(.inline) {
        &:first-of-type {
          margin-top: 5px;
        }
        clear: both;
      }
      &:hover {
        background: $grey-2;
        cursor: pointer;
      }
      &:focus {
        background: $white;
        outline: 3px solid $outline;
      }
      &.focused {
        outline: 3px solid $outline;
      }
      &.selected {
        background: $white;
        outline: 1px solid $black;
        &:focus {
          outline: 3px solid $outline;
        }
      }
      &.disabled {
        cursor: default;
        &:hover {
          background: $grey-3;
        }
      }
      &[class*="selected disabled"]:hover {
        background: $white;
      }
    }
    input:focus {
      border: 0;
      outline: none;
    }
    .hint {
      float: left;
    }

  } // .checkbox

  .chosen-container {
    max-width: 440px;
  }

} // selfserve only

/**
 * Internal only styles
 */

@if $app == 'internal' {
  .tracking {
    .field {
      width: 50%;
      float: left;
      margin-bottom: 15px;
      clear: none;
    }
    label {
      float: left;
      width: 150px;
      margin-right: 10px;
    }
  }
}