/**
 * Forms
 */

/**
 * Reset/Normalize
 */

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

[type="text"],
[type="search"],
[type="password"] {
  box-sizing: border-box;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin-right: .5em;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// overrides webkit's default rounding of form elements
input,
textarea {
  -webkit-border-radius: 0;
}

/**
 * Wrapping Elements
 */

form {
  margin-bottom: $gutter;
  width: 100%;
  float: left;
}

fieldset {
  
  margin-left: 0;
  padding: 0;
  border: 0;
  width: 100%;
  clear: both;
  &:not(:last-child) {
    margin-bottom: $gutter;
  }
  
  &.multiple a {
    @extend %paragraph--tiny;
    margin-top: -0.75em;
    display: block;
  }
  
  // nested fieldsets
  fieldset {
    legend {
      @if $app == 'selfserve' { @extend %paragraph }
      @if $app == 'internal'  { @extend %paragraph--small }
      width: 100%;
      max-width: 600px;
      font-weight: 400;
      clear: both;
    }
    label {
      @if $app == 'selfserve' {
        @extend %paragraph--small;
      }
    }
  }
  
} // fieldset

.field {
  margin-bottom: $gutter;
  overflow: visible;
  @media (max-width: breakpoint('break-3')) {
    margin-bottom: .5em;
  }
  &.inline {
    margin-bottom: 0;
  }
  &.inline-text {
    display: inline-block;
    margin-bottom: 0;
    input {
      margin-right: 10px;
      width: 40px;
    }
  }
  &--two-col {
    float: left;
    width: 47.5%;
    margin-right: 2.5%;
  }
}

.pre-selected {
  background: $grey-3;
}

/**
 * Legends & Labels
 */

legend {
  @if $app == 'selfserve' { @extend %h3 }
  @if $app == 'internal'  { @extend %h4 }
  padding: 0;
  font-weight: 700;
  .highlight-box & {
    float: left;
    width: 100%;
  }
}

label {
  @if $app == 'selfserve' { @extend %h4 }
  display: block;
  max-width: 600px;
  .inline & {
    @if $app == 'selfserve' { @extend %h5 }
    @if $app == 'internal'  { @extend %h6 }
    display: inline;
  }
}

/**
 * Inputs
 */

.extra-long {
  width: 100%;
  @if $app == 'internal' {
    max-width: 500px;
  }
}

.long {
  width: $two-thirds;
  @if $app == 'internal' {
    max-width: 350px;
  }
}

.medium {
  width: $half;
  @if $app == 'internal' {
    max-width: 300px;
  }
}

.short {
  width: 140px;
  @media (max-width: breakpoint('break-3')) {
    width: $half;
  }
}

@media (max-width: breakpoint('break-3')) {
  .extra-long,
  .long,
  .medium {
    width: 100%;
  }
}

input,
textarea,
.terms--box {
  padding: .5em .75em;
  background-color: #F9F9F9;
  max-width: 560px;
  border: 1px solid;
  border-color: theme(
    $internal: $grey-2, 
    $selfserve: #A2A2A2
  );
}

textarea,
.terms--box {
  min-height: 10em;
  overflow: auto;
  vertical-align: top;
}

.terms--box {
  height: 200px;
}

select {
  max-width: 500px;
  margin-top: 0.25em;
  .filters & {
    width: 99%;
    margin-right: 0;
  }
  &[multiple] {
    @extend %paragraph--tiny;
    min-width: 200px;
    padding: .25em;
    display: block;
    background-color: #F9F9F9;
    &.tall {
      height: 10em;
    }
  }
}

[type="submit"] {
  background: none;
  border: 0;
  padding: 0;
  text-decoration: underline;
  color: $link-colour;
  font-family: $NTA-Light;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  b & {
    font-weight: 600;
  }
}

input,
textarea,
select,
%focused {
  &:focus {
    outline: 3px solid $outline;
  }
}

/**
 * Attach/Upload Files
 */

.file-uploader {
  max-width: 600px;
  ul {
    list-style: none;
  }
}

.attach-action {
  
  .js-enabled & {
    float: left;
  }
  
  [type="file"] {
    width: 100%;
    border: 0;
    background: $grey-4;
    padding: 15px 15px 10px;
    border-left: 4px solid $grey-3;
    margin-top: .25em;
  }
  
  &__list {
    .js-enabled & {
      float: left;
      margin-bottom: 15px;
    }
  }
  
  &__label {
    .js-enabled & {
      @extend .action--secondary;
      @extend .large;
      float: left;
      margin-bottom: 10px;
      &:focus {
        outline: 3px solid $outline;
      }
    }
    @if $app == 'selfserve' {
      &.focused { 
        outline: 3px solid $outline;
      }
    }
  }
  
  &__hint {
    @extend .hint;
    @extend %paragraph--small;
    .js-enabled & {
      float: left;
      clear: none;
      width: auto;
      margin-left: 10px;
    }
  }
  
} // .attach-action

.file {
  position: relative;
  overflow: auto;
  display: block;
  width: 95%;
  border-left: 3px solid $grey-3;
  color: $grey-1;
  background: $grey-4;
  &.invalid {
    border-left: 3px solid $mellow-red;
    background-color: $warning-background;
  }
  &__preloader {
    @extend %preloader--light;
    float: left;
    margin-right: 10px;
  }
  &__remove {
    position: absolute;
    right: 15px;
    top: 15px;
  }
  img {
    width: 100%;
    height: auto;
    margin: 10px 0;
  }
}

.inline-upload {
  @extend .action--primary;
  .selfserve & {
    @extend .large;
  }
}

/**
 * Validation
 */

%validation-box {
  padding: 1em;
  background: $warning-background;
}

.validation-summary {
  @extend %validation-box;
  overflow: auto;
  margin-bottom: 30px;
  border: 3px solid $mellow-red;
  &__item {
    color: $mellow-red;
    margin-bottom: 0.25em;
  }
  a {
    color: $mellow-red;
  }
}

.validation-wrapper {
  @extend %validation-box;
  @extend %clearfix;
  border-left: 3px solid $mellow-red;
  li {
    @extend %paragraph--small;
    margin-bottom: .5em;
  }
  .active-result {
    color: $black;
  }
}

/**
 * Locked
 *
 * This is used to indidcate that a field or fieldset cannot be updated
 * without creating a variation or new application
 */

.locked-icon {
  @include svg('lock');
  margin-left: 5px;
  display: inline-block;
}

/**
 * Confirmation
 */

.confirm {
  padding: 15px;
  border: 1px solid $light-blue-50;
  background: $light-blue-25;
  label {
    @extend %paragraph--small;
  }
}

/**
 * Hints
 */

.hint {
  display: block;
  color: $grey-1;
  margin-top: 0.5em;
  width: 90%;
  max-width: 600px;
  clear: both;
  legend + & {
    margin-bottom: 0.75em;
  }
  &--small {
    @extend %paragraph--small;
    margin: 5px 0;
  }
}

/**
 * Search Filter
 */

.form__filter {
  float: none;
  label {
    @extend %paragraph--small;
  }
}

/**
 * Selfserve only styles
 */

@if $app == 'selfserve' {

  .checkbox {
    
    label {
      background: $grey-3;
      padding: 14px 17px 14px 17px;
      float: left;
      clear: both;
      &:first-of-type {
        margin-top: 5px;
      }
      &:not(:last-child) {
        margin-bottom: 5px;
      }
      &:hover {
        background: $grey-2;
        cursor: pointer;
      }
      &:focus {
        background: $white;
        outline: 3px solid $outline;
      }
      &.selected {
        background: $white;
        outline: 1px solid $black;
        &:focus {
          outline: 3px solid $outline;
        }
      }
      &.focused {
        outline: 3px solid $outline;
      }
      &.disabled {
        cursor: default;
      }
      &.disabled:hover {
        background: $grey-3;
      }
      &.selected.disabled:hover {
        background: $white;
      }
    }
    input:focus {
      border: none;
      outline: none;
    }
    .hint {
      float: left;
    }
    
  } // .checkbox

  .chosen-container {
    max-width: 440px;
  }

} // selfserve only

/**
 * Internal only styles
 */

@if $app == 'internal' {
  .tracking {
    .field {
      width: 50%;
      float: left;
      margin-bottom: 15px;
    }
    label {
      float: left;
      width: 150px;
      margin-right: 10px;
    }
  }
}