// Helpers
//
// Typically single-property classes which can be applied to 
// elements to provide them with extra functionality

.disable-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  left: -9999em;
}

.hidden {
  display: none !important;
}