%svg-common {
	background: url("../images/svg/icon-sprite.svg") no-repeat;
}

.attachment {
	@extend %svg-common;
	background-position: 0 0;
	width: 20px;
	height: 20px;
}

.dropdown-down {
	@extend %svg-common;
	background-position: 0 5.428881650380022%;
	width: 11.9px;
	height: 7.6px;
}

.dropdown-up {
	@extend %svg-common;
	background-position: 0 7.600434310532031%;
	width: 11.9px;
	height: 7.6px;
}

.external-link-dark {
	@extend %svg-common;
	background-position: 0 9.89010989010989%;
	width: 12px;
	height: 12px;
}

.external-link-white {
	@extend %svg-common;
	background-position: 0 13.186813186813186%;
	width: 12px;
	height: 12px;
}

.internal-admin-menu-arrow {
	@extend %svg-common;
	background-position: 0 16.286423908470297%;
	width: 11.914px;
	height: 7.595px;
}

.internal-application-complete {
	@extend %svg-common;
	background-position: 0 18.732782369146005%;
	width: 17px;
	height: 13px;
}

.internal-application-edited {
	@extend %svg-common;
	background-position: 0 22.437673130193907%;
	width: 15px;
	height: 15px;
}

.internal-application-warning {
	@extend %svg-common;
	background-position: 0 26.592797783933516%;
	width: 18px;
	height: 15px;
}

.internal-modal-close {
	@extend %svg-common;
	background-position: 0 30.662983425414364%;
	width: 16px;
	height: 14px;
}

.internal-search {
	@extend %svg-common;
	background-position: 0 34.62603878116344%;
	width: 15px;
	height: 15px;
}

.internal-split-screen-close {
	@extend %svg-common;
	background-position: 0 38.46153846153846%;
	width: 11px;
	height: 12px;
}

.internal-split-screen-down {
	@extend %svg-common;
	background-position: 0 41.416893732970024%;
	width: 13px;
	height: 9px;
}

.internal-split-screen-left {
	@extend %svg-common;
	background-position: 0 44.352617079889804%;
	width: 8px;
	height: 13px;
}

.internal-split-screen-pin-bottom {
	@extend %svg-common;
	background-position: 0 47.8021978021978%;
	width: 12px;
	height: 12px;
}

.internal-split-screen-pin-left {
	@extend %svg-common;
	background-position: 0 51.0989010989011%;
	width: 12px;
	height: 12px;
}

.lock {
	@extend %svg-common;
	background-position: 0 54.395604395604394%;
	width: 10px;
	height: 12px;
}

.selfserve-breadcrumb {
	@extend %svg-common;
	background-position: 0 58.011049723756905%;
	width: 9px;
	height: 14px;
}

.selfserve-cross {
	@extend %svg-common;
	background-position: 0 62.04986149584487%;
	width: 15px;
	height: 15px;
}

.selfserve-document {
	@extend %svg-common;
	background-position: 0 70.91988130563799%;
	width: 30px;
	height: 39px;
}

.selfserve-external-footer {
	@extend %svg-common;
	background-position: 0 76.37362637362638%;
	width: 12px;
	height: 12px;
}

.selfserve-external-link {
	@extend %svg-common;
	background-position: 0 79.67032967032966%;
	width: 12px;
	height: 12px;
}

.selfserve-external-link-hover {
	@extend %svg-common;
	background-position: 0 82.96703296703296%;
	width: 12px;
	height: 12px;
}

.selfserve-important {
	@extend %svg-common;
	background-position: 0 89.45868945868946%;
	width: 25px;
	height: 25px;
}

.selfserve-modal-close {
	@extend %svg-common;
	background-position: 0 95.76271186440678%;
	width: 23px;
	height: 22px;
}

.selfserve-tick {
	@extend %svg-common;
	background-position: 0 100%;
	width: 20px;
	height: 15px;
}

