.govuk-radios {

  &__item {
    padding: 0;
    min-height: auto;
    margin-bottom: 0;

    .govuk-label {
      font-size: 18px;
    }
  }

  &__input {
    opacity: 1;
    margin-right: 0.5em;
    position: relative;
    width: auto;
    height: auto;
  }

  &__label {
    padding: 0;
  }

  &__conditional{
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
}

.govuk-radios__input + .govuk-radios__label::before,
.govuk-radios__input + .govuk-radios__label::after,
.govuk-radios__input:checked + .govuk-radios__label::after {
  display: none;
}