// Layout
// -----------------------------------------------------------------
//
// Styles to provide the foundation skeleton and grid system for the
// app. Uses vendor/govuk_toolkit to generate grid related styles.
//
// [1] - Page/Content/Row Wrappers
// [2] - Individual Columns
// [3] - Selfserve only styles
// [4] - Internal only styles
//
// -----------------------------------------------------------------

// [1] - Page/Content/Row Wrappers
//
// The document/application wrapper which contains the entire app

.page-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
  clear: both;
  padding: 0 1.25%;
  @media (max-width: breakpoint('break-3')){
    padding: 0;
    width: 100%;
  }
}

.row {
  @extend %grid-row;
}

#main {
  width: 100%;
  min-height: 450px;
}

// [2] - Individual Columns

.one-quarter {
  @include grid-column( 1/4 );
}

.one-third {
  @include grid-column( 1/3 );
}

.one-half {
  @include grid-column( 1/2 );
}

.three-eigths {
  @include grid-column( 3/8 );
}

.two-thirds {
  @include grid-column( 2/3 );
}

.five-eigths {
  @include grid-column( 5/8 );
}

.three-quarters {
  @include grid-column( 3/4 );
}

.full-width {
  @include grid-column( 1/1 );
}

// [3] - Selfserve only styles

@if $app == 'selfserve' {
  
  .page-wrapper {
    max-width: 1010px;
  }

  // TODO: find out about this
  #main:focus {
    outline: 0;
  }

}

// [4] - Internal only styles

@if $app == 'internal' {

  #main {
    display: table;
    position: relative;
    margin: 0 0 4em;
  }

  .content {
    display: table;
    width: 100%;
    padding-top: 5px;
  }

  .content__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-3;
    margin: 5px 0 12px;
  }

  %table-cell {
    display: table-cell;
    vertical-align: top;
  }

  .one-fifth--left {
    @extend %table-cell;
    width: 200px;
    padding: 0 30px 0 0;
    h4 {
      @extend %header-with-actions;
      margin: 3px 0 0;
      border-bottom: 1px solid $grey-3;
      padding-bottom: 10px;
    }
  }

  .one-fifth--right {
    @extend %table-cell;
    width: 220px;
    padding-left: 30px;
    @media(max-width: breakpoint('break-7')) {
      display: none;
    }
  }

  //Needs refactoring
  .three-fifths {
    @extend %table-cell;
  }

  .four-fifths--left,
  .four-fifths--right {
    @extend %table-cell;
  }

  .full-width {
    @extend .content;
  }

  .ui-box {
    width: 100%;
    margin-top: .525em;
    h4 {
      border-bottom: 1px solid $grey-2;
      padding-bottom: .4em;
      margin-bottom: .5em;
    }
  }

}
