
/*
  Layout
  ======
*/

.page-wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 95%;
  clear: both;
  padding: 0 1.25%;
  @media (max-width: 640px){
    padding: 0;
    width: 100%;
  }
}

#main {
  width: 100%;
}

%fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  left: -9999em;
}

.hidden {
  display: none !important;
}

.right-aligned {
  float: right;
}

.inline {
  float: left;
  margin-right: .5em;
}

.centered {
  text-align: center;
  margin: 0 auto;
  max-width: 700px;
}


hr {
  width: 100%;
  height: .25em;
  display: block;
  border: 0;
  clear: both;
}

.js-visible,
input[type="checkbox"].js-visible,
input[type="radio"].js-visible {
  display: none;
}

.js-enabled {
  .js-visually-hidden {
    @extend .visually-hidden;
  }
  .js-hidden {
    display: none;
  }
  .js-visible,
  input[type="checkbox"].js-visible,
  input[type="radio"].js-visible {
    display: block;
  }
}

%header-with-actions {
  float: left;
  width: 100%;
  padding-bottom: 8px;
  h3,
  h4 {
    float: left;
    display: block;
    margin: 0;
  }
  .actions-container {
    margin: -5px 0 -1px;
    display: block;
    float: right;
  }
  .action--primary,
  .action--secondary {
    float: left;
    display: inline-block;
    margin: 0 0 0 5px;
  }
  select {
    margin: 3px 3px 0 0;
  }
}


/*
  Some comment
*/



// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .page-wrapper {
    max-width: 1010px;
  }

  #main:focus {
    outline: 0;
  }

  .one-third {
    @extend %container;
    width: 28.3333333333%;
    width : 27.4%\9; /* lt IE9  */
  }

  .one-quarter {
    @extend %container;
    width: 20%;
  }

  .one-half {
    @extend %container;
    width: 45%;
  }

  .two-thirds {
    @extend %container;
    width: 61.6666666667%;
    &.border {
      border-top: 1px solid $grey-2;
      padding-top: 2em;
    }
  }

  .three-quarters {
    @extend %container;
    width: 70%;
  }

  .full-width {
    @extend %container;
    width: 100% - ($gutter*2);
  }

  .three-eigths {
    @extend %container;
    width: 24%;
  }

  .five-eigths {
    @extend %container;
    width: 66%;
  }

  %container {
    float: left;
    margin: 0 $gutter 1em;
    @media (max-width: 640px){
      width: 92%;
      margin: 0 4% 1.5em;
    }
  }

}


// Internal theme
// ---------------

@if $app == 'internal' {

  #main {
    display: table;
    position: relative;
    margin: 0 0 4em;
  }

  .content {
    display: table;
    width: 100%;
    padding-top: 5px;
  }

  .content__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-3;
    margin: 5px 0 12px;
  }

  %table-cell {
    display: table-cell;
    vertical-align: top;
  }

  .one-fifth--left {
    @extend %table-cell;
    width: 200px;
    padding: 0 30px 0 0;
    h4 {
      @extend %header-with-actions;
      margin: 3px 0 0;
      border-bottom: 1px solid $grey-3;
      padding-bottom: 10px;
    }
  }

  .one-fifth--right {
    @extend %table-cell;
    width: 220px;
    padding-left: 30px;
    @media(max-width: 1200px) {
      display: none;
    }
  }

  //Needs refactoring
  .three-fifths {
    @extend %table-cell;
  }

  .four-fifths--left,
  .four-fifths--right {
    @extend %table-cell;
  }

  .full-width {
    @extend .content;
  }

  .ui-box {
    width: 100%;
    margin-top: .525em;
    h4 {
      border-bottom: 1px solid $grey-2;
      padding-bottom: .4em;
      margin-bottom: .5em;
    }
  }

}
