// Layout
// -----------------------------------------------------------------
//
// Styles to provide the foundation skeleton and grid system for the
// app. Uses vendor/govuk_toolkit to generate grid related styles.
//
// [1] - Page/Content/Row Wrappers
// [2] - Individual Columns
// [3] - Selfserve only styles
// [4] - Internal only styles
//
// -----------------------------------------------------------------

// [1] - Page/Content/Row Wrappers
// The document/application wrapper which contains the entire app

.page-wrapper {
  overflow: hidden;
  clear: both;
  margin: 0 auto;
  padding: 0 $gutter-half;
}

.row {
  @extend %grid-row;
}

#main {
  width: 100%;
  min-height: 450px;
}

// [2] - Individual Columns
// Create unsemantic class names for reusable columns of various 
// widths and proportions

// Re-define the GDS grid-column mixin

@mixin grid-column($width, $full-width: $mobile-column-stack, $float: left, $mobile-first: false) {
  
  @if $mobile-first {
    @media (min-width: $full-width) {
      float: $float;
      width: percentage($width);
    }
  } @else {
    float: $float;
    width: percentage($width);
    @media (max-width: $full-width) {
      float: none;
      width: 100%;
    }
  }

  padding: 0 $gutter-half;
  box-sizing: border-box;
  
}

// Create individual columns

.one-quarter {
  @include grid-column( 1/4 );
}

.one-third {
  @include grid-column( 1/3 );
}

.one-half {
  @include grid-column( 1/2 );
}

.three-eigths {
  @include grid-column( 3/8 );
}

.five-eigths {
  @include grid-column( 5/8 );
}

.two-thirds {
  @include grid-column( 2/3 );
}

.three-quarters {
  @include grid-column( 3/4 );
}

.full-width {
  @include grid-column( 1/1 );
}

// Create layout for table columns

.table-row,
%table-row {
  display: table;
  width: 100%;
}
  
.table-col,
%table-col {
  display: table-cell;
  vertical-align: top;
}

@mixin table-column($width, $side: left, $padding: $gutter) {
  @extend %table-col;
  width: $width;
  @if $side == 'left' {
    padding-right: $padding;
  } @else if $side == 'right' {
    padding-left: $padding;
  }
}

// [3] - Selfserve only styles
// Overwrite the main layout styles for the Selfserve application

@if $app == 'selfserve' {
  
  .page-wrapper {
    max-width: $base-width;
  }
  
  #main:focus {
    outline: 0;
  }
  
}

// [4] - Internal only styles
// Overwrite the main layout styles for the Intetnal aplication

@if $app == 'internal' {
  
  .page-wrapper {
    padding: 0 $gutter;
    overflow-x: auto;
  }

  #main {
    display: table;
    position: relative;
    margin: 0 0 4em;
  }

  .content,
  .full-width {
    @extend %table-row;
    padding-top: 5px;
  }

  .content__header {
    @extend %header-with-actions;
    border-bottom: 1px solid $grey-3;
    margin: 5px 0 12px;
  }

  .sidebar--left {
    @include table-column(200px);
    h4 {
      padding-bottom: 8px;
      margin: 3px 0 0;
      border-bottom: 1px solid $grey-3;
    }
  }

  .sidebar--right {
    @include table-column(220px, right);
    @media(max-width: breakpoint('break-7')) {
      display: none;
    }
  }

  .ui-box {
    width: 100%;
    margin-top: .525em;
    h4 {
      border-bottom: 1px solid $grey-2;
      padding-bottom: .4em;
      margin-bottom: .5em;
    }
  }

}