
/*
  Links
  =====
*/

a {
  color: $link-colour;
  &:active,
  &:hover {
    color: $link-active-colour;
    outline: 0;
    text-decoration: none;
  }
}

[rel="external"]:after {
  @extend %fontello;
  content: '\e800';
  font-size: 80%;
  margin: 0 1em 0 4px;
}

.disabled,
.disabled a {
  text-decoration: none;
  color: $grey-1;
}

.download {
  font-weight: 600;
  padding: 4px 0 5px 34px;
  background: url('#{$assetPath}/download.png') no-repeat 0 0;
  display: inline-block;
  cursor: pointer;
  @include device-pixel-ratio($ratio: 2) {
    background: url('#{$assetPath}/download-2x.png') no-repeat 0 0;
    background-size: 27px 30px;
  }
  &:hover {
    text-decoration: underline;
  }
}
