
/*
  Links
  =====
*/

a {
  color: $link-colour;
  &:active,
  &:hover {
    color: $link-active-colour;
    outline: 0;
  }
}

[rel="external"]:after {
  @extend %fontello;
  content: '\e800';
  font-size: 80%;
  margin: 0 1em 0 4px;
}

.disabled,
.disabled a {
  text-decoration: none;
  color: $grey-1;
}

.download {
  @include svg(
    'selfserve-document', center left
  );
  font-weight: 600;
  padding: 4px 0 5px 34px;
  display: inline-block;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
