// Override dd and dt rules from base.scss and read-only.scss
dt.app-check-your-answers__question,
dd.app-check-your-answers__answer,
dd.app-check-your-answers__change {
  float: none;
}

dd.app-check-your-answers__answer,
dd.app-check-your-answers__change {
  font-weight: normal;
}

// Permits Check Answers page
form#CheckAnswers {
  margin: 0;

  fieldset {
    margin: 0;
  }

  // Override [type="submit"] in olcs-static/assets/_styles/core/forms.scss:270
  button[type="submit"].govuk-button {
    @extend .govuk-button;
    text-decoration: none;
  }

}

form#surrender-start {
  button[type="submit"].govuk-button--start {
    @extend .govuk-button;
    @extend .govuk-button--start;
    text-decoration: none;

  }
}

#pg\:permits\/ecmt-fee\:generic {
  dl div {
    @extend .app-check-your-answers__contents;
  }
  dt {
    @extend .app-check-your-answers__question;
  }
  dd {
    @extend .app-check-your-answers__change;

  }
}

.radio-button__fieldset--horizontal .govuk-radios,
.radio-button__fieldset--vertical .govuk-radios {
  margin-bottom: 15px;
}

.radio-button__fieldset--horizontal .govuk-radios__conditional {
  margin-left: 0;
}

form#surrender-current-discs {
  fieldset {
    margin-bottom: 0;
  }
  .field {
    margin-bottom: 15px;
  }
  .govuk-checkboxes__conditional {
    margin-bottom: 15px;
  }
  textarea {
    margin-bottom: 0;
  }
}