/**
 * Tables
 */

.table__wrapper {
  display: block;
  width: 100%;
  overflow: auto;
  float: left;
  position: relative;
  + .table__header {
    margin-top: 2em;
  }
}

.table__header {
  @extend %header-with-actions;
  span {
    @extend %paragraph;
    font-weight: 400;
    color: $grey-1;
  }
  p {
    margin: 10px 0;
    float: left;
  }
}

.table__footer {
  width: 100%;
  clear: right;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid $grey-2;
  margin-bottom: 1em;
  .summary & {
    margin-bottom: 0;
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin: .25em auto 0;
    text-align: center;
    display: block;
    cursor: pointer;
  }
  [type="submit"] {
    white-space: normal;
    text-align: left;
  }
  input[type="submit"]:focus {
    border: 0;
    background: $yellow;
  }
}

tr {
  &.hover {
    background: $grey-3;
    cursor: pointer;
  }
  &.current {
    background: $light-blue-25;
  }
}

tr.disabled {
  cursor: default;
  input[type="submit"] {
    cursor: default;
    color: $grey-1;
  }
  input[disabled="disabled"] {
    text-decoration: none;
  }
  input[type="submit"] {
    cursor: default;
    color: $grey-1;
  }
  a {
    text-decoration: underline;
  }
  input[type="submit"]:hover,
  a:hover {
    cursor: pointer;
    color: $black;
  }
}

th,
td {
  @extend %paragraph--small;
  padding: 0.7em 10px 0.7em 0;
  text-align: left;
  vertical-align: top;
  > label {
    margin: 0;
  }
}

th {
  font-weight: 600;
  border-top: 1px solid $grey-2;
  &[scope="row"] {
    font-weight: 400;
    padding-right: 2em;
  }
}

td {
  overflow: visible;
  border-top: 1px solid $grey-2;
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  p,
  li {
    @extend %paragraph--small;
  }
}


tfoot {
  tr {
    border-top: 1px solid $grey-2;
    border-bottom: 0;
  }
  th,
  td {
    border: 0;
    overflow: hidden;
    font-weight: 600;
  }
  th {
    background: none;
  }
}

.right {
  text-align: right;
  input[type="checkbox"],
  input[type="radio"] {
    float: right;
    margin: 3px 0 7px 7px;
  }
}

.new {
  color: $primaryColour;
  margin-right: 5px;
}

.table-search__input {
  width: 200px;
  height: 14px;
  margin-top: -7px;
}

.sortable {
  padding: .5em 15px .5em 0;
  a {
    padding-right: 1em;
    color: $black;
    text-decoration: none;
    position: relative;
    &:after {
      @include svg('dropdown-down');
      content: "";
      position: absolute;
      display: inline-block;
      right: 0;
      top: 7px;
    }
  }
  a:active {
    color: $grey-1;
  }
}

// This hack is to break any long safety inspector names onto
// two lines as per OLCS-11334

#lva-safety {
  td > [type="submit"] {
    word-break: break-word;
    text-align: left;
    max-width: 100%;
  }
  td {
    max-width: 250px;
  }
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .table__wrapper {
    border-radius: 3px;
  }

  table {
    border: 1px solid $grey-3;
  }

  tfoot {
    background: $grey-4;
  }

  tr {
    &.urgent {
      border-left: 5px solid $mellow-red;
    }
    &.hover {
      background: $grey-4;
    }
  }

  th,
  td {
    padding: .5em .75em;
  }

  th {
    background: $grey-4;
    border: 1px solid $grey-3;
    a {
      display: block;
    }
  }

  td {
    border-top: 1px solid $grey-3;
    border-right: 1px dotted $grey-3;
  }

  .sortable {
    padding: .5em .75em;
    background: $grey-4;
    a {
      padding: 0 1.25em 0 0;
    }
    &:hover,
    &.ascending,
    &.descening {
      background-color: $grey-4;
    }
  }

  .not-sortable {
    padding: .5em .75em;
  }

}
