// Tools
//
// Utility helpers to speed up and improve development, typically
// in the form of placeholders and mixins.

// background: theme($internal: white, $selfserve: black);
// background: theme(white, black);
@function theme($internal, $selfserve) {
  @if $app == 'internal' {
    @return $internal;
  } @else if $app == 'selfserve' {
    @return $selfserve;
  }
}

// Create an actionable header bar with right-side actions-container
%header-with-actions {
  float: left;
  width: 100%;
  padding-bottom: 8px;
  @if $app == 'internal' {
    h3,
    h4 {
      float: left;
      display: block;
      margin: 0;
    }
  }
  .actions-container {
    display: block;
    @if $app == 'selfserve' {
    }
    @if $app == 'internal' {
      float: right;
      margin: -7px -5px -2px 0;
    }
  }
  select {
    margin: 3px 3px 0 0;
  }
}

// Load an SVG image from the global sprite with PNG fallback
%sprite-bg {
  background-image: url('../images/svg/icon-sprite.png');
  // scss-lint:disable DuplicateProperty
  background-image: url('../images/svg/icon-sprite.svg'), linear-gradient(transparent, transparent);
  display: inline-block;
}

@mixin svg($src) {
  // scss-lint:disable PlaceholderInExtend
  @extend .#{$src};
  @extend %sprite-bg;
}