// Typography
// -----------------------------------------------------------------

@mixin font-size($font-size, $small-font-size: null, $print-font-size: null) {
  @if $is-print {
    font-size: $print-font-size;
  } @else {
    font-size: $font-size;
  }
  @if $small-font-size {
    @media (max-width: $mobile-column-stack) {
      font-size: $small-font-size;
    }
  }
}

// Patterns
// Responsive, reusable font-size patterns for text copy only
// -----------------------------------------------------------------

%h1 {
  @include font-size(
    font-size(8), font-size(7), font-size(4, true)
  );
}

%h2 {
  @include font-size(
    font-size(7), font-size(5), font-size(4, true)
  );
}

%h3 {
  @include font-size(
    font-size(5), font-size(4), font-size(3, true)
  );
}

%h4 {
  @include font-size(
    font-size(4), font-size(3), font-size(2, true)
  );
}

%paragraph--large {
  @extend %h4;
}

%paragraph--small {
  @include font-size(
    font-size(3), font-size(2), font-size(1, true)
  );
}

%paragraph--tiny {
  @include font-size(
    font-size(2), font-size(1), font-size(1, true)
  );
}

h1,
h2,
h3,
h4,
h5,
p {
  clear: both;
  margin: 0;
  font-weight: 700;
  margin-bottom: .25em;
}

h1 {
  @extend %h1;
  margin-bottom: 0.15em;
  line-height: 1.1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
  margin-bottom: .5em;
}

h5 {
  @extend %paragraph--small;
}

p {
  @extend %paragraph--large;
  font-weight: 400;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

.divider {
  border-top: 1px solid $grey-2;
  padding: 40px 0 10px;
}

/*
  Article styling
 */

.article {

  h2,
  h3,
  h4 {
    margin: 1em 0 .25em 0;
  }

  ul {
    @extend %paragraph--large;
    margin-bottom: 1em;
    margin-left: 20px;
  }

  li {
    margin-bottom: .125em;
  }

  p {
    @extend %paragraph--large;
    margin-bottom: .5em;
  }

}

.article + .article {
  margin-top: 40px;
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .important {
    padding-left: 30px;
    background: url('#{$assetPath}/important.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/important-2x.png') no-repeat 0 0;
      background-size: 25px 25px;
    }
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .title {
    font-size: font-size(3);
    border-bottom: 1px solid $grey-2;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }

  p {
    font-size: font-size(2);
  }

  h1 {
    @include font-size(26px,15pt,24px);
    display: inline;
    padding-right: .25em;
  }

  h2 {
    font-size: font-size(5);
  }

  h3 {
    font-size: font-size(3);
  }

  .article {
    p,
    ul,
    ol {
      font-size: font-size(2);
    }
  }

}