// Typography
// -----------------------------------------------------------------

// Adaptive Font Mixin
// -----------------------------------------------------------------

@mixin font-size($font-size, $small-font-size: null, $print-font-size: null) {
  @if $is-print and $print-font-size {
    font-size: $print-font-size;
  } @else {
    font-size: $font-size;
  }
  @if $small-font-size {
    @media (max-width: $mobile-column-stack) {
      font-size: $small-font-size;
    }
  }
}

// Size Patterns
// Responsive, reusable font-size patterns for headings and
// paragraph text copy only
// -----------------------------------------------------------------

%h1,
.h1 {
  @include font-size(
    font-size(9), font-size(8), font-size(5, true)
  );
}

%h2,
.h2 {
  @include font-size(
    font-size(8), font-size(6), font-size(5, true)
  );
}

%h3,
.h3 {
  @include font-size(
    font-size(6), font-size(5), font-size(4, true)
  );
}

%h4,
.h4 {
  @include font-size(
    font-size(5), font-size(4), font-size(2, true)
  );
}

%h5,
.h5 {
  @include font-size(
    font-size(4), font-size(2), font-size(1, true)
  );
}

%h6,
.h6 {
  @include font-size(
    font-size(2), font-size(1), font-size(1, true)
  );
}

// Paragraphs
// -----------------------------------------------------------------

%paragraph--large {
  @extend %h3;
}

%paragraph {
  @extend %h4;
}

%paragraph--small {
  @extend %h5;
}

%paragraph--tiny {
  @extend %h6;
}

h1,
h2,
h3,
h4,
h5,
p {
  clear: both;
  margin-top: 0;
  margin-bottom: 0.25em;
  font-weight: 700;
}

h1 {
  @extend %h1;
  line-height: 1.1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
  margin-bottom: .5em;
}

h5 {
  @extend %h5;
}

p {
  @extend %paragraph;
  font-weight: 400;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

.divider {
  border-top: 1px solid $grey-2;
  padding: 40px 0 10px;
}

/*
  Article styling
 */



// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .important {
    padding-left: 30px;
    background: url('#{$assetPath}/important.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/important-2x.png') no-repeat 0 0;
      background-size: 25px 25px;
    }
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .title {
    border-bottom: 1px solid $grey-2;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }

  p {
    font-size: font-size(3);
  }

  h1 {
    @include font-size(
      font-size(6), font-size(5), font-size(4, true)
    );
    display: inline;
    padding-right: .25em;
  }

  h2 {
    font-size: font-size(5);
  }

}