
/*
  Typography
  ==========
*/

$font-sizes: (
  'size-1' : 15px,
  'size-2' : 16px,
  'size-3' : 18px,
  'size-4' : 28px
);

@function font-size($size) {
  @return map-get($font-sizes, 'size-#{$size}');
}

@mixin font-size($font-size, $print-font-size, $font-size-640) {
  @if $is-print == false {
    font-size: $font-size;
  } @else {
    font-size: $print-font-size;
  }
  @media (max-width: $mobile-column-stack) {
    font-size: $font-size-640;
  }
}

%h1 {
  @include font-size(48px,18pt,32px);
}

%h2 {
  @include font-size(36px,18pt,24px);
}

%h3 {
  @include font-size(24px,16pt,20px);
}

%h4 {
  @include font-size(19px,14pt,16px);
}

%paragraph--large {
  @include font-size(19px,14pt,16px);
  font-weight: 400;
}

%paragraph--small {
  @include font-size(16px,12pt,14px);
}

%paragraph--tiny {
  @include font-size(14px,10pt,12px);
}

h1,
h2,
h3,
h4,
h5,
p {
  clear: both;
  margin: 0;
  font-weight: 700;
  margin-bottom: .25em;
}

h1 {
  @extend %h1;
  margin: 0 0 .15em;
  line-height: 1.1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
  margin-bottom: .5em;
}

h5 {
  @extend %paragraph--small;
}

p {
  @extend %paragraph--large;
  font-weight: 400;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

.divider {
  border-top: 1px solid $grey-2;
  padding: 40px 0 10px;
}

/*
  Article styling
 */

.article {

  h2,
  h3,
  h4 {
    margin: 1em 0 .25em 0;
  }

  ul {
    @extend %paragraph--large;
    margin-bottom: 1em;
    margin-left: 20px;
  }

  li {
    margin-bottom: .125em;
  }

  p {
    @extend %paragraph--large;
    margin-bottom: .5em;
  }

}

.article + .article {
  margin-top: 40px;
}

// Selfserve theme
// ---------------

@if $app == 'selfserve' {

  .important {
    padding-left: 30px;
    background: url('#{$assetPath}/important.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/important-2x.png') no-repeat 0 0;
      background-size: 25px 25px;
    }
  }

}

// Internal theme
// ---------------

@if $app == 'internal' {

  .title {
    font-size: font-size(3);
    border-bottom: 1px solid $grey-2;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }

  p {
    font-size: font-size(2);
  }

  h1 {
    @include font-size(26px,15pt,24px);
    display: inline;
    padding-right: .25em;
  }

  h2 {
    font-size: font-size(5);
  }

  h3 {
    font-size: font-size(3);
  }

  .article {
    p,
    ul,
    ol {
      font-size: font-size(2);
    }
  }

}