---
title: Search results
asset: '../../../'
header-text: <p>We've found <b>230</b> vehicle operators that match your search.</p>
layout: base.hbs
table:
  - headers:
      - label: Licence
        class: sortable
      - label: Company name
        class: sortable descending
      - label: Trading name
        class: sortable descending
    columns:
      - <strong><a href="licence-details.html">OH1058363</a></strong><span class="status green">Valid</span>
      - AB Agri Limited
      - AB Logistics
    rows: 20
---

<div class="row">

  <div class="one-quarter">
    <form class="filters">
      <fieldset>
        <legend>Edit search</legend>
        <div class="field">
          <label for="search">Keywords</label>
          <input id="search" name="search" type="search" class="extra-long" value="OH1058363">
          <p class="hint--small">Try searching for an operator name, licence number, person, postcode, town or city</p>
        </div>
        <div class="field">
          <label>Business type</label>
          <select name="">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label>Licence type</label>
          <select name="">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label>Licence status</label>
          <select name="">
            <option value="">All</option>
          </select>
        </div>
        <div class="field">
          <label>Traffic area</label>
          <select name="">
            <option value="">All</option>
          </select>
        </div>
        <input type="submit" class="action--primary large" value="Update results">
        <a href="index.html">Start again</a>
      </fieldset>
    </form>
  </div><!-- three-eights -->
  
  <div class="three-quarters">
    <!-- Registered bus services -->
    {{#each table}}
      {{#is @index 0 }}
        {{> _table }}
      {{/is }}
    {{/each}}
    <div class="table__footer">
      <div class="results-settings">
        <p>Show:</p>
        <ul class="results-settings__list">
          <li class="results-settings__item"><a href="">10</a></li>
          <li class="results-settings__item current">25</li>
          <li class="results-settings__item"><a href="">50</a></li>
        </ul><!-- .results-settings__list -->
        <p>results per page</p>
      </div><!-- .results-settings -->
      <ul class="pagination right-aligned" role="menu">
        <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
        <li class="pagination__item current">1</li>
        <li class="pagination__item"><a href="">2</a></li>
        <li class="pagination__item"><a href="">3</a></li>
        <li class="pagination__item"><a href="">4</a></li>
        <li class="pagination__item"><a href="">5</a></li>
        <li class="pagination__item">...</li>
        <li class="pagination__item"><a href="">14</a></li>
        <li class="pagination__item"><a href="" rel="next">Next</a></li>
      </ul><!-- .pagination.right-aligned -->
    </div><!-- .table__footer -->
  </div><!-- .five-eights -->

</div>