.ecmt {
    #restricted-countries-list,
    #euro6-hint,
    #cabotage-hint {
        display: none;
    }

    .restrictedRadio {
        margin-bottom: 0.5em;
    }

    .restrictedRadio:first-of-type.selected ~ #restricted-countries-list,
    .euro6Radio:last-of-type.selected ~ #euro6-hint,
    .cabotageRadio:first-of-type.selected ~ #cabotage-hint {
        display: block;
    }

    .inline {
        .block-label {
            clear: none;
            float: left;
            margin: 10px 1em 0.5em 0;
        }
    }

    .govuk-box-highlight {
        margin: 1em 0;
        padding: 2em 0 1em;
        color: $white;
        background: $application-submit-background;
        text-align: center;
    }

    td {
        max-width: 8em;
        vertical-align: middle;
    }

}
