.ecmt {
  .restricted-countries-list,
  .sector-list,
  #euro6-hint,
  #cabotage-hint,
  .restricted-licence-guidance,
  .restricted-licence-hint,
  .restricted-licence-hint:before {
    display: none;
  }

  .restrictedRadio,
  .specialistRadio {
    margin-bottom: 0.5em;
  }

  .restrictedRadio:first-of-type.selected ~ .restricted-countries-list,
  .validation-wrapper + .restricted-countries-list,
  .specialistRadio:first-of-type.selected ~ .sector-list,
  .validation-wrapper + .sector-list,
  .euro6Radio:last-of-type.selected ~ #euro6-hint,
  .cabotageRadio:first-of-type.selected ~ #cabotage-hint {
    display: block;
  }

  form#SpecialistHaulage b {
    font-size: 1.2em;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  form#SpecialistHaulage p {
    overflow: hidden;
    display: block;
    padding: 0 0 0 44px;
    margin-bottom: 20px;
  }

  form#SpecialistHaulage p.error__text {
    padding: 0 0 0 0;
  }

  .restricted-licence-input.form-control--radio.selected input + .restricted-licence-hint {
    @extend %guidance;

    display: block;
    margin: 1em 0;
    pointer-events:none;
  }

  .inline {
    .block-label {
      clear: none;
      float: left;
      margin: 10px 1em 0.5em 0;
    }
  }

  .hint {
    width: 100%;

    &.space{
        margin: 2em 0;
    }
  }

  .govuk-hint {
    margin: 2em 0;

    .info-para {
      margin-bottom: 20px;
    }
  }

  .govuk-box-highlight {
    margin: 1em 0;
    padding: 2em 0 1em;
    color: $white;
    background: $application-submit-background;
    text-align: center;
  }

  td {
    max-width: 8em;
    vertical-align: middle;
  }

  .fee-subtitle {
    margin-bottom: 20px;
  }

  .notice {
    position: relative;
    margin-bottom: 30px;
    font-size: 19px;

    .icon {
      position: absolute;
      left: 0;
      top: 50%;

      &.icon-important {
        background-image: url('#{$asset-path}/bitmap/icon-important-2x.png');
                background-size: 100%;
        top: 0;
        margin: 0;
        width: 35px;
        height: 35px;
      }
    }

    strong {
      display: block;
      margin-left: -15px;
      padding-left: 65px;
    }
  }

  .fee-table {
    tr:first-child {
      td {
        border-top: none;

        &:first-child {
          width: 30%;
        }
      }
    }

    td {
      padding-right: 1.05263em;
    }
  }

  .guidance-subtitle {
    padding: 1.5em 0;
    margin:  0 0 3em;
    border-bottom: 0.09em solid $grey-3;
  }

  .guidance-section {
    padding: 0 0.938em 1em;

    h2 {
      font-size: 1.5em;
      margin: 2em 0 0.5em;
    }

    li {
      margin-bottom: 0.4em;
    }
  }

  .extra-space {
    margin: 1em 0;

    &.large {
      margin: 2em 0;
    }
  }

  .ecmt-countries {
    ul {
        display: flex;
        flex-flow: row wrap;
    }

    li {
      flex-basis: 25%;
      list-style: none;
      font-size: 0.75em;
      border-bottom: 0.09em solid $grey-3;
      padding: 0.5em 0.3em 0.5em 0;

      @media (max-width: breakpoint('break-4')) {
        flex-basis: 33%;
      }

      @media (max-width: breakpoint('break-2')) {
        flex-basis: 50%;
      }
    }
  }
}

.info-box--permit {
    padding: 1.8em 0 0 0;
    border-top: 2px solid $link-colour;
}
