
/*
  Application/licence overview
  ============================
*/

.overview-navigation {
  list-style: none;
  margin-bottom: 2em;
  border-top: 1px solid $grey-2;
}

.disabled .overflow-item:hover {
  background: none;
}

.overview-item {
  border-bottom: 1px solid $grey-2;
  float: left;
  width: 100%;
  h4 {
    float: left;
    width: 40%;
  }
  p {
    @extend %paragraph--small;
    float: right;
    clear: none;
    text-decoration: underline;
    pointer-events: none;
    color: $link-colour;
    @media (max-width: 640px){
      font-size: 14px;
    }
  }
  .status {
    float: left;
    margin-top: 2px;
    @media (max-width: 640px){
      display: none;
    }
  }
}

.overview-item__link {
  width: 96%;
  padding: .8em 2% 0 2%;
  color: $black;
  text-decoration: none;
  float: left;
  display: block;
  .disabled &  {
    color: $grey-1;
  }
  &:hover {
    background: $grey-3;
    color: $black;
    .disabled &  {
      background: none;
      color: $grey-1;
    }
  }
}

.overview-item__link:focus {
  background: $grey-4;
  h4 {
    color: $grey-1;
  }

  p {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url('../images/address-preloader.gif') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background-image: url('../images/address-preloader-2x.gif');
      background-size: 20px 20px;
    }
  }

}