
/*
  Printable
  =========
  Styles for printable documents, including the applications,
  declaration form and payment receipts
*/



.printable {
  padding: 20px 30px 40px;
  p,
  ul,
  dt,
  dd {
    @extend %paragraph--large;
  }
}

.printable__address {
  margin-top: 110px;
  width: 45%;
  float: left;
}

.printable__meta {
  margin-top: 110px;
  float: right;
  width: 40%;
  dl {
    border-top: none;
    margin-top: 0;
  }
  dt,
  dd {
    display: block;
    width: 100%;
    padding: 0;
  }
  dd {
    font-weight: 600;
    margin-bottom: 10px;
  }
}

.printable__header {
  float: left;
  margin: 120px 0 60px;
}


.printable h4 {
  margin: 20px 0 5px;
}

.signature-box {
  background: $grey-3;
  -webkit-print-color-adjust:exact;
  padding: 30px 25px 15px;
  margin: 30px 0 30px;
}

.signature-box__label {
  font-weight: 600;

}

.signature-box__input {
  width: 400px;
  border: 2px solid $black;
  margin-bottom: 20px;
  &.signature {
    height: 100px;
  }
  &.name {

  }
  &.date {
    width: 200px;
  }
}

