
/*
  Submit Transport Manager application
  ====================================
*/


/*
  Incomplete sections
  -------------------
*/

.incomplete-section {
  margin: 20px 0 30px;
  overflow: auto;
  border-left: 4px solid $grey-3;
  padding-left: 20px;
}

/*
  Steps
  -----
*/

.steps {
  list-style: none;
  border-left: 4px solid $grey-3;
  padding-left: 20px;
}


/*
  Progress
  --------
*/

.progress {
  list-style: none;
  &__item {
    display: block;
    margin-bottom: 20px;
    position: relative;
  }
  p {
    @extend %paragraph--small;
    padding-left: 38px;
  }
}

.progress__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 3px solid $grey-3;
  &.checked {
    @include svg('internal-application-complete');
  }
}