
/*
  Submit Transport Manager application
  ====================================
*/


/*
  Steps
  -----
*/

.steps {
  list-style: none;
  border-left: 4px solid $grey-3;
  padding-left: 20px;
}


/*
  Progress
  --------
*/

.progress {
  list-style: none;
  &__item {
    display: block;
    margin-bottom: 20px;
    position: relative;
  }
  p {
    @extend %paragraph--small;
    padding-left: 38px;
  }
}

.progress__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 3px solid $grey-3;
  &.checked {
    background: url('#{$assetPath}/green-tick.png') no-repeat 0 0;
    @include device-pixel-ratio($ratio: 2) {
      background: url('#{$assetPath}/green-tick-2x.png') no-repeat 0 0;
      background-size: 20px 20px;
    }
  }
}