---
layout: case.hbs
sectionTitle: Case details
subSectionTitle: Overview
verticalNavItems:
  - label: Overview
    link:  
  - label: Convictions
    link:  
  - label: Prohibitions
    link:  
  - label: Penlaties
    link:
  - label: Statements
    link:
  - label: Complaints
    link:
  - label: Serious infringements
    link:
  - label: Conditions & undertakings
    link:
  - label: Impoundings
    link:


---


<div class="one-fifth--left">
  <h4>Case details</h4>
  {{> _vertical-navigation }}
</div>

<div class="three-fifths">
      <div class="field">
        <label>Interests</label>
        <select multiple class="tall extra-long">
          <option value="golf">Golf</option>
          <option value="football">Football</option>
          <option value="tennis">Tennis</option>
          <option value="basketball">Basketball</option>
          <option value="rugby">Rugby</option>
          <option value="bowles">Bowles</option>
        </select>
      </div>
</div>