---
layout: case.hbs
sectionTitle: Submissions
read-only:
  - group:
    - name: Operator name
      value: Don Tarmacadam Limited
  - group: 
    - name: No of licences
      value: 4 <a href="">View licences</a>
    - name: Lead TC
      value: Paul Rooney
  - group: 
    - name: Licence number
      value: OB1265270
    - name: Licence start date
      value: 16 Aug 2012
    - name: Licence type
      value: R
    - name: Continuation date
      value: 31 July 2017
    - name: Licence status
      value: Valid
  - group: 
    - name: No. of operating centres
      value: 1
    - name: Total vehicle authorisation
      value: 4
    - name: Vehicles in possession
      value: 2    
    - name: Trailer authorisation
      value: 2
    - name: Trailers in possession
      value: 0
  - group: 
    - name: Current review complaints
      value: None
    - name: No of case
      value: 3 <a href="">View cases</a>
    - name: Next review date
      value: 12 May 2018   

---


<div class="three-fifths">
  <h3>Submission No. 4</h3>
  {{> _read-only }}
</div>