---
layout: printable.hbs
---

<div class="review-header">
  <p>Transport Manager details</p>
  <h1>Dave Willis<br />OB1242325/84</h1>
</div>

<!--
  1. Type of licence
-->
<div class="review-section">
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Name</dt>
        <dd>Dave Willis</dd>
      </li>
      <li class="definition-list__item">
        <dt>Date of birth</dt>
        <dd>15 April 2015</dd>
      </li>
      <li class="definition-list__item">
        <dt>Email address</dt>
        <dd>dave.willis@gmail.com</dd>
      </li>
      <li class="definition-list__item">
        <dt>Place of birth</dt>
        <dd>Barrow-in-furness</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Certificate of professional competence</dt>
        <dd>DaveWillis-COP.PDF</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Home address</dt>
        <dd>24 Eleanor Harris Road, Baschurch, Shrewsbury SY4 2HQ</dd>
      </li>
    </ul><!-- .definition-list -->
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Work address</dt>
        <dd>24 Eleanor Harris Road, Baschurch, Shrewsbury SY4 2HQ</dd>
      </li>
    </ul><!-- .definition-list -->
  </div>
</div><!-- .review-section -->

