---
title: Address finder
breadcrumbs: 
  - link: index.html
    label: Back to index
---


<div class="two-thirds">
  <form>

  <fieldset class="address">
    
    <legend>Establishment address</legend>
    
    <fieldset>
      <legend>Postcode search</legend>
      <div class="field inline">
        <input type="text" name="" class="short" value="">
      </div>
      <div class="field inline">
        <button type="submit" class="action--primary large" value="search">Find address</button>
      </div>
      <div class="address__select">
        <select name="" id="">
          <option value="">Please select your address...</option>
          <option value="">26 Eleanor Harris Road, Baschurch</option>
          <option value="">27 Eleanor Harris Road, Baschurch</option>
        </select>
      </div>
      <p class="hint--small"><a href="">Enter address manually</a></p>
    </fieldset>

    <div class="field ">
      <label for="">Address lines</label>
      <input type="text" name="" class="long" value="26 Eleanor Harris Road">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 2</label>
      <input type="text" name="" class="long" value="Baschurch">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 3</label>
      <input type="text" name="" class="long" value="">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 4</label>
      <input type="text" name="" class="long" value="">
    </div>
    <div class="field ">
      <label for="">Town/City</label>
      <input type="text" class="long" value="Shrewsbury">
    </div>
    <div class="field ">
      <label for="">Postcode</label>
      <input type="text" name="" value="SY4 3HQ">
    </div>
    <div class="field ">
      <label for="">Country</label>
      <select name="">
        <option value="">Please Select</option>
        <option value="AF">Afghanistan</option>
        <option value="AX">Aland Islands</option>
      </select>
    </div>
  
  </fieldset><!-- .address -->

  </form>

</div><!-- .two-thirds -->
