---
title: Alert
---

<div class="overlay"></div>
<div class="modal__wrapper">
  <div class="modal--alert">
    <div class="modal__header">
      <h1 class="modal__title">Alert header</h1>
      <a href="" class="modal__close">Close</a>
    </div>
    <div class="modal__content">
      <p>Are you really sure you want to perform this action?</p>
      <form>
        <div class="actions-container">
          <input class="action--primary large" type="submit" value="Yes">
          <input class="action--tertiary large" type="submit" value="No, cancel">
        </div>
      </form>
    </div><!-- .modal__content -->
  </div><!-- modal-alert-->
</div>

<div class="two-thirds">
  <div class="article">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga itaque dolore vero nostrum, inventore praesentium totam tenetur id! Perspiciatis quae voluptatum veniam, libero pariatur dolores totam tempore ex dicta cum.</p>
  </div>
</div>
