---
title: Applications
subtitle: Terry Barret-Edgecombe
layout: base.hbs
user: tm
---

<div class="two-thirds">

  <!-- Applications -->
  <div class="table__header">
    <h3>Transport Manager applications</h3>
  </div><!-- .table__header -->
  <div class="table__wrapper">
    <table>
      <thead>
        <tr>
          <th>Application No.</th>
          <th>Licence No.</th>
          <th>Submitted</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b><a href="/styleguides/selfserve/overview.html">821003</a></b><span class="status orange">Incomplete</span></td>
          <td>OB125242</td>
          <td>25 Oct 2014</td>
        </tr>
        <tr>
          <td><b><a href="/styleguides/selfserve/overview.html">821003</a></b><span class="status orange">Incomplete</span></td>
          <td>OB125242</td>
          <td>25 Oct 2014</td>
        </tr>
        <tr>
          <td><b><a href="/styleguides/selfserve/overview.html">821003</a></b><span class="status orange">Incomplete</span></td>
          <td>OB125242</td>
          <td>25 Oct 2014</td>
        </tr>
      </tbody>
    </table>
  </div><!-- .table__wrapper -->

</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <div class="links">
    <h3>Useful information for Transport Managers</h3>
    <ul class="links-list">
      <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
      <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
      <li class="links-list__item"><a href="">Financial information</a></li>
      <li class="links-list__item"><a href="">A guide to operator fees</a></li>
      <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
    </ul>
  </div><!-- .links -->

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

