---
title: Bus services
subtitle: Operator Licensing Ltd.
layout: two-thirds--dashboard.hbs
---

<div class="two-thirds dashboard">

    <div class="article">
      <h3>Making changes</h3>
      <p>If you would like to register a new bus service, update an existing service or 
      cancel a service you will need to updload an Electronic Bus Registration Service pack (EBSR) 
      in .ZIP format below.</p>
    </div>

    <form>
      <fieldset id="file-upload">
        <div class="field file-upload">
          <input type="file" multiple>
          <input type="submit" value="Upload" class="action--primary">
        </div>
      </fieldset><!-- #file-upload -->
    </form>

    <!-- Registered bus services -->
    <div class="table__header">
      <h3>Registered bus services</h3>
    </div><!-- end .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Reg. No.</th>
            <th>Variation</th>
            <th>Submitted</th>
            <th>Service No.</th
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="">126272</a></b><span class="status green">Registered</span></td>
            <td>2</td>  
            <td>12 May 2013</td>
            <td>537, 570</td>
          </tr>
          <tr>
            <td><b><a href="">126272</a></b><span class="status green">Registered</span></td>
            <td>2</td>  
            <td>12 May 2013</td>
            <td>537, 570</td>
          </tr>
        </tbody>
      </table>
    </div><!-- end .table__wrapper -->




</div><!-- end .two-thirds -->

<div class="one-third sidebar">

  <div class="links">
    <h3>Useful information for bus operators</h3>
    <ul class="links-list">
      <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
      <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
      <li class="links-list__item"><a href="">Financial information</a></li>
      <li class="links-list__item"><a href="">A guide to operator fees</a></li>
      <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
    </ul>
  </div><!-- .links -->

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

