---
title: Bus registrations
header-text: <p>In order to register, update or cancel a bus service you need to updload an Electronic Bus Registration Service pack (EBSR) in .ZIP format.</p>
    <p><b><a href="register-update-cancel-service.html">Register, update or cancel a service</a></b></p>
layout: base.hbs
user: bus operator
table:
  - headers:
      - label: Registration No.
        class: sortable descending
      - label: Variation
        class: sortable
      - label: Type
        class: sortable
      - label: Service No.
        class: sortable
      - label: Submitted 
        class: sortable
    columns:
      - <strong><a href="bus-service-detail.html">PC1057277/232</a></strong><span class="status green">Registered</span>
      - 3
      - Electronic
      - 576,570
      - 12 May 2012
    rows: 20
---

<div class="three-eigths">
  <form class="filters">
    <fieldset>
      <legend>Filter by:</legend>
      <div class="field">
        <label>Start point</label>
        <select name="">
          <option value="">Please select</option>
        </select>
      </div>
      <div class="field">
        <label>End point</label>
        <select name="">
          <option value="">Please select</option>
        </select>
      </div>
      <input type="submit" class="action--primary large" value="Update results">
    </fieldset>
  </form>
</div><!-- three-eights -->

<div class="five-eigths">
  <!-- Registered bus services -->
  {{#each table}}
    {{#is @index 0 }} 
      {{> _table }}
    {{/is }} 
  {{/each}}
  <div class="table__footer" style="margin-top: -30px; float: left;">
    <div class="results-settings">
      <p>Show:</p>
      <ul class="results-settings__list">
        <li class="results-settings__item current">10</li>
        <li class="results-settings__item"><a href="">25</a></li>
        <li class="results-settings__item"><a href="">50</a></li>
      </ul><!-- .results-settings__list -->
      <p>results per page</p>
    </div><!-- .results-settings -->
    <ul class="pagination right-aligned" role="menu">
      <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
      <li class="pagination__item"><a href="">1</a></li>
      <li class="pagination__item"><a href="">2</a></li>
      <li class="pagination__item current">3</li>
      <li class="pagination__item"><a href="">4</a></li>
      <li class="pagination__item"><a href="">5</a></li>
      <li class="pagination__item">...</li>
      <li class="pagination__item"><a href="">14</a></li>
      <li class="pagination__item"><a href="" rel="next">Next</a></li>
    </ul><!-- .pagination.right-aligned -->
  </div><!-- .table__footer -->
</div><!-- .five-eights -->


