---
title: Bus service details
subtitle: PD0000738/316
layout: bus-regs-base.hbs
breadcrumbs: 
  - link: bus-services.html
    label: Bus services
read-only:
  - title:
    editable: false
    type: fields
    groups: 
    - group:
      - name: Current variation No.
        value: 3
      - name: Status
        value: Registered
    - group: 
      - name: Service No.(s)
        value: 576, 570
      - name: Service type
        value: Bus service
    - group:
      - name: Start point
        value: Leeds city centre
      - name: End point
        value: Chapel Allerton
      - name: Via
        value: Harrogate
    - group:
      - name: Date received
        value: 30 May 2012
      - name: Effective date
        value: 30 August 2012
      - name: End date
        value: 30 August 2015
    - group: 
      - name: TAOs covered by route
        value: Lorem ipsum, Sit dolor amet
      - name: Local authorities convered by route
        value: Leeds City Council
      - name: N&P reference
        value: 1276135316H
table:
  - title: Service history
    headers:
      - label: Variation No.
        class: not-sortable
      - label: Received
        class: not-sortable
      - label: Effective
        class: not-sortable
      - label: End
        class: not-sortable
    columns:
      - <a href="licence/"><b>3</b></span>
      - 12 May 2012
      - 12 August 2012
      - 12 August 2013
    rows: 4
---

<div class="three-quarters">
  {{#each read-only }}{{> _read-only }}{{/each }}
  <hr />

  <form action="">
    <div class="table__header">
      <h3>Service history</h3>
    </div><!-- .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <th>Variation No.</th>
          <th>Received</th>
          <th>Effective</th>
          <th>End</th>
        </thead>
        <tbody>
          <tr>
            <td><a href="licences.html"><b>4</b></a></td>
            <td>12 May 2012</td>
            <td>12 August 2012</td>
            <td>12 August 2013</td>
          </tr>
          <tr>
            <td><a href=""><b>3</b></a></td>
            <td>12 May 2012</td>
            <td><a href="">12 August 2012</a></td>
            <td>12 August 2013</td>
          </tr>
          <tr>
            <td><a href=""><b>2</b></a></td>
            <td>12 May 2012</td>
            <td>12 August 2012</td>
            <td>12 August 2013</td>
          </tr>
          <tr>
            <td><a href=""><b>1</b></a></td>
            <td>12 May 2012</td>
            <td>12 August 2012</td>
            <td>12 August 2013</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
  </form>

  <h3>Documents</h3>
  <div class="files">
    <div class="field file-upload">
      <p><a href=""><b>Uploaded EBSR pack</b></a><span> (1.4MB)</span></p>
    </div>
    <div class="field file-upload">
      <p><a href=""><b>Official VOSA record</b></a><span> (156KB)</span></p>
    </div>
    <div class="field file-upload">
      <p><a href=""><b>Route track map</b></a><span> (1.2MB)</span></p>
    </div>
  </div><!-- .files -->
  
</div><!-- .three-quarters -->

