---
title: Buttons
---


  
        <h3>Buttons</h3>
        
        <div class="actions-container">
          <button class="action--primary" value="Edit" type="submit">Generate</button>
          <input class="action--primary" value="Close" type="submit">
          <a href="" class="action--primary">Reassign</a>
          
          <button class="action--primary disabled" value="Edit" type="submit" disabled="disabled">Generate</button>
          <input class="action--primary disabled" value="Close" type="submit" disabled="disabled">
          <a href="" class="action--primary disabled">Reassign</a>
        </div>
  
        <hr />
        
        <div class="actions-container">
          <button class="action--delete" value="Edit" type="submit">Generate</button>
          <input class="action--delete" value="Close" type="submit">
          <a href="" class="action--delete">Reassign</a>
          
          <button class="action--delete disabled" value="Edit" type="submit" disabled="disabled">Generate</button>
          <input class="action--delete disabled" value="Close" type="submit" disabled="disabled">
          <a href="" class="action--delete disabled" disabled="disabled">Reassign</a>
        </div>
  
        <hr />
  
        <div class="actions-container">
          <button class="action--secondary" value="Edit" type="submit">Generate</button>
          <input class="action--secondary" value="Close" type="submit">
          <a href="" class="action--secondary">Reassign</a>
          
          <button class="action--secondary" value="Edit" type="submit" disabled="disabled">Generate</button>
          <input class="action--secondary" value="Close" type="submit" disabled="disabled">
          <a href="" class="action--secondary disabled">Reassign</a>
        </div>
  
        <hr />
  
        <div class="actions-container">
          <button class="action--tertiary" value="Edit" type="submit">Generate</button>
          <input class="action--tertiary" value="Close" type="submit">
          <a href="" class="action--tertiary">Reassign</a>
        </div>
  
        <hr />
  
        <div class="actions-container">
          <button class="action--secondary large" value="Edit" type="submit">Generate</button>
          <input class="action--secondary large" value="Close" type="submit">
          <a href="" class="action--secondary large">Reassign</a>
        </div>
  
        <hr />
  
        <div class="actions-container">
          <button class="action--primary large" value="Edit" type="submit">Generate</button>
          <input class="action--primary large" value="Close" type="submit">
          <a href="" class="action--primary large">Reassign</a>
        </div>
  
        <hr />
  
        <div class="actions-container">
          <button class="action--tertiary large" value="Edit" type="submit">Generate</button>
          <input class="action--tertiary large" value="Close" type="submit">
          <a href="" class="action--tertiary large">Reassign</a>
        </div>

<h3>Links</h3>
<div class="actions-container">
  <a class="action--primary" href="#">Button action primary</a>
  <a class="action--secondary" href="#">Button action secondary</a>
  <a class="action--tertiary" href="#">Button action tertiary</a>
</div>
<div class="actions-container">
  <a class="action--primary large" href="#">Button action primary</a>
  <a class="action--secondary large" href="#">Button action secondary</a>
  <a class="action--tertiary large" href="#">Button action tertiary</a>
</div>

<h3>Inputs</h3>
<div class="actions-container">
  <input class="action--primary" type="submit" value="Button action primary">
  <input class="action--secondary" type="submit" value="Button action secondary">
  <input class="action--tertiary" type="submit" value="Button action tertiary">
</div>
<div class="actions-container">
  <input class="action--primary large" type="submit" value="Button action primary">
  <input class="action--secondary large" type="submit" value="Button action secondary">
  <input class="action--tertiary large" type="submit" value="Button action tertiary">
</div>

<h3>Buttons</h3>
<div class="actions-container">
  <button class="action--primary" href="#">Button action primary</button>
  <button class="action--secondary" href="#">Button action secondary</button>
  <button class="action--tertiary" href="#">Button action tertiary</button>
</div>
<div class="actions-container">
  <button class="action--primary large" href="#">Button action primary</button>
  <button class="action--secondary large" href="#">Button action secondary</button>
  <button class="action--tertiary large" href="#">Button action tertiary</button>
</div>