---
title: Buttons
---

<div class="actions-container">
  <a class="action--primary" href="#">Button Action Primary</a>
  <a class="action--secondary" href="#">Button Action Primary</a>
  <a class="action--trtiary" href="#">Button Action Tertiary</a>
</div>

<div class="actions-container">
  <a class="action--primary large" href="#">Button Action Primary</a>
  <a class="action--secondary large" href="#">Button Action Primary</a>
  <a class="action--trtiary large" href="#">Button Action Tertiary</a>
</div>