---
title: Buttons
---

<h3>Links</h3>
<div class="actions-container">
  <a class="action--primary" href="#">Button action primary</a>
  <a class="action--secondary" href="#">Button action secondary</a>
  <a class="action--tertiary" href="#">Button action tertiary</a>
</div>
<div class="actions-container">
  <a class="action--primary large" href="#">Button action primary</a>
  <a class="action--secondary large" href="#">Button action secondary</a>
  <a class="action--tertiary large" href="#">Button action tertiary</a>
</div>

<h3>Inputs</h3>
<div class="actions-container">
  <input class="action--primary" type="submit" value="Button action primary">
  <input class="action--secondary" type="submit" value="Button action secondary">
  <input class="action--tertiary" type="submit" value="Button action tertiary">
</div>
<div class="actions-container">
  <input class="action--primary large" type="submit" value="Button action primary">
  <input class="action--secondary large" type="submit" value="Button action secondary">
  <input class="action--tertiary large" type="submit" value="Button action tertiary">
</div>

<h3>Buttons</h3>
<div class="actions-container">
  <button class="action--primary" href="#">Button action primary</button>
  <button class="action--secondary" href="#">Button action secondary</button>
  <button class="action--tertiary" href="#">Button action tertiary</button>
</div>
<div class="actions-container">
  <button class="action--primary large" href="#">Button action primary</button>
  <button class="action--secondary large" href="#">Button action secondary</button>
  <button class="action--tertiary large" href="#">Button action tertiary</button>
</div>