---
title: Conditions & undertakings
layout: base.hbs
user: operator
breadcrumbs: 
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="three-quarters">
  <div class="article">
    <h3>Licence conditions</h3>
    <ul>
      <li>Vehicles authorised under this licence will not exceed 18 tonnes gvw and 12 metres in length</li>
      <li>Trailers authorised under this licence will not exceed 3.5 tonnes (ie MOT testable trailers)</li> 
      <li>The operator will provide the Traffic Commissioner 28 days original bank statements and other financial details (such as overdraft facility agreements or credit card statements) that show the licence holder has access to the required financial facilities and funds. These details are to be provided by 31 October 2014 and cover the month September 2014.</li>
    </ul>
    <h3>Licence undertakings</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quisquam earum aliquamEligendi atque obcaecati, earum sint, quis debitis. Iure.</li>
      <li>Adipisicing elit. Alias quisquam earum aliquam eligendi atque obcaecati, earum sint, quis debitis.</li>
    </ul>
    <h3>Operating centre conditions</h3>
    <h4>10 Harper Road, Shrewsbury</h4>
    <p>Vehicles authorised under this licence will enter and leave the operating centre  via Stow Bendon Road only.</p>
    <h4>Unit 4, Burntwood Industrial Estate, Lichfield</h4>
    <p>Vehicles authorised under this licence will enter and leave the operating centre  via Stow Bendon Road only.</p> 
    <h3>Operating centre undertakings</h3>
    <h4>10 Harper Road, Shrewsbury</h4> 
    <p>Trees or hedging will be planted to screen the operating centre from neighbouring properties.</p>
    <a href="" class="action--tertiary large">Back to licence overview</a>
  </div>
</div><!-- end .two-thirds -->

