---
title: Thank you
layout: base.hbs
---

<div class="two-thirds">
  
  <div class="confirmation">
    <h2>Application submitted</h2>
    <p><b>Your reference number is</b></p>
    <h2>OB127253/9734</h2>
  </div><!-- .confirmation -->

  <div class="article">
    <h3>Before your application can be completed</h3>
    <ul>
      <li>Approve any outstanding Transport Manager applications</li>
      <li>Send any supporting documents that were requested but you did not upload during the application. Please write the application reference on any paper copies you send to:<br/> 
      <br /><b>Central Licensing Office</b><br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li>
    </ul>
    <h3>What happens next?</h3>
    <p>The Central Licensing Office aims to process your application as soon as possible. The information provided will be checked and further information may be requested.</p>
    <a href="licences.html" class="action--primary large">Back to dashboard</a>
  </div><!-- .article -->

</div><!-- .two-thirds -->

