---
title: Register, update or cancel a service
layout: bus-regs-base.hbs
breadcrumbs: 
  - link: bus-services.html
    label: Bus services
---

<div class="two-thirds">
  <div class="confirmation">
    <h2>Application complete</h2>
    <p>Your reference number is</p>
    <h3>OB127253/9734</h3>
  </div>
  <div class="article">
    <p>To register a new service, update or cancel an existing service you need to updload an Electronic Bus Registration Service pack (EBSR) in .ZIP format.</p>
    <h3>Please check the following</h3>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>Consectetur adipiscing elit tempor incididun</li>
      <li>Aliquip ex ea commodo consequa</li>
      <li>Ut enim ad minim veniam</li>
    </ul>
  </div>
</div><!-- .three-quarters -->
<div class="one-third sidebar">
  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a></p>
  </div><!-- support -->
</div><!-- .one-quarter -->

