---
title: Convictions and penalties
user: operator
subtitle: Step 12 of 13
layout: base.hbs
breadcrumbs:
  - link: licences.html
    label: Back to overview
---

<div class="row">
  <div class="two-thirds">
    <form action="">

      <fieldset>
        <p>Does anybody you've named in your application have a conviction related to roads or transport?</p>
        <fieldset>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
      </fieldset>

      <div class="article">
        <p>This applies to:</p>
        <ul>
          <li>companies directed by anybody you’ve named </li>
          <li>your parent company, if you’re a limited company</li>
          <li>your employees and agents</li>
        </ul>

        <h4>Offences outside the UK</h4>
        <p>For Standard National or Standard International licences you must tell us about offences outside the UK.</p>
        <h4>Spent convictions</h4>
        <p>Under the <a href="" rel="external">Rehabilitation of Offenders Act 1974</a> you don't have to declare spent convictions.</p>

        <div class="actions-container">
          <a href="" class="action--primary large">Save and continue</a>
          <a href="" class="action--tertiary list large">Save and return to overview</a>
        </div>
      </form>
    </div><!-- .article -->
  </div><!-- .two-thirds -->

  <div class="one-third">
    <div class="sidebar">
      <dl class="meta">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>7 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Not submitted</dd>
      </dl>
    </div>
  </div>

</div><!-- .row -->

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-upload, .js-post').hide();

    $(document).on('change', 'input[name="evidence"]', function(e) {
      e.preventDefault();
      if ($(this).val() === 'upload') {
        $('.js-upload').show();
        $('.js-post').hide();
      } else {
        $('.js-post').show();
        $('.js-upload').hide()
      }
    });

  });
</script>

