---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---



<div class="two-thirds">

  <div class="tabs">
    <ul class="tab-list">
      <li class="tab-list__item"><a href="licences.html" aria-select="false" tabindex="-1">Licences</a></li>
      <li class="tab-list__item active"><a href="fees.html" aria-select="false" tabindex="0">Fees (3)</a></li>
      <li class="tab-list__item"><a href="correspondence.html" aria-select="true" tabindex="-1">Correspondence (2)</a></li>
    </ul>
  </div><!-- tabs -->

  <!-- Licences -->
  <div class="table__header">
    <h3>Pending fees</h3>
    <div class="actions-container">
      <input class="action--primary disabled" type="submit" value="Pay">
    </div>
  </div><!-- .table__header -->
  <div class="table__wrapper">
    <table>
      <thead>
        <tr>
          <th>Fee type</th>
          <th>Licence No.</th>
          <th>Amount</th>
          <th>Invoiced</th>
          <td><input type="checkbox"></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b><a href="fee.html">GV/SN Variation fee</a></b><span class="status orange">Outstanding</span></td>
          <td><a href="">OB125422</a></td>
          <td>£257</td>
          <td>16/4/2015</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
          <td><b><a href="fee.html">GV/SN Variation fee</a></b><span class="status orange">Outstanding</span></td>
          <td><a href="">OB125422</a></td>
          <td>£257</td>
          <td>16/4/2015</td>
          <td><input type="checkbox"></td>
        </tr>
      </tbody>
    </table>
  </div><!-- .table__wrapper -->

</div>


<div class="one-third sidebar" style="margin-top: 45px;">

  <div class="links">
    <h3>Useful information for vehcile operators</h3>
    <ul class="links-list">
      <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
      <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
      <li class="links-list__item"><a href="">Financial information</a></li>
      <li class="links-list__item"><a href="">A guide to operator fees</a></li>
      <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
    </ul>
  </div><!-- .links -->

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

