---
title: Financial evidence
subtitle: Step 4 of 12
layout: base.hbs
breadcrumbs: 
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="two-thirds">

    <div class="guidance">
      <p>You need to demonstrates there are sufficient financial resources to maintain the vehicles and run the business.<br />
      <a href="">More guidance on financial evidence</a>
      <p>
    </div>

    <form>
      <fieldset>
        <h3>Required finance</h3>
        <p>Based on the total authority of <b>24 vehicles</b> and <b>14 trailers</b>, you are required to have the following finance available:</p>
        <h2>£12,998</h2>
      </fieldset>

      <fieldset>
        <legend>Provide evidence</legend>
        <fieldset class="">
          <legend class="legend">Provide evidence that you have the required finances stated above in the form of company accounts, bank statements or ballance sheets.</legend>
          <div class="field inline checkbox">
            <label><input type="radio" name="yes" checked>Upload files</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio" name="no">Send in the post</label>
          </div>
        </fieldset>
        <div class="field">
          <input type="submit" class="action--primary large" value="Choose files">
        </div>
      </fieldset>
    </form>
    
    <div class="actions-container">
      <a href="/styleguides/selfserve/overview.html" class="action--primary large">Save and continue</a>
      <a href="" class="action--secondary large">Save and return</a>
    </div>

</div><!-- .two-thirds -->

