---
title: Financial evidence
user: operator
subtitle: Step 4 of 12
layout: base.hbs
breadcrumbs:
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="two-thirds">
  <div class="article">
    <p>To be granted a licence, you’ll need to show you have enough money to keep your vehicles and run your business.</p>
    <h3>How much will you need?</h3>
    <h2>£12,998</h2>
    <p style="margin-bottom: 5px">This figure’s based on:</p>
    <ul>
      <li>an application for 20 vehicles</li>
      <li>maintenance of 19 vehicles on your other licences</li>
    </ul>

  </div>
    <form>

      <fieldset>
        <legend>Evidence</legend>
        <p>Once you have your financial evidence, send a copy to us.<br />See our guidelines on <a href="">which types of evidence we accept</a>.</p><hr />
        <fieldset>
          <legend>How would you like to send your evidence?</legend>
          <div class="field inline checkbox">
            <label><input type="radio" name="yes" checked>Upload files</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio" name="no">Send in the post</label>
          </div>
        </fieldset>

    </form>
    <hr />

    <div class="actions-container">
      <a href="/styleguides/selfserve/overview.html" class="action--primary large disabled">Save and continue</a>
      <a href="" class="action--secondary large  disabled">Save and return</a>
    </div>

</div><!-- .two-thirds -->

<div class="one-third sidebar">
  <dl class="meta" style="border-bottom: 0; padding-bottom: 0;">
    <dt>Application reference</dt>
    <dd>OB12524/525</dd>
    <dt>Progress</dt>
    <dd>4 of 13 sections complete</dd>
    <dt>Status</dt>
    <dd>Not submitted</dd>
  </dl>
</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: "#financialEvidenceUpload",
    isMultiple: true
  });

</script>

