---
title: Financial history
user: operator
subtitle: Step 11 of 13
layout: base.hbs
breadcrumbs:
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="row">
  
  <div class="two-thirds">
    <div class="article">
      <p>These questions apply to everyone who’s named in your application, including you and your:</p>
      <ul>
        <li>directors</li>
        <li>partners</li>
        <li>Transport Managers</li>
      </ul>
      <hr />
      <form action="">
        <fieldset>
          <fieldset>
            <legend>Has anyone you’ve named ever been declared bankrupt or had their estate seized?</legend>
            <div class="field inline checkbox">
              <label><input type="radio">Yes</label>
            </div>
            <div class="field inline checkbox">
              <label><input type="radio">No</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Has anyone you’ve named ever been involved with a business that has gone (or is going) into liquidation, owing money?</legend>
            <div class="field inline checkbox">
              <label><input type="radio">Yes</label>
            </div>
            <div class="field inline checkbox">
              <label><input type="radio">No</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Has anyone you’ve named ever been involved with a business that has gone (or is going) into receivership?</legend>
            <div class="field inline checkbox">
              <label><input type="radio">Yes</label>
            </div>
            <div class="field inline checkbox">
              <label><input type="radio">No</label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Has anyone you’ve named ever been involved with a business that has gone (or is going) into administration?</legend>
            <div class="field inline checkbox">
              <label><input type="radio">Yes</label>
            </div>
            <div class="field inline checkbox">
              <label><input type="radio">No</label>
            </div>
          </fieldset>
          <div class="field confirm">
            <label class="">
              <input type="checkbox" name="" id="" placeholder="" value="Y">
              I’ll tell the Traffic Commissioner straight away if anyone’s involved in an insolvency between applying for this licence and a decision being made
            </label>
          </div>
        </fieldset>
        <div class="actions-container">
          <a href="" class="action--primary large">Continue</a>
          <a href="" class="action--secondary large">Save and return</a>
          <a href="" class="action--tertiary large">Cancel</a>
        </div>
      </form>
    </div><!-- .article -->
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    <div class="sidebar">
      <dl class="meta" style="border-bottom: 0; padding-bottom: 0;">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>7 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Not submitted</dd>
      </dl>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-upload, .js-post').hide();


    $(document).on('change', 'input[name="evidence"]', function(e) {
      e.preventDefault();
      if ($(this).val() === 'upload') {
        $('.js-upload').show();
        $('.js-post').hide();
      } else {
        $('.js-post').show();
        $('.js-upload').hide()
      }
    });

  });
</script>

