---
title: Financial evidence
subtitle: Step 4 of 12
layout: base.hbs
breadcrumbs: 
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="two-thirds">

    <form>
      <fieldset>
        <h3>Required finance</h3>
        <p>Based on the total authority of <b>24 vehicles</b> and <b>14 trailers</b>, you are required to have the following finance available:</p>
        <h2>£12,998</h2>
      </fieldset>

      <fieldset>
        <legend>Provide evidence</legend>
        <fieldset>
          <legend class="legend">Would you like to upload your financial evidence now?</legend>
          <div class="field inline">
            <label><input type="radio" name="yes" checked>Yes</label>
          </div>
          <div class="field inline">
            <label><input type="radio" name="no">No</label>
          </div>
        </fieldset>
      </fieldset>

      <fieldset id="file-upload">
        <legend>Upload files</legend>
        <p class="hint">Please ensure the evidence provided demonstrates there are sufficient financial resources to maintain the vehicles and run the business. Please <a href="">click here</a> for further guidance</p>
        <div class="field file-upload">
          <p><a href="">company-accounts-10-04-14.PDF</a> <span>(156KB)</span></p>
          <input type="submit" value="remove" class="remove">
        </div>
        <div class="field file-upload">
          <input type="file" multiple>
          <input type="submit" value="Upload" class="action--primary">
        </div>

      </fieldset>
    </form>
    
    <div class="actions-container">
      <a href="/styleguides/selfserve/overview.html" class="action--primary large">Continue</a>
      <a href="" class="action--secondary large">Save and return</a>
      <a href="" class="action--tertiary">Cancel</a>
    </div>

</div><!-- end .two-thirds -->

