---
title: Form elements
subtitle: Styleguide
verticalNavItems: 
  - label: Address
    link: 
  - label: Personal information
    link: 
  - label: About you
    link: 
  - label: Type size
    link:
---

<div class="one-quarter">
  <h4>In this section</h4>
  {{> _vertical-navigation }}
</div><!-- end .one-quarter -->

<div class="two-thirds">
    <form>
      <div class="validation-summary">
      <h3>There was a problem submitting the form</h3>
      <p>Please try the following:</p>
      <ol class="validation-summary__list">
        <li class="validation-summary__item"><a href="#error1">Enter a town or city</a></li>
        <li class="validation-summary__item"><a href="#error2">Enter a date of birth</a></li>
        <li class="validation-summary__item"><a href="#error3">Enter a biography</a></li>
      </ol><!-- end .validation-summary__list -->
    </div><!-- end .validation-summary -->



    <fieldset class="address">

      <fieldset class="postcode-search">
        <legend class="tooltip-grandparent">Postcode
          <div class="locked-icon tooltip-parent">
            <span class="tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
          </div>
        </legend>
        <div class="field inline">
          <label for="postcode-search" class="visually-hidden">Postcode search</label>
          <input id="postcode-search" name="postcode" type="text" class="short">
          <p class="hint"><a href="">Enter manually</a></p>
        </div>
        <div class="field inline">
          <input class="action--secondary large" type="submit" value="Find address">
        </div>
      </fieldset>
      <div class="field">
        <label for="street-line-one">Street
          <div class="locked-icon tooltip-parent">
          <span class="tooltip">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</span>
          </div>
        </label>
        <input id="street-line-one" name="address" type="text" class="long">
      </div>
      <div class="field">
        <label for="street-line-two" class="visually-hidden">Street line 2</label>
        <input id="street-line-two" name="address" type="text" class="long">
      </div>
      <div class="field">
        <label for="street-line-three" class="visually-hidden">Street line 3</label>
          <input id="street-line-three" name="address" type="text" class="long">
      </div>
      <div class="field">
        <label for="street-line-four" class="visually-hidden">Street line 4</label>
          <input id="street-line-four" name="address" type="text" class="long">
      </div>
      <div class="validation-wrapper">
        <ul>
          <li id="error2">Please complete your biography</li>
        </ul>
        <div class="field">
          <label for="town-city">Town/city</label>
            <input id="town-city" name="town-city" type="text" class="long">
        </div>
      </div>
    </fieldset><!-- end #address -->

    <h3>Your business</h3>
    <fieldset>
      <div class="field ">
        <label for="title">What type of business are you?</label>
        <select id="title" name="title" disabled="disabled">
          <option value="Please select">Limited company</option>
        </select>
        <p class="hint"><a href="">Change business type</a></p>
      </div>
    </fieldset>
    <fieldset>
      <div class="field">
        <label for="trading-name-1">Trading names</label>
        <input id="trading-name-1" name="address" type="text" class="long">
      </div>
      <div class="field">
        <label for="trading-name-2" class="visually-hidden">Trading name 2</label>
        <input id="trading-name-2" name="address" type="text" class="long">
        <p class="hint"><a href="">Add another</a></p>
      </div>
    </fieldset>

    <fieldset id="personal-information">
      <legend>Personal information (if applicable)</legend>
      <div class="field">
        <label for="title">Title</label>
        <select id="title" name="title">
          <option value="Please select">Mr.</option>
        </select>
      </div>
      <div class="field">
        <label for="first-name">First name (if applicable)</label>
          <input id="first-name" name="name" class="long">
          <p class="hint">This is your first christian name</p>
      </div>
      <div class="field">
        <label for="last-name">Last name</label>
          <input id="last-name" name="name" type="text" class="long" />
      </div>
      <div class="field">
        <label>Date of birth</label>
        <select id="day" name="date-of-birth">
          <option value="Day">Day</option>
        </select>
        <select id="month" name="date-of-birth">
          <option value="Month">Month</option>
        </select>
        <select id="year" name="date-of-birth">
          <option value="Year">Year</option>
        </select>
      </div>
      <fieldset>
        <legend class="legend">Gender</legend>
        <div class="field inline">
          <label><input type="radio" name="gender" checked>Male</label>
        </div>
        <div class="field inline">
          <label><input type="radio" name="gender">Female</label>
        </div>
      </fieldset>
      <div class="field">
        <label>Interests</label>
        <select multiple class="chosen-select-medium">
          <option value="golf">Golf</option>
          <option value="football">Football</option>
          <option value="tennis">Tennis</option>
          <option value="basketball">Basketball</option>
          <option value="rugby">Rugby</option>
          <option value="bowles">Bowles</option>
        </select>
      </div>
    </fieldset><!-- end #personal-information -->

    <fieldset id="about-you">
      <legend>About you</legend>
      <fieldset>
        <legend>I am interested in</legend>
        <div class="field--list">
          <label for="jobs"><input type="checkbox" id="jobs">Job offers</label>
        </div>
        <div class="field--list">
          <label for="networking"><input type="checkbox" id="networking">Networking</label>
        </div>
        <div class="field--list">
          <label for="business"><input type="checkbox" id="business">Business opportunities</label>
        </div>
      </fieldset>
    </fieldset><!-- end #about-you -->

    <fieldset id="additional-information" class="highlight-box">
      <legend>Additional information</legend>
      <div class="field">
        <p class="hint">Please provide additional information relating to any prior insolvency proceedings. You may also upload evidence such as legal documents.</p>
        <label for="additional-info" class="visually-hidden">Additional information</label>
        <textarea id="additional-info" class="extra-long" placeholder="Enter text here"></textarea>
      </div>
    </fieldset>

    <fieldset id="confirmation">
      <fieldset>
        <legend>Confirm</legend>
        <div class="field--list">
          <label for="confirm"><input type="checkbox" id="confirm">Please tick to confirm that you are aware that you must tell the traffic commissioner immediately of any insolvency proceedings that occur between the submission of your application and a decision being made on the application</label>
        </div>
      </fieldset>
    </fieldset><!-- end #confirmation -->

    <fieldset class="file-upload">
      <legend>File upload</legend>
      <div class="field">
        <p><a href="">council-tax-10-04-14.PDF</a> <span>(156KB)</span></p>
        <input type="submit" value="remove" class="remove">
      </div>
      <div class="field">
        <input type="file" multiple>
        <input type="submit" value="Upload" class="action--primary">
      </div>
    </fieldset><!-- end #file-upload -->

    <div class="actions-container">
      <input class="action--primary large" type="submit" value="Continue">
      <input class="action--secondary large" type="submit" value="Back">
      <a class="action--tertiary" href="/">Do something else</a>
    </div><!-- end .actions -->

  </form>

</div><!-- end .two-thirds -->
