---
title: Form elements
subtitle: Styleguide
breadcrumbs: 
  - link: index.html
    label: Back to index
---


<div class="two-thirds">
    <form>
      <div class="validation-summary">
        <h3>There was a problem submitting the form</h3>
        <p>Please try the following:</p>
        <ol class="validation-summary__list">
          <li class="validation-summary__item"><a href="#error1">Enter a town or city</a></li>
          <li class="validation-summary__item"><a href="#error2">Enter a date of birth</a></li>
          <li class="validation-summary__item"><a href="#error3">Enter a biography</a></li>
        </ol><!-- .validation-summary__list -->
      </div><!-- .validation-summary -->

  <fieldset class="address" data-group="correspondence_address">
    <legend>Establishment address</legend>
    <p class="hint">This is where you usually keep your operator licence records.</p>
    <fieldset>
      <legend>Postcode search</legend>
      <div class="field inline">
        <input type="text" name="" class="short" value="">
      </div>
      <div class="field ">
        <button type="submit" class="action--primary large" value="search">Find address</button>
        <p class="hint--small"><a href="">Enter address manually</a></p>
      </div>

    </fieldset>
    <div class="field ">
      <label for="">Address lines</label>
      <input type="text" name="" class="long" value="Solway Business Centre">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 2</label>
      <input type="text" name="" class="long" value="Kingstown">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 3</label>
      <input type="text" name="" class="long" value="">
    </div>
    <div class="field ">
      <label class="visually-hidden" for="">Address line 4</label>
      <input type="text" name="" class="long" value="">
    </div>
    <div class="field ">
      <label for="">Town/City</label>
      <input type="text" class="long" value="Carlisle">
    </div>
    <div class="field ">
      <label for="">Postcode</label>
      <input type="text" name="" value="CA6 4BY">
    </div>
    <div class="field ">
      <label for="">Country</label>
      <select name="">
        <option value="">Please Select</option>
        <option value="AF">Afghanistan</option>
        <option value="AX">Aland Islands</option>
      </select>
    </div>
    </fieldset><!-- .address -->

    <fieldset class="trading-names">
      <div class="field">
        <label for="trading-name-1" >Trading names</label>
        <input id="trading-name-1" name="address" type="text" class="long">
      </div>
      <div class="field">
        <label for="trading-name-2" class="visually-hidden">Trading name 2</label>
        <input id="trading-name-2" name="address" type="text" class="long">
        <p class="hint--small"><a href="">Add another</a></p>
      </div>
    </fieldset>

    <fieldset>
      <legend>Personal information</legend>
      <div class="field">
        <label for="title">Title</label>
        <select id="title" name="title">
          <option value="Please select">Mr.</option>
        </select>
      </div>
      <div class="field">
        <label for="first-name">First name (if applicable)</label>
          <input id="first-name" name="name" class="long">
          <p class="hint">This is your first christian name</p>
      </div>
      <div class="field">
        <label for="last-name">Last name</label>
          <input id="last-name" name="name" type="text" class="long" />
      </div>
      <div class="field">
        <label>Date of birth</label>
        <select id="day" name="date-of-birth">
          <option value="Day">Day</option>
        </select>
        <select id="month" name="date-of-birth">
          <option value="Month">Month</option>
        </select>
        <select id="year" name="date-of-birth">
          <option value="Year">Year</option>
        </select>
      </div>
      <fieldset>
        <legend class="legend">Gender</legend>
        <div class="field checkbox inline">
          <label><input type="radio" name="gender" value="male">Male</label>
        </div>
        <div class="field checkbox inline">
          <label><input type="radio" name="gender" value="female" disabled>Female</label>
        </div>
      </fieldset>
      <div class="field">
        <label>Interests</label>
        <select multiple class="chosen-select-medium">
          <option value="golf">Golf</option>
          <option value="football">Football</option>
          <option value="tennis">Tennis</option>
          <option value="basketball">Basketball</option>
          <option value="rugby">Rugby</option>
          <option value="bowles">Bowles</option>
        </select>
      </div>
    </fieldset><!-- end #personal-information -->

    <fieldset id="about-you">
      <legend>About you</legend>
      <fieldset>
        <legend>I am interested in</legend>
        <div class="field--list checkbox">
          <label for="jobs"><input type="checkbox" id="jobs">Job offers</label>
        </div>
        <div class="field--list checkbox">
          <label for="networking"><input type="checkbox" id="networking">Networking</label>
        </div>
        <div class="field--list checkbox">
          <label for="business"><input type="checkbox" id="business">Business opportunities</label>
        </div>
      </fieldset>
    </fieldset><!-- #about-you -->

    <fieldset id="additional-information">
      <legend>Additional information</legend>
      <p class="hint">Please provide additional information relating to any prior insolvency proceedings. You may also upload evidence such as legal documents.</p>
      <div class="field">  
        <label for="additional-info" class="visually-hidden">Additional information</label>
        <textarea id="additional-info" class="extra-long" placeholder="Enter text here"></textarea>
      </div>
      <div class="field file-upload">
        <input type="file" multiple>
        <input type="submit" value="Upload" class="action--primary">
      </div>
    </fieldset><!-- .additional-information -->

    <fieldset id="file-upload">
      <legend>File upload</legend>
      <p class="hint">Please upload any files which you feel may hep aid your application.</p>
      <div class="field file-upload">
        <p><a href="">council-tax-10-04-14.PDF</a> <span>(156KB)</span></p>
        <input type="submit" value="remove" class="remove">
      </div>
      <div class="field file-upload">
        <input type="file" multiple>
        <input type="submit" value="Upload" class="action--primary">
      </div>
    </fieldset><!-- #file-upload -->

    <fieldset class="file-uploader">
      <legend>File upload</legend>
      <p class="hint">Please upload any files which you feel may hep aid your application.</p>
      
      <ul class="file-uploader__actions">
        <li class="file-uploader__action">
          <a href="#" class="action--secondary large" data-attr="fileUpload[1]" class="js-visible">Upload files</a>   
          <input class="js-hidden" type="file" name="fileUpload[1]" data-attr="fileUpload[1]" multiple>
          <p class="hint">20MB maximum file size. PDF, DOC, JPG, PNG or GIF</p>
        </li>
      </ul><!-- file-uploader__actions -->

      <ul class="file-uploader__list">
      </ul><!-- file-uploader__list -->

    </fieldset><!-- .file-uploader -->

    <div class="field confirm">
      <label class="">
        <input type="hidden" name="" value="N">
        <input type="checkbox" name="" id="" placeholder="" value="Y">
        By ticking this checkbox you are confirming that there are suitable arrangements in place to keep the vehicles in a fit and serviceable condition at all times
      </label>
    </div>

    <div class="actions-container">
      <input class="action--primary large" type="submit" value="Continue">
      <input class="action--secondary large" type="submit" value="Back">
      <a class="action--tertiary" href="/">Do something else</a>
    </div><!-- end .actions -->

  </form>

</div><!-- end .two-thirds -->
