---
title: Vehicle Operator Licensing Styleguide
header-text: <p>This guide explains how to make Vehicle Operator Licensing look consistent with the rest of GOV.UK</p>
---

  <div class="full-width">
    <h3>Resuable elements</h3>
  </div>
  
  <div class="one-third">
    <ul class="list-navigation">
      <li class="list-navigation__item"><a href="typography.html">Typography</a></li>
      <li class="list-navigation__item"><a href="form-elements.html">Form elements</a></li>
      <li class="list-navigation__item"><a href="tables.html">Tables</a></li>
      <li class="list-navigation__item"><a href="alerts.html">Alerts</a></li>
    </ul>
  </div><!-- .one-third -->

  <div class="one-third">
    <ul class="list-navigation">
      <li class="list-navigation__item"><a href="navigation-elements.html">Navigation elements</a></li>
      <li class="list-navigation__item"><a href="dialogs.html">Dialogs</a></li>
      <li class="list-navigation__item"><a href="guidance-help.html">Guidance and help</a></li>
    </ul>
  </div><!-- .one-third -->

  <div class="full-width">
    <h3>Example pages</h3>
  </div>

  <div class="one-third">
    <ul class="list-navigation">
      <li class="list-navigation__item"><a href="licences.html">Dashboard</a></li>
      <li class="list-navigation__item"><a href="overview.html">Application overview</a></li>
      <li class="list-navigation__item"><a href="operating-centres.html">Operating centres</a></li>
      <li class="list-navigation__item"><a href="transport-managers.html">Transport managers</a></li>
    </ul>
  </div><!-- .one-third -->

  <div class="one-third">
    <ul class="list-navigation">
      <li class="list-navigation__item"><a href="financial-evidence.html">Financial evidence</a></li>
      <li class="list-navigation__item"><a href="confirmation.html">Confirmation</a></li>
      <li class="list-navigation__item"><a href="submitted-application.html">Submitted application</a></li>
      <li class="list-navigation__item"><a href="bus-services.html">Bus services</a></li>
    </ul>
  </div><!-- end .one-third -->

  <div class="one-third">
    <ul class="list-navigation">

      <li class="list-navigation__item"><a href="bus-service-detail.html">Bus service details</a></li>
      <li class="list-navigation__item"><a href="register-bus-service.html">Register bus service</a></li>
    </ul>
  </div><!-- end .one-third -->
