---
title: Grid/Layout
---

<!-- move to CSS -->
<style>
  .row {
    margin-bottom: 2em;
  }
  .col-content {
    background: #005ea5;
    color: white;
    padding: 0.75em;
  }
</style>

<h3>One Half Columns</h3>

<div class="row">

  <div class="one-half">
    <div class="col-content">Column - One Half</div>
  </div>

  <div class="one-half">
    <div class="col-content">Column - One Half</div>
  </div>

</div>

<h3>One Third Columns</h3>

<div class="row">

  <div class="one-third">
    <div class="col-content">Column - One Third</div>
  </div>

  <div class="one-third">
    <div class="col-content">Column - One Third</div>
  </div>

  <div class="one-third">
    <div class="col-content">Column - One Third</div>
  </div>

</div>

<h3>One Quarter Columns</h3>

<div class="row">

  <div class="one-quarter">
    <div class="col-content">Column - One Quarter</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - One Quarter</div>
  </div>

  <div class="one-quarter">
    <div class="col-content">Column - One Quarter</div>
  </div>
  
  <div class="one-quarter">
    <div class="col-content">Column - One Quarter</div>
  </div>
  
</div>

<h3>Eigths Columns (three & five)</h3>

<div class="row">

  <div class="three-eigths">
    <div class="col-content">Column - Three Eigths</div>
  </div>
  
  <div class="five-eigths">
    <div class="col-content">Column - Five Eigths</div>
  </div>
  
</div>

<h3>Two thirds Column</h3>

<div class="row">
  
  <div class="two-thirds">
    <div class="col-content">Column - Two Thirds</div>
  </div>
  
  <div class="one-third">
    <div class="col-content">Column - One Thirds</div>
  </div>
  
</div>

<h3>Three Quarters Column</h3>

<div class="row">
  
  <div class="three-quarters">
    <div class="col-content">Column - Three Quarters</div>
  </div>
  
  <div class="one-quarter">
    <div class="col-content">Column - One Quarter</div>
  </div>
  
</div>

<h3>Full Width Column</h3>

<div class="guidance full-width">
  Before using a full-width column, esure that an unstyled div (which by default is also 100% width) is not more appropriate.</p>
</div>

<div class="row">
  
  <div class="full-width">
    <div class="col-content">Column - Full Width</div>
  </div>
  
</div>