---
title: OB123455
subtitle: Licence
---

<div class="full-width">
  
  <div class="summary">

    <div class="table__header">
      <h3>Type of licence</h3>
      <div class="actions-container">
        <a href="" class="action--tertiary">Update type of licence</a>
      </div>  
    </div>
    <table>
      <tr>
        <th scope="row" width="40%">Where do you operate from?</th>
        <td>Great Britain</td>
      </tr>
      <tr>
        <th scope="row" width="40%">What type of operator are you?</th>
        <td>Goods</td>
      </tr>
      <tr>
        <th scope="row" width="40%">What type of licence do you want to apply for</th>
        <td>Standard National</td>
      </tr>
    </table>

    <div class="table__header">
      <h3>Business details</h3>
      <div class="actions-container">
        <a href="" class="action--tertiary">Update business details</a>
      </div>  
    </div>
    <table>
      <tr>
        <th scope="row" width="40%">What type of business are you?</th>
        <td>Limited company</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Registered company number</th>
        <td>1234567</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Company name</th>
        <td>John Smith Haulage Ltd</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Trading names</th>
        <td>John Smith<br/>John Smith Halauge<br />John Smith Transport</td>
      </tr>
    </table>

    <div class="table__header">
      <h3>Addresses</h3>
      <div class="actions-container">
        <a href="" class="action--tertiary">Update addresses</a>
      </div>  
    </div>
    <table>
      <tr>
        <th scope="row" width="40%">Correspondance address</th>
        <td>Stretton Green Distribution Park<br />Appleton<br />Warrington<br />Cheshire<br />WA4 4TQ</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Business telephone no.</th>
        <td>01228 882 300</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Fax telephone no.</th>
        <td>01228 882 300</td>
      </tr>
      <tr>
        <th scope="row" width="40%">Email address</th>
        <td>kirk.taylor@stobartrail.com</td>
      </tr>
    </table>

    <div class="table__header">
      <h3>Directors</h3>
    </div>
    <table>
      <tr>
        <th>Name</th>
        <th>Other names</th>
        <th>DOB</th>
      </tr>
      <tr>
        <td>Mr Philip David</td>
        <td>No</td>
        <td>29/06/1977</td>
      </tr>
      <tr>
        <td>Miss Maria Battle</td>
        <td>No</td>
        <td>08/02/1957</td>
      </tr>
      <tr>
        <td>Maldywn Beynon</td>
        <td>No</td>
        <td>03/12/1932</td>
      </tr>
      <tr>
        <td>Rev Aled Edwards</td>
        <td>No</td>
        <td>04/10/1955</td>
      </tr>
      <tr>
        <td>Mr Paul Orders</td>
        <td>No</td>
        <td>21/12/1968</td>
      </tr>
    </table>

  </div>



</div><!-- end .full-width -->


