---
title: Home
subtitle: Operator Licensing Ltd.
layout: base.hbs
user: operator
---

<div class="two-thirds">

    <div class="tabs">
      <ul class="tab-list">
        <li class="tab-list__item active"><a href="licences.html" aria-select="false" tabindex="0">Licences</a></li>
        <li class="tab-list__item"><a href="fees.html" aria-select="false" tabindex="-1">Fees (3)</a></li>
        <li class="tab-list__item"><a href="correspondence.html" aria-select="true" tabindex="-1">Correspondence (2)</a></li>
      </ul>
    </div><!-- tabs -->

    <!-- Licences -->
    <div class="table__header">
      <h3>Licences</h3>
    </div><!-- .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Licence No.</th>
            <th>Type</th>
            <th>Auth. vehciles/trailers</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="">OB1352622</a></b><span class="status green">Valid</span></td>
            <td>Standard national</td>
            <td>24/3</td>
          </tr>
          <tr>
            <td><b><a href="">PC1816262</a></b><span class="status green">Valid</span></td>
            <td>Restricted</td>
            <td>5/0</td>
          </tr>
        </tbody>
      </table>
      <div class="actions-container">
        <a href="" class="action--primary">Apply for a new licence</a>
      </div>
    </div><!-- .table__wrapper -->

    <!-- Variation applications -->
    <div class="table__header">
      <h3>Variation applications</h3>
    </div><!-- end .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Application No.</th>
            <th>Licence No.</th>
            <th>Submitted</th>
            <th>Target completion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="">821001</a></b><span class="status orange">Under review</span></td>
            <td>OB1352622</td>
            <td>12 Sep 2014</td>
            <td>13 Oct 2014</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->

    <!-- Applications -->
    <div class="table__header">
      <h3>New applications</h3>
    </div><!-- end .table__header -->
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Application No.</th>
            <th>Submitted</th>
            <th>Target completion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b><a href="/styleguides/selfserve/overview.html">821003</a></b><span class="status orange">Incomplete</span></td>
            <td>15 Sep 2014</td>
            <td>25 Oct 2014</td>
          </tr>
          <tr>
            <td><b><a href="/styleguides/selfserve/overview.html">811034</a></b><span class="status orange">Awaiting TM forms</span></td>
            <td>12 Sep 2014</td>
            <td>12 Oct 2014</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->

</div><!-- .two-thirds -->

<div class="one-third sidebar" style="margin-top: 45px;">

  <div class="links">
    <h3>Useful information for vehcile operators</h3>
    <ul class="links-list">
      <li class="links-list__item"><a href="">Complete your applications for a goods vehicle operator's licence</a></li>
      <li class="links-list__item"><a href="">Advertise your application for a licence</a></li>
      <li class="links-list__item"><a href="">Financial information</a></li>
      <li class="links-list__item"><a href="">A guide to operator fees</a></li>
      <li class="links-list__item"><a href="">How to draw up a maintenance contract</a></li>
    </ul>
  </div><!-- .links -->

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

