---
title: Licence history
user: operator
subtitle: Step 10 of 13
layout: base.hbs
breadcrumbs:
  - link: licences.html
    label: Home
  - link: overview.html
    label: Licence overview
---

<div class="two-thirds">
  <div class="article">
    <p>These questions apply to everyone who’s named in your application, including you and your:</p>
    <ul>
      <li>directors</li>
      <li>partners</li>
      <li>Transport Managers</li>
    </ul>
    <hr />
    <form action="">
      <fieldset>
        <fieldset>
          <legend>Does anyone you’ve named already have a Vehicle Operator’s Licence?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Has anyone you’ve named ever had or applied for a goods or PSV licence?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Has anyone you’ve named ever had a goods or PSV licence application turned down in the EU?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Has anyone you’ve named ever had a goods or PSV licence revoked, suspended or curtailed in the EU?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Has anyone you’ve named ever taken part in a public inquiry held by a Traffic Commissioner?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Has anyone you’ve named ever been disqualified from having a Vehicle Operator’s Licence?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
        <fieldset>
          <legend>In the past year, has anyone you’ve named bought the assets or shareholding of a company that holds or has held a Vehicle Operator's Licence?</legend>
          <div class="field inline checkbox">
            <label><input type="radio">Yes</label>
          </div>
          <div class="field inline checkbox">
            <label><input type="radio">No</label>
          </div>
        </fieldset>
      </fieldset>
      <div class="actions-container">
        <a href="" class="action--primary large">Continue</a>
        <a href="" class="action--secondary large">Save and return</a>
        <a href="" class="action--tertiary large">Cancel</a>
      </div>
    </form>
  </div><!-- .article -->
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  <dl class="meta" style="border-bottom: 0; padding-bottom: 0;">
    <dt>Application reference</dt>
    <dd>OB12524/525</dd>
    <dt>Progress</dt>
    <dd>7 of 13 sections complete</dd>
    <dt>Status</dt>
    <dd>Not submitted</dd>
  </dl>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.js-upload, .js-post').hide();


    $(document).on('change', 'input[name="evidence"]', function(e) {
      e.preventDefault();
      if ($(this).val() === 'upload') {
        $('.js-upload').show();
        $('.js-post').hide();
      } else {
        $('.js-post').show();
        $('.js-upload').hide()
      }
    });

  });
</script>

