---
title: Manage users
subtitle: Operator Halauge Ltd.
user: operator
table:
  - title: 3 Users
    headers:
      - label: Name
        class: sortable
      - label: Email
        class: sortable descending
      - label: Permission
        class: sortable descending
      - label: <input name="row" type="checkbox">
        class: non-sortable
    columns:
      - <a href="licence/">Jeff Hill</a>
      - jeffhill@gmail.com
      - Administrator
      - <input name="row" type="checkbox">
    rows: 3
    actions:
      - label: Add new user
        class: primary
        link: add-user.html
      - label: Edit
        class: secondary disabled
      - label: Delete
        class: secondary disabled
---

<div class="three-quarters">
  {{#each table}}
    {{#is @index 0 }}
      {{> _table }}
    {{/is }}
  {{/each}}
</div><!-- .three-quarters -->

