---
title: Navigation elements
subtitle: Styleguide
sectionTitle: Operating centres
subSectionTitle: Open tasks
horizontalNavItems:
  - label: Licence type
    link:
  - label: Your business
    link:
  - label: Operating centres
    link:
  - label: Transport managers
    link:
  - label: Vehicles & safety
    link:
  - label: Previous history
    link:
  - label: Review
    link:
  - label: Pay & submit
    link:
verticalNavItems:
  - label: Decisions
    link:  
  - label: History
    link:  
  - label: Open tasks
    link:  
  - label: Closed tasks
    link:  
  - label: Notes
    link:
filterList:
  - header: App status
    type: checkboxes
    filters:
      - New
      - Valid
      - Invalid
  - header: Traffic area
    type: dropdown
    filters:
      - West of England
      - North east of England
      - North west of England
      - West Midlands and Wales
      - East of England
      - London and the south east
      - Scotland
appNavItems:
  - label: Type of licence
    link:  
    status: complete
  - label: Business details
    link:  
    status: complete
  - label: Operating centres
    link:
    status: incomplete
  - label: Transport managers
    link:
    status: incomplete
  - label: Vehicles & safety
    link:
    status: disabled
  - label: Convictions & penalties
    link:
    status: disabled
  - label: Delarations
    link:
    status: disabled
  - label: Pay & submit
    link:
    status: disabled
---

  <!-- Application navigation -->
  <div class="full-width">
    <h3>Application navigation</h3>
    {{> _application-navigation }}
  </div><!-- end .full-width -->


  <!-- Horizontal navigation -->
  <div class="full-width" style="margin-bottom: 3.5em">
    <h3>Horizontal navigation</h3>
    {{> _horizontal-navigation }}
  </div><!-- end .full-width -->


  <!-- Vertical navigation-->
  <div class="one-quarter" style="margin-bottom: 3.5em;">
    <h3>Vertical navigation</h3>
    {{> _vertical-navigation }}
  </div><!-- end .one-quarter -->
  

  <!-- Filters-->
  <div class="full-width">  
    <h3>Filters</h3>
  </div>
  <div class="one-quarter">
    {{> _filters }}
  </div><!-- end .two-thirds -->