---
title: Notices
breadcrumbs: 
  - link: index.html
    label: Back to index
---


<div class="full-width">
  
  <!-- Notices -->
  <h3>Notice</h3>
  <div class="notice-container">  
    <div class="notice--success">
      <p>You successfully did something<a href="#" class="alert-link">Close</a></p>
    </div>
    <div class="notice--warning">
      <p>This alert needs your attention<a href="#">Close</a></p>
    </div>
    <div class="notice--danger">
      <p>You have done something wrong, try submitting again<a href="#">Close</a></p>
    </div>
  </div><!-- end .notice-container -->

</div><!-- end .full-width -->

