---
layout: printable.hbs
---

<p><b>Return to:</b></p>
<p>Hillcrest House,<br />
386 Harehills Ln,<br />
Leeds, West Yorkshire,<br />
LS9 6NF</p>


<h2>Application for a new Goods Vehicle Operator’s Licence</h2>
<p>Application reference:
<b>OB1826/7</b>
<p>Date:
<b>12 May 2015</b>
</p>

<h4>Vehicles</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
  <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
  <li>Illum dolore eu fugiat</li>
  <li>Culpa qui officia deserunt mollit anim id est laborum</li>
  <li>Excepteur sint occaecat cupidatat</li>
</ul>

<h4>Operating centres</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
  <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
  <li>Illum dolore eu fugiat</li>
  <li>Culpa qui officia deserunt mollit anim id est laborum</li>
  <li>Excepteur sint occaecat cupidatat</li>
</ul>

<h4>Safety</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<ul>
  <li>Quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
  <li>Illum dolore eu fugiat</li>
  <li>Culpa qui officia deserunt mollit anim id est laborum</li>
  <li>Excepteur sint occaecat cupidatat</li>
</ul>

<div class="signature">
  <label for="">Partner's signature</label>
  <input type="text">
</div>

