---
layout: review.hbs
---

<h2 style="margin-top: 100px">Payment confirmation</h2>
<div class="review-section">
  <h3>Details</h3>
  <div class="read-only">
    <ul class="definition-list">
      <li class="definition-list__item">
        <dt>Licence No.</dt>
        <dd>OB1242363</dd>
      </li>
      <li class="definition-list__item">
        <dt>Invoice No.</dt>
        <dd>716262</dd>
      </li>
      <li class="definition-list__item">
        <dt>Payment reference</dt>
        <dd>OB1242363</dd>
      </li>
      <li class="definition-list__item">
        <dt>Date received</dt>
        <dd>12 May 2013</dd>
      </li>
      <li class="definition-list__item">
        <dt>Total amount</dt>
        <dd>£257.00</dd>
      </li>
    </ul><!-- .definition-list -->
  </div>
</div><!-- .review-section -->


<div class="review-section">
  <div class="table__header">
    <h3>Items</h3>
  </div><!-- .table__header -->
  <div class="table__wrapper">
    <table>
      <thead>
        <tr>
          <th>Invoice No.</th>
          <th>Date invoiced</th>
          <th>Licence No.</th>
          <th>Status</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>16252526</td>
          <td>16 May 2015</td>
          <td>OB1524242</td>
          <td>Outstanding</td>
          <td>£258.00</td>
        </tr>
        <tr>
          <td>16252526</td>
          <td>16 May 2015</td>
          <td>OB1524242</td>
          <td>Outstanding</td>
          <td>£258.00</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td>£516</td>
        </tr>
      </tfoot>
    </table>
  </div><!-- .table__wrapper -->
</div><!-- .review-section -->

<div class="review-section">
  <h3>Important</h3>
  <p>You are advised to retain this confirmation in order that you can account for this when
  reconciling your next card statement.  This payment will be recorded on your statement
  under the descriptive name of Vehicle Operator Services Agency.</p>
  <p>If you are expecting to receive a licence and/or disc(s) as a result of this payment, this document will be sent to you as soon as possible.</p>
  <p>If this receipt relates to the payment of your licence continuation fee, you must complete and return the licence checklist document sent to you with that fee request. This should be received within the same deadline set for the payment of your
  continuation fee.</p>
</div><!-- .review-section -->

