---
title: Provide signatures
subtitle: Application no.1280887
user: operator
page-actions:
  - Edit application
  - View application
breadcrumbs:
  - link: tm-home.html
    label: Home
---

<div class="two-thirds article">
  <p>Your payment has been processed successfully and a confirmation has been sent to <b>test@example.com</b>.</p><p>An owner or Director of the business must now sign the application before it can be processed.
  <h3>Sign online</h3>
  <div class="verify">
    <p>Registering with GOV.UK VERIFY will allow an owner or Director of the business to sign you application online.</p>
    <div class="actions-container">
      <a class="action--verify">Register for Verify</a>
      <a href="">I've already got an account</a>
    </div>
  </div>
  <h3>Print, sign and post</h3>
  <p>If you are unable to sign your application online follow these steps:</p>
  <ul class="steps">
    <li>
      <h4>1. Print</h4>
      <p>Print out <a href="">your completed application</a><br />
      Need to change something? <a href="">Edit your application</a>
      </p>
    </li>
    <li>
      <h4>2. Sign</h4>
      <p>An owner or Director must sign the declarations on the last page of the printed out application.</a>
      </p>
    </li>
    <li>
      <h4>3. Post</h4>
      <p>Post the application, including any supporting documents to:</p>
      <p>Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li></p>
    </li>
  </ul>
  <h3 class="important">Important</h3>
  <p>You are advised that you cannot lawfully operate goods vehicles with a gross plated weight exceeding 3.5 tonnes for the carriage of goods in connection with your trade or business or for hire or reward until your application has been granted, any relevant grant fee has been paid and the licence documents issued or until you have been issued with an interim licence.  If you do so, and this is brought to the attention of the Traffic Commissioner you risk having your application refused.
  </p>
  <p><a href="">Back to home</a></p>
</div><!-- .three-quarters -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Application ID.</dt>
    <dd>OB12423/2625</dd>
    <dt>Status</dt>
    <dd>Awaiting signatures</dd>
    <dt>Payment reference No.</dt>
    <dd>6145252</dd>
  </dl><!-- .meta -->

  <h4>Progress</h4>
  <ul class="progress">
    <li class="progress__item">
      <span class="progress__box checked"></span>
      <p>You have submitted and payed for the application</p>
    </li>
    <li class="progress__item">
      <span class="progress__box"></span>
      <p>An owner or Director has provided their signature</p>
    </li>
  </ul>

</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: ".file-uploader",
    isMultiple: false
  });
</script>


