---
title: Transport manager application
subtitle: Terry Barrett-Edgecombe
user: tm
page-actions:
  - Edit application
  - View application
breadcrumbs:
  - link: tm-home.html
    label: Home
---

<div class="two-thirds article">
  <h3>Submit online</h3>
  <div class="verify">
    <p>Registering with GOV.UK VERIFY will allow you to submit your Transport Manager application online.</p>
    <div class="actions-container">
      <a class="action--verify">Register for Verify</a>
      <a href="">I've already got an account</a>
    </div>
  </div>
  <h3>Print, sign and post</h3>
  <p>If you are unable to submit you application online  then please follow these steps:</p>
  <ul class="steps">
    <li>
      <h4>1. Print</h4>
      <p>Print out <a href="">your completed application</a><br />
      Need to change something? <a href="">Edit your application</a>
      </p>
    </li>
    <li>
      <h4>2. Sign</h4>
      <p>Your details must be checked and co-signed by youself and an owner or Director of the organising applying for the licence. If you are an owner or Director, you may co-sign the application yourself.</a>
      </p>
    </li>
    <li>
      <h4>3. Post</h4>
      <p>Post the co-signed application, including any supporting documents to:</p>
      <p>Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li></p>
    </li>
  </ul>
  <h3 class="important">Important</h3>
  <p>You are advised that you cannot lawfully operate goods vehicles with a gross plated weight exceeding 3.5 tonnes for the carriage of goods in connection with your trade or business or for hire or reward until your application has been granted, any relevant grant fee has been paid and the licence documents issued or until you have been issued with an interim licence.  If you do so, and this is brought to the attention of the Traffic Commissioner you risk having your application refused.
  </p>
  <p><a href="">Back to home</a></p>
</div><!-- .three-quarters -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Reference No.</dt>
    <dd>TM018272</dd>
    <dt>Licence application No.</dt>
    <dd>OB12423/2625</dd>
    <dt>Status</dt>
    <dd>Awaiting signatures</dd>
  </dl><!-- .meta -->

  <h4>Progress</h4>
  <ul class="progress">
    <li class="progress__item">
      <span class="progress__box checked"></span>
      <p>You have completed the application</p>
    </li>
    <li class="progress__item">
      <span class="progress__box"></span>
      <p>You have submitted your application for an owner or Director to review</p>
    </li>
    <li class="progress__item">
      <span class="progress__box"></span>
      <p>An owner or Director has approved and submitted the application</p>
    </li>
  </ul>

</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: ".file-uploader",
    isMultiple: false
  });
</script>


