---
title: Tables
subtitle: Styleguide

table:
  title: <strong>5</strong> Operating centres
  headers:
    - label: Operating centre address
      class: sortable
    - label: Vehicles
      class: sortable descending
    - label: Trailers
      class: sortable
    - label: Permission
      class: sortable
    - label: Advertised 
      class: sortable
    - label: <input name="row" type="checkbox">
      class: non-sortable
  columns:
    - <a href="licence/">Unit 5, 12 Albert Street, Westpoint, Leeds</a>
    - 34
    - 23
    - Y
    - N
    - <input name="row" type="checkbox">
---

    <div class="full-width">


    <h3>Operating centres</h3>
    <div class="table__empty">
      <p>Please add your first operating centre</p>
      <a class="action--primary" href="">Add operating centre</a>
    </div>

    <hr />
    <hr />

    <!-- CRUD table -->
    {{> _table}}
        

      <!-- Read only table -->

      <div class="table__header">
        <h3>Licences</h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper" style="width: 70%;">
        <table>
          <thead>
            <tr>
              <th>Licence number</th>
              <th>Type</th>
              <th class="">Auth. vehicled</th>
              <th class="">Auth.trailers</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href=""><b>OB1057273</b></a><!-- <span class="status valid">Valid</span> --></td>
              <td>Standard national</td>
              <td>8</td>
              <td>20</td>
              <td  style="text-align: center;"><a href="">Make changes</a></td>
            </tr>
            <tr>
              <td><a href=""><b>PC1057273</b></a><!-- <span class="status valid">Surrendered</span> --></td>
              <td>Public service vehicles</td>
              <td>5</td>
              <td>0</td>
              <td style="text-align: center;"><a href="">Make changes</a></td>
            </tr>
          </tbody>
        </table>
      </div><!-- end .table__wrapper -->


      <div class="table__header">
        <h3>Variations</h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper" style="width: 70%;">
        <table>
          <thead>
            <tr>
              <th>ID </th>
              <th>Licence number</th>
              <th class="">Submitted </th>
              <th class="">Auth. vehicles</th>
              <th class="">Auth. trailers</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href=""><b>218011</b></a><!-- <span class="status valid">Under review</span> --></td>
              <td>OB1057273</td>
              <td>8 Jul 2013</td>
              <td>20</td>
              <td>8</td>
            </tr>
          </tbody>
        </table>
      </div><!-- end .table__wrapper -->





      <div class="table__footer">
        <div class="results-settings">
            <p>Show:</p>
            <ul class="results-settings__list">
                <li class="results-settings__item current">10</li>
                <li class="results-settings__item"><a href="">25</a></li>
                <li class="results-settings__item"><a href="">50</a></li>
            </ul><!-- end .results-settings__list -->
            <p>results per page</p>
        </div><!-- end .results-settings -->

        <ul class="pagination right-aligned" role="menu">
            <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
            <li class="pagination__item"><a href="">1</a></li>
            <li class="pagination__item"><a href="">2</a></li>
            <li class="pagination__item current">3</li>
            <li class="pagination__item"><a href="">4</a></li>
            <li class="pagination__item"><a href="">5</a></li>
            <li class="pagination__item">...</li>
            <li class="pagination__item"><a href="">14</a></li>
            <li class="pagination__item"><a href="" rel="next">Next</a></li>
        </ul><!-- end .pagination.right-aligned -->
      </div>


      <!-- Multi-action CRUD table -->

      <form>
        <div class="table__header">
          <h3>Multi-action CRUD table</h3>
          <div class="actions-container">
            <select id="table-actions" name="table-actions">
              <option value="" disabled="disabled" selected>Select actions</option>
              <option value="Add">Add</option>
              <option value="Edit">Edit</option>
              <option value="Delete">Delete</option>
              <option value="Redirect">Redirect</option>
              <option value="Close">Close</option>
            </select>
            <input class="action--primary" type="submit" value="Submit">
          </div><!-- end .actions-container -->
        </div><!-- end .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Licence no.</th>
                <th>Trading name</th>
                <th>Postcode</th>
                <th>First name</th>
                <th>Last name</th>
                <th>D.O.B</th>
                <th>Conv.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">76163222712</a></td>
                <td>Jim Jefferey's Haulage LTD</td>
                <td>LS7 4QP</td>
                <td>James</td>
                <td>Jefferey</td>
                <td>07/02/1963</td>
                <td>14</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">36233242279</a></td>
                <td>Amber Taxis</td>
                <td>LS3 2PS</td>
                <td>Mohammed</td>
                <td>Ali</td>
                <td>23/11/1943</td>
                <td>5</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">86173252712</a></td>
                <td>Jim Jefferey's Haulage LTD</td>
                <td>LS7 4QP</td>
                <td>James</td>
                <td>Jefferey</td>
                <td>07/02/1963</td>
                <td>14</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">8272632422</a></td>
                <td>Amber Taxis</td>
                <td>LS3 2PS</td>
                <td>Mohammed</td>
                <td>Ali</td>
                <td>23/11/1943</td>
                <td>5</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="7">Totals</th>
                <td>477</td>
              </tr>
            </tfoot>
          </table>
        </div><!-- end .table__wrapper -->
      </form>

    </div><!-- end .full-width -->

