---
title: Tables
subtitle: Styleguide

table:
  - title: <strong>5</strong> Operating centres
    headers:
      - label: Operating centre address
        class: sortable
      - label: Vehicles
        class: sortable descending
      - label: Trailers
        class: sortable
      - label: Permission
        class: sortable
      - label: Advertised 
        class: sortable
      - label: <input name="row" type="checkbox">
        class: non-sortable
    columns:
      - <a href="licence/">Unit 5, 12 Albert Street, Westpoint, Leeds</a>
      - 34
      - 23
      - Y
      - N
      - <input name="row" type="checkbox">
    actions:
      - label: Add
        class: primary
      - label: Edit
        class: secondary disabled
      - label: Delete
        class: secondary disabled
---

    <div class="full-width">

      <h3>Operating centres</h3>
      <div class="empty">
        <p>Please add your first operating centre</p>
        <a class="action--primary" href="">Add operating centre</a>
      </div>

      <hr />

      <!-- CRUD table -->
      {{#each table}}
        {{#is @index 0 }} 
          {{> _table }}
        {{/is }} 
      {{/each}}
      <div class="table__footer">
        <div class="results-settings">
            <p>Show:</p>
            <ul class="results-settings__list">
                <li class="results-settings__item current">10</li>
                <li class="results-settings__item"><a href="">25</a></li>
                <li class="results-settings__item"><a href="">50</a></li>
            </ul><!-- end .results-settings__list -->
            <p>results per page</p>
        </div><!-- end .results-settings -->

        <ul class="pagination right-aligned" role="menu">
            <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
            <li class="pagination__item"><a href="">1</a></li>
            <li class="pagination__item"><a href="">2</a></li>
            <li class="pagination__item current">3</li>
            <li class="pagination__item"><a href="">4</a></li>
            <li class="pagination__item"><a href="">5</a></li>
            <li class="pagination__item">...</li>
            <li class="pagination__item"><a href="">14</a></li>
            <li class="pagination__item"><a href="" rel="next">Next</a></li>
        </ul><!-- end .pagination.right-aligned -->
      </div>

      <div class="table__header">
        <h3>Revoked, curtailed or suspended licences</h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper" style="width: 682px">
        <table>
          <thead>
            <tr>
              <th>Licence no.</th>
              <th>Licence holder name</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>OB1352622</td>
              <td>Dan Howitt</td>  
              <td>24 The Mount, Gardenville</td>
            </tr>
            <tr>
              <td>OB1352622</td>
              <td>Dan Howitt</td>  
              <td>24 The Mount, Gardenville</td>
            </tr>
          </tbody>
        </table>
      </div><!-- end .table__wrapper -->

      <hr />

      <div class="table__header">
        <h3>New applications</h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper" style="width: 682px;">
        <table>
          <thead>
            <tr>
              <th>Application no.</th>
              <th>Licence number</th>
              <th class="">Submitted </th>
               <th class="">Target completion</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href=""><b>218011</b></a><span class="status green">Submitted</span></td>
              <td>OB1057273</td>
              <td>8 Jul 2013</td>
              <td>28 Jul 2013</td>
            </tr>
          </tbody>
        </table>
      </div><!-- end .table__wrapper -->

    </div><!-- end .full-width -->

