---
title: Tables
subtitle: Styleguide

table:
  title: <strong>5</strong> Operating centres
  headers:
    - label: Operating centre address
      class: sortable
    - label: Vehicles
      class: sortable descending
    - label: Trailers
      class: sortable
    - label: Permission
      class: sortable
    - label: Advertised 
      class: sortable
    - label: <input name="row" type="checkbox">
      class: non-sortable
  columns:
    - <a href="licence/">Unit 5, 12 Albert Street, Westpoint, Leeds</a>
    - 34
    - 23
    - Y
    - N
    - <input name="row" type="checkbox">
---

    <div class="full-width">

      <!-- CRUD table -->

        {{> _table}}
        
      


      <!-- Read only table -->

      <div class="table__header">
        <h3>"Sortable"<span>102 results</span></h3>
      </div><!-- end .table__header -->
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Licence no.</th>
              <th class="sortable descending"><a href="#">Trading name</a></th>
              <th class="sortable ascending"><a href="">First name</a></th>
              <th class="sortable"><a href="">Last name</a></th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="">76163222712</a></td>
              <td>Jim Jefferey's Haulage LTD</td>
              <td>James</td>
              <td>Jefferey</td>
              <td>Lorem ipsum sit amet...</td>
            </tr>
            <tr>
              <td><a href="">36233242279</a></td>
              <td>Amber Taxis</td>
              <td>Mohammed</td>
              <td>Ali</td>
              <td>Lorem ipsum sit amet...
                <span class="tooltip">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</span>
              </td>
            </tr>
            <tr>
              <td><a href="">86173252712</a></td>
              <td>Jim Jefferey's Haulage LTD</td>
              <td>James</td>
              <td>Jefferey</td>
              <td>Lorem ipsum sit amet...</td>
            </tr>
            <tr>
              <td><a href="">8272632422</a></td>
              <td>Amber Taxis</td>
              <td>Mohammed</td>
              <td>Ali</td>
              <td>Lorem ipsum sit amet...</td>
            </tr>
          </tbody>
        </table>
      </div><!-- end .table__wrapper -->
      <div class="table__footer">
        <div class="results-settings">
            <p>Show:</p>
            <ul class="results-settings__list">
                <li class="results-settings__item current">10</li>
                <li class="results-settings__item"><a href="">25</a></li>
                <li class="results-settings__item"><a href="">50</a></li>
            </ul><!-- end .results-settings__list -->
            <p>results per page</p>
        </div><!-- end .results-settings -->

        <ul class="pagination right-aligned" role="menu">
            <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
            <li class="pagination__item"><a href="">1</a></li>
            <li class="pagination__item"><a href="">2</a></li>
            <li class="pagination__item current">3</li>
            <li class="pagination__item"><a href="">4</a></li>
            <li class="pagination__item"><a href="">5</a></li>
            <li class="pagination__item">...</li>
            <li class="pagination__item"><a href="">14</a></li>
            <li class="pagination__item"><a href="" rel="next">Next</a></li>
        </ul><!-- end .pagination.right-aligned -->
      </div>


      <!-- Multi-action CRUD table -->

      <form>
        <div class="table__header">
          <h3>Multi-action CRUD table</h3>
          <div class="actions-container">
            <select id="table-actions" name="table-actions">
              <option value="" disabled="disabled" selected>Select actions</option>
              <option value="Add">Add</option>
              <option value="Edit">Edit</option>
              <option value="Delete">Delete</option>
              <option value="Redirect">Redirect</option>
              <option value="Close">Close</option>
            </select>
            <input class="action--primary" type="submit" value="Submit">
          </div><!-- end .actions-container -->
        </div><!-- end .table__header -->
        <div class="table__wrapper">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Licence no.</th>
                <th>Trading name</th>
                <th>Postcode</th>
                <th>First name</th>
                <th>Last name</th>
                <th>D.O.B</th>
                <th>Conv.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">76163222712</a></td>
                <td>Jim Jefferey's Haulage LTD</td>
                <td>LS7 4QP</td>
                <td>James</td>
                <td>Jefferey</td>
                <td>07/02/1963</td>
                <td>14</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">36233242279</a></td>
                <td>Amber Taxis</td>
                <td>LS3 2PS</td>
                <td>Mohammed</td>
                <td>Ali</td>
                <td>23/11/1943</td>
                <td>5</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">86173252712</a></td>
                <td>Jim Jefferey's Haulage LTD</td>
                <td>LS7 4QP</td>
                <td>James</td>
                <td>Jefferey</td>
                <td>07/02/1963</td>
                <td>14</td>
              </tr>
              <tr>
                <td><input name="row" type="radio"></td>
                <td><a href="">8272632422</a></td>
                <td>Amber Taxis</td>
                <td>LS3 2PS</td>
                <td>Mohammed</td>
                <td>Ali</td>
                <td>23/11/1943</td>
                <td>5</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="7">Totals</th>
                <td>477</td>
              </tr>
            </tfoot>
          </table>
        </div><!-- end .table__wrapper -->
      </form>

    </div><!-- end .full-width -->

