---
title: Tables
breadcrumbs:
  - link: index.html
    label: Back to index

table:
  - title: <strong>5</strong> Operating centres
    headers:
      - label: Operating centre address
        class: sortable
      - label: Vehicles
        class: sortable descending
      - label: Trailers
        class: sortable
      - label: Permission
        class: sortable
      - label: Advertised
        class: sortable
      - label: <input name="row" type="checkbox">
        class: non-sortable
    columns:
      - <b><a href="licence/">Unit 5, 12 Albert Street, Westpoint, Leeds</a></b>
      - 34
      - Hello
      - Y
      - N
      - <input name="row" type="checkbox">
    rows: 5
    actions:
      - label: Add operating centre
        class: primary
      - label: Edit
        class: secondary disabled
      - label: Delete
        class: secondary disabled
---

    <div class="full-width">

      <div class="empty__wrapper">
        <h3 class="empty__title">Operating centres</h3>
        <div class="empty">
          <p>Add your first operating centre here</p>
          <a class="action--primary" href="">Add operating centre</a>
        </div><!-- empty -->
      </div><!-- .empty__wrapper -->


      <!-- CRUD table -->
      {{#each table}}
        {{#is @index 0 }}
          {{> _table }}
        {{/is }}
      {{/each}}

      <div class="table__footer" style="margin-top: -35px; float: left;">
        <div class="results-settings">
            <p>Show:</p>
            <ul class="results-settings__list">
                <li class="results-settings__item current">10</li>
                <li class="results-settings__item"><a href="">25</a></li>
                <li class="results-settings__item"><a href="">50</a></li>
            </ul><!-- end .results-settings__list -->
            <p>results per page</p>
        </div><!-- end .results-settings -->

        <ul class="pagination right-aligned" role="menu">
            <li class="pagination__item"><a href="" rel="previous">Previous</a></li>
            <li class="pagination__item"><a href="">1</a></li>
            <li class="pagination__item"><a href="">2</a></li>
            <li class="pagination__item current">3</li>
            <li class="pagination__item"><a href="">4</a></li>
            <li class="pagination__item"><a href="">5</a></li>
            <li class="pagination__item">...</li>
            <li class="pagination__item"><a href="">14</a></li>
            <li class="pagination__item"><a href="" rel="next">Next</a></li>
        </ul><!-- end .pagination.right-aligned -->
      </div>

      <div class="table__header">
        <h3>Vehicle</h3>
        <div class="actions-container">
          <a href="" class="action--primary">Add vehicle</a>
          <a href="" class="action--secondary">Remove</a>
          <div class="more-actions">
            <p class="more-actions__button">More actions</p>
            <div class="more-actions__list">
              <button class="more-actions__item">Transfer</button>
              <button class="more-actions__item" disabled="disabled">Reprint disc</button>
              <input type="submit" class="more-actions__item" value="Export">
            </div>
          </div>

        </div>
      </div><!-- .table__header -->
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>VRM</th>
              <th>Plated weight</th>
              <th>Specified</th>
              <th><input type="checkbox"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><b><a href="">LL09 UVE</a></b></td>
              <td>1500kg</td>
              <td>12 May 2014</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td><b><a href="">LL09 UVE</a></b></td>
              <td>1500kg</td>
              <td>12 May 2014</td>
              <td><input type="checkbox"></td>
            </tr>
            <tr>
              <td><b><a href="">LL09 UVE</a></b></td>
              <td>1500kg</td>
              <td>12 May 2014</td>
              <td><input type="checkbox"></td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->



    </div><!-- end .full-width -->

