---
title: Tooltips
---

<h3>Example</h3>
  
<div class="notice" style="text-align: center">
  <span class="status green" data-tooltip="I am a tooltip!">Hover Me</span>
</div>
  
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.dataTooltip();
  });
</script>