---
title: Transport manager details
header-text: <p>Provide your Transport Manager details for the Vehicle Operator Licence application <b>OB12423/2625</b>.</p>
user: tm
page-actions:
  - Submit details
  - Save and return later
breadcrumbs:
  - link: tm-home.html
    label: Back to licences
form:
  - fieldsets:
    - legend:
      fields:
        - label: Name
          type: read only
          values:
            - Terry Barrett-Edgecombe
        - label: Date of birth
          type: read only
          values:
            - 13/3/54
        - label: Email address
          type: text
          class: extra-long
        - label:  Place of birth
          type: text
          class: long
        - label:  Certificate of profesisonal competence
          type: file-uploader
    - legend: Home address
      fields:
        - label: Title
          type: address
    - legend: Work address
      fields:
        - label: Title
          type: address
    - title: Responsibilities
      legend:
      fields:
        - label: Which operating centre(s) will you be responsible for?
          type: multi select
          placholder: Choose operating centre(s)
          values:
            - 124 Eleanor Grove, Baschurch
            - Unit 4, Battelfields Industrial Estate, Shrewsbury
            - 240 Timmuses Drive, Yeaton
        - label: What type of manager will you be for this licence?
          type: radios inline selfserve
          values:
            - Internal
            - External
        - label: Are you an owner/director of the organisation applying for the oVehicle Operator Licence?
          type: radios inline selfserve
          values:
            - Yes
            - No
    - legend: Hours per week
      fields:
        - label: How many hours will you spend on your Transport Manager duties?
          type: hours-per-week
    - legend: Other licences
      fields:
        - label: If you hold, are applying for or are the Transport Manager on any other licences, add their details here
          action: Add other licences
          type: empty-table
    - legend: Other employment
      fields:
        - label: If you hold any other permanent or regular employment, add their details here
          action: Add other employment
          type: empty-table
    - title: Previous history
      legend: Convictions & penalties
      fields:
        - label: If you have been convicted of any relevant offences that must be declared to the Traffic Commissioner, add their details here
          action: Add offence
          type: empty-table
    - legend: Previous licences
      fields:
        - label: Have you had any association in the past with a licence that has been revoked, curtialed or suspended, add their details here
          action: Add licence details
          type: empty-table
---

<div class="two-thirds border">
  {{#each form }}{{> _forms }}{{/each }}
  <h2 class="divider">Declarations</h2>
  <div class="article">
    <h4>I confirm that:</h4>
    <ul>
      <li>I shall effectively and continuously manage the transport activities of the licence holder/applicant; </li>
      <li>I have a genuine link to the licence holder/applicant; and </li>
      <li>I am resident in the European Community. </li>
    </ul>
    <h4>I understand that my responsibilities include:</h4>
    <ul>
      <li>The making of arrangements to ensure that drivers comply with drivers’ hours and tachograph rules and with speed limits; </li>
      <li>The making of arrangements to ensure that the vehicles are maintained properly, including the inspection of vehicles at the appropriate time and the action taken to remedy defects found; </li>
      <li>The reporting and recording of vehicle defects by drivers;</li>
      <li>The method of compilation and the accuracy of all records, which must be kept for a period of not less than 15 months; </li>
      <li>The making of arrangements to ensure t hat the vehicle/s are not overloaded;</li>
      <li>Ensuring that authorised vehicles will be kept at the authorised o perating centre(s) when not in use; </li>
      <li>Where appropriate, notifying the relevant traffic commissioner (in writing) of all prosecutions and convictions concerning the operator, the drivers and me within 28 days of the court hearing;</li>
      <li>Notifying the relevant traffic commissioner of my resignation.</li>
    </ul>
  </div>
  <fieldset>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        I agree to the declartions listed above
      </label>
    </div>
  </fieldset>

  <div class="actions-container">
    <a href="" class="action--primary large">Submit details</a>
    <a href="" class="action--secondary large">Save and return later</a>
  </div>
</div><!-- .three-quarters -->

<div class="one-third sidebar">

  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>

</div>

<script type="text/javascript">
  OLCS.fileUploader({
    selector: ".file-uploader",
    isMultiple: false
  });
</script>


