---
title: Transport managers
subtitle: Step 7 of 13
user: operator
table:
  - title: 4 Transport managers
    headers:
      - label: Name
        class: sortable
      - label: DOB
        class: sortable descending
      - label: Email
        class: sortable descending
      - label: <input name="row" type="checkbox">
        class: non-sortable
    columns:
      - <a href="licence/">Jeff Hill</a><span class="status orange">Incomplete</span>
      - 12/2/65
      - jeffhill@gmail.com
      - <input name="row" type="checkbox">
    rows: 4
    actions:
      - label: Add transport manager
        class: primary
      - label: Edit
        class: secondary disabled
      - label: Delete
        class: secondary disabled
---

<div class="three-quarters">
  {{#each table}}
    {{#is @index 0 }}
      {{> _table }}
    {{/is }}
  {{/each}}
</div><!-- .three-quarters -->

