---
layout: licence.hbs
sectionTitle: Licence details
subSectionTitle: Overview
verticalNavItems:
  - label: Overview
    link:  
  - label: Type of licence
    link:  
  - label: Business details
    link:  
  - label: Addresses
    link:
form: 
  - fieldsets:
    - name: Edit task
      fields:
        - label: Category
          type: select
          options:      
            - Applications
          class:
        - label: Sub-category
          type: select
          options: 
            - Goods app
          class: 
        - label: Description
          type: textarea
          options: 
            - Goods app
          class: long
        - label: Description
          type: date
          options: 
            - Goods app
          class: long

---


<div class="one-fifth--left">
<h4>Licence details</h4>
{{> _vertical-navigation }}
</div>

<div class="three-fifths">
<h3>Overview</h3>
{{> _forms }}
</div>