---
title: OB1625270
subtitle: Goods vehcile, resticted
status: Curtailed
horizontalNavItems:
  - label: Overview
    state: current
  - label: Licence
    state:
  - label: Bus registration
    state:
  - label: Cases
    state:
  - label: Environmental
    state:
  - label: Docs & attachements
    state:
  - label: Processing
    state:
  - label: Fees
    state:
verticalNavItems:
  - History
  - Decisions
  - Tasks
  - Notes
recordActions:
  - title: Quick actions
    actions:
      - Create case
      - Create variation
      - Print licence
  - title: Decisions
    actions:
      - Surrender
      - Curtail
      - Terminate
      - Revoke

---

  <div class="four-fifths">
    {{> _horizontal-navigation }}

    <div class="one-fifth">
      {{> _vertical-navigation}}
    </div><!-- end .one-fifth -->
    
  </div>


  <div class="one-fifth">
    <div class="record-actions">
      {{#each recordActions }}
      <h5>{{ this.title }}</h5> 
      <ul class="record-actions__group">
        {{#each this.actions }} 
        <li class="record-actions__item"><a href="">{{ this }}</a></li>
        {{/each }}
      </ul>
      {{/each }}
    </div>
  </div><!-- end .one-fifth -->


