---
layout: licence.hbs
sectionTitle: Licence details
subSectionTitle: Overview
verticalNavItems:
  - label: Overview
    link:  
  - label: Type of licence
    link:  
  - label: Business details
    link:  
  - label: Addresses
    link:
  - label: People
    link:
  - label: Operating centres & authorisation
    link:
  - label: Transport managers
    link:
  - label: Vehicles
    link:
  - label: Safety
    link:
  - label: Convictions & penalties
    link:
  - label: Delarations
    link:
form: 
  - title: Overview
    fieldsets:
    - legend:
      fields:
        - label: Business type
          type: select
          options:      
            - Limited company
          class:
        - label: Registered company number
          type: text
          options: 
            - Goods app
          class:
        - label: Company name
          type: text
          options: 
            - Goods app
          class:
        - label: Trading names (optional)
          type: text
          options: 
            - Goods app
          class:
    actions:
      - label: Save
        class: primary large
      - label: Cancel
        class: secondary large
      - label: Back to home
        class: tertiary large

---


<div class="one-fifth--left">
  <h4>Licence details</h4>
  {{> _vertical-navigation }}
</div>

<div class="three-fifths">
  {{> _forms }}
</div>