---
layout: licence.hbs
sectionTitle: Docs & attachments
filterList:
  - header: Category
    type: dropdown
    filters:
      - All
  - header: Sub-category
    type: dropdown
    filters:
      - All
  - header: Format
    type: dropdown
    filters:
      - All
  - header:
    type: checkboxes
    filters:
      - Digital only
table:
  title: <strong>89</strong> Docs and attachments
  headers:
    - label: Description
      class: sortable descending
    - label: Category
      class: sortable
    - label: Sub-category
      class: sortable
    - label: Format
      class: sortable
    - label: Date
      class: sortable
    - label: <input type="checkbox">
      class: not-sortable
  columns:
    - <a href="">December-accounts.PDF</a>
    - Bus registration
    - Sub category (digital)
    - PDF
    - 13/3/13 14:02
    - <input type="checkbox">
actions:
  - label: Generate
    class: primary
  - label: Upload
    class: secondary
  - label: Edit
    class: secondary disabled
  - label: Delete
    class: secondary disabled

---

  <div class="overlay  js-hidden"></div>
  <div class="modal__wrapper js-hidden">
    <div class="modal">
      <a href="" class="modal__close">Close</a>
      <div class="modal__content">
        <form>Hello</form>
      </div>
    </div>
  </div>

  <div class="one-fifth--left">
    <h4>Filter by:</h4>
    {{> _filters}}
  </div>

  <div class="three-fifths">
    {{> _table}}
  </div>




