---
title: Convictions and penalties guidelines
layout: base.hbs
user: operator
---

<div class="row">

  <div class="three-quarters">
    <div class="article">
      <p>You must tell the Traffic Commissioner about offences that involve:</p>
      <ul>
        <li>anybody you’ve named in your application</li>
        <li>companies directed by anybody you’ve named</li>
        <li>parent companies, if you’re a limited company</li>
      </ul>
      <details class="help">
        <summary class="help__summary">Which offences do they need to know about?</summary>
        <div class="help__text">
          <p>The Traffic Commissioner needs to know if anybody you’ve named has been convicted of an offence related to:</p>
          <ul>
            <li>the Goods Vehicles (Licensing of Operators) Act 1995</li>
            <li>the Transport Act 1968 or the Road Traffic Act 1960</li>
            <li>section 13 of the Hydrocarbon Oil Duties Act 1979</li>
            <li>sections 53, 74, 173 and 174 of the Road Traffic Act 1988 </li>
            <li>keeping goods vehicles in a fit an serviceable condition</li>
            <li>section 2 of the International Road Haulage Permits Act 1975</li>
            <li>section 3 of the Control of Pollution Act 1974</li>
            <li>section 2 of the Refuse Disposal (Amenity) Act 1978</li>
            <li>section 1 of the Control of Pollution (Amendment) Act 1989</li>
            <li>section 33 of the Environmental Protection Act 1990</li>
            <li>speed limits, driver licensing and driver hours </li>
          </ul>
        </div>
      </details>
      <hr />
    </div>
  
    <h3>Spent convictions</h3>
    <p>You don’t have to declare spent convictions.</p>
    <div class="table__wrapper">
      <table>
        <thead>
          <tr>
            <th>Sentence</th>
            <th>When it’s spent</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A sentence that’s longer than 30 months</td>
            <td>These convictions are never spent</td>
          </tr>
          <tr>
            <td>Either:
              <ul>
                <li>imprisonment in a young offenders’ institute</li>
                <li>corrective training for more than six months but less than 30 months</li>
              </ul>
            </td>
            <td>10 years</td>
          </tr>
          <tr>
            <td>Imprisonment for less than six months</td>
            <td>Seven years</td>
          </tr>
          <tr>
            <td>A fine or other order that isn’t mentioned below</td>
            <td>Five years</td>
          </tr>
          <tr>
            <td>Borstal training</td>
            <td>Seven years</td>
          </tr>
          <tr>
            <td>Detention (PCC(S)A 2000, s.91) under CYPA 933, s.53 for more than six months but less than 30 months</td>
            <td>Three years</td>
          </tr>
          <tr>
            <td>Detention under PCC(S)A 2000, s.91, s.53 for less than six months</td>
            <td>Three years</td>
          </tr>
          <tr>
            <td>Detention in a young offenders’ institute</td>
            <td>Three years</td>
          </tr>
          <tr>
            <td>A probation (community) order where the offender was 18 or older when they were convicted</td>
            <td>Five years</td>
          </tr>
          <tr>
            <td>A detention and training order under CDA 1998, S.73</td>
            <td>
              <p>If the the case of a person aged 15 or over a date of conviction, five years if order was, three-and-a-half years if it was not, for a term exceeding six months.</p><p>In the case of a person under 15, a period beginning with date of conviction, and ending one year after the date on which the order ceases to have effect.</p>
            </td>
          </tr>
          <tr>
            <td>Either a:
              <ul>
                <li>secure training order</li>
                <li>bind over (to keep the peace or be of good behaviour)</li>
                <li>care order</li>
                <li>supervision order under PCC(S)A 2000, s.63(1)</li>
                <li>care order under CYPA 1933, S.57</li>
                <li>a supervision order under CYPA 1933 or CYPA 1963</li>
              </ul>
            </td>
            <td>One year or the length of the order, whichever’s longer</td>
          </tr>
          <tr>
            <td>Attending an attendance centre</td>
            <td>The length of the order plus one year</td>
          </tr>
          <tr>
            <td>A hospital order (with or without a restriction order)</td>
            <td>Five years, or the length of the order plus two years, whichever’s longer</td>
          </tr>
          <tr>
            <td>Disqualification, disability, prohibition or another penalty</td>
            <td>The length of the order</td>
          </tr>
        </tbody>
      </table>
    </div><!-- .table__wrapper -->
    <hr />
    <div class="article">
      <h3>Standard National and Standard International licences</h3>
      <p>If you’re applying for a standard national or international licence, the Traffic Commissioner also needs to know about similar convictions under the laws of Northern Ireland or any country outside the UK.</p>
      <p>You must let them know them about any convictions where the punishment was either:</p>
      <ul>
        <li>imprisonment for longer than three months</li>
        <li>a fine above level 4 on the standard scale</li>
        <li>a community service order (or the equivalent) involving unpaid work for more than 60 hours</li>
        <li>any conviction or penalty for an offence under UK law relating to road transport, or any corresponding offence outside the UK </li>
      </ul>
    </div>
  </div><!-- .two-thirds -->

</div>