---
title: Help with financial evidence
layout: base.hbs
user: operator
---

<div class="two-thirds">
  <div class="article">
    <p>As part of your application we’ll calculate a sum of money based on the information you’ve provided.</p>
    <p>You must show you have at least this amount when you send your financial evidence.</p>
    <h3>Types of evidence</h3>
    <p>We accept different types of evidence, including:</p>

    <details class="help">
      <summary class="help__summary">bank statements</summary>
      <div class="help__text">
        <p>You should provide original bank statements covering the last 28 days. The last date must not be more than 2 months from the date we receive your application.</p>
        <p>If you don’t have original bank statements (if you have an online only account, for example) you can provide printouts. </p>
        <p>Your bank must sign and stamp the printouts to prove they’re a true reflection of your account. </p>
        <p>Printouts must also have:</p>
        <ul>
          <li>the account holder’s name</li>
          <li>the account number</li>
          <li>the name of the bank</li>
          <li>all transactions that took place within the 28-day period</li>
        </ul>
      </div>
    </details>

    <details class="help">
      <summary class="help__summary">building society accounts</summary>
      <div class="help__text">
        <p>You should provide original building society statements covering the last 28 days. They’re only acceptable if funds can be drawn down within one month.</p>
        <h4>Large deposits or withdrawals</h4>
        <p>If there are any unusually large deposits or withdrawals that have changed the average balance, we might ask for an explanation from the applicant or operator.</p>
        <p>The Traffic Commissioner may decide to discount these deposits or withdrawals from the average balance. </p>
        <p>Any doubts over the sources of funds will be referred to the Traffic Commissioner</p>
      </div>
    </details>

    <details class="help">
      <summary class="help__summary">credit card accounts</summary>
      <div class="help__text">
        <p>Credit card accounts must be in the same name as the person applying or the licence holder.</p>
        <p>They must be supported by original documents to show that the funds available meet the criteria over a 28-day period.</p>
        <p>If a credit card account is your only source of evidence, the Traffic Commissioner may ask why you can’t provide anything else.</p>
      </div>
    </details>

    <details class="help">
      <summary class="help__summary">an opening balance</summary>
      <div class="help__text">
        <p>If you’re a new business and don’t have statements for 28 days, we may accept an opening balance, along with an explanation of the source of funds.</p>
        <p>We may ask you to submit more evidence within a certain period after the date of the grant, which is likely to be 6 to 12 months. This will give you a chance to supply three months of evidence.</p>
      </div>
    </details>

    <details class="help">
      <summary class="help__summary">overdraft facilities</summary>
      <div class="help__text">?</div>
    </details>

    <details class="help">
      <summary class="help__summary">invoice finance agreements</summary>
      <div class="help__text">
        <p>We accept invoice finance agreements, but only if they’re accompanied by:</p>
        <ul>
          <li>confirmation of balances that are not drawn down, averaged over a three-month period</li>
          <li>a copy of the signed agreement from the finance company in which they agree to retain the amount of money needed to meet the definition of financial standing</li>
          <li>a completed schedule signed on behalf of the finance company</li>
        </ul>
        <p>If you’re supplying an invoice finance agreement, you must still provide bank statements as laid out above.</p>
      </div>
    </details>

    <details class="help">
      <summary class="help__summary">audited accounts</summary>
      <div class="help__text">?</div>
    </details>

    <hr />

    <h3>Names</h3>
    <p>All financial documents should be in the same name as the person applying or the person holding the licence.</p>
    <p>For partnerships they should be in the same name as one or both of the people applying, or the licence holders.</p>
    <p>For LLPs the funds must be held within the company.</p>

    <h3>Expanding your business</h3>
    <p>If you want to leave room to expand your business, you must prove you have enough money for all the vehicles you’re planning to operate, not just the ones you’ll operate straight away.</p>
  </div>
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  {{> _support}}
</div>

