---
title: Traffic areas
layout: base.hbs
user: operator
---

<div class="row">

  <div class="three-quarters">
    <div class="article">
      <p>Great Britain is divided into eight traffic areas. Each area has a Traffic Commissioner who’s responsible for issuing licences. </p>
      <p>Traffic areas are determined by where your operating centres are.</p>
      <p>You need separate licences for operating centres if they’re in different traffic areas.</p>
      <h3>Which counties do the traffic areas cover?</h3>
      <h4>Eastern</h4>
      <ul>
        <li>Bedfordshire</li>
        <li>Buckinghamshire</li>
        <li>Cambridgeshire</li>
        <li>Essex</li>
        <li>Hertfordshire</li>
        <li>Leicestershire</li>
        <li>Lincolnshire (except North Lincolnshire and North East Lincolnshire)</li>
        <li>Norfolk</li>
        <li>Northamptonshire</li>
        <li>Suffolk</li>
      </ul>
      <h4>North Eastern</h4>
      <ul>
        <li>Durham</li>
        <li>Northumberland</li>
        <li>North and North East Lincolnshire</li>
        <li>North Yorkshire</li>
        <li>Nottinghamshire</li>
        <li>East Yorkshire</li>
        <li>South Yorkshire</li>
        <li>Tees Valley</li>
        <li>Tyne and Wear</li>
        <li>West Yorkshire</li>
      </ul>
      <h4>North Western</h4>
      <ul>
        <li>Cheshire</li>
        <li>Cumbria</li>
        <li>Derbyshire</li>
        <li>Greater Manchester</li>
        <li>Lancashire</li>
      </ul>
      <h4>South Eastern and Metropolitan</h4>
      <ul>
        <li>Greater London</li>
        <li>Kent</li>
        <li>Surrey</li>
        <li>East Sussex</li>
        <li>West Sussex</li>
      </ul>
      <h4>Scottish</h4>
      <ul>
        <li>Scotland</li>
      </ul>
      <h4>Welsh (Cymru)</h4>
      <ul>
        <li>Wales</li>
      </ul>
      <h4>Western</h4>
      <ul>
        <li>Cornwall</li>
        <li>Devon</li>
        <li>Dorset</li>
        <li>Gloucestershire</li>
        <li>Hampshire</li>
        <li>Oxfordshire</li>
        <li>Somerset</li>
        <li>Wiltshire</li>
      </ul>
      <h4>West Midlands</h4>
      <ul>
        <li>Herefordshire</li>
        <li>Shropshire</li>
        <li>Staffordshire</li>
        <li>Warwickshire</li>
        <li>Worcestershire</li>
      </ul>
    </div>
  </div><!-- .two-thirds -->

</div>