---
title: Traffic areas
layout: base.hbs
user: operator
---

<div class="row">




  <div class="three-quarters">
    <div class="article">
      <p>Great Britain is divided into eight traffic areas. Each area has a Traffic Commissioner who’s responsible for issuing licences. </p>
      <p>Traffic areas are determined by where your operating centres are.</p>
      <p>You need separate licences for operating centres if they’re in different traffic areas.</p>
      <h3>Which counties do the traffic areas cover?</h3>
      <details class="help">
        <summary class="help__summary">Eastern</summary>
        <div class="help__text">
          <ul>
            <li>Bedfordshire</li>
            <li>Buckinghamshire</li>
            <li>Cambridgeshire</li>
            <li>Essex</li>
            <li>Hertfordshire</li>
            <li>Leicestershire</li>
            <li>Lincolnshire (except North Lincolnshire and North East Lincolnshire)</li>
            <li>Norfolk</li>
            <li>Northamptonshire</li>
            <li>Suffolk</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">North Eastern</summary>
        <div class="help__text">
          <ul>
            <li>Durham</li>
            <li>Northumberland</li>
            <li>North and North East Lincolnshire</li>
            <li>North Yorkshire</li>
            <li>Nottinghamshire</li>
            <li>East Yorkshire</li>
            <li>South Yorkshire</li>
            <li>Tees Valley</li>
            <li>Tyne and Wear</li>
            <li>West Yorkshire</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">North Western</summary>
        <div class="help__text">
          <ul>
            <li>Cheshire</li>
            <li>Cumbria</li>
            <li>Derbyshire</li>
            <li>Greater Manchester</li>
            <li>Lancashire</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">South Eastern and Metropolitan</summary>
        <div class="help__text">
          <ul>
            <li>Greater London</li>
            <li>Kent</li>
            <li>Surrey</li>
            <li>East Sussex</li>
            <li>West Sussex</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">Scottish</summary>
        <div class="help__text">
          <ul>
            <li>Scotland</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">Welsh (Cymru)</summary>
        <div class="help__text">
          <ul>
            <li>Wales</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">Western</summary>
        <div class="help__text">
          <ul>
            <li>Cornwall</li>
            <li>Devon</li>
            <li>Dorset</li>
            <li>Gloucestershire</li>
            <li>Hampshire</li>
            <li>Oxfordshire</li>
            <li>Somerset</li>
            <li>Wiltshire</li>
          </ul>
        </div>
      </details>
      <details class="help">
        <summary class="help__summary">West Midlands</summary>
        <div class="help__text">
          <ul>
            <li>Herefordshire</li>
            <li>Shropshire</li>
            <li>Staffordshire</li>
            <li>Warwickshire</li>
            <li>Worcestershire</li>
          </ul>
        </div>
      </details>
    </div>
  </div><!-- .two-thirds -->

</div>