---
title: Change your password
---

<div class="two-thirds">
  <div class="article">
     <p>Your password has to be at least 8 characters long and must contain at least 1 lower-case letter, 1 capital letter and 1 number. Never share your password with anyone.</p>
  </div><!-- .article -->
  <form action="">
    <fieldset>
      <div class="field">
        <label for="">New password</label>
        <input type="password" class="long">
      </div>
      <div class="field">
        <label for="">Re-enter new password</label>
        <input type="password" class="long">
      </div>
      <div class="actions-container">
        <a href="licences-empty.html" class="action--primary large">Continue</a>
      </div>
    </fieldset>

  </form>
</div><!-- .two-thirds -->
