---
breadcrumbs:
  - link: index.html
    label: Back to sign in
title: Forgotten your password
---

<div class="two-thirds">
  <form action="">
    <fieldset>
      <div class="field">
        <label for="">Username</label>
        <input type="text" class="long">
      </div>
      <div class="field">
        <label for="">Email address</label>
        <input type="password" class="long">
      </div>
      <div class="actions-container">
        <a href="password-sent.html" class="action--primary large">Send temporary password</a>
      </div>
    </fieldset>

  </form>
</div><!-- .two-thirds -->

<div class="one-third">
  <div class="support">
    <h3>Support</h3>
    <b>Call: 0113 254 3200</b>
    <p>Mon to Thurs: 8:30am – 5pm<br />
       Fri: 8:30am – 4pm
    </p>
    <p>Closed at weekend and on public and bank holidays</p>
    <p>Or email our support team at:<br/>
    <a href="">operatorlicensing@otc.gov.uk</a>
    </p>
  </div>
</div>
