---
title: Sign in
header-text: <div class="guidance"><p>This service replaces VOSA Operator Self Service, Partner Self Service and Local Authority Inbox. You can still use your current username and password to sign in.</p></div>
---

<div class="two-thirds">
  <div class="article">
     <p>Sign in or <a href="create-account.html">create an account</a> to get started.</p>
  </div><!-- .article -->
  <form action="">
    <fieldset>
      <div class="field">
        <label for="">Username</label>
        <input type="text" class="long">
      </div>
      <div class="field">
        <label for="">Password</label>
        <input type="password" class="long">
      </div>
      <div class="actions-container">
        <a href="licences.html" class="action--primary large">Sign in</a>
        <a href="" class="action--tertiary list">Forgotten your username?</a>
        <a href="" class="action--tertiary list">Forgotten your password?</a>
      </div>
    </fieldset>

  </form>
</div><!-- .two-thirds -->
