---
title: Transport Managers
subtitle: Licence No. OB1352622
user: operator
bodyClass: add-tm
breadcrumbs:
  - link: licences.html
    label: Home
  - link: licence-overview.html
    label: Licence overview
---

<div class="three-quarters">

  <div class="overlay js-confirm-modal" style="display:none;"></div>
  <div class="modal__wrapper js-confirm-modal" style="display:none;">
      <div class="modal--alert">
          <div class="modal__header">
              <h2 class="modal__title">Remove Transport Manager</h2>
              <a href="" class="modal__close">Close</a>
          </div>
          <div class="modal__content">
              <p>Are you sure you want to remove this Transport Manager from this licence?</p>
              <div class="actions-container">
                  <a href="" class="action--primary large js-remove">Remove</a>
                  <a href="" class="action--secondary large">Cancel</a>
              </div>
          </div>
          <!-- .modal__content -->
      </div>
      <!-- .modal -->
  </div>

  <div class="overlay js-edit-modal" style="display:none;"></div>
  <div class="modal__wrapper js-edit-modal" style="display:none;">
    <div class="modal">
      <div class="modal__header">
        <h2 class="modal__title">Add Transport Manager</h2>
        <a href="" class="modal__close">Close</a>
      </div>
      <div class="modal__content">
        <form action="">
          <fieldset class="js-select-user">
            <div class="field">
              <label>Select from a list of registered users within your organisation</label>
              <select name="tm-select" id="tm-select">
                <option value="">Please select</option>
                <option value="katy">Katy Hasley (You)</option>
                <option value="morgan">Morgan Patel</option>
              </select>
              <p class="hint"><a href="" class="js-add-new-user">Or add a new user</a></p>
            </div>
          </fieldset>

          <fieldset class="js-tm-details">
            <div class="field">
              <label for="firstname">First name</label>
              <input id="firstname" type="text" class="long" name="firstname" placeholder="">
              <p class="hint"></p>
            </div>
            <div class="field">
              <label for="lastname">Last name</label>
              <input id="lastname" type="text" class="long" name="lastname" placeholder="">
              <p class="hint"></p>
            </div>

            <fieldset class="dob">
              <legend>Date of birth</legend>
              <div class="field inline-text">
                <label>Day</label>
                <input id="day" type="text" maxlength="2">
              </div>
              <div class="field inline-text">
                <label>Month</label>
                <input id="month" type="text" maxlength="2">
              </div>
              <div class="field inline-text">
                <label>Year</label>
                <input id="year" type="text" maxlength="4">
              </div>
              <p class="hint--small">E.g. 12, 6, 2014</p>
            </fieldset>
          </fieldset>
          <fieldset class="js-tm-email-address">
            <fieldset>
              <legend class="legend">Does this Transport Manager have an email address?</legend>
              <div class="field checkbox inline">
                <label><input type="radio" name="email-address" value="has-email">Yes</label>
              </div>
              <div class="field checkbox inline">
                <label><input type="radio" name="email-address" value="no-email">No</label>
              </div>
            </fieldset>
          </fieldset>
          <fieldset class="js-account-details">
            <div class="field">
              <label for="username">Username</label>
              <input id="username" type="text" class="long" name="username" placeholder="">
              <p class="hint"></p>
            </div>
            <div class="field">
              <label for="email">Email address</label>
              <input id="email" type="text" class="long" name="email" placeholder="">
            </div>
            <div class="field">
              <label for="repeat-email">Re-enter email address</label>
              <input id="repeat-email" type="text" class="long" name="email" placeholder="">
            </div>
          </fieldset>
          <fieldset class="js-tm-morgan">
            <div class="field">
              <p>
                Username<br />
                <b>morganpatel</b>
              </p>
            </div>
            <div class="field">
              <p>
                First name<br />
                <b>Morgan</b>
              </p>
            </div>
            <div class="field">
              <p>
                Last name<br />
                <b>Morgan</b>
              </p>
            </div>
            <div class="field">
              <p>
                Email address<br />
                <b>morgan.patel@gmail.com</b>
              </p>
            </div>
            <div class="field">
              <p>
                Date of birth<br />
                <b>7 May 1962</b>
              </p>
            </div>
          </fieldset>
          <fieldset class="js-tm-katy">
            <div class="field">
              <p>
                Username<br />
                <b>katyhasley</b>
              </p>
            </div>
            <div class="field">
              <p>
                First name<br />
                <b>Katy</b>
              </p>
            </div>
            <div class="field">
              <p>
                Last name<br />
                <b>Hasley</b>
              </p>
            </div>
            <div class="field">
              <p>
                Email address<br />
                <b>katy.hasley@gmail.com</b>
              </p>
            </div>
            <div class="field">
              <p>
                Date of birth<br />
                <b>12 September 1981</b>
              </p>
            </div>
          </fieldset>
        </form>
        <div class="guidance js-tm-guidance" style="margin-top: 30px;">
          <h3 class="important">Next steps</h3>
          <p>A link to an online form will be sent to the provided email address for the Transport Manager to complete.</p>
          <p>You will be notified when the Transport Manager has submitted their details for your approval.</p>
          <p><b>Please note:</b> The licence application can not be considered until all transport manager's details have been approved by a Director or owner of the business.</p>
        </div>
        <div class="guidance js-tm-no-email-guidance" style="margin-top: 30px;">
          <h3>Next steps</h3>
          <p>Your Transport Manager will need to complete a paper <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/193217/TM1_Form.pdf" target="_blank">TM1 form.</a></p>
          <p><b>Please note:</b> The licence application can not be considered until a TM1 form has been receieved by the Central Licesning Office.</p>
        </div>
        <div class="actions-container">
          <a href="" class="action--primary large js-continue-btn">Continue</a>
          <a href="" class="action--primary large js-send-form-btn">Add and send form</a>
          <a href="" class="action--secondary large">Cancel</a>
        </div>
      </div><!-- .modal__content -->
    </div><!-- .modal -->
  </div><!-- .modal__wrapper -->

  <fieldset class="js-empty" style="display: none;">
    <div class="empty">
      <p>You don't have any Transport Managers on this licence</p>
      <a href="" class="action--primary js-add-tm">Add Transport Manager</a>
    </div>
  </fieldset>

  <form>
    <fieldset class="js-table">
      <div class="table__header">
        <h3>1 Transport Manager</h3>
        <div class="actions-container">
          <a href="" class="action--primary js-add-tm">Add Transport Manager</a>
        </div>
      </div><!-- .table__header -->
      <div class="table__wrapper">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>DOB</th>
              <th>Email </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Morgan Patel</td>
              <td>7 May 1962</td>
              <td>morgan.patel@gmail.com</td>
              <td class="right"><a href="">Remove</a></td>
            </tr>
          </tbody>
        </table>
      </div><!-- .table__wrapper -->
    </fieldset>
    <div class="actions-container">
      <a href="licence-overview.html" class="action--primary large">Save and return</a>
      <a href="licence-overview.html" class="action--secondary large">Cancel</a>
    </div>

  </form>

</div><!-- .three-quarters -->

<script type="text/javascript" src="/js/tm-prototype.js"></script>

