---
title: Review and sign
asset: '../../../../'
subtitle: Terry Jones
user: tm
breadcrumbs:
  - link: licences.html
    label: Back to Transport Managers
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <h3>Review</h3>
      <p>The Transport Manager has provided their details. You’ll need to review and approve them before we can consider your application.</p>
      <p><b><a href="">Review Transport Manager's details</a></b></p>
      <hr />
    </div>

    <div class="article">
      <h3>Co-sign</h3>
      <p>The Transport Manager’s details must be co-signed by an owner or Director.</p>
      <p>They can either:</p>
      <ul>
        <li>sign online using GOV.UK Verify</li>
        <li>print, sign and return them to the <a target="_blank" href="https://www.gov.uk/government/organisations/traffic-commissioners/about/access-and-opening">Central Licensing Office</a></li>
      </ul>
      <hr />
    </div>




    <form action="">
      <fieldset>
        <legend>How would you like to sign?</legend>
      <fieldset>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="verify">use GOV.UK Verify</label>
          </div>
          <div class="field checkbox">
            <label><input type="radio" name="declarations" value="post">Print, co-sign and return</label>
          </div>
        </fieldset>
      </fieldset>

      <div class="article js-verify">
        <div class="field confirm">
          <label>
            <input type="checkbox">
           I confirm that these Transport Manager details are correct. I agree to Vehicle Operator Licensing using my name, address and date of birth provided by GOV.UK Verify.
          </label>
        </div>
        <hr />
        <div class="actions-container">
          <a href="http://govuk-verify.herokuapp.com/intro?requestId=vehicle-operator-licensing" class="action--primary large" rel="external">Continue to GOV.UK Verify</a>
        </div>
      </div><!-- js-verify -->


      <div class="article js-print-sign">
        <ul class="steps">
          <li>
            <h4>1. Print</h4>
            <p>Print out <a href="">your details</a><br />
            Need to change something? <a href="">Edit your details</a>
            </p>
          </li>
          <li>
            <h4>2. Sign</h4>
            <p>Your details must be checked and co-signed by youself and an owner or Director of the organising applying for the licence. If you are an owner or Director, you may co-sign the application yourself.</a>
            </p>
          </li>
          <li>
            <h4>3. Post</h4>
            <p>Post the co-signed application, including any supporting documents to:</p>
            <p>Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li></p>
          </li>
        </ul>
        <div class="actions-container">
          <a href="submitted.html" class="action--primary large">Finish</a>
          <a href="details.html" class="action--secondary large">Back</a>
        </div>
      </div><!-- js-verify -->

    </form>

  </div><!-- .two-thirds -->


  <div class="one-third">
    <div class="sidebar">
        {{> _support }}
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


