---
title: Details not submitted
asset: '../../../../'
subtitle: John Smith
user: tm
breadcrumbs:
  - link: home.html
    label: Back to Transport Managers
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p>This Transport Manager hasn't submitted their details.</p>
      <p>If they’ve lost or haven’t received the link, you can resend it to their email address.</p>
    </div>
    <form action="">
      <fieldset>
        <div class="field">
          <label for="">Transport Manager's email address</label>
          <input type="text" class="long" value="john.smith@bigtrucks.com">
        </div>
        <a href="" class="action--primary large">Resend link</a>
      </fieldset>
      <p>Alternatively they can fill in a paper <a href="">TM1 form</a>.</p>
      <div class="action-container">
        <a href="" class="action--tertiary list">Back to Transport Managers</a>
      </div>
    </form>
  </div><!-- .two-thirds -->
  
  <div class="one-third sidebar">
    <dl class="meta" style="border-bottom: none;">
      <dt>Submitted</dt>
      <dd>14 September 2014</dd>
      <dt>Status</dt>
      <dd>Pending Transport Manager details</dd>
    </dl><!-- .meta -->
  
    {{> _support }}
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


