---
title: Transport Manager details
subtitle: Dave Willis
user: tm
page-actions:
  - View details
  - Send the link again
breadcrumbs:
  - link: licences.html
    label: Home
---


<div class="two-thirds">
  <div class="article">
    <p><b>David Willis</b> has submitted his Transport manager details for an owner or Director to review and approve.</p><br />
  </div>
  <div class="article">
    <h3>1. Check the details</h3>
    <p>Ensure all the details in the following document are correct.<br />
      <a class="download">david-willis-tm-details-application-OB172628/8272.pdf</a>
    </p>
    <hr />
  </div>
  <form action="">
    <fieldset>
      <legend>2. Approve</legend>
     <fieldset>
        <legend class="legend">An owner or Director of the business can approve Transport Manager's details online, using the GOV.UK Verify service, or by printing of their details, signing them and returning them to the Central Licensing Office.</legend>
        <div class="field checkbox inline">
          <label><input type="radio" name="declarations" value="verify" checked>Approve online using Verify</label>
        </div>
        <div class="field checkbox inline">
          <label><input type="radio" name="declarations" value="post">Print, sign and post</label>
        </div>
      </fieldset>
    </fieldset>

    <div class="article js-verify">
      <div class="actions-container">
        <a href="transport-manager-submitted-operator.html" class="action--primary large">Continue</a>
      </div>
    </div><!-- js-verify -->


    <div class="article js-print-sign">
      <ul class="steps">
        <li>
          <h4>1. Print</h4>
          <p>Print out the <a href="">transport manager details</a>.<br /></p>
        </li>
        <li>
          <h4>2. Sign</h4>
          <p>The details must be checked and co-signed by an owner or Director of the organisation.
          </p>
        </li>
        <li>
          <h4>3. Post</h4>
          <p>Post the co-signed details to:</p>
          <p>Central Licensing Office<br />386 Hillcrest House<br />Harehills Lane<br/>Leeds<br />LS9 6NF</li></p>
        </li>
      </ul>
      <div class="actions-container">
        <a href="transport-manager-submitted-2.html" class="action--primary large">Finish</a>
      </div>
    </div><!-- js-verify -->

  </form>


</div><!-- .two-thirds -->

<div class="one-third sidebar">

  <dl class="meta">
    <dt>Application No.</dt>
    <dd>OB172628/8272</dd>
    <dt>Status</dt>
    <dd>Awaiting approval</dd>
  </dl><!-- .meta -->

  {{> _support }}

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


