---
title: Details received
subtitle: John Smith
user: tm
breadcrumbs:
  - link: licences.html
    label: Back to Transport Managers
---


<div class="two-thirds">
  <div class="article">
    <p>The Transport Manager's details have been received.</p>
    <h3 class="important">Important</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum suscipit dolorem facere, id quae est! Possimus ipsa tempore libero!</p>
    <p><a href="">Back to Transport Managers</a></p>
  </div>
</div><!-- .two-thirds -->

<div class="one-third sidebar">
  {{> _support }}
</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


