---
title: Review and confirm
asset: '../../../../'
subtitle: John Smith
user: tm
breadcrumbs:
  - link: licences.html
    label: Back to Transport Managers
---

<div class="row">

  <div class="two-thirds">
    <div class="article">
      <p style="margin-bottom: 0;">The Transport Manager has provided their details. You’ll need to review and approve them before we can consider your application.</p>
      <p><a href="read-only-tm.html" target="blank" class="download">Review Transport Manager's details</a></p>
      <div class="actions-container">
        <a href="print.html" class="action--primary large">Confirm details</a>
      </div>
    </div>
    <div class="article">
      <h3>Change details</h3>
      <p>If the Transport Manager’s details are wrong, you’ll need to contact them to make the changes. They’ll still be able to access their details through the original link.</p>
      <details class="help">
        <summary class="help__summary">Resend link to Transport Manager</summary>
        <form action="" style="margin-top: 20px;">
          <fieldset>
            <div class="field">
              <label for="">Transport Manager's email address</label>
              <input type="text" class="long" value="john.smith@bigtrucks.com">
            </div>
          </fieldset>
          <div class="action-container">
            <a href="" class="action--primary large">Resend link</a>
          </div>
        </form>
      </details>
      <hr />
      <hr />
    </div>
  </div><!-- .two-thirds -->
  
  <div class="one-third">
    <div class="sidebar">
      <dl class="meta" style="border-bottom: 0; padding-bottom: 0;">
        <dt>Application reference</dt>
        <dd>OB12524/525</dd>
        <dt>Progress</dt>
        <dd>4 of 13 sections complete</dd>
        <dt>Status</dt>
        <dd>Not submitted</dd>
      </dl>
    </div>
  </div>

</div>

<script type="text/javascript" src="/js/tm-prototype.js"></script>
<script type="text/javascript">
  OLCS.ready(function() {
    OLCS.eventEmitter.emit("render");
  });
</script>


